footer {
  background: white;
  color: $black_color_main;
  .info-footer {
    padding: 1em 0;
    .container {
      .row {
        .col-lg-3{
          ul {
            li {
              margin: .5em 0;
              text-transform: uppercase;
              a {
                color: $black_color_main;
                font-family: 'Proxima-Nova Semibold', sans-serif;
                font-size: .95em;
              }
            }
          }
          .black-button {
            float: right;
            margin-top: 1.5em;
            margin-right: .5em;
            min-width: 160px;
            span {
              display: block;
            }
          }
          &:last-child {
            text-align: right;
          }
        }
        .col-lg-6 {
          .logo-footer {
            display: inline-block;
            margin-top: 1.5em;
            max-width: 30px;
            vertical-align: top;
            img {
              width: 100%;
            }
          }
          p {
            display: inline-block;
            margin: .5em 0 0 10%;
            vertical-align: top;
            width: 80%;
          }
        }
      }
    }
  }
  .copyright {
    border-top: 1px solid #f2f2f2;
    padding: 1em 0;
    .container {
      .row {
        .col-lg-9 {
          p {
            font-family: "Proxima-Nova Light", sans-serif;
            font-size: .85em;
            margin-top: 1em;
          }
        }
        .col-lg-3 {
          .socials {
            text-align: right;
            a {
              margin: 0 .5em;
              position: relative;
              @include transition(all .3s ease);
              .twitter-icon:before,
              .facebook-icon:before,
              .instagram-icon:before {
                color: white;
                left: 0;
                position: absolute;
                right: 0;
                text-align: center;
                top: 8px;
              }
              .twitter-icon:before {
                content: '\f112';
              }
              .facebook-icon:before {
                content: '\f104';
              }
              .instagram-icon:before {
                content: '\f106';
              }
            }
            .twitter-bg:hover {
              background: #1da1f2;
            }
            .facebook-bg:hover {
              background: #3B5998;
            }
            .instagram-bg:hover {
              background:
              /////// Use radial gradients to get the rounded
              /////// gradient effect in each corner

              // left bottom
              radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
              radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                // left top
              radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
              radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                //  right top
              radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
              radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                // right bottom
              radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

                /////// create a base coat to smooth
                /////// corner gradients
              linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            }
          }
        }
      }
    }
  }
}

/* Tablet break */
@media only screen and(min-width: 481px) and(max-width: 768px) {

  footer {
    .info-footer {
      .container {
        .row {
          .col-lg-6 {
            p {
              margin: .5em 2em;
              width: 50%;
            }
          }
        }
      }
    }
  }

}

@media only screen and(min-width: 321px) and(max-width: 480px) {
  footer {
    .info-footer {
      text-align: center;
      .container {
        .row {
          .col-xs-12 {
            text-align: center;
            .logo-footer {
              display: block;
              margin: 1.5em auto;
            }
            p {
              padding: 0 2em;
              margin: 0;
            }
            .black-button {
              float: none;
              margin: 1.5em auto;
            }
          }
        }
      }
    }
    .copyright {
      .container {
        .row {
          .col-xs-12 {
            text-align: center;
            .socials {
              margin-top: 1em;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width:  320px) {

  footer {
    .info-footer {
      text-align: center;
      .container {
        .row {
          .col-xs-12 {
            text-align: center;
            .logo-footer {
              display: block;
              margin: 1.5em auto;
            }
            p {
              padding: 0 2em;
              margin: 0;
            }
            .red-button {
              float: none;
              margin: 1.5em auto;
            }
          }
        }
      }
    }
    .copyright {
      .container {
        .row {
          .col-xs-12 {
            text-align: center;
            .socials {
              margin-top: 1em;
              text-align: center;
            }
          }
        }
      }
    }
  }

}
