/* hidden content */
.loanApplicationMonth,
.loanApplicationMonths,
#header-text,
#document-section,
#cellphone-block,
#loanApplicationAmmount-input,
#loanApplicationShorTermDays-input,
#loanApplicationCluster-input,
#loanApplicationHowMany-input,
#loanApplicationPeriodMonths-input  {
  display: none;
}
//

/* Modal Overlay and Box */
.modal {
  text-align: center;
  z-index: 9999999;
}

.modal-backdrop {
  @include background-opacity($black_color_main, .8);
  z-index: 999999;
}
.modal-backdrop.in {
  opacity: 1;
}
.modal-content {
  @include border-radius(5px);
  overflow: hidden;
}
//



/* Modal content */
.modal-lightblue-header {
  background: $lightblue_color_main;
  color: white;
  font-size: 1.3em;
  padding: .5em;
  text-align: center;
  .pick-deals {
    .field {
      label, .button {
        color: white;
        display: inline-block;
        vertical-align: top;
      }
      label {
        font-size: 1em;
        margin-top: .4em;
        margin-right: .5em;
      }
      .button {
        @include  background-opacity(#406771, .6);
        display:inline-block;
        padding: 0 .5em;
        option {
          background: white;
          color: $black_color_main;
        }
      }
    }
  }
  h2 {
    font-family: 'Proxima-Nova', sans-serif;
    font-size: 1em;
    margin: .5em;
  }
}

.modal-body {
  form {
    #slides-section {
      .loan-details {
        .max-slider-value {
            .square-found {

            }
        }
      }
    }
    #document-section {
      .header-loanInfo {
        .square-info {
          h4 {
            font-family: 'Proxima-Nova Semibold', sans-serif;
          }
        }
      }
    }
  }
}
.loan-details {

  .max-slider-value {
    .square-found {
      margin-top: 1em;
    }
  }
  .row {
    .mount-details {
      text-align: right;
      .info-loan {
        p {
          color: $black_color_main;
          span {
            color: $black_color_main;
            font-size: 1.6em;
            margin-left: .5em;
          }
        }
      }
    }
  }
}

.loanApplicationMonths:first-child {
  margin-top: 0;
}

#document-section {
  .header-loanInfo {
    background: #f9f9fb;
    .square-info {
      display: inline-block;
      padding: 1em;
      text-align: center;
      vertical-align: top;
      width: 49%;
      #loan-amount{
        margin-top: .5em;
      }
      h4 {
        color: $black_color_main;
        font-family: 'Proxima-Nova Semibold', sans-serif;
        font-size: 1.6em;
      }
      span {
        color: $black_color_sec;
        font-size: .85em;
      }
    }
  }
  .field-content {
    margin: 0 auto;
    max-width: 80%;
    padding: 2em 0;
    .document-content {
      .wrap-input {
        margin: 1em;
        text-align: center;
        h4 {
          font-family: 'Proxima-Nova', sans-serif;
          font-size: 1em;
          margin-bottom: .5em;
        }
        .input-field {
          label {
            display: block;
            color: $black_color_main;
            margin: .5em 0;
            input[type="checkbox"] {
              height: auto;
              width: auto;
            }
            a {
              color: $lightblue_color_main;
            }
          }
          .square-input {
            background: $graysoft_color;
            @include border-radius(5px);
            margin-top: .5em;
            padding: .5em;
          }
        }
        button {
          display: inline-block;
          margin: 0 .5em;
          vertical-align: top;
          .cellphone-icon:before,
          .facebook-icon:before {
            margin-right: .5em;
          }
          .cellphone-icon:before {
            content: '\f110';
          }
          .facebook-icon:before {
            content: '\f104';
          }
        }
        #facebook-button {
          background: #3B5998;
          color: white;
        }
        #cancel-button,
        #apply-button {
          display: none;
        }
      }
      .terms {
        .input-field {
          label {
            font-size: .85em;
            input {
              display: inline-block;
              margin-top: .1em;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
}
.actions {
  text-align: right;
  button {
    display: inline-block;
  }
}

@media only screen and(max-width: 480px) {

  .loan-details {
    .row {
      .mount-details {
        text-align: right;
        .info-loan {
          &:last-child {
            margin-top: 1em;
          }
        }
      }
    }
  }

  #document-section {
    .field-content {
      .document-content {
        .wrap-input {
          margin: 0;
        }
      }
    }
  }
}