.private-steps-container {
  margin: 3em auto;
  max-width: 90%;
  .row {
    .col-lg-9 {
      position: relative;
      &:after {
        background: #d0d0d0;
        bottom: 0;
        content: '';
        height: 10px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: -31px;
        width: 80%;
        z-index: -1;
      }
      .row {
        .col-lg-3 {
          .step-wrap {
            text-align: center;
            .circle {
              background: #d0d0d0;
              @include border-radius(50%);
              display: inline-block;
              height: 52px;
              padding-top: .2em;
              position: relative;
              width: 52px;
              z-index: 99;
              .pi-icon:before,
              .address-icon:before,
              .jobs-icon:before,
              .socials-icon:before {
                color: white;
                font-size: 1.3em;
              }
              .pi-icon:before {
                content: '\f10b';
              }
              .address-icon:before {
                content: '\f103';
              }
              .jobs-icon:before {
                content: '\f109';
              }
              .socials-icon:before {
                content: '\f10c';
              }

            }
            .active-step {
              background: $lightblue_color_main;
            }
            h4 {
              color: $black_color_main;
              font-family: 'Milo-OT Medium', sans-serif;
              margin-top: .75em;
            }
          }
          .bar-progress:after {
            background: $lightblue_color_main;
            content: '';
            height: 10px;
            left: -50%;
            position: absolute;
            top: 22px;
            width: 100%;
            z-index: 0;
          }
        }
      }
    }
    .col-lg-3 {
      .step-wrap {
        text-align: center;
        .circle {
          background: $red_color_main;
          @include border-radius(50%);
          color: white;
          display: inline-block;
          font-family: 'Milo-OT Black', sans-serif;
          font-size: 1.5em;
          height: 52px;
          padding-top: .35em;
          width: 52px;
        }
        h4 {
          color: $black_color_main;
          font-family: 'Milo-OT Medium', sans-serif;
          margin-top: .75em;
        }
      }
    }
  }
}