.grid-item {
  min-height: 100px;
  width: 20%;
  .overlay {
    background: rgba(0,0,0,.4);
    color: white;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    .testimonial-wrap {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
.mobile-grid {
  display: none;
}
.grid-item--width2 {
  width: 40%;
}
@media only screen and(max-width: 768px) {
  .grid-item {
    width: 33.33333%;
  }
  .mobile-grid {
    display: block;
  }
  .grid-out,
  .centered {
    display: none;
  }

}