
@import 'fonts.scss';
@import 'icons.scss';
@import '../generals/colors.scss';
//COLORES



//Mobile 
$BreakPoint-Cel:320px;
$BreakPoint-CelMX:768px;

//Table
$BreakPoint-Tablet:960px;
$BreakPoint-TabletMX:1024px;

//Laptops
$BreakPoint-Laptop:1280px;
$BreakPoint-LaptopMX :1440px;

//Desktop
$BreakPoint-Desktop :1600px;
$BreakPoint-DesktopMX :1800px;

//HD
$BreakPoint-HD :1920px;


//UK
$BreakPoint-UK :2560px;

$lato: 'Lato',sans-serif;
$LatoBlack: 'Lato-Black',sans-serif;
$LatoBold: 'Lato-Bold',sans-serif;
$LatoLight: 'Lato-Light',sans-serif;
$LatoMedium: 'Lato-Medium',sans-serif;
$LatoRegular: 'Lato-Regular',sans-serif;
$IcoMoon: 'icomoon';