/* Styles */
#aff-template-pages-wizard {
  margin: 1.5em 0;
  .container {
    form {
      .panel {
        @include border-radius(5px);
        overflow: hidden;
        .panel-body {
          padding: 0;
          .summarypanel-summary {
            padding: 1em 2em;
            ul{
              li{
                label {
                  margin-right: 10px;
                }
              }
            }
          }
          .summarypanel-body {
            padding: 1em 2em;
            .row {
              .col-lg-3 {
                .form-group {
                  display: inline-block;
                  margin: 0;
                  vertical-align: top;
                  width: 100%;
                  .divdocType {
                    select, input {
                      display: inline-block;
                      vertical-align: top;
                    }
                    select {
                      margin-right: 10%;
                    }
                    input {
                      width: 58%;
                    }
                  }
                }
              }
              .col-lg-4 {
                .form-group {
                  margin: 0;
                }
              }
              .col-lg-5 {
                .form-group {
                  display: inline-block;
                  margin: 0;
                  vertical-align: top;
                  width: 45%;
                  &:first-child {
                    margin-right: 7%;
                  }
                }
              }
              .ls-pi {
                .form-group {
                  display: inline-block;
                  margin: 0;
                  vertical-align: top;
                  width: 29%;
                  &:nth-child(2) {
                    margin-left: 5%;
                    margin-right: 5%;
                    width: 30.5%;
                  }
                }
              }
              .rs-pi {
                .form-group {
                  display: inline-block;
                  margin: 0;
                  vertical-align: top;
                  &:first-child {
                    margin-right: 5%;
                  }
                }
              }
              .o-dc {
                .form-group {
                  display: inline-block;
                  margin-right: 2%;
                  vertical-align: top;
                  &:first-child,
                  &:nth-child(3){
                    width: 15%;
                  }
                  &:nth-child(2) {
                    width: 5%;
                    .input-group {
                      .form-control {
                        width: 100%;
                      }
                    }
                  }
                  &:nth-child(3) {
                    .form-control {
                      width: 100%;
                    }
                  }
                  &:last-child {
                    margin-right: 0;
                    width: 25%;
                    .form-control {
                      width: 100%;
                    }
                  }
                }
              }
            }
            .companion-row {
              .col-lg-3 {
                .form-group {
                  width: 100%;
                  .control-label {
                    top: 0;
                  }
                  .form-inline {
                    margin-top: 1.5em;
                    position: relative;
                    .form-group {
                      display: inline-block;
                      vertical-align: top;
                      &:first-child {
                        margin-right: 7%;
                        width: 20%;
                      }
                      &:last-child {
                        width: 68%;
                      }
                    }
                  }
                }
              }
              .col-lg-4 {
                .form-group {
                  margin-top: 1.5em;
                }
              }
              .col-lg-5 {
                .form-group {
                  margin-top: 1.5em;
                  width: 45%;
                  &:first-child {
                    margin-right: 5%;
                  }
                }
              }
            }
            .rowtop {
              .ls-add {
                .form-group {
                  display: inline-block;
                  vertical-align: top;
                  margin-right: 5%;
                  &:last-child {
                    margin-right: 0;
                  }
                  &:nth-child(2) {
                    width: 58%;
                  }
                  &:last-child {
                    width: 15%;
                    .form-control {
                      width: 100%;
                    }
                  }
                }
              }
              .rs-add {
                padding-left: .4em;
                .form-group {
                  display: inline-block;
                  vertical-align: top;
                  &:first-child {
                    margin-right: 5%;
                  }
                  &:last-child {
                    width: 50%;
                  }
                }
              }
            }
            .rowbottom {
              .form-group {
                display: inline-block;
                margin-right: 3%;
                vertical-align: top;
                &:nth-child(2) {
                  width: 15%;
                }
                &:last-child {
                  margin-right: 0;
                  width: 15%;
                }
              }
            }
            .p-activity {
              .col-lg-3 {
                .form-group {
                  margin-top: 1.75em;
                  width: 95%;
                }
              }
              .col-lg-9 {
                #principalDependent {
                  .row {
                    .col-lg-3 {
                      .form-group {
                        .form-control {
                          .form-control {
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
                #principalIndependent {
                  .row {
                    .col-md-2 {
                      .form-group {
                        width: 100%;
                      }
                    }
                    .col-md-5 {
                      .form-group {
                        .form-control {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
                #principalRentier {
                  .row {
                    .col-lg-2 {
                      .form-group {
                        width: 100%;
                      }
                    }
                    .col-lg-4 {
                      .form-group {
                        margin-top: 1.75em;
                      }
                    }
                  }
                }
                #principalHousekeeper {
                  .row {
                    .col-lg-4 {
                      .form-group {
                        margin-top: 1.75em;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .info-quote {
        margin: 3em;
        text-align: center;
        .loanformdisclaimer2 {
          margin: 0 auto;
          max-width: 80%;
          p {
            color: $black_color_sec;
            font-size: .85em;
          }
        }
      }
    }
  }
  #tab4 {
    #registerLoanForm4 {
      form {
        .box-inner {
          padding: 2em;
          p {
            color: $black_color_main;
            font-family: 'Milo-OT Light', sans-serif;
            font-size: 1.2em;
            text-align: center;
          }
          .row {
            #aff-row-container-social {
              margin-top: 2em;
              .col-md-6 {
                .square-socials {
                  background: $graysoft_color;
                  @include border-radius(5px);
                  display: inline-block;
                  padding: 1em;
                  .social-icon-wrap {
                    position: relative;
                    @include border-radius(5px);
                    display: inline-block;
                    height: 62px;
                    margin-right: .5em;
                    vertical-align: top;
                    width: 62px;
                    .facebook-icon:before,
                    .linkedin-icon:before{
                      color: white;
                      font-size: 2.5em;
                      position: absolute;
                    }
                    .facebook-icon:before {
                      bottom: 0;
                      content: '\f104';
                      right: 0;
                    }
                    .linkedin-icon:before {
                      content: '\f107';
                      left: 0;
                      right: 0;
                      text-align: center;
                      top: 2px;
                    }
                  }
                  .switch-button-wrap {
                    color: white;
                    display: inline-block;
                    margin-left: .5em;
                    text-align: center;
                    vertical-align: top;
                    span {
                      color: $black_color_main;
                      font-family: 'Milo-OT Light', sans-serif;
                    }
                  }
                }
                &:first-child {
                  text-align: right;
                  .square-socials {
                    .social-icon-wrap {
                      background: #3b5998;

                    }
                  }
                }
                &:last-child {
                  text-align: left;
                  .square-socials {
                    .social-icon-wrap {
                      background: #007bb6;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.actions {
  text-align: right;
  .button {
    text-align:center;
    span {
      display: block;
      vertical-align: middle;
    }
  }
}

.checkbox {
  label {
    .checkbox-material {
      height: 16px;
      margin-right: .5em;
      width: 16px;
      .check {
        border: 2px solid $lightblue_color_main;
        height: 16px;
        width: 16px;
        &:before {
          -webkit-box-shadow: 0 0 0 8px, 10px -10px 0 12px, 31px 0 0 20px, 0px 31px 0 20px, -6px 10px 0 11px, 19px -20px 0 14px;
          -o-box-shadow: 0 0 0 8px, 10px -10px 0 12px, 31px 0 0 20px, 0px 31px 0 20px, -6px 10px 0 11px, 19px -20px 0 14px;
          -ms-box-shadow: 0 0 0 8px, 10px -10px 0 12px, 31px 0 0 20px, 0px 31px 0 20px, -6px 10px 0 11px, 19px -20px 0 14px;
          -mz-box-shadow: 0 0 0 8px, 10px -10px 0 12px, 31px 0 0 20px, 0px 31px 0 20px, -6px 10px 0 11px, 19px -20px 0 14px;
          box-shadow: 0 0 0 8px, 10px -10px 0 12px, 31px 0 0 20px, 0px 31px 0 20px, -6px 10px 0 11px, 19px -20px 0 14px;
          margin-top: -5px;
          margin-left: 5px;
        }
      }
    }
  }
}