<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="pressCarousel" class="carousel-container">
    <ul id="carousel-press" class="owl-carousel">

        <div class="items">
            <a href="http://masfinanzas.revistaganamas.com.pe/entrevistas/solven-permite-a-instituciones-financieras-emitir-creditos-en-linea/"
               target="_blank" rel="noopener noreferrer" title="12 Julio, 2017"><img th:attr="data-orignal=@{/img/solven_mas_finanzas.png}"
                                                              th:src="@{/img/solven_mas_finanzas.png}" alt="Solven"/></a>
        </div>

        <div class="items">
            <a href="http://www.pqs.pe/economia/pqsresponde-fintechs-oportunidad-para-sistema-financiero"
               target="_blank" rel="noopener noreferrer" title="23 Marzo, 2017"><img th:attr="data-orignal=@{/img/pqs.png}"
                                                              th:src="@{/img/pqs.png}" alt="PQS" /></a>
        </div>

        <div class="items">
            <a href="http://gestion.pe/economia/advierten-que-se-ofrecen-creditos-internet-tasa-anual-mas-5600-2180353"
               target="_blank" rel="noopener noreferrer" title="23 Enero, 2017"><img th:attr="data-orignal=@{/img/logo_gestion.png}"
                                                              th:src="@{/img/logo_gestion.png}" alt="Gestion"/></a>
        </div>

        <div class="items">
            <a href="http://gestion.pe/tu-dinero/fintech-como-obtener-creditos-inmediato-2180156"
            target="_blank" rel="noopener noreferrer" title="20 Enero, 2017"><img th:attr="data-orignal=@{/img/logo_gestion.png}"
                                                              th:src="@{/img/logo_gestion.png}" alt="Gestion"/></a>
        </div>

        <div class="items">
            <a href="http://elcomercio.pe/economia/negocios/perspectivas-2017-solven-lanzara-producto-seguros-noticia-1958795"
            target="_blank" rel="noopener noreferrer" title="06 Enero, 2017"><img th:attr="data-orignal=@{/img/comercio-logo.png}"
                                                              th:src="@{/img/comercio-logo.png}" alt="El Comercio"/></a>
        </div>
        <div class="items">
            <a href="http://www.pqs.pe/economia/futuro-fintech-en-peru"
               target="_blank" rel="noopener noreferrer" title="06 Marzo, 2017"><img th:attr="data-orignal=@{/img/pqs.png}"
                                                              th:src="@{/img/pqs.png}" alt="PQS"/></a>
        </div>

        <div class="items">
            <a href="http://revistaganamas.com.pe/plataforma-de-creditos-solven-cierra-primera-ronda-de-inversion-por-us-400000/"
               target="_blank" rel="noopener noreferrer" title="12 Diciembre, 2016"><img th:attr="data-orignal=@{/img/ganamas-prensa.png}"
                                    th:src="@{/img/ganamas-prensa.png}" alt="Ganamas"/></a>
        </div>
    </ul>
</div>
</body>
</html>