.zoom {
    display:inline-block;
    position: relative;
}
.zoom:after {
    content:'';
    display:block; 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
}
.zoom img {
    display: block;
}
.zoom img::selection { 
    background-color: transparent; 
}


#product{
    .w-p,.zoom, img.loaded{
        width: 100% !important;
        height: auto !important;
    }
    .p-name{
        font-size: 2rem;
        line-height: 1.2;
    }
}

@media screen and (min-width: 769px){
    #product{
        margin-top: 1rem;
        .w-p,.p-description{
            width: 50% !important;
        }
        .zoom{
            width: 80% !important;
        }
    }
}