body{
    >.select2-container{
        &.select2-container--default{
            .select2-results{
                margin-top: 4px;
                overflow: hidden;
                border-radius: 10px;
                border: 1px solid #ccc;
                >.select2-results__options{
                    border-radius: .5rem;
                    max-height: 200px;
                    overflow-y: auto;
                    width: 100%;
                    margin: 0 auto;            
                }
            }
        } 
        &.select2-container--open{
            .select2-dropdown{
                .select2-search{
                    border-top: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    border-radius: 1.75rem 0rem 0rem 1.75rem;
                    position: absolute;
                    width: 90%;
                    overflow: hidden;
                    height: 38px;
                   .select2-search__field{
                        background-color: #FFF;
                        border: none;
                        border-left: 0;
                        border-right: 0;
                        padding: 6px 12px;
                        height: 38px;
                   }
                }
                &.select2-dropdown--above{
                    .select2-search{
                        bottom: -38px;
                        @media screen and (max-width: 640px){
                            bottom: -38px;
                        }
                    }
                }
                &.select2-dropdown--below{
                    .select2-search{
                        top: -38px;
                        @media screen and (max-width: 640px){
                            top: -38px;
                        }
                    }
                }
            }
        }
    }
}

.select2{
    border-radius: 2rem;
    border: 1px solid #ccc;
    height: 38px;
    width: 100% !important;
    margin-bottom: .75rem;
    span{
        height: 38px;
        width: 100%;
        display: flex;
    }
}