.snippets{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn{
        background-color: transparent;
        box-shadow: none;
        padding: 4px 6px;
        min-height: 28px;
        line-height: 1;
        width: 28px;
        font-size: .6rem;
        &.btn-delete{
            color: $colorred;
            margin-left: .5rem;
            font-size: 1.25rem;
            font-weight: 700;
        }
    }
    input{
        padding: 10px 4px;
        height: 34px;
        width: 100%;
        max-width: 40px;
        text-align: center;
        margin: 0 .5rem;
        font-weight: 700;
    }
}