.avatar-wrap {
  margin: 1em 0;
  .avatar-medium, h3 {
    display: inline-block;
    vertical-align: top;
  }
  .avatar-medium {
    background: $black-3;
    @include border-radius(50%);
    height: 42px;
    width: 42px;
  }
  h3 {
    font-family: 'Lato Light', 'Helvetica', sans-serif;
    font-size: 1.35em;
    margin-top: .5em;
    margin-left: .5em;
  }
}