.box-purple {
  background: $blue-3;
  color: white;
  display: inline-block;
  @include border-radius(5px);
  padding: 1em;
  position: relative;
  max-width: 300px;
  .box-b{
    display: flex;
  }
  .wrap-field{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .box-icon{
      width: 25% !important;
      flex-shrink: 0;
    }
    input{
      width: 75%;
      margin-left: 0 !important;
    }
    small{
      width: 100%;
    }
  }
}