.confirm-catpcha {
  background: $black-5;
  @include border-radius(5px);
  left: 0;
  margin: 0 auto;
  max-width: 420px;
  padding: 1.5em;
  @include vertical-align(absolute);
  right: 0;
  top: 50%;
  text-align: center;
  h2 {
    color: $black_color_main;
    font-family: 'Lato Semibold', 'Helvetica', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
  }
  p {
    color: $black_color_main;
    margin: 1em 0;
  }
}