.browserOutdate,
.cookiesBar {
  background: $black_color_main;
  display: none;
  padding: .5em;
  text-align: center;
  .container {
    p {
      color: white;
      display:inline-block;
      font-size: .75em;
      margin-top: .3em;
      vertical-align: top;
      a {
        color: $lightblue-1;
        text-decoration: underline;
      }
    }
  }
}
.browserOutdate-active{
  border-bottom: 1px solid;
  display: block;
}

.cookiesBar {
  bottom: 70px;
  position: fixed;
  @include prefix((animation-duration: .3s !important));
  width: 100%;
  z-index: 99999;
  .container {
    p {
      font-size: .85em;
    }
  }
}

@media only screen and(max-width: 480px) {
  .cookiesBar {
    bottom: 0;
  }
}