.edit-autos {
  .block {
    .results-car {
      .car {
        padding: .5em 0;
        .row {
          .col {
            label {
              margin-top: 1em;
            }
            img {
              width: 100%;
            }
            .wrap {
              text-align: left;
              .top {
                color: $black_color_main;
                h2 {
                  font-family: 'Lato Bold', 'Helvetica', sans-serif;
                  font-size: 1.15em;
                }
                span {
                  font-size: .85em;
                }
              }
              .price {
                margin-top: .5em;
                h4 {
                  font-family: 'Lato Bold', 'Helvetica', sans-serif;
                }
              }
            }
          }
        }
      }
    }
  }
}