.footer-banner {
    background: #26CAD3;
    border-radius: 1px;
    color: white;
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 auto;
    max-width: 558px;
    padding: 8px;
    text-align: center;
    width: calc(100% - 32px);
}

.bottom-footer {
	bottom: 0;
	margin-top: auto;
	width: calc(100% - 3rem);
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
    padding: 1rem 0;
    height: 70px;
    .bar{
        background: $red-1;
        height: 12px;
        transform: skew(28deg);
        width: calc(100% - 180px);
        margin: 0 auto;
        position: relative;
        &:before{
            content: '';
            background: #FFF;
            position: absolute;
            top: -2px;
            left: 20%;
            width: 1rem;
            height: 14px;
            display: block;
        }
    }
    #anchor-back{
        background: #FFF;
        color: #34465d;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        margin-right: -5rem;
        margin-bottom: 1rem;
        visibility: hidden;
        border: 1px solid $red-1;
        width: 40px;
        height: 40px;
        border-radius: 4rem;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.06), 0 2px 32px 0 rgba(0,0,0,0.16);
        svg{
            fill: $red-1;
            width: 18px;
        }
        span{
            position: absolute;
            bottom: -18px;
            left: 0;
            right: 0;
            font-size: 12px;
        }
    }
}

.bottom-footer.banbif-footer >  .bar{
    background: #20A6FF !important;
}




@media screen and (min-width: 768px){
    .bottom-footer{
        #anchor-back{
            font-size: 1.75rem;
            margin-left: 1rem;
            margin-right: -8rem;
            svg{
                width: 24px;
            }
        }
        .bar{
            width: 76%;
            max-width: 960px;
            margin: 0 auto;
        }
    }
}

@media only screen and(max-width: 640px) {
	#question-replaceable{
		.questions-section{
			.actions{
				#comeBack, #sendButton{
					min-width: 110px !important;
				}
			}
		}
	}
}