.landing-header {
	@include transition(all .3s ease);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	left: 0;
	padding: 1em 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.landing-header .container .logo,
.landing-header .container .landing-menu {
	display: inline-block;
	vertical-align: top;
}

.landing-header .container .logo h1 {
	line-height: 0;
	margin-left: -6px;
}

.landing-header .container .logo h1 a {
	color: $red-1;
	display: block;
	text-decoration: none;
}

.landing-header .container .logo h1 a .icon {
	display: block;
	height: 50px;
	line-height: 0;
}

.landing-header .container .logo h1 a .icon:before {
	display: inline-block;
	font-size: 4.3em;
}

.landing-header .container .logo h1 a .icon-solven:before {
	margin-top: 0.15em;
}

.landing-header .container .logo h1 a .icon-solven-iso {
	display: none;
}

.landing-header .container .logo h1 a span {
	display: none;
}

.landing-header .container .landing-menu {
	float: right;
	margin-top: 1em;
}

.landing-header .container .landing-menu ul li {
	display: inline-block;
	margin: 0 0.5em;
	position: relative;
	vertical-align: top;
}

.landing-header .container .landing-menu ul li a {
	color: white;
	font-family: 'Lato Bold', 'Helvetica', sans-serif;
	font-size: 0.85em;
	text-decoration: none;
	text-transform: uppercase;
}

.landing-header .container .landing-menu ul .item-underline a {
	background: $lightblue-1;
}

.landing-header .container .landing-menu ul .item-underline a:after {
	@include transform(skew(-28deg));
	bottom: -5px;
	content: '';
	height: 3px;
	left: 0;
	position: absolute;
	width: 0;
	z-index: 99999;
	@include transition(width .5s);
}

.landing-header .container .landing-menu ul .item-underline a:hover:after {
	width: 100%;
}

.landing-header .container .landing-menu ul .item-underline .menu-selected:after {
	width: 100%;
}

.landing-header .container .landing-menu ul .cta-button {
	margin-top: -0.25em;
}

.landing-header .container .landing-menu ul .cta-button a.bg-red {
	border: 1px solid $red-1;
}

.modal#edit-modal .modal-content {
	margin: 0 auto;
	max-width: 480px;
}

.modal#edit-modal .modal-content .field-amount .wrap-field input.input-outline {
	margin-left: -5px;
	text-align: center;
}

.pdf-header {
	background: $black_color_main;
	padding: 1em;
	width: 100%;
}

.pdf-header .container .row .column .logo h1 {
	color: $red-1;
}

.pdf-header .container .row .column .logo h1 a .icon {
	display: inline-block;
	vertical-align: top;
}

.pdf-header .container .row .column .logo h1 a .icon:before {
	display: inline-block;
	font-size: 4em;
	line-height: 0;
	margin-top: 0.15em;
	vertical-align: top;
}

.pdf-header .container .row .column .logo h1 a .icon-solven-iso {
	margin-top: 0.5em;
	display: none;
}

.pdf-header .container .row .column .logo h1 a span {
	display: none;
}

.pdf-header .container .row .column-2 .help {
	color: $red-1;
}

.pdf-header .container .row .column-2 .help .circle {
	display: inline-block;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
}

.pdf-header .container .row .column-2 .help .circle .icon-help:before {
	display: inline-block;
	font-size: 2.75em;
	margin-top: 0.15em;
}

.pdf-header .container .row .column .help {
	color: $red-1;
}

.pdf-header .container .row .column .help .circle {
	display: inline-block;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
}

.pdf-header .container .row .column .help .circle .icon-help:before {
	display: inline-block;
	font-size: 2.75em;
	margin-top: 0.15em;
}

.process-header {
	background: white;
	left: 0;
	margin: 0 auto auto auto;
	padding: 0.5em 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1001;
}

.process-header .container .row .column .logo h1 {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	min-height: 44px;
	overflow: hidden;
	vertical-align: top;
}

.process-header .container .row .column .logo h1 a {
	color: $red-1;
	display: inline-block;
	line-height: 0;
}

.process-header .container .row .column .logo h1 a .icon:before {
	display: inline-block;
	font-size: 4em;
	line-height: 0;
	margin-left: -8px;
	margin-top: 5px;
	vertical-align: top;
}

.process-header .container .row .column .logo h1 a .icon-solven-iso {
	display: none;
}

.process-header .container .row .column .logo h1 a span {
	display: none;
}

.process-header .container .row .column .car-model {
	border-radius: 4px;
	display: block;
	font-size: 0.65em;
	margin: 2px auto;
	max-width: 182px;
	padding: 5px 2px;
	width: 100%;
	word-wrap: break-word;
}

.process-header .container .row .column .edit-amount-box {
	margin-top: 0.1em;
}

.process-header .container .row .column .edit-amount-box .wrap {
	@include border-radius(5px 0 0 5px);
	border: 1px solid #f5f5f5;
	display: inline-block;
	height: 46px;
	padding: 0.5em 1em;
}

.process-header .container .row .column .edit-amount-box .wrap span {
	display: inline-block;
	vertical-align: top;
}

.process-header .container .row .column .edit-amount-box .wrap .car-model {
	display: inline-block;
	margin-right: 0.5em;
}

.process-header .container .row .column .edit-amount-box .wrap .amount {
	font-size: 1.25em;
}

.process-header .container .row .column .edit-amount-box .wrap .currency {
	font-size: 1.25em;
}

.process-header .container .row .column .edit-amount-box .wrap .text-small {
	margin-top: 4px;
}

.process-header .container .row .column .edit-amount-box .icon-box {
	@include border-radius(0 5px 5px 0);
	border: 1px solid #f5f5f5;
	height: 46px;
	padding: 0.5em 1em;
}

.process-header .container .row .column .edit-amount-box .icon-box .icon-edit {
	display: block;
	line-height: 1.25em;
	margin-top: 0.25em;
	transition: all 0.3s ease;
}

.process-header .container .row .column .edit-amount-box .icon-box .icon-edit:before {
	font-size: 2em;
}

.process-header .container .row .column .help .circle .icon-help {
	color: $red-1;
	display: inline-block;
	line-height: 1em;
	margin-top: 0.25em;
}

.process-header .container .row .column .help .circle .icon-help:before {
	color: inherit;
	display: inline-block;
	font-size: 3.5em;
	line-height: 0.75em;
}

.process-header .icon-help {
	color: red;
	position: relative;
	top: 0%;
}

.process-header .icon-help:before {
	color: $red-1;
	content: "\e945";
	display: inline-block;
	font-size: 28px !important;
	height: 42px;
	line-height: 42px !important;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 42px;
}

.process-header .icon-help span {
	border-radius: 100%;
	border: 3px solid #f7323f;
	height: 42px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 42px;
}

.process-header .container .row {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.process-header .container .row .column .edit-amount-box .wrap .wrap-valid-downPayment {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.process-header .container .row .column .edit-amount-box .wrap .wrap-valid-downPayment small {
	font-size: 0.75em;
	line-height: 0.75em;
	margin-bottom: 0.25em;
	text-align: center;
}

.process-header .container .row .column .edit-amount-box .wrap .wrap-valid-downPayment .currency {
	font-size: 1.2em;
	line-height: 1;
}

.process-header .container .row .column .edit-amount-box .icon-box .icon-edit:hover {
	color: $black_color_main;
}

.process-header .container .row .column-2 .help .circle .icon-help {
	display: inline-block;
	line-height: 1em;
	margin-top: 0.25em;
	margin-top: 0px;
}

.process-header .container .row .column-2 .help .circle .icon-help:before {
	color: $red-1;
	display: inline-block;
	font-size: 3.5em;
	line-height: 0.75em;
}

.sticky-header {
	@include box-shadow(0px, 1px, 1px, rgba(0, 0, 0, .1));
	background: white;
	padding: 0.5em 0;
	position: fixed;
	z-index: 99999;
}

.sticky-header .container .landing-menu {
	margin-top: 0.85em;
}

.sticky-header .container .landing-menu ul li {
	color: $black_color_main;
}

.sticky-header .container .landing-menu ul .cta-button a {
	color: white;
}

.sticky-header .container .landing-menu ul .cta-button a.outline-lightblue {
	color: $lightblue-1;
}

.sticky-header .container .landing-menu ul .cta-button a.outline-lightblue:hover {
	color: white;
}

.wrap-pages .process-header .container .row {
	align-items: center;
	display: flex;
}


@media only screen and(max-width: 768px) {
	.column-2 {
		width: 18%;
		float: right;
	}

	.process-header #processHeaderAmount {
		width: auto;
	}

	.process-header {
		background: white;
		padding: 0.5em 0;
	}

	.process-header .container .row .column .logo h1 {
		margin-top: -2px;
	}

	.process-header .container .row .column .logo h1 .icon-solven:before {
		font-size: 1.15em;
	}

	.process-header .container .row .text-center {
		text-align: right;
	}

	.process-header .container .row .column-2 .help .circle .icon-help {
		font-size: 13px;
	}

	.process-header .container .row .column .help {
		display: none;
	}

	.process-header .container .row .column:nth-child(3) {
		display: none;
	}

	.process-header .container .row .column .car-model {
		text-align: center;
	}
}

@media only screen and (max-width: 640px) {
	#edit-modal .modal-dialog .modal-content .modal-top {
		min-height: 38px;
	}

	#edit-modal .modal-dialog .modal-content .modal-top .title-wrap {
		padding: 0.5em 1em;
	}

	#edit-modal .modal-dialog .modal-content .modal-top .title-wrap .title-modal {
		margin-top: 0;
	}

	#edit-modal .modal-dialog .modal-content .modal-top .corner-close:after {
		right: -48px;
		top: -12px;
		transform: rotate(40deg);
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b {
		display: flex;
		justify-content: center;
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b .field {
		margin-right: 5px;
		margin: 0;
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b .field .small-input {
		width: 70px;
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b .field .wrap-field {
		display: flex;
		flex-wrap: wrap;
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b .field .wrap-field .box-icon {
		flex-grow: 0;
		flex-shrink: 0;
		width: 38px;
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b .field .wrap-field .amount-input {
		margin-left: 0;
		width: calc(100% - 38px) !important;
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b .field button {
		min-width: 100%;
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b .field.field-amount {
		max-width: 120px;
	}

	#edit-modal .modal-dialog .modal-content .modal-middle form .box-b .field:last-child {
		margin-right: 0;
	}

	.landing-header {
		padding: 0.5em 0;
	}

	.landing-header .container .logo h1 {
		color: $red-1;
	}

	.landing-header .container .logo h1 a .icon:before {
		font-size: 1.25em;
	}

	.landing-header .container .logo h1 a .icon-solven {
		display: none;
	}

	.landing-header .container .logo h1 a .icon-solven-iso {
		display: block;
	}

	.landing-header .container .logo h1 a .icon-solven-iso:before {
		display: inline-block;
		margin-left: -0.15em;
		margin-top: 0.5em;
	}

	.landing-header .container .landing-menu {
		margin-top: 0.5em;
	}

	.landing-header .container .landing-menu ul li:first-child {
		display: none;
	}

	.landing-header .container .landing-menu ul .cta-button {
		margin: 0 0.25em;
	}

	.landing-header .container .landing-menu ul .cta-button .anchor-button {
		padding: 0.75em 0.5em;
	}

	.landing-header .container .landing-menu ul .cta-button .btn-autoevaluate {
		display: none;
	}

	.landing-header .container .landing-menu ul .cta-hidden {
		display: none;
	}

	.landing-header .container .landing-menu ul .btn-empresas {
		display: inline-block;
		padding: 0.75em 0.5em;
		border: 1px solid #26cad3;
		color: white;
		font-family: 'Lato Bold', 'Helvetica', sans-serif;
		font-size: 0.85em;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0.55em 1.5em;
		border-radius: 6px;
	}

	.modal .edit-autos .block .results-car .car .row .col .wrap .top h2 {
		font-size: 0.9em;
		line-height: 1;
	}

	.modal .edit-autos .block .results-car .car .row .col .wrap .top span {
		font-size: 0.7em;
		line-height: 1;
	}

	.modal .edit-autos .block .results-car .car .col-lg-2.col-md-2.col-sm-2.col-xs-2.col {
		padding: 0;
		width: 12%;
	}

	.modal .edit-autos .block .results-car .car .col-lg-3.col-md-3.col-sm-3.col-xs-3.col {
		padding-left: 0;
	}

	.modal .edit-autos .block .results-car .car .col-lg-7.col-md-7.col-sm-7.col-xs-7.col {
		padding: 0;
	}

	.process-header .container .row .column .logo h1 {
		color: $red-1;
		margin-top: -2px;
		width: 85px;
	}

	.process-header .container .row .column .logo h1 a .icon:before {
		font-size: 1.25em;
	}

	.process-header .container .row .column .logo h1 a .icon-solven-iso:before {
		display: inline-block;
		margin-left: -0.15em;
	}

	.process-header .container .row .column .edit-amount-box .bg-gray .currency,
	.process-header .container .row .column .edit-amount-box .bg-gray .amount {
		font-size: 1em;
		margin-top: 0;
	}

	.process-header .container .row .column .edit-amount-box .bg-gray .text-small {
		font-size: 0.75em;
		margin-top: 4px;
	}

	.process-header .container .row .column .edit-amount-box .icon-box .icon-edit:before {
		font-size: 1.5em;
	}

	.process-header .container .row .column:first-child {
		padding-left: 10px;
		padding: 0;
		width: 90px;
	}

	.process-header .container .row .column:nth-child(2) {
		padding-left: 0;
		width: 82%;
	}

	.process-header .container .row .text-center {
		text-align: right;
	}

	.process-header .container .row #processHeaderAmount {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 0;
		text-align: left;
	}

	.process-header .container .row .column .car-model {
		float: right;
		font-size: 8px;
		max-width: 128px;
	}

	.process-header .container .row .column .logo h1 svg {
		width: 80px !important;
	}

	.process-header .container .row .column .logo h1 .icon-efectivo-al-toque {
		width: 100px !important;
	}

	.process-header .container .row .column .logo h1 a span,
	.process-header .container .row .column .logo h1 a .icon-solven-iso {
		display: none;
	}

	.process-header .container .row .column:first-child .logo {
		padding: 0;
	}

	.process-header .container .row .column:first-child .logo h1 {
		padding: 0;
		margin: 0;
	}

	.process-header .text-center#processHeaderAmount {
		padding-right: 0px;
		width: 60% !important;
	}

	.process-header .container .row .column .edit-amount-box .icon-box {
		padding: .5em;
		height: 40px;
	}

	.process-header .container .row .column .edit-amount-box .wrap {
		padding: .5em;
		height: 40px;
	}

	.process-header .container .row .column-2 {
		width: 22%;
	}

	.process-header .container .row .column-2 .help .circle .icon-help {
		font-size: 10px;
		margin-top: 0px;
	}

	.process-header .container .row .column,
	.process-header .container .row .column-2 {
		height: 45px;
	}

	.process-header .container .row .column .help,
	.process-header .container .row .column-2 .help {
		padding: 4px 0;
	}

	.process-header .container .row .column,
	.process-header .container .row .column-2.logol {
		padding-left: 10px;
		padding: 0;
	}

	.process-header .container .row .column,
	.process-header .container .row .column-2.qh {
		padding-right: 0;
		padding: 0;
		width: 45px;
	}

	.process-header .icon-help:before,
	.process-header .icon-help span {
		height: 35px;
		width: 35px;
	}

	.process-header .container .row .column-2 .help .circle .icon-help:before {
		font-size: 2.5em !important;
		line-height: 35px !important;
	}

	.pdf-header .container .row .column .logo h1 {
		color: $red-1;
	}

	.pdf-header .container .row .column .logo h1 a .icon:before {
		font-size: 1.25em;
	}

	.pdf-header .container .row .column .logo h1 a .icon-solven {
		display: none;
	}

	.pdf-header .container .row .column .logo h1 a .icon-solven-iso {
		display: inline-block;
	}

	.pdf-header .container .row .column .logo h1 a .icon-solven-iso:before {
		display: inline-block;
		margin-left: -0.15em;
	}

	.pdf-header .container .row .column .logo h1 a span {
		display: none;
	}

	.pdf-header .container .row .column-2 .help {
		color: $red-1;
	}

	.pdf-header .container .row .column-2 .help .circle {
		display: inline-block;
		line-height: 2em;
		text-align: center;
		text-decoration: none;
		vertical-align: top;
	}

	.pdf-header .container .row .column-2 .help .circle .icon-help:before {
		display: inline-block;
		font-size: 2.75em;
		margin-top: 0.15em;
	}
}


@media screen and (min-width: 480px) and (min-height: 720px) {
	.process-header {
		margin-bottom: 38px;
	}
}

@media only screen and (max-width: 480px) {
	.modal .edit-autos .block .results-car .car .row .col .wrap .top h2 {
		font-size: 0.8em;
		line-height: 1;
	}

	.modal .edit-autos .block .results-car .car .row .col .wrap .top span {
		font-size: 0.6em;
		line-height: 1;
	}
}


@media only screen and (max-width: 408px) {
	.field-amount .wrap-field {
		display: flex;
		flex-wrap: wrap;
		max-width: 250px;
	}

	.field-amount .wrap-field>* {
		flex-grow: 1;
	}

	.field-amount .wrap-field small {
		width: 100%;
	}

}