.process {
  margin-top: 2em;
  .row {
    .column {
      .box-step {
        .top {
          .icon:before {
            font-size: 7em;
          }
          .icon-step-1:before {
            color: $red-3;
          }
          .icon-step-2:before {
            color: $red-2;
          }
          .icon-step-3:before {
            color: $red-1;
          }
        }
        .circle {
          @include border-radius(50%);
          color: white;
          display: inline-block;
          height: 100px;
          margin: 0 auto;
          margin-bottom: 1em;
          position: relative;
          width: 100px;
          .icon:before {
            font-size: 7em;
            left: 0;
            margin: 0 auto;
            right: 0;
            top: 50%;
            @include vertical-align(absolute);
          }
        }
        h3, p {
          color: $black_color_main;
        }
        h3 {
          font-family: 'Lato Bold', 'Helvetica', sans-serif;
          font-size: 1.25em;
          text-transform: uppercase;
        }
        p {
          font-size: 1.1em;
          margin: 1em auto 0 auto;
          width: 80%;
        }
      }
    }
  }
  .actions {
    margin-top: 2em;
  }
}

@media only screen and(max-width: 1280px) {

  .how-it-works {
    .container {
      article {
        .process {
          .row {
            .column {
              .box-step {
                h3 {
                  font-size: 1em;
                }
                p {
                  font-size: 1em;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and(max-width: 992px) {
  .how-it-works {
    .container {
      article {
        .process {
          .row {
            .column {
              margin: 2em auto 3em auto;
              float: none;
              width: 60%;
              .box-step {
                background: white;
                border: 1px solid $black-4;
                padding: 1em;
                @include border-radius(1em 0 1em 0);
                .top {
                  background: white;
                  border: 1px solid $black-4;
                  @include border-radius(50%);
                  height: 80px;
                  left: -10px;
                  position: absolute;
                  top: -30px;
                  width: 80px;
                  .icon:before {
                    font-size: 5em;
                    line-height: 1em;
                    position: relative;
                    z-index: 9999;
                  }
                }
                h3 {
                  font-size: 1.25em;
                }
                p {
                  font-size: 1em;
                  width: 100%;
                }
              }
              &:last-child {
                margin-top: 1.5em;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {

  .how-it-works {
    .container {
      article {
        .process {
          .row {
            .column {
              margin: 2em auto 3em auto;
              width: 60%;
              .box-step {
                background: white;
                border: 1px solid $black-4;
                padding: 1em;
                @include border-radius(1em 0 1em 0);
                .top {
                  background: white;
                  border: 1px solid $black-4;
                  @include border-radius(50%);
                  height: 80px;
                  left: -10px;
                  position: absolute;
                  top: -30px;
                  width: 80px;
                  .icon:before {
                    font-size: 5em;
                    line-height: 1em;
                    position: relative;
                    z-index: 9999;
                  }
                }
                h3 {
                  font-size: 1.25em;
                }
                p {
                  font-size: 1em;
                  width: 100%;
                }
              }
              &:last-child {
                margin-top: 1.5em;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and(max-width: 640px) {

  .how-it-works {
    .container {
      article {
        .process {
          .row {
            .column {
              margin: 2em auto 3em auto;
              width: 95%;
              .box-step {
                background: white;
                border: 1px solid $black-4;
                padding: 1em;
                @include border-radius(1em 0 1em 0);
                .top {
                  background: white;
                  border: 1px solid $black-4;
                  @include border-radius(50%);
                  height: 60px;
                  left: -10px;
                  position: absolute;
                  top: -30px;
                  width: 60px;
                  .icon:before {
                    font-size: 3.7em;
                    line-height: 1em;
                    position: relative;
                    z-index: 9999;
                  }
                }
                h3 {
                  font-size: 1.15em;
                }
                p {
                  font-size: .95em;
                  width: 100%;
                }
              }
              &:last-child {
                margin-top: 1.5em;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

}