.brand-list{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: .5em .5em 0 .5em;
     width: 100%;
     max-width: 960px;
     flex-wrap: wrap;
     overflow: hidden;
     transition: all .3s ease;
     li{
         margin-right: 0.5em;
         margin-bottom: 0.5em;
         max-width: 80px;
         width: 100%;
         a{
             border: 2px solid #eeeeee;
             border-radius: 6px;
             padding: 0px 10px;
             text-align: center;
             display: flex;
             justify-content: center;
             align-items: center;
             flex-wrap: wrap;
             transition: 400ms;
             text-transform: none;
             h3{
                 font-size: 0;
                 width: 100%;
                 text-transform: none;
            }
             img{
                 max-width: 100%;
                 width: auto;
            }
             h3{
                 display: none;
            }
             &.brand-active{
                 border: 2px solid $blue-offer;
            }
             &:focus, &:active{
                 outline: none;
                 text-transform: none;
                 h3{
                     text-transform: none;
                }
            }
        }
        &:last-child{
           margin-right: 0;
        }
    }
     &.active{
         height: auto;
    }
}
