.modal-backdrop.fade {
  @include background-opacity($black_color_main, .9);
  @include opacity(1);
  z-index: 9999999;
}
.modal-open .modal{
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 !important;
}
.modal {
  z-index: 999999999;
    margin-left: auto !important;
    margin-right: auto !important;
  .modal-dialog {
    .modal-content {
      border: 0;
      @include border-radius(10px);
      overflow: hidden;
      .contact-form {
        form {
          margin: 0 auto;
          max-width: 360px;
          .field {
            input, textarea {
              width: 100%;
            }
          }
        }
      }
      .modal-top {
        background: $black-5;
        min-height: 55px;
        overflow: hidden;
        position: relative;
        text-align: left;
        .title-wrap {
          padding: 1em;
        }
        .corner-close {
          position: absolute;
          top: 0;
          right: 0;
          .icon-close {
            border: 0;
            background: transparent;
            outline: none;
            margin-right: 3px;
            position: relative;
            z-index: 1;
            cursor: pointer;
          }
          .icon-close:before {
            color: white;
            font-size: .75em;
          }
          &:after {
            background: $lightblue-1;
            content: '';
            height: 50px;
            position: absolute;
            @include transform(rotate(45deg));
            right: -46px;
            top: -10px;
            width: 100px;
            z-index: 0;
          }
        }
      }
      .modal-middle {
        padding: 1em;
        .bp{
          display: flex;
        }
        .contract-scroll {
          min-height: 300px;
          max-height: 380px;
          overflow-y: scroll;
        }
        .block-content {
          h3 {
            color: $black_color_main;
            font-family: 'Lato Bold', 'Helvetica', sans-serif;
            font-size: 1em;
          }
          p {
            color: $black-2;
            font-size: .95em;
            margin: .5em 0;
          }
          form {
            h3 {
              color: $black_color_main;
              font-family: 'Lato', 'Helvetica', sans-serif;
              font-size: 1.25em;
              margin-top: 1em;
              text-align: center;
            }
            .subtitle {
              color: $black-3;
              display: block;
              font-size: .85em;
              margin: 1em auto;
              text-align: center;
            }
            .box-purple {
              margin-bottom: 1em;
            }
            .signature-block {
              text-align: center;
              .field {
                .icon-feather:before {
                  color: $black_color_main;
                  font-size: 3em;
                }
                p {
                  color: $black_color_main;
                  font-size: .85em;
                  margin-bottom: 1em;
                }
              }
            }
            .row {
              .column {
                .field {
                  input {
                    width: 100%;
                  }
                }
              }
            }
            .actions {
              margin: 1em auto;
            }
          }
        }
      }
    }
  }
}

#paymentApplicationTypeForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5rem auto 0 auto;
    flex-wrap: wrap;
    h3.row{
        width: 100%;
    }
    #modalFormInputRadio{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2rem auto 0 auto;
    }
    .iconic-option-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .radio{

        }
    }
    &.block-hidden{
        display: none;
    }
}

#modal_msg_question1{
  p{
    text-align: justify;
    font-size: 16px;
  }
}
#open-modal-question1{
  color: $lightblue-1;
}
#open-modal-question60{
  color: $lightblue-1;
}

#modalMessageQuestion_60{
  ul{
    font-size: 16px;
    text-align: justify;
    li{
      margin-bottom: 15px;
      span{
        display: block;
        color: #000000;
	      margin-bottom: 5px;
      }
    }
  }
}

#modal_msg_question20{
    .modal-dialog{
        width: 360px;
    }
}
.modal-backdrop_tutorial{
  opacity: 0.5 !important;
  background: unset !important;
}
.modal-tutorial{
  display: flex;
  align-items: center;
}
#modalTutorial{
  .modal-dialog{
    max-width: 1200px;
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  .v-content{
    height:0px;
    width:100%;
    max-width:1200px; /* Así establecemos el ancho máximo (si lo queremos) */
    padding-top:56.25%; /* Relación: 16/9 = 56.25% */
    position:relative;;
    .modalTutorial-video{
      position:absolute;
      height:100%;
      width:100%;
      top:0px; 
      left:0px;
    }
    .modalTutorial-close{
      position: absolute;
      top: -20px;
      right: -20px;
      color: #fff;
      border: 0;
      background: none;
      cursor: pointer;
      @media only screen and (max-width:800px){
        padding-right: 15px;
      }
    } 
  }
  
  
}

.modal .top-summary .title-right{
    float: none;
    text-align: center;
    margin-bottom: 1.5rem;
    display: block;
    .on-modal{
        br{
            display: none;
        }
    }
}

@media screen and (max-width: 640px){
    .modal .modal-dialog .modal-content .modal-middle .bp{
        flex-wrap: wrap;
        div{
            p{
                text-align: left !important;
            }
        }
    }
}