/*offerboxes*/

.wrap-pages{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    >iframe.proof-top{
        top: 0 !important;
        z-index: 99999999;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

body{
    min-height: 100vh;
    position: relative;
}

#form_date{
    .bootstrap-datetimepicker-widget {
        border: 1px solid #ccc;
        color: #34465d;
        font-size: 1em;
        border-radius: 5px;
        outline: none;
        padding: .35em .75em .5em .75em;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        li.picker-switch.accordion-toggle {
            display: none;
        }
        .datepicker{
            table{
                tr{
                    td{
                        text-align: center;
                        width: 32px;
                        height: 32px;
                        border-radius: 20px;
                        border: none;
                        font-size: 12px;
                        padding: 0;
                        line-height: 12px;
                        display: table-cell;
                    }
                }
            }
        }
    }
    .field.inline{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 250px;
        margin: 0 auto;
        position: relative;
        #datetimepicker12{
            width: 58%;
            margin-bottom: 10px;
            margin-right: 2%;
        }
        .button{
            width: 40%;
            margin-bottom: 10px;
            min-width: inherit;
        }
        .bootstrap-datetimepicker-widget{
            order: 1;
            width: 100%;
        }
    }
}
.offer-title{
    margin-bottom: 5px;
    h2{
        color: rgb(52, 70, 93);
        font-family: "Lato Light", Helvetica, sans-serif;
        font-size: 1.35em;
        margin-bottom: 0.5em;
        line-height: 1.3em;
        font-size: 17px;
    }
    .line{
        display: inline-block;
        transform: skew(28deg);
        vertical-align: top;
        background: #26CAD3;
        height: 6px;
        margin-right: 1%;
        width: 40px;
    }
    @media screen and (max-width: 767px ){
        h2{
            font-size: 1em;
        }
    }
}


#offer_modal{
    .block-content{
        text-align: left !important;
        .title-modals{
            font-size: 14px;
            margin-bottom: 20px;
            display: block;
        }
        ul{
            font-size: 14px;
            li{
                margin-bottom: 20px;
                span{
                    display: block;
                }
            }
        }
    }
}



.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .offer-title{
        color: #34465d;
        font-family: 'Lato Light', sans-serif;
        font-size: 1.25em;
        small,a{
            font-family: 'Lato Regular', sans-serif;
        }
    }

    ul {
        .owl-item{
            //width: 33.333% !important;
        }
        li{
            .best-offer {
                border: 2px solid $black-4;
                border-radius: 5px;
                display: inline-block;
                margin: 0 .25em;
                padding: 1rem;
                transition: all .3s ease;
                vertical-align: top;
                font-size: 14px;
                width: 280px;
                //width: 100%;
                *{
                    outline: none !important;
                    &:focus{
                        outline: none !important;
                    }
                    *{
                        outline: none !important;
                        &:focus{
                            outline: none !important;
                        }
                        *{
                            outline: none !important;
                            &:focus{
                                outline: none !important;
                            }
                            *{
                                outline: none !important;
                                &:focus{
                                    outline: none !important;
                                }
                                *{
                                    outline: none !important;
                                    &:focus{
                                        outline: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .select-offer{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .box-b {
                    padding: 0 0 14px;
                    .cnt-img {
                        border-radius: 6px;
                        overflow: hidden;
                        max-width: 200px;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                    }
                    h3 {
                        color: $black-2;
                        font-family: 'Lato Bold', sans-serif;
                        font-size: 2rem;
                        text-transform: uppercase;
                        line-height: 1.2;
                    }
                    span {
                        color: $black-2;
                        display: block;
                        font-family: 'Lato Regular', sans-serif;
                        margin: .5em auto;
                        max-width: 100%;
                        line-height: 1.2;
                        font-size: 12px;
                    }
                    p {
                        font-family: 'Lato Bold', sans-serif;
                        margin-bottom: 0;
                        font-size: 2rem;
                        .prefix-top, .amount, .month {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 3rem;
                            letter-spacing: -1px;
                            line-height: 1;
                            transition: all .3s ease;
                        }
                        .prefix-top {
                            margin: 0;
                            margin-right: .35em;
                            font-family: 'Lato Bold', sans-serif;
                        }
                        .amount {
                            margin: 0;
                            font-family: 'Lato Bold', sans-serif;
                        }
                        .month {
                            font-size: .7em;
                            margin: 0;
                            line-height: 0;
                            margin-top: 5px;
                        }
                    }

                    &.arg{
                        .prefix-top, .amount{
                            font-size: 2rem;
                        }
                    }
                }
                .box-c {
                    background: $black-4;
                    position: relative;
                    @include border-radius(6px 0 6px 0);
                    @include transition(.3s ease-in);
                    .circle {
                        background: $black-4;
                        @include border-radius(50%);
                        height: 62px;
                        left: 0;
                        margin: 0 auto;
                        position: absolute;
                        right: 0;
                        @include transition(.4s ease-in);
                        top: -31px;
                        width: 62px;
                        .circle-inner {
                            background: white;
                            border: 2px solid $black-4;
                            @include border-radius(50%);
                            display: block;
                            margin: 0 auto;
                            margin-top: 4px;
                            height: 52px;
                            width: 52px;
                            .icon-calendar:before {
                                color: $black-2;
                                display: block;
                                font-size: 1.4em;
                                line-height: 2em;
                            }
                        }
                        &:hover,
                        &:focus {
                            color: white;
                            text-decoration: none;
                        }
                    }
                    ul {
                        text-align: center;
                        li {
                            text-align: left;
                            padding: 0;
                            vertical-align: top;
                            width: 100%;
                            display: block;
                            p.small-text {
                                color: white;
                                font-family: 'Lato Bold', 'Helvetica', sans-serif;
                                font-size: .85em;
                                margin: 0;
                                span{
                                    font-size: 11px;
                                    &.big{
                                        font-size: 18px;
                                    }
                                }
                            }
                            &:first-child {
                                border-bottom: 1px solid white;
                                text-align: center;
                                padding: 10px 0 8px 0;
                                padding: 18px 0 14px 0;
                                p.small-text {
                                    font-size: 12px;
                                    &:first-child{
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                            &:last-child {
                                color: red;
                                text-align: center;
                                padding: 3px 0 6px 0;
                                p.small-text {
                                    width: 48%;
                                    display: inline-block;
                                    vertical-align: middle;
                                    text-align: center;
                                    font-family: 'Lato Regular', 'Helvetica', sans-serif;
                                }
                            }
                        }
                    }
                }
                .box-c2{
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    color: $black-2;
                    .bloc{
                        display: flex;
                        flex-direction: column;
                        >*{
                            display: flex;
                            flex-grow: 1;
                            flex-direction: column;
                        }

                        .amount{
                            margin-bottom: .5rem;
                            padding-bottom: .5rem;
                            border-bottom: 1px solid #fff;
                            >*{
                                flex-grow: 1;
                            }
                            .top{
                                span{
                                    &:first-child, &:nth-child(2){
                                        font-family: "Lato-Bold", sans-serif;
                                        font-weight: bold;
                                        font-size: 2.26rem;
                                        letter-spacing: -1px;
                                    }
                                    &:nth-child(2){
                                        font-size: 16px;
                                    }
                                }
                            }
                            .bottom{
                                span{
                                    &:first-child{
                                        font-family: "Lato-Bold", sans-serif;
                                        font-weight: bold;
                                    }
                                }
                            }

                            &.arg{
                                .top{
                                    span{
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                        }

                        .percent{
                            flex-direction: row;
                            justify-content: space-around;
                            .top, .bottom{
                                span{
                                    &:first-child{
                                        font-size: 1rem;
                                    }
                                    &:last-child{
                                        font-family: "Lato-Bold", sans-serif;
                                        font-weight: bold;
                                    }
                                }
                            }


                            &.arg{
                                justify-content: center;
                                flex-direction: column;
                                .top{
                                    span{
                                        font-size: 1.2rem;
                                        &:first-child, &:last-child{
                                            font-size: 1.2rem;
                                            font-weight: 400;
                                        }
                                    }
                                }
                                .bottom{
                                    padding: 0 .5rem;

                                    /***/
                                    display: none;
                                    /***/
                                    span{
                                        //font-size: 45px;
                                        letter-spacing: -1px;
                                        font-size: 4.5vh;
                                        font-family: 'Lato Light', sans-serif;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        &.first{
                            background-color: $black-3;
                            color: #fff;
                            position: relative;
                            border-radius: 6px 0 6px 0;
                            padding: 1rem 0;
                            margin-bottom: 1rem;
                            flex-direction: column;
                            transition: all .3s ease;
                        }
                    }
                }
                .box-d{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 8px;
                    position: relative;
                    .btn-offer{
                        margin: 0 auto;
                        background-color: #FFFFFF;
                        border: 1px solid #D6D8DD;
                        padding: 4px 10px;
                        transition: 0.3s ease-in;
                        .circle-inner{
                            color: #9096a0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i{
                                margin-right: 5px;
                            }
                        }
                    }
                    .check{
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        background-color: #D6D8DD;
                        border: 3px solid #D6D8DD;
                        width: 40px;
                        height: 28px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        cursor: pointer;
                        &:before{
                            color: #FFFFFF;
                            font-size: 24px;
                            content: 'L';
                            top: 0px;
                            left: 0px;
                            font-weight: bold;
                            -webkit-transform: scaleX(-1) rotate(-35deg) translateY(-4px);
                            -moz-transform: scaleX(-1) rotate(-35deg) translateY(-4px);
                            -ms-transform: scaleX(-1) rotate(-35deg) translateY(-4px);
                            -o-transform: scaleX(-1) rotate(-35deg) translateY(-4px);
                            transform: scaleX(-1) rotate(-35deg) translateY(-4px);
                        }
                    }
                }
                .go{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    font-size: 2rem;
                    height: 38px;
                    line-height: 1.7;
                }



                .cft{
                    color: #7A808D;
                    font-size: 3.8rem;
                    letter-spacing: -1px;
                    margin: -.75rem auto 0.25rem auto;
                    @media screen and (max-width: 1366px){

                    }

                    @media screen and (max-width: 1266px){
                        font-size: 2.8rem;
                    }

                    @media screen and (max-width: 1024px){

                    }

                    @media screen and (max-width: 960px){

                    }

                    @media screen and (max-width: 768px){

                    }

                    @media screen and (max-width: 600px){

                    }

                    @media screen and (max-width: 480px){

                    }
                }


                &:hover{
                    background: #f9ffff;
                    border-color: $lightblue-1;
                    .box-b{
                        p{
                            .prefix-top, .amount{
                                color: $lightblue-1;
                            }
                        }
                    }
                    .box-c2{
                        .bloc{
                            &.first{
                                background-color: $lightblue-2;
                            }
                        }
                        .radio{
                            border: 5px solid #FFFFFF;
                            background: $lightblue-1;
                        }
                    }
                }
            }
            .calendar-button{
                color: $black-3;
                flex-shrink: 0;
                flex-grow: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                height: 38px;
                margin: 0 auto;
                cursor: pointer;
                max-width: 160px;
                box-shadow: none;


                display: flex;
                justify-content: center;
                max-width: 280px;
                padding: 0;
                .wsi{
                    margin-right: 5px;
                }
                .type-icon{
                    margin-right: auto;
                    width: 42px;
                }
            }
        }
    }
    .sponsored-by {
        position: relative;
        font-size: 12px;
        margin: 10px auto;
        margin-top: 30px;
        text-align: left;
        margin-bottom: auto;

        small{
            color: #909090;
            display: block;
            line-height: 10px;
            table{
                font-size: 10px !important;
                line-height: 1.2;
                text-align: justify !important;
            }
        }
        .divisor-thin {
            background: $black-4;
            bottom: 0;
            border: 0;
            height: 1px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        .box-sponsor {
            background: white;
            margin: 0 auto;
            width: 140px;
            position: relative;
            z-index: 2;
            small {
                color: #77808d;
                display: block;
                font-family: 'Lato', 'Helvetica', sans-serif;
                font-size: 9px;
                margin: 0 0 4px;
                text-align: center;
                &:first-child{
                    margin: 0;
                    font-weight: bold;
                    color: $lightblue-1;
                }
            }
            .online {
                color: #8f8f8f;
                font-size: 10px;
                font-weight: bold;
            }
            img {
                //@include grayscale_element(1);
                //@include opacity(.5);
                width: 120px;
                height: auto;
                text-align: center;
                margin: 4px auto;
                display: block;
                &.type-icon{
                    width: 70px;
                }
            }
        }

        &.first{
            margin-top: auto;
            //margin-top: 2rem;
        }
    }
    .extra {
        text-align: left;
        display: none;
        p {
            font-size: 0.8em !important;
            b {
                color: $lightblue-1;
            }
        }
    }

    &.wrap-offer-car{
        .best-offer{
            border: 2px solid #D6D8DD;
            border-radius: 5px;
            display: inline-block;
            margin: 0 .25em;
            padding: 1rem;
            transition: all .3s ease;
            vertical-align: top;
            font-size: 14px;
            width: 280px;
            .box-a{
                .bar-offer{

                }
                .btn-download-credit{
                    color: #7A808D;
                }
            }

            .box-b{
                .cnt-img{
                    margin: 0 auto 20px auto;
                }
                .cnt-prom{
                    font-size: 1.6rem;
                }
            }
            .box-c2{
                .bloc{
                    .amount{
                        .top{
                            span{
                                &:first-child, &:nth-child(1){
                                    font-family: "Lato-Regular", sans-serif;
                                    font-weight: 100;
                                    font-size: 1.5rem;
                                }
                                &:nth-child(2), &:nth-child(3){
                                    font-size: 1.5rem;
                                    font-family: "Lato-Bold", sans-serif !important;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    &.first{
                        //margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1266px){
    .offer-container{
        ul{
            li{
                .best-offer{
                    .box-c2{

                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 1280px) {
    .offer-container {
        padding: .5em;
        ul {
            .salary-advance-offer {
                max-width: 280px;
                .box-a {
                    .bar-offer {
                        height: 10px;
                    }
                }
                .box-b {
                    padding: .5em;
                    h3 {
                        font-size: 1.15em;
                        &:after {
                            bottom: -10px;
                        }
                    }
                    span.ps {
                        margin-top: 2em;
                        font-size: .75em;
                    }
                    .wrap-amount {
                        margin-top: .5em;
                        ul {
                            li {
                                .amount {
                                    .amount-value {
                                        font-size: 1em;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .box-c {
                    padding: 1em;
                    .offer-info {
                        margin-top: 0;
                        li {
                            .field-wrapper {
                                .prefix {
                                    font-size: .75em;
                                }
                                .input-outline {
                                    height: 38px;
                                    font-size: .95em;
                                    padding-left: 1.65em;
                                    padding-right: 1.65em;
                                }
                                .edit-amount {
                                    right: 3px;
                                }
                                .icon-edit:before {
                                    font-size: 1.5em;
                                }
                            }
                            .input-controls-label {
                                height: 38px;
                                padding: .65em 2em 0 1.5em;
                                .currency {
                                    font-size: .75em;
                                }
                                h3 {
                                    font-size: .85em;
                                    margin-top: .15em;
                                }
                            }
                            &:first-child {
                                width: 45%;
                            }
                            &:nth-child(2) {
                                width: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and(max-width: 640px) {
    .offer-container {
        .sponsored-by {
            margin-top: 1em;
            .box-sponsor {
                .online {
                    color: $lightblue-2;
                }
            }
            small{
                table{
                    tr{
                        &:nth-child(1){

                        }
                        &:nth-child(2){
                            margin: 5px 0 auto !important;
                            border-bottom: 1px solid #eaeaea !important;
                        }
                        &:nth-child(3){
                            padding-top: 5px !important;
                        }
                    }
                }
            }
        }
    }
    .offer-container{
        ul{
            li{
                .calendar-button{
                    font-size: 12px;
                    height: 20px;
                    margin: 10px auto 0 auto;
                }
                .best-offer{
                    max-width: 220px;
                    .box-b{
                        padding: 0 0 .5rem;
                        h3{
                            font-size: 1.5rem;
                        }
                        span{
                            font-size: 11px;
                        }
                        p{
                            .prefix-top, .amount{
                                font-size: 2.25rem;
                                line-height: 1.25;
                            }
                        }
                    }
                    .box-c2{
                        .bloc{
                            &.first{
                                font-size: 12px;
                            }
                        }
                    }
                }
                .calendar-button{
                    max-width: 220px;
                    margin-bottom: 0;
                }
            }
        }
    } 
    .q50{

        .offer-title{
            font-family: "Lato Light", sans-serif;
            font-size: .75em;
            line-height: 1 !important;
            margin-bottom: .5rem !important;
            margin: 0 auto;
            max-width: 263px;
            text-align: center;
            width: 100%;
        }
        .call-offer-modal{
            margin-bottom: 2rem !important;
        }
        .owl-carousel{
            .owl-item{
                padding-bottom: 0 !important;
            }
        }
    }

}
#offer-block .offer-container .salary-advance-offer .box-c .offer-info li:last-child {
    padding-top: 0;
}
#offer-block {
    .offer-container {
        .salary-advance-offer {
            .box-c {
                .offer-info {
                    li {
                        &:last-child {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.offer-container ul .best-offer .box-c.adelanto ul li:first-child{
    padding: 0;
}



@media (max-height: 620px) {

    .offer-container .offer-title{
        margin-bottom: 0;
        .call-offer-modal{
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
    .offer-container .sponsored-by{
        margin-top: 0;
        margin-bottom: 0;
        margin: 15px auto !important;
    }
    .offer-container .sponsored-by:last-child{
        margin-bottom: 0 !important;
        margin-top: 2rem !important;
    }
    .offer-container{
        margin-bottom: 0;
    }


    .offer-container{
        ul{
            li{
                .best-offer{
                    max-width: 220px;
                    .box-b{
                        padding: 0 0 .5rem;
                        h3{
                            font-size: 1.5rem;
                        }
                        span{
                            font-size: 11px;
                        }
                        p{
                            .prefix-top, .amount{
                                font-size: 2.25rem;
                                line-height: 1.25;
                            }
                        }
                    }
                    .box-c2{
                        .bloc{
                            &.first{
                                font-size: 12px;
                            }
                        }
                    }
                }
                .calendar-button{
                    max-width: 220px;
                }
            }
        }
    }


}
@media screen and (max-width: 767px){
    .offer-container .offer-title{
        .call-offer-modal{
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

    .offer-container .sponsored-by{
        margin-top: 0;
        margin-bottom: 0;
        margin: 0 auto !important;
    }
    .offer-container .sponsored-by:last-child{
        margin-bottom: 0 !important;
    }
    .offer-container{
        margin-bottom: 0;
    }


    .box-purple{
        padding: 0.5em !important;
    }

    .offer-container ul .best-offer .box-c ul li p.small-text span.big{
        font-size: 14px;
    }
    .offer-container ul .best-offer .box-c ul li:first-child p.small-text:first-child{
        margin-bottom: 0px;
    }

    .bottom-footer{
        //margin-left: 0px;
        .bar-x1{
            margin-right: 1%;
        }
        .bar-x2{
            margin-left: 1%;
        }
    }

}

.wrap-pages .loan-process .container .questions-section small.important{
    color: #7A808D;
    margin-bottom: 20px;
    font-size: 11px;
    display: block;
    text-align: center;
}

.wrap-pages .loan-process .container .questions-section {
    .collection-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        a.button{
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button{
            margin-right: .5em;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}



/*responsive alineado celular*/
@media screen and (max-width: 480px){
    .main-choose-agent{
        min-height: 90vh;
        height: 90vh;
        min-height: calc( 100vh - 50px );
        height: calc( 100vh - 50px );
        background-color: inherit;
        .choose-agent{
            min-height: 90vh;
            height: 90vh;


            min-height: calc( 100vh - 50px );
            height: calc( 100vh - 50px );
        }
    }
    .wrap-pages{
        min-height: calc(100vh - 64px);
        .loan-process{
            margin: auto;
            margin-bottom: auto;
            padding-top: 0px;
            .bottom-footer{
                margin-bottom: 8px;
            }
        }
        #intercom-container{
            .intercom-app.intercom-app-launcher-enabled{
                .intercom-launcher-frame{
                    position: fixed !important;
                }
            }
        }
    }
}

.wrap-offer-car{
    #offer-carousel{
        .owl-stage-outer{
            .best-offer{
                .box-a{
                    width: 100%;
                    padding-right: 12%;
                    .bar-iso{
                        width: 30px;
                    }
                    .btn-download-credit{
                        top: -5.5px;
                        font-size: 18px;
                    }
                }
                .box-b{
                    padding: .5em 0 1.5em 0em;
                    .cnt-img{
                        overflow: hidden;
                        position: relative;
                        height: 150px;
                        width: 100%;
                        max-width: 100%;
                        img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 100%;
                            height: auto;
                            max-height: 100%;
                            max-width: 100%;
                            min-height: 100%;
                            min-width: 100%;
                            transform: translate(-50%, -50%);
                            object-fit: cover;
                        }
                    }
                    p{
                        margin-top: 5px;
                        margin-bottom: 5px !important;
                    }
                }
                .box-c{
                    padding-top: 1em;
                    .circle{
                        height: 50px;
                        top: -20px;
                        width: 50px;
                        .circle-inner{
                            height: 40px;
                            width: 40px;
                            .icon-calendar{
                                &:before{
                                    font-size: 1.2em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*brandeo Ninja*/

body{
    &.main-ninja{
        background-color: #f7f7f7;
        .choose-agent{
            >img{
                display: none;
            }
        }
        .choose-agent .hero-content ul li .circle figure img{
            border: 2px solid #e9e9e9;
        }
        .text-white{
            color: #443d3d;
        }
    }
}

.choose-agent .hero-content h1.ninja{
    i{
        display: none !important;
    }
    img{
        &.img-ninja{
            display: block;
            max-width: 200px;
            width: 100%;
            margin: 0 auto;

        }
    }
}

#offer_car{
    .wrap-offer-car{
        #offer-carousel{
            .owl-stage-outer{
                .best-offer{
                    .box-a{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 0;
                        .bar-iso{
                            order: -1;
                            position: relative;
                            top: 0;
                            &:after{
                                right: -12px;
                                top: 3px;
                            }
                            img{

                            }
                        }
                        .bar-offer{
                            order: 1;
                            width: 74%;
                            margin: 0 auto;
                        }

                        .btn-download-credit{
                            position: relative;
                            top: 0;
                            order: 2;
                        }
                    }
                    .box-b{
                        padding: 0 0 .5em;
                        .cnt-img{
                            height: 90px;
                            width: 75%;
                            margin-bottom: .5em;
                            img{

                            }
                        }
                        .cnt-price , .cnt-prom{
                            display: flex;
                            justify-content: center;
                            align-items: baseline;
                        }
                        .cnt-price{
                            color: #000;
                            font-size: 14px;
                            margin-bottom: .35em;
                            span{
                                margin: 0;
                            }
                            .prefix-top{
                                font-size: 1.5em;
                                margin-right: .25em;
                            }
                            .amount{
                                font-size: 1.8em;
                                line-height: 1;
                                letter-spacing: -1px;
                                font-weight: bold;
                                font-family: 'Lato bold', "Helvetica", sans-serif;
                                margin-right: 2px;
                            }
                            .month{
                                font-size: .85em;
                                color: #7A808D;
                            }
                        }
                        .cnt-prom{
                            span{
                                margin: 0;
                                font-size: .7em;
                                margin-top: .25em;
                                margin-right: .25em;
                            }
                        }
                    }
                    .box-c{
                        padding: 0;
                        font-size: 14px;
                        .offer-info{
                            li{
                                p{
                                    &.small-text{
                                        font-size: 14px;
                                        span{
                                            font-size: .75em;
                                        }
                                    }
                                    &.regular-text{
                                        font-size: 14px;
                                        margin-bottom: 0;
                                        span{
                                            font-size: 1em;
                                            font-family: 'Lato Semibold', 'Helvetica', sans-serif;
                                            line-height: 1;
                                            margin-bottom: 0;
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .offer-container{
        ul{
            &.owl-carousel{
                //padding-top: 7em;
            }
        }
        .wrap-sponsored{
            //padding-top: 7em;
            .sponsored-by{
                .box-sponsor{
                    small{
                        margin-top: 2em;
                    }
                    img{
                        width:120px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 480px){
    #offer_car{
        margin-top: 2em !important;
        .wrap-offer-car #offer-carousel .owl-stage-outer .best-offer .box-b .cnt-img{
            width: 80%;
        }
    }
}

@media screen and (max-height: 600px){
    .offer-container ul li .best-offer .box-b.arg .prefix-top, .offer-container ul li .best-offer .box-b.arg .amount{
        font-size: 1.75rem;
    }
    body .q50 .offer-container .call-offer-modal{
        margin-bottom: 1rem !important;
    }
    #offer_car{
        .offer-container{
            padding: 0;
            ul{
                li{
                    .best-offer{
                        .go{
                            height: 28px;
                            font-size: 1.5rem;
                        }
                    }
                }
                &.owl-carousel{
                    padding-top: 0;
                }
            }
            .wrap-sponsored{
                padding-top: 0;
                .sponsored-by{
                    margin-bottom: 0 !important;
                    &:last-child{
                        margin-top: 0 !important;
                        small{
                            table{
                                margin: 5px auto !important;
                            }
                        }
                    }
                }
            }
        }
        .offer-container ul li .best-offer .box-c2 .bloc.first{
            padding: .5rem 0;
            margin-bottom: .5rem;
        }
        .offer-container ul li .calendar-button{
            height: 30px;
        }
    }
    body .offer-container ul li .best-offer .box-c2 .bloc.first{
        padding: .35rem 0;
        margin-bottom: .75rem;
    }
    body .q50 .w-rejectOffers{
        margin: .5rem auto 0 auto;
    }
    body .offer-container .sponsored-by{
        margin: 8px auto !important;
    }
    body .offer-container ul li .best-offer .go{
        height: 28px;
        font-size: 1.5rem;
    }
    .offer-container ul li .best-offer .box-b span{
        margin: .5em auto 0 auto;
        line-height: 1.1;
    }
    .offer-container ul li .best-offer .box-b p .prefix-top, .offer-container ul li .best-offer .box-b p .amount{
        font-size: 2.25rem;
        line-height: 1;
    }
    .offer-container .sponsored-by .box-sponsor img{
        margin: 0 auto;
    }
    .offer-container .sponsored-by:last-child{
        margin-top: 0 !important;
    }
}



.loan-process .container .questions-section .forms .terms-block{
    max-width: 360px !important;
}

#proceso-adelanto-sueldo{
    margin-top: -1rem;
    .best-offer.salary-advance-offer{
        border: 1px solid #28cad3;
        display: flex;
        flex-wrap: wrap;
        border-radius: 4px;
        max-width: 280px;
        color: #7d7d7d;
        .box-a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: .5rem 1rem;
            .bar-offer{
                height: 12px;
                background-color: #28cad3;
                width: -webkit-calc( 100% - 20px );
                width: calc( 100% - 20px );
                transform: skew(-28deg);
            }
            .bar-iso{
                order: -1;
                width: 20px;
                color: #28cad3;
                text-align: left;
            }
        }
        .box-b{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            h3{
                text-transform: uppercase;
                font-size: 1rem;
                text-align: center;
                color: #28cad3;
                font-weight: bold;
                margin-bottom: 0;
                position: relative;
                &:after{
                    content: '';
                    width: 45px;
                    height: 3px;
                    background-color: #28cad3;
                    display: block;
                    bottom: 0;
                    margin: 6px auto 10px auto;
                }
            }
            .ps{
                line-height: 1.2;
                display: block;
                margin: 6px auto 12px auto;
                font-weight: 100;
                font-family: 'Lato-Light', sans-serif;
                font-size: 12px;
                width: 90%;
            }
            .input-help{
                text-align: center;
            }
            .wrap-amount{
                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        margin-right: 1rem;
                        h4{
                            display: flex;
                        }
                        .text-lightblue{
                            margin-left: 2rem;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
            .currency{
                font-size: 10px;
                margin-right: 6px;
                margin-left: 6px;
            }
        }
        .box-c{
            padding: .5rem;
            .offer-info{
                display: flex;
                background-color: #28cad3;
                border-radius: 4px;
                padding: 1rem;
                >*{
                    flex-grow: 1;
                }
                .text-white{

                }
                li{
                    width: 18px;
                    button{
                        cursor: pointer;
                    }
                    h3{
                        padding: 4px 10px 0px 10px;
                    }
                    .field-wrapper{
                        align-items: center;
                        background-color: #FFF;
                        border-radius: 4px;
                        display: flex;
                        overflow: hidden;
                        position: relative;
                        .prefix{
                            font-size: 15px;
                            padding: 0 0px 0 10px;
                        }
                        .input-outline{
                            width: 100%;
                            background-color: #FFF;
                            border: none;
                            padding: 8px 0px 8px 7px;
                            font-size: 16px;
                            font-weight: bold;
                        }
                        .edit-amount{
                            color: #F7323F;
                            padding-right: 5px;
                            position: absolute;
                            right: 0;
                        }
                    }
                    .input-help{
                        color: #FFF;
                        text-align: center;
                    }
                    .input-controls-label{
                        display: flex;
                        align-items: center;
                        padding: 6px 10px 10px 10px;
                        .currency{
                            position: relative;
                            top: 0;
                            left: 0;
                            transform: none;
                            font-size: 15px;
                        }

                        #commissionAdelantoText{
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                    &:first-child, &:nth-child(3){
                        width: 48%;
                    }
                }
            }
        }
    }
}

.q50{
    #simulated-offer{
        .frm_edit{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            padding: 3.2px;
            color: #7A808D;
            .amount_edit{
                align-items: center;
                display: flex;
                justify-content: center;
                height: 34px;
                margin-right: 0;
                font-weight: bold;
                span{
                    transition: all .3s ease;
                    color: #7A808D;
                    margin-right: .35rem;
                    font-size: 22px;
                }
                input{
                    appearance: none;
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #c2cad8;
                    border-radius: 4px;
                    color: #7A808D;
                    cursor: pointer;
                    font-size: 14px;
                    height: 34px;
                    line-height: 1.42857;
                    padding: 6px 12px;
                    width: 100%;
                    max-width: 96px;
                    margin-right: 3px;
                }
            }
            .month_edit{
                align-items: center;
                display: flex;
                justify-content: center;
                height: 34px;
                padding-left: 1.3px;
                input{
                    appearance: none;
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #c2cad8;
                    border-radius: 4px;
                    color: #7A808D;
                    cursor: pointer;
                    font-size: 14px;
                    height: 34px;
                    line-height: 1.42857;
                    padding: 6px 12px;
                    width: 100%;
                    max-width: 50px;
                    margin-left: 3px;
                    text-align: center;
                    margin-right: 3px;
                }
                span{
                    transition: all .3s ease;
                    color: #7A808D;
                    font-size: 16px;
                }
            }
        }
       
    }


   
}