.onoffswitch {
  position: relative; width: 50px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #e3e3e3; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 35px;
  font-size: .85em; color: white; font-family: 'Proxima-Nova Bold', sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  background-color: $lightblue-1;
  color: #FFFFFF;
  content: "";
  padding-left: 10px;
  text-align: left;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: white; color: #e3e3e3;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 30px;
  margin: 0;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 19px;
  border: 1px solid #e3e3e3; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  border-color: $lightblue-1;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  border: 2px solid $lightblue-1;
  right: 0;
}