div.progressBar{
  width: 200px;
  padding-left: 2px;
  padding-right: 2px;
  height: 21px;
  border-radius: 5px;
  div.track{
    height: 26px;
    overflow: hidden;
    position: relative;
    width: 100%;
    div.bar{
      height: 24px;
      background-color: $lightblue-1;
      clear: top;
      float: left;
      position: relative;
      margin-left: 4px;
      margin-right: 4px;
      top: 3px;
      width: 4px;
    }
    #bar-1 {
      @include animation (prgBar .4s linear 0s alternate);
    }
    #bar-2 {
      @include animation (prgBar .6s linear 0s alternate);
    }
    #bar-3 {
      @include animation (prgBar .8s linear 0s alternate);
    }
    #bar-4 {
      @include animation (prgBar 1s linear 0s alternate);
    }
    #bar-5 {
      @include animation (prgBar 1.2s linear 0s alternate);
    }
    #bar-6 {
      @include animation (prgBar 1.4s linear 0s alternate);
    }
    #bar-7 {
      @include animation (prgBar 1.6s linear 0s alternate);
    }
    #bar-8 {
      @include animation (prgBar 1.8s linear 0s alternate);
    }
    #bar-9 {
      @include animation (prgBar 2s linear 0s alternate);
    }
    #bar-10 {
      @include animation (prgBar 2.2s linear 0s alternate);
    }
    #bar-11 {
      @include animation (prgBar 2.4s linear 0s alternate);
    }
    #bar-12 {
      @include animation (prgBar 2.6s linear 0s alternate);
    }
    #bar-13 {
      @include animation (prgBar 2.8s linear 0s alternate);
    }
    #bar-14 {
      @include animation (prgBar 3s linear 0s alternate);
    }
    #bar-15 {
      @include animation (prgBar 3.2s linear 0s alternate);
    }
    #bar-16 {
      @include animation (prgBar 3.4s linear 0s alternate);
    }
    #bar-17 {
      @include animation (prgBar 3.6s linear 0s alternate);
    }
    #bar-18 {
      @include animation (prgBar 3.8s linear 0s alternate);
    }
    #bar-19 {
      @include animation (prgBar 4s linear 0s alternate);
    }
    #bar-20 {
      @include animation (prgBar 4.2s linear 0s alternate);
    }
    #bar-21 {
      @include animation (prgBar 4.4s linear 0s alternate);
    }
    #bar-22 {
      @include animation (prgBar 4.6s linear 0s alternate);
    }
    #bar-23 {
      @include animation (prgBar 4.8s linear 0s alternate);
    }
    #bar-24 {
      @include animation (prgBar 5s linear 0s alternate);
    }
    #bar-25 {
      @include animation (prgBar 5.2s linear 0s alternate);
    }
  }
}


.wrap-pages.brand div.progressBar div.track div.bar{
  background: none;
}




.wrap-pages{
    &.brand{




        div.progressBar{
            div.track{
                div.bar{
                    background-color: inherit;
                }
                #bar-1 {
                    @include animation (prgBarb .4s linear 0s alternate);
                }
                #bar-2 {
                    @include animation (prgBarb .6s linear 0s alternate);
                }
                #bar-3 {
                    @include animation (prgBarb .8s linear 0s alternate);
                }
                #bar-4 {
                    @include animation (prgBarb 1s linear 0s alternate);
                }
                #bar-5 {
                    @include animation (prgBarb 1.2s linear 0s alternate);
                }
                #bar-6 {
                    @include animation (prgBarb 1.4s linear 0s alternate);
                }
                #bar-7 {
                    @include animation (prgBarb 1.6s linear 0s alternate);
                }
                #bar-8 {
                    @include animation (prgBarb 1.8s linear 0s alternate);
                }
                #bar-9 {
                    @include animation (prgBarb 2s linear 0s alternate);
                }
                #bar-10 {
                    @include animation (prgBarb 2.2s linear 0s alternate);
                }
                #bar-11 {
                    @include animation (prgBarb 2.4s linear 0s alternate);
                }
                #bar-12 {
                    @include animation (prgBarb 2.6s linear 0s alternate);
                }
                #bar-13 {
                    @include animation (prgBarb 2.8s linear 0s alternate);
                }
                #bar-14 {
                    @include animation (prgBarb 3s linear 0s alternate);
                }
                #bar-15 {
                    @include animation (prgBarb 3.2s linear 0s alternate);
                }
                #bar-16 {
                    @include animation (prgBarb 3.4s linear 0s alternate);
                }
                #bar-17 {
                    @include animation (prgBarb 3.6s linear 0s alternate);
                }
                #bar-18 {
                    @include animation (prgBarb 3.8s linear 0s alternate);
                }
                #bar-19 {
                    @include animation (prgBarb 4s linear 0s alternate);
                }
                #bar-20 {
                    @include animation (prgBarb 4.2s linear 0s alternate);
                }
                #bar-21 {
                    @include animation (prgBarb 4.4s linear 0s alternate);
                }
                #bar-22 {
                    @include animation (prgBarb 4.6s linear 0s alternate);
                }
                #bar-23 {
                    @include animation (prgBarb 4.8s linear 0s alternate);
                }
                #bar-24 {
                    @include animation (prgBarb 5s linear 0s alternate);
                }
                #bar-25 {
                    @include animation (prgBarb 5.2s linear 0s alternate);
                }
            }
        }





    }
}


@media only screen and(max-width: 640px) {
  div.progressBar {
    height: 18px;
    div.track {
      height: 18px;
    }
  }
}
