.tabs-lists {
  li {
    a {
      background: $black-5;
      color: $black_color_main;
      display: block;
      text-decoration: none;
    }
    .tab-active {
      background: $lightblue-1;
      color: white;
    }
  }
}
.content-tab {
  display: none;
}
.tab-open {
  display: block;
}