.tp-wrap {
  @include border-radius(5px);
  background: url("../img/examples/test/gaussian-image02.jpg") no-repeat center;
  background-size: cover;
  margin: 0 auto;
  min-height: 320px;
  max-width: 480px;
  position: relative;
  // peru
  &.pe-dni-bg-frontal {
    background-image: url("../img/examples/test/pe-dni-frontal.png");
  }
  &.pe-dni-bg-anverso {
    background-image: url("../img/examples/test/pe-dni-anverso.png");
  }
  &.pe-dni-bg-boletapago {
    background-image: url("../img/examples/test/pe-bg-boletapago.jpg");
  }
  // colombia
  &.co-dni-bg-frontal {
    background-image: url("../img/examples/test/co-dni-frontal.png");
  }
  &.co-dni-bg-anverso {
    background-image: url("../img/examples/test/co-dni-anverso.png");
  }
  .camera-block {
    bottom: 15px;
    display: block;
    left: 15px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 15px;
    video {
      background-color: white;
      height: 100%;
      width: 100%;
    }
    .controls-widgets {
      bottom: 0;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      a {
        @include background-opacity($black_color_main, .8);
        @include border-radius(5px);
        color: white;
        display: inline-block;
        text-decoration: none;
        .icon-camera:before {
          font-size: 3em;
          line-height: 1em;
        }
      }
    }
  }
  .upload-block {
    .upload-box {
      border: 2px dashed white;
      @include border-radius(1em);
      bottom: 15px;
      cursor: pointer;
      display: block;
      left: 15px;
      margin: auto;
      position: absolute;
      right: 15px;
      text-align: center;
      top: 15px;
      .box {
        left: 0;
        margin: 0 auto;
        top: 50%;
        right: 0;
        @include vertical-align(absolute);
        .icon-image-outline:before {
          color: white;
          font-size: 4em;
          line-height: 1em;
        }
        span {
          display: block;
          font-family: 'Lato Light', 'Helvetica', sans-serif;
          font-size: .85em;
        }
      }
      input {
        display: none;
      }
    }
  }
  .main-inputs {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    @include vertical-align(absolute);
    ul {
      li {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .main-buttons {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    @include vertical-align(absolute);
    .anchor-button {
      display: block;
      margin: 0 auto;
      max-width: 200px;
      &:first-child {
        margin-bottom: .25em;
      }
    }
  }
  .msg-block {
  }
}
.thumbs-block {
  margin-top: 1em;
  ul {
    li {
      display: inline-block;
      margin-right: .5em;
      vertical-align: top;
      .circle {
        //background: $black-2;
        @include border-radius(50%);
        height: 60px;
        position: relative;
        width: 60px;
        button {
          background: $black_color_main;
          border: 1px solid white;
          @include border-radius(50%);
          color: white;
          display: inline-block;
          height: 32px;
          overflow: hidden;
          position: absolute;
          right: -10px;
          top: 0;
          width: 32px;
        }
        img {
          @include border-radius(50%);
          height: 100%;
          width: 100%;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media only screen and(max-width: 640px) {
  .tp-wrap {
    min-height: 220px;
  }
}