@import "../generals/_general2.scss";
@import "../generals/_reset";



/**/
.main-arg, .main-pe{
    .main-banner{
        article{
            margin-bottom: auto;
            h1{
                max-width: 320px;
                &:after{
                    content: "................";
                    letter-spacing: 0;
                    margin-bottom: 10px;
                    font-size: 50px;
                    height: 30px;
                    line-height: 0;
                    margin-left: 0;
                }
            }
            p{
                max-width: 540px;
            }
            .wrap-buttons{
                .g-btn{
                    margin-right: 10px;
                    &.bg-transparent{
                        background-color: transparent;
                        border: 1px solid #FFFFFF;
                        color: #F9f9FB;
                        transition: all 300ms ease;
                        &:hover{
                            background-color: #FFFFFF;
                            border-color: #FFFFFF;
                            color: #7A808D;
                        }
                    }
                }
            }
        }

        &:before{
            width: 100%;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(60,64,68,1);
            background: -moz-linear-gradient(top, rgba(60,64,68,1) 0%, rgba(53,110,115,0.5) 50%, rgba(255,255,255,0) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,64,68,1)), color-stop(50%, rgba(53,110,115,0.5)), color-stop(100%, rgba(255,255,255,0)));
            background: -webkit-linear-gradient(top, rgba(60,64,68,1) 0%, rgba(53,110,115,0.5) 50%, rgba(255,255,255,0) 100%);
            background: -o-linear-gradient(top, rgba(60,64,68,1) 0%, rgba(53,110,115,0.5) 50%, rgba(255,255,255,0) 100%);
            background: -ms-linear-gradient(top, rgba(60,64,68,1) 0%, rgba(53,110,115,0.5) 50%, rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom, rgba(60,64,68,1) 0%, rgba(53,110,115,0.5) 50%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c4044', endColorstr='#ffffff', GradientType=0 );
            z-index: 5;
            @media screen and (max-width: 1366px){
                opacity: 0.34;
                height: 200px;
            }
        }
    }
    .sec-benefits{
        >article{
            padding: 10px 0 30px 0;
            padding: 4vh 0 6vh 0;
            padding: 2vh 0 6vh 0;
            span{
                color: #F7323F;
            }
            h2{
                span{
                    display: block;
                    font-size: 30px;
                }
                &:after{
                    content: '.............';
                    margin: -5px auto 10px auto;
                    font-size: 50px;
                    letter-spacing: 0;
                    height: 30px;
                    line-height: 0px;
                    margin-left: 0px;
                }
            }
            p{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                font-family:'Lato-Regular', sans-serif;
                span{
                    font-size: 0px;
                    margin-left: 5px;
                    i{
                        font-size: 90px;
                    }
                }
            }
            .solven02{
                width: 160px;
                top: 0;
                transform: none;
                @media screen and (max-width: 1200px){
                    width: 20vh;
                }
            }
        }
    }
}
.w-list-news .list-news .item-news {
    height: 400px;
    position: relative;
}
.main-arg{
    .main-banner.main-adelanto-sueldo.main-credito-consumo article p {
        max-width: 500px !important;
    }
}

.main-pe{

    .main-banner{
        article{
            z-index: 12;
        }
        p{
            text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
        }
        button{
            z-index: 2;
        }
    }

    .bgbanner-inner{
        height: 410px;
        min-height: 410px;
        article{
            h1{
                padding-top: 40px;
                font-size: 26px;
            }

            .form-container{
                opacity: 1;
                transform: none;
            }

            #response-block .successMessage{
                background: #9ED5DC;
                color: white;
                //display: inline-block;
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 350px;
                @media screen and (max-width: 480px){
                    display: flex;
                }
                .alert-small{
                    color: white;
                    display: inline-block;
                    font-family: 'Lato Bold', 'Helvetica', sans-serif;
                    margin: .75em 1em;
                    vertical-align: top;
                    padding: 0;
                }
                small{
                    padding: 0 !important;
                }
            }

            #response-block .successMessage .icon-success{
                display: inline-block;
                height: 38px;
                position: relative;
                vertical-align: top;
                width: 26px;
                margin-top: 0;
                &:before{
                    display: block;
                    font-size: 1.75em;
                    height: 32px;
                    left: 4px;
                    line-height: 1.5em;
                    position: absolute;
                    text-align: center;
                    top: -2px;
                    width: 32px;
                }
            }


        }
    }

    .bgbanner-faqs{
        article{
            h1{
                max-width: 420px;
            }
            p{
                max-width: 550px;
            }
        }
    }

    .w-list-news{
        .wrap{
            margin-bottom: 80px;
        }
        .list-news{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            flex-wrap: wrap;
            padding: 0;
            padding-top: 60px;
            padding-bottom: 2em;
            .item-news{
                background-color: #F9F9F9;
                border-radius: 4px;
                border: 1px solid #ececec;
                margin-bottom: 18px;
                margin-right: 2%;
                padding: 20px 15px;
                width: 32%;
                

                article{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    >*{
                        width: 100%;
                    }

                    .list-categories{
                        order: 1;
                        display: flex;
                        li{
                            margin-right: 5px;
                            span{
                                font-size: 12px;
                                font-style: italic;
                                display: block;
                                margin: 10px 0;
                                padding-left: 10px;
                                position: relative;
                                &:before{
                                    content: "\e900";
                                    @include icon();
                                    font-size: 15em;
                                    position: absolute;
                                    top: 0;
                                    left: -6px;
                                    height: 20px;
                                    line-height: 2px;
                                    height: 10px;
                                    width: 14px;
                                    overflow: hidden;
                                }
                            }
                        }
                    }

                    h2{
                        font-size: 1rem;
                        font-family:'Lato-Black', sans-serif;
                        line-height: 1.2;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        order: 2;
                        position: relative;

                        min-height: 60px;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        &:after{
                            content: "............";
                            color: #F7323F;
                            display: block;
                            margin: 0px auto 0 auto;
                            font-size: 24px;
                            letter-spacing: 2px;
                            height: 25px;
                            line-height: 5px;
                            margin-left: 0px;
                            width: 100%;
                        }
                    }
                    .pharagraph{
                        font-size: 13px;
                        overflow: hidden;
                        order: 3;
                        margin-bottom: 20px;
                        line-height: 1.4;
                    }
                    .link-more{
                        display: none;
                    }
                    >a{
                        order: -1;
                        figure{
                            width: 100%;
                            padding: 0;
                            margin: 0 auto;
                            position: relative;
                            overflow: hidden;
                            height: 100px;
                            border-radius: 4px;
                            img{
                                position: absolute;
                                top: 0;
                                left: 50%;
                                width: 100%;
                                height: 100px;
                                max-height: 100px;
                                max-width: 100%;
                                min-height: 140px;
                                min-width: 100%;
                                transform: translateX(-50%) scale(1);
                                object-fit: cover;
                            }
                        }
                    }
                    .comments{
                        order: 5;
                    }
                }

                &:nth-child(3n){
                    margin-right: 0;
                }
            }
        }
    }

    .main-banner.bgblogdetail{
        &:after{
            z-index: 2;
            content: '';
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
        article{
            h1{
                max-width: 550px;
                font-size: 2em;
            }
        }

        .avatar span{
            position: relative;
            top: -10px;
        }
        time{
            margin-left: 60px;
            position: relative;
            top: -20px;

        }
    }
    .avatar-person{
        align-items: center;
        bottom: 28px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 10px 10px 0px;
        position: absolute;
        width: 87%;
    }
    .avatar-person .avatar {
        width: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        order: 4;
        position: relative;
        padding: 10px 0px 10px 60px;
        margin-top: 10px;

        margin-top: 0px !important;
        width: 50% !important;
        span{
            order: 1;
            font-size: 12px;
            width: 100%;
        }
        figure{
            width: 45px;
            height: 45px;
            overflow: hidden;
            border-radius: 100%;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 0;
            border: 1px solid #f7323f;
            transform: translateY(-50%);
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    time{
        order: 6;
        font-size: 12px;
        margin-left: auto;
        width: 50% !important;
        align-self: center;
        text-align: right;

        text-align: right;
        width: 70px !important;
        display: flex;
        height: 16px;
        overflow: hidden;
    }

    .wrap-about{
        padding: 60px 0 80px 0;
        ul{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            li{
                width: 23.5%;
                margin-right: 2%;
                margin-bottom: -1px;
                margin-top: 20px;
                //width: 25%;
                //padding-right: 2%;
                .w-item{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    //overflow: hidden;
                    >*{
                        width: 100%;
                    }
                    .title{
                        background-color: #FFFFFF;
                        position: relative;
                        padding: 10px;
                        border: 1px solid #26C9D2;
                        h2{
                            font-size: 16px;
                            font-weight: 100;
                            font-family:'Lato-Black', sans-serif;
                            width: 90%;
                            padding-right: 50px;
                            i{
                                background: #0E76A8;
                                padding: 2px;
                                border-radius: 4px;
                                color:white;
                            }
                        }
                        span{
                            font-size: 13px;
                            font-family: 'Lato-Light', sans-serif;
                            color: #7A808D;
                            width: 100%;

                            @media screen and (max-width: 1366px){
                                padding-right: 0px;
                            }
                        }
                        button{
                            background-color: #26C9D2;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 30px;
                            height: 100%;
                            font-size: 0;
                            &:before, &:after{
                                content:'';
                                width: 14px;
                                height: 2px;
                                display: block;
                                background-color: #FFFFFF;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                opacity: 1;
                                z-index: 1;
                            }
                            &:before{
                                transform: translate(-50%, -50%) rotate(90deg);
                            }
                        }
                    }
                    figure{
                        order: -1;
                        width: 100%;
                        height: auto;
                        padding: 0;
                        margin: 0 auto 20px auto;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: auto;
                            transition: all .7s ease;
                        }
                    }



                    &:hover{
                        figure{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                &:nth-child(4n){
                    margin-right: 0px;
                }

                &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(12),&:nth-child(13),&:nth-child(14){
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: -1px;
                    margin-top: 0px;

                    height: 0px;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;

                    transition: all 800ms cubic-bezier(0.26, 1.48, 0.47, 0.96) 100ms;
                    .parragraph{
                        padding: 50px 30px;
                        border: 1px solid #26C9D2;
                        position: relative;
                        line-height: 1.6;
                        color: #7A808D;
                        text-align: left;
                        font-size: 14px;
                        span, b, strong{
                            font-weight: 100;
                            font-family:'Lato-Black', sans-serif;
                            color: #3F3B3B;
                        }
                        &:before{
                            content: '';
                            position: absolute;
                            top: -1px;
                            left: 0;
                            width: 23.5%;
                            height: 1px;
                            background-color: #FFFFFF;
                            display: block;
                            transition: all .3s ease;
                        }
                        &.p1, &.p5{
                            &:before{
                                left: 0;
                            }
                        }
                        &.p2, &.p6{
                            &:before{
                                left: 25.5%;
                            }
                        }
                        &.p3, &.p7{
                            &:before{
                                left: 51.1%;
                            }
                        }
                        &.p4, &.p8{
                            &:before{
                                left: 76.7%;
                            }
                        }
                    }

                    &.actived{
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &:nth-child(1){
                    order: 1;
                }
                &:nth-child(2){
                    order: 2;
                }
                &:nth-child(3){
                    order: 3;
                }
                &:nth-child(4){
                    order: 4;
                }
                &:nth-child(5){
                    order: 5;
                }
                &:nth-child(6){
                    order: 6;
                }
                &:nth-child(7){
                    order: 7;
                }
                &:nth-child(8){
                    order: 8;
                }
                &:nth-child(9){
                    order: 9;
                }
                &:nth-child(10){
                    order: 10;
                }
                &:nth-child(11){
                    order: 11;
                }
                &:nth-child(12){
                    order: 12;
                }
                &:nth-child(13){
                    order: 13;
                }
                &:nth-child(14){
                    order: 14;
                }
            }

            .active{
                .w-item{
                    .title{
                        button{
                            &:before{
                                transform: translate(-50%, -50%) rotate(130deg);
                            }
                            &:after{
                                transform: translate(-50%, -50%) rotate(50deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .w-faqs{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .tabs-lists{
            width: 40%;
            margin-top: 70px;
            li{
                margin-bottom: 20px;
                position: relative;
                padding-left: 20px;
                a{
                    padding: 0 0;
                    position: relative;
                }
                &.active{
                    a{
                        color: #26C9D2;
                        &:after{
                            content: '';
                            width: 6px;
                            height: 6px;
                            display: block;
                            border-radius: 100%;
                            background-color: #26C9D2;
                            position: absolute;
                            left: -10px;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 1;
                        }
                    }
                }
            }
        }
        .w-content-faqs{
            width: 60%;
            margin-bottom: 80px;
            article.content-tab{
                border-top: 2px solid #34465d;
                padding-top: 20px;
                margin-top: 40px;
                h2{
                    font-size: 30px;
                    margin-bottom: 20px;
                    line-height: 1;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #ccc;
                }
                .accordion{
                    padding: 0;
                    margin: 0;
                    dt{
                        color: #26C9D2;
                        font-size: 16px;
                        margin-bottom: 20px;
                        position: relative;
                        cursor: pointer;
                        &:after{
                            content: "\e93b";
                            @include icon();
                            font-size: 12px;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transition: all .3s ease;
                            transform: translateY(-50%);
                            opacity: 0.5;
                        }
                        &.activar{
                            &:after{
                                transform: translateY(-50%) rotate(180deg);
                                opacity: 1;
                            }
                        }
                    }
                    dd{
                        margin: 0 0 10px;
                        display: none;
                        p{
                            margin-bottom: 20px;
                            text-align: justify !important;
                        }
                    }
                }

                &#about{
                    border-top: 0;
                }
            }
        }
        &.sticky-faqs{
            .tabs-lists{
                position: fixed;
                top: 20px;
            }
            .w-content-faqs{
                width: 100%;
                padding-left: 40%;
            }
        }
    }
}
.main-banner .avatar{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-top: 0px;
    order: 4;
    padding: 10px 0px 10px 60px;
    position: relative;
    width: 50%;
}
.main-banner .avatar span {
    font-size: 12px;
    order: 1;
    position: relative;
    text-align: left;
    top: -10px;
    width: 100%;
}
.main-banner .avatar figure {
    border-radius: 100%;
    border: 1px solid #f7323f;
    height: 45px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
}
.main-banner .avatar figure img {
    height: auto;
    left: 50%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 101%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    width: 100%;
}
@media screen and (max-width: 1366px){

    .main-pe .w-list-news .list-news .item-news article h2{
        font-size: 16px;
    }

    .main-pe .wrap-about ul li .w-item .title h2{
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px){
    .main-pe .w-list-news .list-news .item-news article>a figure{
        height: 100px;
    }
    .main-pe .wrap-about ul li .w-item .title span{
        font-size: 14px;
    }

    .main-pe .wrap-about ul li{
        width: 32%;
        &:nth-child(3n){
            margin-right: 0px;
        }
        &:nth-child(4n){
            margin-right: 2%;
        }

        &:nth-child(5){
            order: 4;
        }
        &:nth-child(6){
            order: 5;
        }
        &:nth-child(7){
            order: 6;
        }
        &:nth-child(8){
            order: 10;
        }
        &:nth-child(9){
            order: 9;
            //
            margin-right: 2%;
        }
        &:nth-child(10){
            order: 9;
            //
            margin-right: 0px;
        }
        &:nth-child(4){
            order: 8;
        }
    }



    .main-pe{
        .wrap-about{
            ul{
                li{
                    .w-item{
                        .title{
                            padding: 5px;
                            height: 70px;
                            h2,span{
                                width: 100%;
                                padding-right: 0px;
                            }
                        }
                    }
                    &:nth-child(1){

                    }
                    &:nth-child(2){

                    }
                    &:nth-child(3){

                    }
                    &:nth-child(4){

                    }
                    &:nth-child(5){
                        .parragraph{
                            &:before{
                                left: 0;
                                width: 32%;
                            }
                        }
                    }
                    &:nth-child(6){
                        .parragraph{
                            &:before{
                                left: 34% !important;
                                width: 32%;
                            }
                        }
                    }
                    &:nth-child(7){
                        .parragraph{
                            &:before{
                                left: 68% !important;
                                width: 32%;
                            }
                        }
                    }
                    &:nth-child(8){
                        margin-right: 0px;
                        .parragraph{
                            &:before{
                                left: 0 !important;
                                width: 32% ;
                            }
                        }
                    }
                    &:nth-child(9){
                    }
                    &:nth-child(10){
                    }
                    &:nth-child(11){
                        .parragraph{
                            &:before{
                                left: 34% !important;
                                width: 32%;
                            }
                        }

                    }
                    &:nth-child(12){
                        margin-right: 0px;
                        .parragraph{
                            &:before{
                                left: 68% !important;
                                width: 32%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:960px){
    .main-pe .w-list-news .list-news .item-news {
        height: 424px !important;
    }
}
@media screen and (max-width: 960px){

    .main-pe .w-list-news .list-news .item-news{
        width: 48%;
        &:nth-child(2n){
            margin-right: 0;
        }
        &:nth-child(3n){
            margin-right: 2%;
        }
    }
}

@media screen and (max-width: 767px){

    .main-pe .w-list-news .list-news .item-news article>a figure img{
        max-height: 100px;
        min-height: 100px;
        height: 100px;
    }

    /*.main-banner img#bannerPrincipal{
        display: none !important;
    }*/
    .main-banner img#bannerResponsive{
        display: block;
    }

    .main-pe .main-banner.bgblogdetail article h1{
        font-size: 1em;
    }
    .main-arg, .main-pe{
        .sec-benefits{
            >article{
                padding: 0;
                h2{
                    span{
                        font-size: 26px;
                    }
                    &:after{
                        margin: 0px auto 30px auto;
                        font-size: 37px;
                        letter-spacing: 0;
                        height: 20px;
                        line-height: 0;
                        margin-left: 0px;
                    }
                }
                p{
                    flex-direction: column;
                    span{
                        height: 50px;
                        line-height: 50px;
                        i{
                            &:before{
                                line-height: 0;
                            }
                        }
                    }
                }
            }
        }

        .wrap-about{
            ul{
                li{
                    width: 49%;
                    .w-item{
                        .title{
                            height: 90px;
                            padding: 16px 10px;
                            h2, span{
                                padding-right: 0;
                                width: 100%;
                                font-size: 12px;
                            }
                            button{
                                position: absolute;
                                top: -45px;
                                right: 0px;
                                width: 40px;
                                height: 40px;
                                font-size: 0;
                                z-index: 1;
                            }
                        }
                        figure{
                            margin: 0 auto;
                        }
                    }
                    article{
                        &.parragraph{
                            padding: 20px 20px !important;
                        }
                    }

                    &:nth-child(3){
                        order: 5;
                    }
                    &:nth-child(4){
                        order: 7;
                        margin-right: 0 !important;
                    }

                    &:nth-child(5){
                        order: 3;
                        .parragraph{
                            &:before{
                                left: 0;
                                width: 49%;
                            }
                        }
                    }
                    &:nth-child(6){
                        order: 4;
                        margin-right: 0 !important;
                        .parragraph{
                            &:before{
                                left: 51% !important;
                                width: 49% !important;
                            }
                        }
                    }
                    &:nth-child(7){
                        order: 8;
                        .parragraph{
                            &:before{
                                width: 49% !important;
                                left: 0 !important;
                            }
                        }
                    }

                    &:nth-child(8){
                        order: 9;
                        margin-right: 0 !important;
                        .parragraph{
                            &:before{
                                left: 51% !important;
                                width: 49%;
                            }
                        }
                    }

                    &:nth-child(9){
                        order: 10;
                        order: 9;
                    }

                    &:nth-child(11){
                        .parragraph{
                            &:before{
                                left: 0 !important;
                                width: 49%;
                            }
                        }
                    }

                    &:nth-child(12){
                        margin-right: 0 !important;
                        order:9;
                        .parragraph{
                            &:before{
                                left: 0 !important;
                                width: 49% !important;
                            }
                        }
                    }
                    &:nth-child(13){
                        order: 9;
                        .parragraph {
                            &:before {
                                left: 51% !important;
                                width: 49%;
                            }
                        }
                    }
                    &:nth-child(14) {
                        .parragraph {
                            &:before {
                                left: 0 !important;
                                width: 49% !important;
                            }
                        }
                    }


                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    &:nth-child(3n){
                        margin-right: 2%;
                    }
                    &:nth-child(4n){
                        margin-right: 2%;
                    }
                }
            }
        }
    }

    .main-pe{
        .w-faqs{
            flex-direction: column;
            .tabs-lists{
                position: relative;
                top: 0;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                li{
                    width: 50%;
                    margin-bottom: 10px;
                    a{
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }
            }
            .w-content-faqs{
                padding-left: 0 !important;
                width: 100%;
            }

            &.sticky-faqs{
                .tabs-lists{
                    top: -10px;
                    background-color: #fff;
                    z-index: 2;
                    padding-top: 10px;
                    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.57);
                    left: 0;
                    padding: 10px 2% 5px 2%;
                    li{
                        margin-bottom: 10px;
                    }
                }
                .w-content-faqs{
                    padding-top: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 640px){
    .main-pe .w-list-news .list-news .item-news{
        width: 100%;
        margin-right: 0;
        &:nth-child(2n),&:nth-child(3n){
            margin-right: 0;
        }
    }
    .main-arg .wrap-about ul li article.parragraph,
    .main-pe .wrap-about ul li article.parragraph{
        font-size: 12px;
    }
}

@media screen and (max-height: 768px){

    /**/


    /**/
    .main-arg .main-banner article h1, .main-pe .main-banner article h1{
        margin-top: 100px;
        font-size: 32px;
    }
    .main-banner.main-adelanto-sueldo article h1{
        max-width: 380px !important;
    }

    .main-banner{
        &.bgbanner-inner{
            article{
                h1{
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .main-arg .main-banner article h1, .main-pe .main-banner article h1{
        margin-top: 0px;
    }
    .main-arg .main-banner article h1, .main-pe .main-banner article h1{
        font-size: 20px;
    }
}


///******/////


.main-arg{
    >iframe{
        display: none;
    }
}



.button{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    &:hover{
        box-shadow: 0 0.5rem 0.975rem 0 rgba(0,0,0,0.25);
    }
}


.w-list-news{
    display: flex;
    flex-wrap: wrap;

    max-width: 1200px;
    width: 90%;
    margin: 1rem auto 0 auto;
    padding: 0 !important;

    .breadcrumbs{
        order: -1;
        width: 100%;
        margin-bottom: 1.2rem;
        li{
            display: inline-block;
            position: relative;
            margin-right: 20px;
            a{
                right: -16px;
            }
            &:after{
                content: '>';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -16px;
            }
            &:last-child{
                margin-right: 0;
                &:after{
                    display: none;
                }
            }
        }
    }


    ul{
        &.list-news{
            width: 72%;
            padding-top: 0 !important;
            order: 1;
        }
    }

    /*This module es for all aside*/
    .search{
        width: 28%;
        order: 2;

        padding-left: 2rem;


        h2{
            font-size: 1.1rem;
            font-family: "Lato-Black",sans-serif;
            margin-bottom: 14px;
        }

        .m-search{
            width: 100%;
            display: table;

            .wsearch{
                width: 100%;
                display: flex;
                input{
                    width: calc(100% - 45px);
                    width: -webkit-calc(100% - 45px);
                    border: 2px solid #D6D8DD;
                    color: #34465d;
                    border-radius: 4px;
                    margin-right: 5px;
                    padding: 5px 10px;
                    &:focus{
                        border-color: #26CAD3;
                    }
                }
                .btnSearch{
                    background-color: #F7323F;
                    min-width: 30px;
                    padding: 0;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    svg{
                        width: 20px;
                        height: 20px;
                        fill: #FFF;
                    }
                }
            }
        }

        .m-search, .recent-post{
            border: 1px solid #d8d8d8;
            padding: 20px 20px;
            margin-bottom: 1rem;
        }

        .recent-post{
            ul{
                li{
                    font-size: .85rem;
                    line-height: 1.2;
                    margin-bottom: 1rem;
                }
            }
        }

    }
    .nav-pagination{
        width: 100%;
        order: 3;
    }
}

.main-pe{
    .w-news{
        .list-news{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 0;
            padding-top: 60px;
            padding-bottom: 2em;
            width: 100%;
            >li{
                padding-left: 4px;
                width: 32%;
                margin-right: 2%;
                margin-bottom: 2rem;
                .wrap{
                    background-color: #FFFFFF;
                    border: 1px solid #eaeaea;
                    padding: 20px 40px;
                    border-radius: 4px;
                    margin-bottom: 0;
                    box-shadow: 3px 3px 16px rgba(0,0,0,0.1);
                    text-align: justify;
                    display: flex;
                    flex-direction: column;
                }
                figure{
                    //position: relative;
                    height: 110px;
                    padding: 0;
                    margin: auto;
                    text-align: center;
                    a,img{
                        width: 100%;
                        max-width: 200px;
                        //width: 100%;
                        //position: absolute;
                        //top: 50%;
                        //left: 50%;
                        //transform: translate(-50%,-50%);
                        //max-width: 200px;
                        //max-width: 150px;
                        //max-height: 81px;
                    }
                }
                h2{
                    font-size: 1rem;
                    font-family: "Lato-Black",sans-serif;
                    line-height: 1.2;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    position: relative;
                    min-height: 60px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }
                .paragraph{
                    font-size: 13px;
                    overflow: hidden;
                    margin-top: 0;
                    margin-bottom: 20px;
                    line-height: 1.4;
                    width: 100%;
                }
                .bt{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: auto;
                    order: 5;
                    span,a{
                        font-size: 13px;
                    }
                    a{
                        text-decoration: underline;
                        font-family: "Lato-Black",sans-serif;
                    }
                }
                article{
                    display: flex;
                    flex-wrap: wrap;
                    min-height: 240px;
                }

                &:nth-child(3n){
                    margin-right: 0;
                }
            }
        }
    }
}



@media screen and (max-height: 768px) and (max-width: 1366px){
    .main-pe, .main-arg{
        .main-banner.bgbanner-inner{
            height: 410px;
            min-height: 410px;
            article{
                h1{
                    font-size: 23px; 
                }
            }
        }
    }
}

@media screen and (max-width: 960px){
    .w-list-news{
        position: relative; 
        .search{
            width: 100%;
            padding-left: 0;
            .m-search{
                position: absolute;
                top: 40px;
                left: 0;
                right: 0;
            }
        }
        .list-news{
            width: 100% !important;
        } 
        .breadcrumbs{
            //margin-bottom:160px;
            margin-bottom: 20px; 
        }
        &.w-news{
            .breadcrumbs{
                margin-bottom: 20px;
            }
        }
    }
    .main-pe .w-news .list-news>li .wrap{
        padding: 20px;
    }
}

@media screen and (max-width: 840px){
    .main-pe .w-news .list-news>li{
        width: 48%;
        &:nth-child(3n){
            margin-right: 2%;
        }
        &:nth-child(2n){
            margin-right: 0;
        }
    }
}




@media screen and (max-height: 500px){
    .menu-responsive ul {
         margin-top: 90px;
    }
}

@media screen and (max-width: 540px){
    .main-pe .w-news .list-news>li{
        width: 100%;

        &:nth-child(3n){
            margin-right: 0;
        }
    }
}

@media screen and (max-height: 493px){
    .menu-responsive li.hidden{
        position: static;
    }

}
