body{
	&.main-pe{
		main{
			&.main-banner{
				&.main-adelanto-sueldo{
					&.main-credito-consumo{
						&.main-credito-vehicular{
							article{
								h1{
									max-width: 700px!important;
								}
								p{
									max-width: 580px!important;
								}
							}
						}
					}
				}
			}
		}
		.sec-benefits.carFinancing{
			.list-steps{
				li{
					article{
						min-height: 210px;
					}
				}
			}
		}
	}
}
