@import "../variables/variables.scss";
@import "../generals/reset.scss";
@import "../generals/general.scss";


#header,
header {
  left: 0;
  overflow: inherit;
  overflow: visible;
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 20;
}

#logoSolvenResponsive {
  display: none;
}

.page-inner {
  font: normal 14px/1.4 "Lato-Regular", sans-serif !important;
}

.page-inner .tyc-tos {
  margin-bottom: 4rem;
  margin-top: 80px;
  text-align: justify;
}

.page-inner .tyc-tos h1 {
  font-size: 1.25rem;
  margin-bottom: 2em;
  text-align: center;
}

.page-inner .tyc-tos p {
  line-height: 1.3em;
}

.page-inner .tyc-tos ol {
  list-style-type: decimal;
  margin-bottom: 10px;
  padding: 0 1em;
}

.page-inner .tyc-tos ol li {
  display: list-item;
  list-style-type: decimal;
  text-align: -webkit-match-parent;
}

.page-inner .tyc-tos .static-subtitle {
  font-size: 18px;
  margin: 2em 0 0.5em 0;
}

footer .gwr {
  align-items: center !important;
}

footer .list-menu {
  align-content: center;
  align-items: center;
  flex-direction: unset !important;
  justify-content: space-around;
}

footer .footer-altoquer .gwr .list-menu {
  width: 100%;
}

footer .gwr.footer-down ul {
  justify-content: center !important;
}

@media only screen and (min-width: 1024px) {
  .footer-altoque .gwr ul {
    width: auto !important;
  }

  .footer-altoque .gwr .list-menu {
    flex: 1;
  }
}

@media only screen and (min-width: 886px) {
  footer .gwr {
    align-items: center !important;
  }

  .list-menu {
    align-content: center;
    align-items: center;
    flex-direction: unset !important;
    justify-content: space-around;
  }

  .footer-altoquer .gwr .list-menu {
    width: 100%;
  }

  footer .gwr.footer-down ul {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 600px) {
  header #logoSolven {
    width: 106px !important;
  }
}
