<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/landingTemplate">
<head>
    <title>Solven | El crédito que merecés</title>
    <link rel="alternate" href="https://www.solven.pe/" hreflang="es" />
    <link rel="alternate" href="https://www.solven.pe/" hreflang="es-pe" />
    <link rel="alternate" href="https://www.solven.com.ar/" hreflang="es-ar" />
    <link rel="alternate" href="https://www.solven.pe/" hreflang="x-default" />
</head>
<body class="main-arg">
<th:block layout:fragment="content">
    <main id="main" class="main-banner toload  main-adelanto-sueldo main-credito-consumo">
        <article  th:with="
            consumoCategoryCountry=${@productService.getProductCategoryCountry(T(com.affirm.common.model.catalog.ProductCategory).CONSUMO, @countryContextService.getCountryParamsByRequest(#httpServletRequest).getId())}">
            <h1 class="animated" th:utext="#{static.landing.home.heroTitle}"></h1>
            <p class="animated" th:text="#{static.landing.personalLoan.heroPharagraph}"></p>
            <div style="display: none">
                <h1><strong>Crédito en línea</strong></h1>
                <h2><strong>Préstamo en línea</strong></h2>
            </div>
            <!--div class="actions">
                <a th:href="${consumoCategoryCountry.active} ? @{/__${T(com.affirm.common.model.catalog.ProductCategory).CONSUMO_CATEGORY_URL}__/evaluacion} : 'javascript:;'" class="g-btn bg-red" th:classappend="${consumoCategoryCountry?.active ? '' : 'sooner'}" th:text="#{button.applyHere}"></a>
            </div-->
        </article>
        <ul class="list-benefits">
            <li><span th:text="'Desde ' + ${@utilService.integerMoneyFormat(5000, 'AR', true)} + ' a ' + ${@utilService.integerMoneyFormat(50000, 'AR', true)}"></span></li>
            <li><span th:text="'TNA de ' + ${@utilService.percentFormat(60.00, 'AR')} + ' a ' + ${@utilService.percentFormat(150.00, 'AR')}"></span></li>
            <li><span>De 12 a 24 cuotas</span></li>
            <li><span>Sin costos ocultos</span></li>
        </ul>
        <img id="bannerPrincipal" th:attr="data-src=@{img/bghomeargentina.jpg}" alt="" class="lazy"/>
        <button id="down" class="icon-bottom">Abajo</button>
    </main>
    <section class="sec-press toload gwr">
        <ul class="slider-press owl-carousel " id="slidePress">
            <li th:each="noticia,stat : ${news}" th:unless="${stat.index >= 4}">
                <a th:href="${noticia?.link}" target="_blank" rel="noopener noreferrer">
                    <img th:attr="data-src=@{'https://s3.amazonaws.com/solven-public/img/' + ${noticia?.logo}}"
                         class="owl-lazy lazy" th:alt="${noticia?.pressMedium}" th:title="${noticia.getDateFormatted(#locale)}" />
                </a>
            </li>
        </ul>
        <a th:href="@{/noticias}" class="view vflex" title="Ver más noticias" >
            <span></span>
            <span class="wsi">
                <svg version="1.1" id="viewmore" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="36px" height="36px" viewBox="0 0 438.533 438.533" style="enable-background:new 0 0 438.533 438.533;"
                 xml:space="preserve">
                    <g>
                        <path d="M409.133,109.203c-19.608-33.592-46.205-60.189-79.798-79.796C295.736,9.801,259.058,0,219.273,0
                            c-39.781,0-76.47,9.801-110.063,29.407c-33.595,19.604-60.192,46.201-79.8,79.796C9.801,142.8,0,179.489,0,219.267
                            c0,39.78,9.804,76.463,29.407,110.062c19.607,33.592,46.204,60.189,79.799,79.798c33.597,19.605,70.283,29.407,110.063,29.407
                            s76.47-9.802,110.065-29.407c33.593-19.602,60.189-46.206,79.795-79.798c19.603-33.596,29.403-70.284,29.403-110.062
                            C438.533,179.485,428.732,142.795,409.133,109.203z M334.332,232.111L204.71,361.736c-3.617,3.613-7.896,5.428-12.847,5.428
                            c-4.952,0-9.235-1.814-12.85-5.428l-29.121-29.13c-3.617-3.613-5.426-7.898-5.426-12.847c0-4.941,1.809-9.232,5.426-12.847
                            l87.653-87.646l-87.657-87.65c-3.617-3.612-5.426-7.898-5.426-12.845c0-4.949,1.809-9.231,5.426-12.847l29.121-29.13
                            c3.619-3.615,7.898-5.424,12.85-5.424c4.95,0,9.233,1.809,12.85,5.424l129.622,129.621c3.613,3.614,5.42,7.898,5.42,12.847
                            C339.752,224.213,337.945,228.498,334.332,232.111z"/>
                    </g>
                </svg>
            </span>
        </a>
    </section>
    <section class="sec-benefits toload">
        <article>
            <h2 th:utext="#{static.landing.home.stepTitle}"></h2>
            <p th:utext="#{static.landing.home.stepSpan}"></p>
            <img class="lazy solven01" data-src="img/solven-05.jpg" alt="Solven"/>
            <img class="lazy solven02" data-src="img/solven-04.jpg" alt="Solven"/>
        </article>
        <ul class="list-steps">
            <li>
                <article>
                    <h3 th:text="#{static.landing.home.step1}"></h3>
                    <p th:text="#{static.landing.home.step1.desc}"></p>
                    <span class="steps icon-step-1">1</span>
                </article>
            </li>
            <li>
                <article>
                    <h3 th:text="#{static.landing.home.step2}"></h3>
                    <p th:text="#{static.landing.home.step2.desc}"></p>
                    <span class="steps icon-step-2">2</span>
                </article>
            </li>
            <li>
                <article>
                    <h3 th:text="#{static.landing.home.step3}"></h3>
                    <p th:text="#{static.landing.home.step3.desc}"></p>
                    <span class="steps icon-step-3">3</span>
                </article>
            </li>
            <img class="lazy solven03" data-src="/img/solven-03.png" alt="Solven"/>
        </ul>
    </section>
    <div class="sec-entities toload">
        <div class="gwr">
            <h3>Ellos trabajan con nosotros</h3>
            <ul>
                <li><a href="http://www.abaco.com.pe/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/abaco.png" alt="" /></a></li>
                <li><a href="https://acceso.com.pe/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/acceso.png" alt="" /></a></li>
                <li><a href="http://www.bancoripley.com.pe/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/ripley/logo/solven_banco_ripley.png" alt="" /></a></li>
                <li><a href="http://cajarurallosandes.com/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/cajalosandes.png" alt="" /></a></li>
                <li><a href="http://www.cajasullana.pe/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/cajasullana.png" alt="" /></a></li>
                <li><a href="https://www.compartamos.com.pe" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/compartamos.png" alt="" /></a></li>
                <li><a href="https://www.efectiva.com.pe/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/efectiva.png" alt="" /></a></li>
                <li><a href="https://www.eflglobal.com/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/efl.png" alt="" /></a></li>
                <li><a href="http://www.qapaq.pe/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/qapaq.png" alt="" /></a></li>
                <li><a href="http://www.multifinanzas.com.ar/" target="_blank"><img class="lazy" data-src="https://s3.amazonaws.com/solven-public/img/solven/entities/trasatlantica.png" alt="" /></a></li>
            </ul>
            <img class="lazy solven01" data-src="/img/solven-05.jpg" />
            <img class="lazy solven02" data-src="/img/solven-03.png" />
        </div>
    </div>
    <section class="sec-youneedhelp toload">
        <div class="gwr">
            <article>
                <span class="h2" th:text="#{static.landing.home.needHelp}"></span>
                <p th:text="#{static.landing.home.stepSpan2}"><span th:text="#{static.landing.home.stepSpan3}"></span></p>
                <span th:text="#{static.landing.home.askAnything}" class="info-message"></span>
                <a th:href="@{/centro-de-ayuda}" class="g-btn bg-skyeblue">Centro de ayuda</a>
            </article>
            <img data-src="img/ahorro-solven.jpg" class="lazy" alt="Ahorro Solven"/>
        </div>
        <div class="locate"><span class="gwr flags arg">AR</span></div>
    </section>
</th:block>
</body>
</html>