<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/landingTemplate">
<head>
    <title th:text="#{static.title.credito.consumo}"></title>
    <meta name="description" th:attr="content=#{static.description.credito.consumo}"/>
    <link rel="alternate" href="https://www.solven.pe/credito-de-consumo" hreflang="es"/>
    <link rel="alternate" href="https://www.solven.pe/credito-de-consumo" hreflang="es-pe"/>
    <link rel="alternate" href="https://www.solven.com.ar/credito-de-consumo" hreflang="es-ar"/>
    <link rel="alternate" href="https://www.solven.pe/credito-de-consumo" hreflang="x-default"/>

    <style>
        header .box-trans{
            display: none;
        }
        header .gwr nav {
            display: none !important;
        }
        body.credito-consumo.rm main.main-banner .form-container{
            margin-right: 50px;
        }
        @media screen and (max-width: 767px){
            .main-pe.credito-consumo.rm #main.main-banner {
                background: linear-gradient(to left, #f9344e 0%, #7b4482 55%);
            }
        }
        #main h1::after {
            content: unset;
        }

        .main-banner article div p {
            font-size: 15px;
        }
        @media only screen and (min-width: 549px){
            .sweet-alert {
                padding-top: 30px;
                padding-bottom: 30px !important;
            }
        }

        @media only screen and (max-width: 548px) and (min-width: 320px){
            .sweet-alert {
                width: auto;
                height: auto;
            }
        }
        @media only screen and (min-width: 1368px) {
            .main-banner article div p {
                font-size: 24px;
            }
        }

        @media only screen and (min-width: 749px) and (max-width: 1367px) {
            .main-banner article div p {
                font-size: 20px;
            }
        }
    </style>
</head>
<body th:class="${@countryContextService.isCountryContextInArgentina(#httpServletRequest) ? 'main-pe credito-consumo main-arg rm' : 'main-pe credito-consumo rm'}">

<th:block layout:fragment="content">
    <main id="main" class="main-banner main-banner-product toload  main-adelanto-sueldo main-credito-consumo">
        <article class="flex">
            <div>
                <h1 th:utext="#{static.rmk.title}"></h1>
                <p>Completa la informaci&oacute;n para solicitarlo.</p>
            </div>

            <th:block th:if="${@countryContextService.isCountryContextInPeru(#httpServletRequest)}">
                <div class="form-container cbo-saca-credito">
                    <form id="frmRemarketing" class="block white form form-producto" autocomplete="off">
                        <!-- <h2 th:utext="#{static.rmk.form.title}"></h2> -->
                        <div class="wrap">
                            <div class="w-date">
                                <div class="w-doc">
                                    <div class="field">
                                        <div class="flex">
                                            <select name="docType" id="docType" class="select2">
                                                    <option value="1">DNI</option>
                                                    <option value="2">CE</option>
                                                </select>
                                            <input type="text" class="input-landing document-input-landing"
                                            id="documentNumber" name="documentNumber" placeholder="N&uacute;mero"/>
                                        </div>
                                        
                                        <div class="errorContainer"></div>         
                                    </div>
                                    <script>
                                        
                                       
                                        
                                        //$('.errorContainer').show()
                                    </script>
                                </div>
                                <div class="w-email">
                                    <div class="field inline">
                                        <input type="text" id="email" name="email" class="input-landing"
                                               placeholder="Correo electr&oacute;nico" autocorrect="off"
                                               autocapitalize="none"/>
                                        <div class="errorContainer"></div>       
                                    </div>
                                </div>
                            </div>
                            <div class="w-date">
                                <div class="w-phonenumber">
                                    <div class="field inline">
                                        <input type="text" id="phone" name="phone" class="input-landing"
                                               placeholder="Teléfono" autocorrect="off" autocapitalize="none"/>
                                        <div class="errorContainer"></div>
                           
                                    </div>
                                </div>
                                <div class="w-btn field">
                                    <button id="btnRemarketing" type="button" class="button bg-red button-landing"
                                            data-target="#frmRemarketing">Ingresar
                                    </button>
                                </div>
                            </div>
                            <div class="w-date">
                                <div class="field c-full f f-ww">
                                    <input type="checkbox" id="acceptAgreement" name="acceptAgreement" aria-required="true"/>
                                    <label for="acceptAgreement" class="icon-checkbox acceptAgreement">
                                        <span class="check-label">He leído, comprendo y acepto los <a target="_blank" th:href="@{/terminos-y-condiciones}">Términos y Condiciones</a> y <a target="_blank" th:href="@{/politica-de-privacidad}">Política de Privacidad</a></span>
                                    </label>
                                    <div class="errorContainer"></div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </form>
                </div>
            </th:block>
            <th:block th:if="${@countryContextService.isCountryContextInArgentina(#httpServletRequest)}">
                <div class="form-container">
                    <form class="block form" id="frmRemarketing" autocomplete="off">
                        <div class="wrap">
                            <div class="w-doc">
                                <div class="field inline">
                                    <input type="text" class="input-landing document-input-landing"
                                           id="documentNumber" name="documentNumber"
                                           placeholder="Número de CUIT / CUIL / CDI"/>
                                </div>
                            </div>
                            <div class="w-email">
                                <div class="field inline">
                                    <input type="text" id="email" name="email" class="input-landing"
                                           placeholder="Correo electr&oacute;nico" autocorrect="off"
                                           autocapitalize="none"/>
                                </div>
                            </div>
                            <div class="w-phonenumber">
                                <div class="field inline">
                                    <input type="text" id="code" name="code" class="input-landing"
                                           placeholder="Código" autocorrect="off" autocapitalize="none" size="4"/>
                                </div>
                                <div class="field inline">
                                    <input type="text" id="phone" name="phone" class="input-landing"
                                           placeholder="Teléfono" autocorrect="off" autocapitalize="none"/>
                                </div>
                            </div>
                        </div>
                        <div class="errorContainer">
                        </div>
                        <div class="field inline w-btn">
                            <button id="btnRemarketing" type="button" class="button bg-red button-landing"
                                    data-target="#frmRemarketing">Ingresar
                            </button>
                        </div>
                    </form>
                </div>
            </th:block>
        </article>

        <ul class="list-benefits">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <img id="bannerPrincipal"
             th:attr="data-src=@{https://s3.amazonaws.com/solven-public/img/solven/remarketing/bg-remarketing.jpg}"
             alt="" class="lazy"/>
    </main>
</th:block>

<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        (function () {
            window.addEventListener('load', function () {
                var validator = /*[[${form.validator.toJson(#locale)}]]*/null;
                if (validator != null) {
                    var jsonValidator = JSON.parse(validator);
                    $('#frmRemarketing').validateForm(createFormValidationJson(jsonValidator, $('#frmRemarketing')));
                }
                $('#docType').doOnce(function () {
                    $('#docType').select2({
                        minimumResultsForSearch: -1,
                        width: '80px'
                    });
                });
                $('#docType').on('change', function () {
                    $('#documentNumber').val('');
                    if ($(this).val() == 2) {
                        $('#frmRemarketing').data('validatorJson').rules.documentNumber.maxlength = 9;
                    } else {
                        $('#frmRemarketing').data('validatorJson').rules.documentNumber.maxlength = 8;
                    }
                    $('#frmRemarketing').validateForm($('#frmRemarketing').data('validatorJson'));
                    $('#frmRemarketing').data('validator').resetForm();
                });

                $('#btnRemarketing').click(function (event) {
                    event.preventDefault();
                    if ($('#frmRemarketing').valid()) {
                        $('#btnRemarketing').loading();
                        defaultAjax({
                            url: /*[[@{/productos-para-ti}]]*/,
                            type: 'POST',
                            formValidation: $('#frmRemarketing').data('validator'),
                            data: $.extend($('#frmRemarketing').serializeObject(), {
                                source: readCookie("utm_source"),
                                medium: readCookie("utm_medium"),
                                campaign: readCookie("utm_campaign"),
                                term: readCookie("utm_term"),
                                content: readCookie("utm_content"),
                                gclid: readCookie('gclid'),
                                gaClientID: localStorage.getItem('ga:clientId'),
                                // externalParams: externalParams
                            }),
                            success: function (data) {
                            },
                            error: function (xhr, errorJson) {
                                $('#btnRemarketing').unloading();
                            }
                        });
                    }
                });

                function readCookie(name) {
                    var n = name + "=";
                    var cookie = document.cookie.split(';');
                    for(var i=0;i < cookie.length;i++) {
                        var c = cookie[i];
                        while (c.charAt(0)==' '){c = c.substring(1,c.length);}
                        if (c.indexOf(n) == 0){return c.substring(n.length,c.length);}
                    }
                    return null;
                }

                $('#frmRemarketing').find(".field input[type='text']").on('keyup', function (event) {
                    if (event.keyCode === 13) {
                        if ($('#frmRemarketing').valid()) {
                            $("#btnRemarketing").click();
                        }
                        event.preventDefault();
                        return false;
                    }
                });

                var countryIsArgentina = /*[[ ${@countryContextService.isCountryContextInArgentina(#httpServletRequest)} ]]*/;
                console.log(countryIsArgentina);
                if(countryIsArgentina){
                    $('#phone').mask('000-#');

                    var staticPhoneNumberMaxlength = $('#frmRemarketing').data('validatorJson').rules.phone.maxlength;
                    $('body').on('keyup', '#code', function () {
                        $('#frmRemarketing').data('validatorJson').rules.phone.maxlength = staticPhoneNumberMaxlength - $(this).val().length;
                        $('#frmRemarketing').data('validatorJson').rules.phone.minlength = staticPhoneNumberMaxlength - $(this).val().length;
                        $('#frmRemarketing').validateForm($('#frmRemarketing').data('validatorJson'));
                        $('#frmRemarketing').data('validator').resetForm();
                    });

                    $('body').on('keyup', '#code', function () {
                        var actualCodeLength = $(this).val().length;
                        if (actualCodeLength == 2) {
                            $('#phone').mask('0000-#');
                        } else if (actualCodeLength > 2) {
                            $('#phone').mask('000-#');
                        }
                    });
                }
                $('.w-doc #documentNumber').keydown(function(){
                    if($(".w-doc #documentNumber").val().length == 8){
                        console.log('tentro')
                        $('.w-doc .flex').removeClass('has-error field-error');
                     }
                })
                
                $('#btnRemarketing').on('click',function(){
                    var vacio =  $(".w-doc #documentNumber").val();
                    if(vacio == ""){
                        $('.w-doc .flex').addClass('has-error field-error');
                    }
                    else if(vacio.length == 8){
                        $('.w-doc .flex').removeClass('has-error field-error'); 
                    }
                    else {
                        $('.w-doc .flex').removeClass('has-error field-error'); 
                       
                    }
                })
            });
        })();
        /*]]>*/
    </script>
</th:block>
<div class="modal" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="helpModal">
    <div class="modal-dialog" role="confirmation">
        <div class="modal-content">
            <div class="modal-top">
                <div class="title-wrap">
                    <h4 class="title-modal" th:text="#{modal.confirmationCode.title}"></h4>
                </div>
                <div class="corner-close">
                    <button class="icon icon-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-middle">
                <div class="block-content">
                    <p th:text="#{modal.confirmationCode.subTitle}"></p>
                    <form action="">
                        <div class="field inline">
                            <small class="input-help">C&oacute;digo de confirmaci&oacute;n</small>
                            <input type="text" class="input-outline" id="cofirmCodePromo"/>
                        </div>
                        <div class="field inline">
                            <small class="input-help">&nbsp;</small>
                            <button type="button" class="button bg-red" th:text="#{button.confirm}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay"></div>
</div>

<script th:inline="javascript" async="async">
    /*<![CDATA[*/
    (function () {

        $('#cofirmCodePromo').forceLettersOnly('', true, 10, 10);
        var confimationButtonModal = $('#confirmation-button'),
            confirmationModal = $('#confirmation-modal');
        confimationButtonModal.doOnce(function () {
            confimationButtonModal.on('click', function (e) {
                e.preventDefault();

            });
        });

        var validator = /*[[${contactForm.validator.toJson(#locale)}]]*/null;
        if (validator != null) {
            var jsonValidator = JSON.parse(validator);
            $('#contactForm').validateForm(createFormValidationJson(jsonValidator, $('#contactForm')));
        }
        $('#sendMessage').on('click', function (event) {
            event.preventDefault();
            validate();
        });

        function validate() {
            if ($('#contactForm').valid()) {
                grecaptcha.reset();
                grecaptcha.execute();
            }
        }

        function submit() {
            $('#sendMessage').loading('', 2);
            defaultAjax({
                url: /*[[@{/contact}]]*/,
                type: 'POST',
                formValidation: $('#contactForm').data('validator'),
                data: $('#contactForm').serializeObject(),
                success: function (data) {
                    $('#sendMessage').unloading();
                    $('#contactForm').data('validator').resetForm();
                    $('#contactForm')[0].reset();
                    $('#response-block').html(successAjaxMessage('Gracias, te responderemos a la brevedad.'));
                },
                error: function () {
                    $('#sendMessage').unloading();
                }
            });
        }
    }());
    /*]]>*/
</script>
</body>
</html>