<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/mainTemplate">
<head>
    <meta name="google-signin-client_id"
          content="924456504633-fqil6q45rhop0up2v2kkbtspef2it08j.apps.googleusercontent.com"/>
    <!--Jquery Validation-->
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/jquery.validate.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/additional-methods.min.js'}"></script>

    <!--Typedjs-->
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/typedjs/typed.min.js'}"></script>
    <!--hellojs-->
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/hello.js/hello.all.min.js'}"></script>

    <!--StandoutMe-->
    <link rel="stylesheet" th:href="${@urlService.externalUrl(#httpServletRequest) + '/standoutme/css/standoutme.min.css'}"/>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/standoutme/js/standoutme.min.js'}"></script>

    <!-- noUiSlider -->
    <link rel="stylesheet" th:href="${@urlService.externalUrl(#httpServletRequest) + '/noUiSlider/nouislider.min.css'}"/>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/noUiSlider/nouislider.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/wnumb-1.0.2/wNumb.js'}"></script>

    <!--Oauthy-->
    <script th:src="@{/js/Oauthy.js}"></script>

    <!--Own-->
    <script th:src="@{/js/facebookIntegration.js}"></script>
    <script th:src="@{/js/HumanForm.js}"></script>
    <script th:src="@{/js/write.js}"></script>
    <script th:src="@{/js/loading.js}"></script>

    <script th:inline="javascript" charset="ISO-8859-1">
        /*<![CDATA[*/

        var block;
        var writeOnFinishDelay = 750;

        $(document).ready(function () {
//            $.material.init({
//                validate: false
//            });

            showNextBlock();
        });

        //TODO Mostrar un error mas humano que el por defecto
        function showNextBlock() {
            $('#loadingContainer').initLoading();
            defaultAjax({
                url: /*[[@{/__${productUrl}__/__${loanAplicationToken}__/form/block}]]*/null,
                type: 'GET',
                data: {},
                success: function (data) {
                    $('#loadingContainer').stopLoading();
                    try {
                        block = new HumanFormBlock(data);
                        block.init();
                        console.log('Percent: ' + block.percentage);

                        // Barra desktop
                        $('.humanProgress-container .counter').html(block.percentage + '%');
                        $('.humanProgress-container .fillBar-inner').css('transform', 'translateY(-' + (100 - block.percentage) + '%)');
                        $('.humanProgress-container .count-progress').css('top', block.percentage + '%');
//                        $('.humanProgress-container .fillBar-inner').css('transform', 'translateY(-)');

                        // Barra Mobile
                        $('.humanProgress-container-mobile .counter').html(block.percentage + '%');
                        $('.humanProgress-container-mobile .fillBar-inner').css('width', block.percentage + '%');
                        $('.humanProgress-container-mobile .count-progress').css('left', block.percentage + '%');
                    } catch (e) {
                        console.log(e);
                    }
                }
            });
        }

        /*]]>*/
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var updModalLoanProductId =
        /*[[ ${loanApplicationUpdateAmountForm.updModalLoanProductId} ]]*/
        var jsonUpdModalFormValidation;
        var jsonProductTraditional = {
            maxValue: /*[[ ${@catalogService.getProduct(T(com.affirm.common.model.catalog.Product).TRADITIONAL).getMaxAmount()} ]]*/,
            minValue: /*[[ ${@catalogService.getProduct(T(com.affirm.common.model.catalog.Product).TRADITIONAL).getMinAmount()} ]]*/
        };
        var jsonProductShortTerms = {
            maxValue: /*[[ ${shortTermUpdateParams?.maxAmount} ]]*/,
            minValue: /*[[ ${shortTermUpdateParams?.minAmount} ]]*/,
            maxInstallments: /*[[ ${shortTermUpdateParams?.maxInstallments} ]]*/,
            minInstallments: /*[[ ${shortTermUpdateParams?.minInstallments} ]]*/
        };
        var productAdelantoId = /*[[ ${T(com.affirm.common.model.catalog.Product).SHORT_TERM} ]]*/

                $(document).ready(function () {

//            var updModalValidator = /*[[${loanApplicationUpdateAmountForm.validator.toJson(#locale)}]]*/null;
//            if (updModalValidator != null) {
//                var jsonValidator = JSON.parse(updModalValidator);
//                jsonUpdModalFormValidation = createFormValidationJson(jsonValidator, $('#frmUpdateLoanApplication'));
//                $('#frmUpdateLoanApplication').validateForm(jsonUpdModalFormValidation);

                    var s = /*[[${loanApplication?.product.paymentType.singularName}]]*/,
                        p = /*[[${loanApplication?.product.paymentType.pluralName}]]*/;


                    $('#privateMonthSection').css({'display': 'block'});

                    // Amount
                    var amountSlider = document.getElementById('updModalLoanAmmount-slider'),
                            amountInput = document.getElementById('updModalLoanAmmount-input'),
                            amountLabel = document.getElementById('updModalLoanAmmount-label');

                    noUiSlider.create(amountSlider, {
                        start: 5000,
                        step: 100,
                        connect: 'lower',
                        range: {
                            'min': /*[[${loanApplication.product.minAmount}]]*/,
                            'max': /*[[${loanApplication.product.maxAmount}]]*/
                        },
                        format: wNumb({
                            decimals: 0,
                            thousand: ' ',
                            prefix: 'S/ '
                        })
                    });

                    amountSlider.noUiSlider.set(toNumberString($('#navBarLoanInstallments').text()));

                    amountSlider.noUiSlider.on('update', function (values, handle) {
                        amountInput.value = toNumberString(values[handle]);
                        amountLabel.innerHTML = values[handle];
                    });

                    amountInput.addEventListener('change', function () {
                        amountSlider.noUiSlider.set([null, this.value]);
                    });

                    // Period
                    var periodSlider = document.getElementById('updModalLoanInstallemnts-slider'),
                            periodInput = document.getElementById('updModalLoanInstallemnts-input'),
                                periodLabel = document.getElementById('updModalLoanInstallemnts-label'),
                            periodMonthsEndDate = document.getElementById('updModalLoanPeriodEndDate-finish'),
                            periodFinish;

                    noUiSlider.create(periodSlider, {
                        start: 12,
                        step: 1,
                        connect: 'lower',
                        range: {
                            'min': /*[[${loanApplication.product.minInstallments}]]*/,
                            'max': /*[[${loanApplication.product.maxInstallments}]]*/
                        },
                        format: wNumb({
                            decimals: 0,
                            thousand: ' ',
                            postfix: ' meses'
                        })
                    });

                    periodSlider.noUiSlider.set(toNumberString($('#navBarShorTermDays').text()));
                    periodSlider.noUiSlider.on('update', function (values, handle) {
                        periodInput.value = toNumberString(values[handle]);
                        periodLabel.innerHTML = values[handle];
                        periodFinish = getFinishDate(toNumberString(values[handle]), 'month');
                        periodMonthsEndDate.innerHTML = 'Finaliza (' + periodFinish + ')';
                    });

                    $('#editLoanAmmountLink').click(function (event) {
                        $('#loading-ajax').addClass('loading-ajax-invisible');
                        $('#loading-ajax').removeClass('loading-ajax-visible');
                        $('#text-button').text('Guardar');
                        console.log(updModalLoanProductId);
                        event.preventDefault();
                        openUpdateoanApplicationModal();
                    });

                    $("#updModalLoanInstallemnts").change();
                    $.material.init({
                        validate: false
                    });


                    //=== Edit amount from modal === //

                    var updatableMonths = $('#updModalLoanAmmount-input'),
                            labelMonths = $('#updModalLoanAmmount-label');

                    updatableMonths.forceLettersOnly('^[0-9 ()]+$', true, 3, 5);

                    $('.edit-amount').on('click', function (event) {
                        event.preventDefault();
                        //console.log('Clicked edit');

                        labelMonths.hide();
                        updatableMonths.css({'display': 'block'});
                        updatableMonths.focus();
                        updatableMonths.standOut();
                        $('.edit-amount').css({'display': 'none'});
                    });


                    updatableMonths.on('blur', function (e) {
                        e.preventDefault();
                        updatableMonths.standOff();
                        labelMonths.show();
                        labelMonths.html('S/. ' + thousandWithSpace(updatableMonths.val()));
                        amountSlider.noUiSlider.set(updatableMonths.val());
                        updatableMonths.css({'display': 'none'});
                        $('.edit-amount').css({'display': 'block'});
                    });

                    updatableMonths.on('keyup', function (e) {
                        e.preventDefault();
                        if (e.keyCode == 13) {
                            updatableMonths.standOff();
                            labelMonths.show();
                            labelMonths.html('S/. ' + thousandWithSpace(updatableMonths.val()));
                            amountSlider.noUiSlider.set(updatableMonths.val());
                            updatableMonths.css({'display': 'none'});
                            $('.edit-amount').css({'display': 'block'});
                        }
                    });

                });


        function toNumberString(number) {
            return Number(number.replace(/[^0-9]/g, ''));
        }

        function openUpdateoanApplicationModal() {

            $("#updModalLoanInstallemnts").change();

            $('#updateLoanApplicationModal').modal({backdrop: 'static', keyboard: false, show: true});
        }

        function updateLoanApplication(button) {
//            if ($('#frmUpdateLoanApplication').valid()) {
            $('#navBarLoanInstallments').text($('#updModalLoanAmmount-label').text());

            $('#navBarShorTermDays').text('(' + $('#updModalLoanInstallemnts-label').text() + ')');

            $(button).loading();
            defaultAjax({
                url: /*[[@{/__${productUrl}__/__${loanAplicationToken}__/update/json}]]*/,
                type: 'POST',
                data: {
                    ammount: $('#updModalLoanAmmount-input').val(),
                    installments: $('#updModalLoanInstallemnts-input').val() == '' ? $('#updModalLoanShorTermDays-input').val() : $('#updModalLoanInstallemnts-input').val(),
//                    days: $('#updModalLoanShorTermDays-input').val() == -1 ? '' : $('#updModalLoanShorTermDays-input').val()
                },
                success: function (data) {
                    $(button).unloading();
                    var jsonData = JSON.parse(data);
                    $('#loanApplicationHeaderSummary').html(jsonData.message);
                    $('#updateLoanApplicationModal').modal('hide');
                }, error: function () {
                    $(button).unloading();
                }
            });
//            }
        }

        function permitOnlyNumbers(element) {
            element.on('keypress keyup blur', function (event) {
                $(this).val($(this).val().replace(/[^\d].+/, ""));
                if ((event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
        }

        /*]]>*/
    </script>
</head>
<body>


<label th:text="${loanApplication.code}"/>


<th:block layout:fragment="header">
    <th:block th:if="${loanApplication.product.isTraditional()}">
        <th:block th:replace="fragments/headers :: loanApplicationWizardHeader"></th:block>
    </th:block>
    <th:block th:if="${!loanApplication.product.isTraditional()}">
        <th:block th:replace="fragments/headers :: loanApplicationWizardHeader"></th:block>
    </th:block>
</th:block>

<th:block layout:fragment="content">
    <div id="aff-template-pages-wizard">
        <div class="container">
            <div class="tab-content" id="affirm-template-tabs">
                <div class="humanProgress-container-mobile">
                    <!-- <i class="icon time-left-icon text-white"></i> -->
                    <div class="humanProgress-bar">
                        <div class="fillBar-inner"></div>
                        <div class="count-progress">
                            <i class="icon bullet-up-icon text-white"></i>
                            <span class="counter text-white">40%</span>
                        </div>
                    </div>
                </div>
                <div class="beforeSection">

                </div>
                <div class="currentSection">
                </div>
                <div class="humanProgress-container">
                    <!-- <i class="icon time-left-icon text-white"></i> -->
                    <div class="humanProgress-bar" style="display: none">
                        <div class="fillBar-inner"></div>
                        <div class="count-progress">
                            <i class="icon bullet-left-icon text-white"></i>
                            <span class="counter text-white">40%</span>
                        </div>
                    </div>
                </div>

                <div class="loadingContainer" id="loadingContainer"
                     style="display:none;left: 0;position: absolute;right: 0;">
                    <div class="sk-circle" style="height: 30px;width: 30px;">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                    </div>
            </div>
        </div>
    </div>

    <div id="updateLoanApplicationModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-lightblue-header">
                    <button type="button" class="closeRoundButton" data-dismiss="modal" aria-hidden="true"><i
                            class="icon close-icon"></i></button>
                    <h2 id="header-text" style="display: block;">Actualiza tu solicitud</h2>
                </div>
                <div class="modal-body">
                    <form role="form" action="#" th:object="${loanApplicationUpdateAmountForm}" method="post"
                          id="frmUpdateLoanApplication">
                        <div id="slides-section" class="upd-section">
                            <div class="loan-details without-mt">
                                <div class="row">
                                    <!-- Month section -->
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <div class="slider-section">
                                            <label for="updModalLoanAmmount-input">&iquest;Cu&aacute;nto dinero
                                                necesitas?</label>
                                            <div id="updModalLoanAmmount-slider"></div>
                                            <div class="values">
                                                <div class="min-value normal-number" id="min"
                                                     th:text="${'S/ '+loanApplication.product.minAmount}"></div>
                                                <div class="max-value normal-number" id="max"
                                                     th:text="${'S/ '+loanApplication.product.maxAmount}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="square-found editable">
                                            <h4 id="updModalLoanAmmount-label" class="bold-number"></h4>
                                            <a href="#" class="icon edit-icon edit-amount" rel="nofollow"
                                               title="Editar"></a>
                                            <input type="text" th:field="*{updModalLoanAmmount}"
                                                   name="updModalLoanAmmount"
                                                   id="updModalLoanAmmount-input" class="editAmount-home no-spin"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="loan-details" id="privateMonthSection">
                                <div class="row">
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <div class="slider-section" style="text-align: left">
                                            <label for="updModalLoanInstallemnts-input">&iquest;En que per&iacute;odo?</label>
                                            <div id="updModalLoanInstallemnts-slider"></div>
                                            <div class="values">
                                                <div class="min-value normal-number"
                                                     th:text="${loanApplication.product.minInstallments+' meses'}"></div>
                                                <div class="max-value normal-number"
                                                     th:text="${loanApplication.product.maxInstallments+' meses'}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <div class="square-found editable">
                                            <h4 id="updModalLoanInstallemnts-label" class="bold-number"></h4>
                                            <span id="updModalLoanPeriodEndDate-finish"></span>
                                        </div>
                                        <input type="text" id="updModalLoanInstallemnts-input"
                                               name="updModalLoanInstallemnts" class="slider" style="display: none"/>
                                    </div>
                                </div>
                            </div>
                            <div id="privateDaySection" style="margin-top: 1em">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="slider-section">
                                            <label for="updModalLoanShorTermDays-input" class="alone-label">&iquest;En que per&iacute;odo?</label>
                                            <div id="updModalLoanShorTermDays-slider"></div>
                                            <div class="values" id="rangeInstallments">
                                                <div class="min-value normal-number" id="minInstallments"></div>
                                                <div class="max-value normal-number" id="maxInstallments"></div>
                                            </div>
                                            <input th:field="*{updModalLoanShorTermDays}" type="text"
                                                   id="updModalLoanShorTermDays-input"/>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="square-found editable">
                                            <h4 id="updModalLoanShorTermDays-label" class="bold-number"></h4>
                                            <span id="updModalLoanPeriodEndDateQna-finish"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <div id="loanShortTermDaysDiv" class="form-group" style="display: none">

                            <div class="slider-section">
                                <span th:text="#{registerForm.loanApplicationInstallments.shortTerm.label}"></span>
                                <div id="updateDays-slider"></div>
                                <div class="values">
                                    <div class="min-value normal-number">2 d&iacute;as</div>
                                    <div class="max-value normal-number">30 d&iacute;as</div>
                                </div>
                            </div>

                            <label for="updModalLoanShorTermDays" th:text="#{registerForm.loanApplicationInstallments.shortTerm.label}"></label>
                            <input th:field="*{updModalLoanShorTermDays}" type="text" class="form-control"/>
                        </div> -->
                    </form>
                </div>
                <div class="modal-footer actions" style="padding: 1.5em;">
                    <button type="button" class="button red-button" onclick="updateLoanApplication(this)">
                        <div id="loading-ajax" class="loading-ajax-invisible">
                            <div class="sk-circle">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                                <div class="sk-circle8 sk-child"></div>
                            </div>
                            <span class="loading-text">Cargando<span>.</span><span>.</span><span>.</span></span>
                        </div>
                        <span id="text-button">Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="footer">
    <th:block th:replace="fragments/footers :: footerDefault"></th:block>
</th:block>


</body>
</html>