<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/defaultTemplate">

<head>
    <meta charset="ISO-8859-1"/>
    <title>Cargar Pagos</title>

    <!--Jquery Validation-->
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/jquery.validate.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist//additional-methods.min.js'}"></script>
    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet"
          th:href="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css'}"/>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datepicker/dist/js/bootstrap-datepicker.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/moment/min/moment-with-locales.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datetimepicker/bootstrap-datetimepicker.js'}"></script>
    <!--Drop Zone-->
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/dropzone/dist/min/dropzone.min.js'}"></script>
    <link th:href="${@urlService.externalUrl(#httpServletRequest) + '/dropzone/dist/min/dropzone.min.css'}"
          rel="stylesheet"/>

    <script th:inline="javascript">
        Dropzone.autoDiscover = false;
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var url = /*[[ @{/preImputatorClose} ]]*/null;
        var dropzone;
        $(document).ready(function () {

            dropzone = $("#bankFile").dropzone({
                url: url,
                paramName: 'file',
                maxFilesize: 10, // MB
                maxFiles: 1,
                dictDefaultMessage: 'Arrastra un archivo aquí para subirlo, o haz click para seleccionar uno.',
                acceptedFiles: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/wps-office.xls',
                headers: addCsrfToJsonHeaders({
                    'x-request-sender-type': 'ajax'
                }),
                init: function () {
                    this.on("success", function (file, response) {
                        uploadedSuccess = true;
                        clearForm();
                        if(response.length>0){
                            swal("Carga correcta del archivo.", "", "success");
                            paintResults(response);
                        }else{
                            showErrorModal('No se pudo leer un registro por favor verifique que se hayan insertado los datos correctamente. ');
                        }
                    });
                    this.on("sending", function (file, xhr, data) {
                        data.append("bankId", $('#bank').val());
                    })
                }
            });

            $('#bankFileDiv').show(300);

        });

        function paintResults(payments) {
            $('#resultContainer').show();
            $('#paymentsTable > tbody').empty();
            for (i = 0; i < payments.length; i++) {
                var row = $('<tr></tr>');
                row.append($('<td>' + payments[i].codPais + '</td>'));
                row.append($('<td>' + payments[i].ruc + '</td>'));
                row.append($('<td>' + payments[i].nombreEmpresa + '</td>'));
                row.append($('<td>' + payments[i].tipoDocumento + '</td>'));
                row.append($('<td>' + payments[i].numDocumento + '</td>'));
                row.append($('<td>' + payments[i].codCredito + '</td>'));
                row.append($('<td>' + payments[i].fechaPago + '</td>'));
                row.append($('<td>' + payments[i].montoPago + '</td>'));
                $('#paymentsTable').append(row);
            }
        }

        function clearForm(){
            $('#resultContainer').hide();
            Dropzone.forElement("#bankFile").removeAllFiles(true);
        }

        function multiplePayments() {
            swal({
                        title: "&iquest;Est&aacute;s seguro?",
                        text: "No podr&aacute;s revertir el cambio.",
                        type: "warning",
                        html: true,
                        showCancelButton: true,
                        confirmButtonColor: "#36c6d3",
                        confirmButtonText: "Si, Imputar!",
                        closeOnConfirm: true
                    },
                    function(){
                        defaultAjax({
                            url: /*[[@{/imputatorClose}]]*/null,
                            type: 'POST',
                            data: {

                            },
                            success: function (data) {
                                clearForm();
                                swal("Aprobado.", "", "success");
                            }
                        })
                    });
        }

        /*]]>*/
    </script>
</head>

<body>

<th:block layout:fragment="content">
    <div class="page-content">
        <div class="container">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a th:href="@{/}">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Imputaciones</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Cuotas Close Market</span>
                </li>
            </ul>
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12 ">
                        <div th:class="${@frontEndService.getDefaultPortletClass()}">
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div th:class="${@frontEndService.getDefaultPortletClass()}">
                                            <div class="portlet-title">
                                                <div th:class="${@frontEndService.getDefaultCaptionClass()}">
                                                    <span th:class="${@frontEndService.getDefaultCaptionSubjectClass()}"> Cargar Masiva</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="row">
                                                    <div id="bankFileDiv" class="col-md-6" style="display: none">
                                                        <div id="bankFile" class="dropzone"></div>
                                                        <div align="center">
                                                            <a th:href="@{/backoffice/imputationCloseMarket/excel/template}" class="btn green" download="Campos_imputador_close.xls"
                                                               style="margin-top: 1em"> Descargar Formato
                                                                <i class="fa fa-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="resultContainer" class="col-md-12" style="display: none">
                                        <div class="portlet transparent">
                                            <div class="portlet-title">
                                                <div th:class="${@frontEndService.getDefaultCaptionClass()}">
                                                    <span th:class="${@frontEndService.getDefaultCaptionSubjectClass()}">Pagos a imputar</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="table-responsive">
                                                    <table id="paymentsTable"
                                                           class="table table-bordered table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>País</th>
                                                            <th>RUC de la Empresa</th>
                                                            <th>Nombre de la Empresa</th>
                                                            <th>Tipo de Documento</th>
                                                            <th>Número de Documento</th>
                                                            <th>Código de Crédito</th>
                                                            <th>Fecha de Pago</th>
                                                            <th>Monto de Pago</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <a href="javascript:;" onclick="multiplePayments()" class="btn blue btn-outline pull-right">Imputar Pagos</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->

    <!-- BEGIN MODAL -->
    <!-- END MODAL -->
</th:block>
</body>

</html>