<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/defaultTemplate">

<head>
    <meta charset="ISO-8859-1"/>
    <title>Reporte de Originaciones 2</title>
    <!-- TableFilter -->
    <script th:src="@{/js/bo_tablefilter.js}"></script>
    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet"
          th:href="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css'}"/>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datepicker/dist/js/bootstrap-datepicker.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/moment/min/moment.min.js'}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</head>

<body>

<th:block layout:fragment="content">
    <div class="page-head">
    </div>
    <div class="page-content">
        <div class="container">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a th:href="@{/}">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Reportes</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Originaciones por entidad</span>
                </li>
            </ul>
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-4 ">
                        <div th:class="${@frontEndService.getDefaultPortletClass()}">
                            <div class="portlet-title tabbable-line">
                                <div th:class="${@frontEndService.getDefaultCaptionClass()}">
                                    <span th:class="${@frontEndService.getDefaultCaptionSubjectClass()}">Reporte de Originaciones por entidad</span>
                                </div>

                                <div class="actions">
                                </div>

                            </div>
                            <div class="portlet-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <a th:href="@{/reporting/originationEntityProduct/export}" target="_blank"
                                           class="btn btn-info">
                                            <i class="fa fa-file-excel-o"></i>Descargar Reporte</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>

</html>