<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/defaultTemplate">

<head>
    <meta charset="ISO-8859-1"/>
    <title>Cola de Procesos</title>

    <script th:inline="javascript">
        /*<![CDATA[*/

        function sendUploadBaseToProcess() {
            defaultAjax({
                url: /*[[@{/upload/preapproved}]]*/,
                type: 'POST',
                data: $('#frmUploadBase').serializeObject(),
                success: function (data) {
                    reloadResults();
                }
            })
        }

        function reloadResults(){
            defaultAjax({
                url: /*[[@{/upload/preapproved/list}]]*/,
                type: 'GET',
                showLoading: false,
                success: function (data) {
                    $('#resultTable').html(data);
                }
            });
            setTimeout(reloadResults, 5000);
        }
        reloadResults();
        /*]]>*/
    </script>

</head>

<body>

<th:block layout:fragment="content">
    <div class="page-head">
    </div>
    <div class="page-content">
        <div class="container">
            <!-- Home, Cola de Procesos.-->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a th:href="@{/}">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Carga de bases pre aprobadas</span>
                </li>
            </ul>
            <div class="page-content-inner">
                <div class="row col-md-12">
                    <div th:class="${@frontEndService.getDefaultPortletClass()}">
                        <div class="portlet-title">
                            <div th:class="${@frontEndService.getDefaultCaptionClass()}">
                                <span th:class="${@frontEndService.getDefaultCaptionSubjectClass()}">Cargar Base</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form id="frmUploadBase">
                                <div class="form-row">
                                    <!-- Entidad -->
                                    <div class="form-group col-md-2">
                                        <label class="control-label"><b></b><br/>Entidad</label>
                                        <select id="entity" name="entity" class="form-control form-control-sm">
                                            <option value=""></option>
                                            <option th:each="entity : ${@catalogService.getEntities()}" th:value="${entity.id}" th:text="${entity.shortName}"></option>
                                        </select>
                                    </div>
                                    <!-- Producto -->
                                    <div class="form-group col-md-2">
                                        <label class="control-label"><b></b><br/>Producto</label>
                                        <select id="product" name="product" class="form-control form-control-sm">
                                            <option value=""></option>
                                            <option th:each="product : ${@catalogService.getActiveProducts()}" th:value="${product.id}" th:text="${product.name}"></option>
                                        </select>
                                    </div>
                                    <!-- Base URL en CSV -->
                                    <div class="form-group col-md-3">
                                        <label class="control-label"><b></b><br/>Base URL en CSV</label>
                                        <input id="fileName" name="fileName" type="text" class="form-control form-control-sm"/>
                                    </div>
                                    <!-- Button  -->
                                    <div class="form-group col-md-12">
                                        <a href="javascript:;" onclick="sendUploadBaseToProcess()" class="btn blue btn-outline pull-right">Subir</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 ">
                        <div th:class="${@frontEndService.getDefaultPortletClass()}">
                            <div class="portlet-title">
                                <div th:class="${@frontEndService.getDefaultCaptionClass()}">
                                    <span th:class="${@frontEndService.getDefaultCaptionSubjectClass()}">Últimas cargas</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive" id="resultTable">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment="results">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Fec. Registro</th>
            <th>Fec. Inicio</th>
            <th>Fec. Fin</th>
            <th>Estatus</th>
            <th>Parametros</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="queryBot : ${queryBots}">
            <tr>
                <td th:text="${@utilService.datetimeShortFormat(queryBot.registerDate)}" th:attr="data-order=${@utilService.datetimeYearFirstFormat(queryBot?.registerDate)}"></td>
                <td th:text="${@utilService.datetimeShortFormat(queryBot.startTime)}" th:attr="data-order=${@utilService.datetimeYearFirstFormat(queryBot?.startTime)}"></td>
                <td th:text="${@utilService.datetimeShortFormat(queryBot.finishTime)}" th:attr="data-order=${@utilService.datetimeYearFirstFormat(queryBot?.finishTime)}"></td>
                <th:block th:switch="${queryBot.statusId}">
                    <td th:case="${queryBot.STATUS_QUEUE}"><span class="label label-xs label-warning">Pendiente</span></td>
                    <td th:case="${queryBot.STATUS_RUNNING}"><span class="label label-xs label-warning">Pendiente</span></td>
                    <td th:case="${queryBot.STATUS_FAIL}"><span class="label label-xs label-danger">Fallido</span></td>
                    <td th:case="${queryBot.STATUS_SUCCESS}"><span class="label label-xs label-success">Procesada</span></td>
                </th:block>
                <td th:text="${queryBot.parameters != null ? queryBot.parameters.toString() : ''}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</th:block>
</body>

</html>