@import "generals/reset.scss";
@import "variables/variables.scss";
@import "mixins/mixins.scss";
@import "libraries/select2.scss";
@import "generals/general.scss";
@import "generals/footer.scss";
@import "generals/button.scss";
@import "components/custom-select2.scss";
@import "libraries/slick.scss";
@import "libraries/slick-theme.scss";
@import "libraries/owl.carousel.scss";
@import "../../assets/sass/libraries/sweetalert.scss";
@import "../../assets/sass/libraries/slick.scss";
@import "../../assets/sass/libraries/slick-theme.scss";
@import "components/sections.scss";
@import "../../assets/sass/components/circle-progress";
@import "loading.scss";

$color-placeholder:  #B5B5B5;

body{
    width: 100%;
    height: 100vh;
}

.header {
    background-color: $red;
    color: white;
    margin-bottom: 1rem;
}

.header a {
    margin: 0.5rem 1rem;
}

.header a svg {
    width: 100px !important;
}

.header h2 {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

.header h2 br {
    display: none;
}

.header.brand-bg-p {
    align-items: flex-start;
    min-height: 80px;
    padding: 0.3rem 0;
}

.header.brand-bg-p a,
.header.brand-bg-p h2 {
    margin: 0;
}

.header.brand-bg-p a {
    padding: 0 2%;
    width: 33.333%;
}

.header.brand-bg-p a img {
    max-width: 130px;
    width: 100%;
}

.header.brand-bg-p h2 {
    font-size: 0.64rem;
    width: calc(100% - 33.333%);
}

body .select2 {
    display: block;
}

body>.select2-container.select2-container--open .select2-dropdown .select2-search {
    display: none;
}

body>.select2-container.select2-container--open .select2-dropdown.select2-dropdown--above .select2-search {
    display: none;
}

body>.select2-container.select2-container--open .select2-dropdown.select2-dropdown--below .select2-search {
    display: none;
}

main {
    flex: inherit;
    min-height: auto;
    position: relative;
}

.frm-l5 {
    margin: 0;
    padding: 0;
}

.frm-l5 .field .field-birthdate input {
    width: 30px;
}

.form {
    min-height: 50vh;
}

.form h2,
.form h4 {
    font-size: 1rem;
    font-weight: 300;
    margin: auto auto 1rem auto;
    text-align: center;
    width: 100%;
}

.form h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

.form .w {
    margin: 0 auto auto auto;
    text-align: center;
    width: 100%;
}

.form .radio {
    border-radius: 5px;
    border: 2px solid #D6D8DD;
    cursor: pointer;
    margin-right: 0.5rem;
    max-width: 140px;
    min-height: 150px;
    padding: 0.6rem;
    position: relative;
    transition: all 0.3s ease;
    width: calc(100% - 1rem);
}

.form .radio svg {
    margin: 0 auto auto auto;
}

.form .radio h3 {
    font-size: 0.65rem;
    text-transform: uppercase;
    margin: 0 auto auto auto;
}

.form .radio span {
    background: #FFF;
    border-radius: 50rem;
    border: 2px solid #D6D8DD;
    display: block;
    height: 18px;
    margin: auto auto 0 auto;
    width: 18px;
}

.form .radio:hover {
    background: #f9ffff;
    border-color: $lightblue;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.12), 0 0 11px 0 rgba(0, 0, 0, 0.1);
}

.form .radio:hover span {
    background: $lightblue;
    border: 5px solid #FFF;
}

.form .radio:last-child {
    margin-right: 0;
}

.form.frm-adelanto {
    flex-direction: unset;
    min-height: 10vh;
    padding: 10vh 0;
}

.tos {
    font-size: 0.72rem;
    margin: 0 auto auto auto;
    padding: 1rem 0;
    width: calc(100% - 2.5rem);
}

.tos>* {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.wrap-image {
    box-shadow: inset 0px -50px 100px #33465D;
    display: none;
}

.poweredBySolvenFirma {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
    width: 100%;
}

.poweredBySolvenFirma .poweredBySolven,
.poweredBySolvenFirmaDesktop .poweredBySolven
{
    display: block;
    fill: #cbcbcb;
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
    width: 150px;
}

.deuna_1024 img,
.deuna_1380 img,
.deuna_740 img,
.deuna_900 img {
    object-position: left top;
}

.wrap-image-deuna {
    box-shadow: unset !important;
}


.wrap-image-deuna::before {
    content: unset !important;
}

.wrap-fdlm form {
    margin-top: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--primary-branding-color) transparent transparent transparent !important;
    top: 45%;
}
.c-i label.icon-checkbox::before, .c-full label.icon-checkbox::before {
    border-radius: 0rem !important;
    border-color: var(--primary-branding-color);
    background-color : white !important;
}
.c-i input[type="checkbox"]:checked + label::before, .c-full input[type="checkbox"]:checked + label::before{
    border-color: var(--primary-branding-color);
    background-color : white !important;
}
.c-i input[type="checkbox"]:checked + label::after, .c-full input[type="checkbox"]:checked + label::after{
    color: var(--primary-branding-color);
    top: -1px;
}
.select2, input, select, textarea{
    border-radius: 0.40rem !important;
}
.icon-checkbox{
    margin-top : 0px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-placeholder;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color-placeholder;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $color-placeholder;
}


@media only screen and (min-width:1440px) and (max-height:1024px) {
    .deuna_1380 {
        display: block;
    }

    .deuna_1024,
    .deuna_740,
    .deuna_830,
    .deuna_900 {
        display: none;
    }
    .ds-col-fdlm {
        padding-top:10px;
    }
}
@media only screen and (min-width:1365px) and (max-width:1439px) and (max-height:699px) {
    .deuna_1380 {
        display: block !important;
    }

    .deuna_1024,
    .deuna_740,
    .deuna_830,
    .deuna_900 {
        display: none;
    }

    .ds-col-fdlm {
        padding-top:15px;
    }
}



@media only screen and (min-width:1351px) and (max-width:1364px) and (min-height:700px) {
    .deuna_1024 {
        display: block;
    }

    .deuna_900,
    .deuna_1380,
    .deuna_740,
    .deuna_830 {
        display:none;
    }
}


@media only screen and (min-width:1181px) and (max-width:1350px) and (max-height:699px) {
    .deuna_1024 {
        display: block !important;
    }

    .deuna_900,
    .deuna_1380,
    .deuna_740,
    .deuna_830 {
        display:none;
    }
}
@media only screen and (min-width:1181px) and (max-width:1350px) and (min-height:700px) {
    .deuna_900 {
        display: block;
    }

    .deuna_1024,
    .deuna_1380,
    .deuna_740,
    .deuna_830 {
        display:none;
    }
}



@media only screen and (min-width:960px) and (max-width:1180px) and (max-height:1024px){
    .deuna_740{
        display: block;
    }

    .deuna_1380,
    .deuna_1024,
    .deuna_900,
    .deuna_830  {
        display: none;
    }
}

@media only screen and (max-width:768px) and (min-height:700px) {
    .form-fdlm  {
        min-height: auto !important;
    }
}

@media only screen and (max-width:959px) and (max-height:699px) {
    .form-fdlm  {
        min-height: auto !important;
    }
}

@media only screen and (min-width: 525px) and (max-width: 960px) {
    .poweredBySolvenFirma {
        justify-content: center;
    }
}


@media only screen and (min-width: 960px) {
    .poweredBySolvenFirma .poweredBySolven {
        bottom: -52px;
        position: relative;
    }

    .ds-fdlm_footer-mobile {
        display: none;
    }

    .form-fdlm {
        min-height: calc(100vh - 100px) !important;
    }

    input, textarea, select, .select2, .select2 span {
        height: 42px !important;
    }

    #loanForm{
        flex-direction: column;
        width: 100%;
        padding-top: 2rem;
        flex : 1;
        overflow-y : auto;
    }

    #authenticationForm{
        flex-direction: column;
        width: 100%;
        padding-top: 2rem;
        flex : 1;
        overflow-y : auto;
    }

    .form .f-ww {
        margin-bottom: 1.55rem !important;
    }

    .poweredBySolvenFirma .poweredBySolven{
        bottom: 0px !important;
    }
    .wrap{
        align-items: flex-start !important;
        flex-direction: column;
        justify-content: flex-start;
    }

    .btnReviewContainer{
        width: calc(100% - .5rem) !important
    }

    .c-i .c, .c-full .c {
        height: 42px !important;
    }
}

@media only screen and (max-width:959px) {
    .form-fdlm {
        height: auto !important;
        justify-content: flex-start!important;
        min-height: calc(100vh - 102px);
        overflow: visible;
    }

    .f-ww-custom {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .ds-fdlm_footer-img-d {
        display: none !important;
    }

    .form-fdlm .ds-col {
        padding: 0 15px;
    }

    .ds-col-fdlm {
        padding-top: 5px;
    }

}

@media only screen and (max-width:700px) {
    .azteca-footer tr{
        flex-direction: column !important;
    }

    .azteca-footer > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2){
        text-align: justify !important;
    }
}


.frm-l5 .ds-fl {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.frm-l5 .ds-col {
    max-width: 500px;
    min-width: 300px;
    width: 100%;
}

.frm-l5 .ds-col-bottom {
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.frm-l5 .ds-col-bottom .c-i {
    margin: 0;
}

.frm-l5 .field {
    width: calc(50% - .25rem) !important;
}

.frm-l5 #documentNumber {
    margin-right: 0;
}

.frm-l5 .ds-col-bottom-ar {
    justify-content: space-around;
}

.frm-l5 .ds-col-bottom-ar .field {
    margin-left: 0;
}

.frm-l5 .ds-col-bottom-ar .f-ww:first-child {
    margin: 0 auto;
}

.frm-l5 .ds-col-bottom-ar .f-ww:last-child {
    max-width: 221px;
    width: 100%;
}

.frm-l5 .ds-col-bottom-ar .f-ww label {
    margin-bottom: 1.25rem;
    margin-top: 0;
}

.frm-l5 .cm-ar {
    margin-left: 0.5rem !important;
}


.flex-direction-column{
    display: flex;
    flex-direction: column !important;
}

.brand-column .list{
    display: flex;
    flex-direction: column !important;
    padding-left: 0px !important;
    margin-bottom: 15px !important;
}

@media only screen and (min-width: 1441px) and (max-width: 2048px) {
    .wrap-image .h1 h1 {
        font-size: 95% !important;
        max-width: 600px;
        width: 60%;
    }

    .wrap-image .h1 p {
        font-size: 50% !important;
    }
}

@media only screen and (min-width:1441px) and (max-width:1570px){
    .azteca-entity .wrap-image .h1 h1{
        font-size: 80% !important;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .wrap-image .h1 h1 {
        font-size: 28px !important;
    }

    .wrap-image .h1 p {
        font-size: 18px !important;
    }

    .brand .list li {
        font-size: 15px;
        max-width: 400px;
        min-width: 100px;
        text-align: center;
        width: 15%;
    }

    .brand-column .list li {
        font-size: 15px;
        max-width: 90%;
        min-width: auto;
        text-align: left;
        width: 90%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1280px) {
    .wrap-image .h1 h1 {
        font-size: 24px !important;
    }

    .wrap-image .h1 p {
        font-size: 18px !important;
    }

    .brand .list li {
        font-size: 15px;
        max-width: 400px;
        min-width: 100px;
        text-align: center;
        width: 15%;
    }

    .brand-column .list li {
        font-size: 15px;
        max-width: 90%;
        min-width: auto;
        text-align: left;
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .frm-l5 {
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 960px) {
    .frm-l5 {
        margin-top: 5vh;
    }

    .frm-l5 .ds-fl {
        flex-direction: unset;
        max-width: 529px;
    }

    .frm-l5 .ds-fl .field {
        margin-left: 0.5rem;
        padding-right: 9px;
    }

    .frm-l5 .ds-col-bottom-ar .f-ww:first-child {
        margin-left: 1rem;
    }

    .frm-l5 .ds-col-bottom-ar .f-ww:last-child {
        margin-top: 1rem;
    }

    .header {
        background-color: transparent;
        border-bottom: 2px solid $lightblue;
        color: inherit;
        margin-bottom: auto;
        margin-top: 0;
        width: 90%;
    }

    .header a {
        display: none;
    }

    .header h2 {
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .header.brand-bg-p {
        background: #FFF !important;
        margin-bottom: 0 !important;
        margin-top: 2rem !important;
        padding: 0 !important;
        width: 90% !important;
    }

    .header.brand-bg-p h2 {
        color: #34465d !important;
        font-size: 1rem !important;
        margin-bottom: 0.5rem !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100% !important;
    }

    .wrap {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        max-width: 510px;
    }

    .wrap-branded {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        margin-left: auto;
        max-width: 510px;
    }

    .wrap-image {
        display: flex;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: calc(100% - 510px);
    }

    .wrap-image:before {
        background: linear-gradient(to bottom, #3c4044 0%, rgba(53, 110, 115, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 300px;
        left: 0;
        opacity: 0.6;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .wrap-image img.bg {
        height: auto;
        left: 50%;
        max-height: none;
        max-width: none;
        min-height: 100%;
        min-width: 101%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) scale(1.05);
        transition: all 0.3s ease;
        width: 100%;
    }

    .wrap-image img[src].logo {
        left: 3rem;
        position: absolute;
        top: 0;
        width: 170px;
        z-index: 3;
    }

    .prisma-entity .wrap-image img[src].bg{
        transform: scale(1);
        left: 0px;
        top: 0px;
        height: 100vh;
        object-fit: fill;
    }

    .prisma-entity .wrap-image img[src].logo {
        width: 250px;
    }

    .wrap-image img[src].bg {
        transform: translate(-50%, -50%) scale(1);
        z-index: -1;
    }

    .wrap-image .h1,
    .wrap-image .w-ul,
    .wrap-image a {
        color: #FFF;
        padding: 0 3rem;
        position: relative;
        width: 100%;
        z-index: 3;
    }

    .wrap-image a {
        left: 0;
        position: absolute;
        top: 2rem;
    }

    .wrap-image .h1 {
        margin-top: auto;
        margin-bottom: 0;
        /*br{
        display: none;
    }*/
    }

    .prisma-entity .wrap-image .h1 {
        margin-top: 3rem;
    }

    .azteca-entity .wrap-image .h1 {
        margin-top: 15vh;
    }

    .azteca-entity .wrap-image .h1  p{
        margin-top: 56px !important;
    }

    .wrap-image .h1 h1 {
        font-size: 3rem;
        font-weight: 800;
        line-height: 1.35;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    .wrap-image .h1 p {
        font-size: 1.5rem;
    }

    .wrap-image .w-ul {
        margin-bottom: 0;
        margin-top: auto;
        padding-bottom: 1.75rem;
    }

    .wrap-image .w-ul ul {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        text-align: left;
        width: 100%;
    }

    .wrap-image .w-ul.brand ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .wrap-image .btn-down {
        display: block;
        height: 36px;
        margin: 1.5rem 0 0 auto;
        width: 36px;
    }

    .wrap-image .btn-down svg {
        fill: #FFF;
        height: 28px;
        width: 28px;
    }

    .wrap-image .bg-degrade {
        background: linear-gradient(to bottom, #1d3460 0%, #00c8d3 100%);
        height: 100%;
        left: 0;
        opacity: 0.52;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .wrap.w-a .header h2 {
        font-size: 1.12rem;
    }

    .wrap.w-a input,
    .wrap.w-a textarea,
    .wrap.w-a select,
    .wrap.w-a .select2 {
        height: 32px;
    }

    .wrap.w-a .select2 span {
        height: 32px;
    }

    .wrap.w-a .select2-container .select2-selection--single .select2-selection__render {
        line-height: 2;
    }

    .wrap.w-a .c-i,
    .wrap.w-a .c-full {
        margin-bottom: 0.75rem;
    }

    .wrap.w-a .c-i label,
    .wrap.w-a .c-full label {
        font-size: 0.9rem;
        margin-bottom: 0.12rem;
    }

    .wrap.w-a .c-i label.icon-checkbox,
    .wrap.w-a .c-full label.icon-checkbox {
        font-size: 0.73rem;
        margin-top: 0;
    }

    .wrap.w-a .c-i .c,
    .wrap.w-a .c-full .c {
        height: 32px;
    }

    .wrap.w-a .c-right {
        margin-bottom: 0;
    }

    .form {
        min-height: 30vh;
    }

    .form.frm-adelanto {
        padding: 5vh 0;
    }

    .form .f-ww {
        margin-bottom: 20px;
    }

    .wrap-fdlm {
        align-items: baseline !important;
    }

    .header__fdlm {
        background-color: transparent;
        border:0 !important;
        margin-bottom:20px !important;
        margin:0 !important;
        width: 100% !important;
    }

    .header-desktop_fdlm {
        display: block;
        height: 100px;
        object-fit: cover;
        width: 100%;
    }

    .h-fdlm_m {
        display: none;
    }

    .ds-fdlm_footer {
        flex-direction: column !important;
        justify-content: space-around;
        max-width: 100% !important;
        position: relative;
        width: 100%;
    }

    .ds-fdlm_footer_m {
        display: none;
    }

    .ds-fdlm_footer_d {
        display: block;
        height: 206px;
        object-fit: cover;
        overflow: hidden;
        padding-top: 10px;
        width: 100%;
    }

    .ds-fdlm_footer .poweredBySolven {
        bottom: 5px;
        fill: #cbcbcb;
        left: 5px;
        position: absolute;
        width: 125px;
    }

    .form-fdlm {
        min-height: calc(100vh - 100px);
        padding-top: 20px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 959px) {
    .h-fdlm_d {
        display: none;
    }

    .h-fdlm_m {
        width: 100%;
    }

    .header-mobile_fdlm {
        display: block;
        height: 150px;
        width: 100%;
    }

    .header__fdlm {
        border:0;
        background-color: transparent;;
    }

    .ds-fdlm_footer .ds-fdlm_footer_d {
        display: none;
    }


    .ds-fdlm_footer .ds-fdlm_footer_m {
        display: block;
        height: 100%;
        object-fit: cover;
        padding-top: 20px;
        width: 100%;
    }


    .ds-fdlm_footer .poweredBySolven {
        bottom: 5px;
        fill: #cbcbcb;
        height: 50px;
        left: 5px;
        position: absolute;
        width: 125px;
    }

    .ds-fdlm_footer {
        margin-bottom: 0 !important;
        max-width: 100% !important;
    }

    .form-fdlm {
        justify-content: center;
    }

    .frm-l5 .ds-fl {
        align-items: baseline;
    }

    .frm-l5 .ds-fl .c-full .c span,
    .frm-l5 .ds-fl .c-i .c span,
    .frm-l5 .ds-fl .select2 span,
    .frm-l5 .ds-fl .select2,
    .frm-l5 .ds-fl input  {
        height: 38px;
    }

    .frm-l5 .ds-fl .select2 span {
        line-height: 2.5 !important;
    }

    .frm-l5 .ds-fdlm_footer .c-i {
        margin: 0 auto !important;
    }

    .lazy-logo-desktop{
        display: none !important;
    }

    .lazy-logo-mobile{
        display: block !important;
    }


}
@media only screen and (min-width: 769px) and (max-width: 959px){
    .header-mobile_fdlm {
        object-fit: cover;
        object-position: center;
    }

    .h-fdlm_m {
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .header-mobile_fdlm {
        height: 102px !important;
        object-fit: cover;
        object-position:center;
    }

    .ds-col-fdlm .field:nth-child(1) {
        margin-right: 0 !important;
    }

    .ds-col-fdlm .field:nth-child(2) {
        margin-left: 0.5rem !important;
    }

    .btnReviewContainer{
        width: 100% !important;
        margin-top: 1rem !important;

    }

    .frm-l5 .ds-col{
        max-width: 100% !important;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        margin: auto 0 0.5rem 0;
        margin: auto 1.5rem 0.5rem 1.5rem;
        padding: 0;
        width: 90%;
        width: auto;
    }

    .header h2 {
        font-size: 1.25rem;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 1.25rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.25rem;
        text-align: left;
    }

    .header h2 br {
        display: block;
    }

    .header.brand-bg-p h2 {
        font-size: 1.25rem !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }

    main {
        flex: 1;
        height: 100%;
        min-height: 100vh;
    }

    .tos {
        font-size: 0.8rem;
    }

    .wrap {
        max-width: 540px;
        width: 100%;
    }

    .wrap-image {
        width: calc(100% - 540px);
    }

    .wrap-image .h1 {
        font-size: 3rem;
    }

    .wrap-image .w-ul {
        font-size: 1.2rem;
    }

    .wrap.w-a .header h2 {
        margin-bottom: 0;
        padding-bottom: 0.75rem;
        padding-top: 0;
    }

    .wrap.w-a .c-full.c-padding-top {
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .wrap.w-a .c-right {
        align-items: flex-end;
    }

    .frm-l5 .c-right {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
    }
}

@media screen and (min-width: 1441px) {
    .wrap-image img.fit-left {
        object-position: left;
    }
}


@media screen and (min-width: 768px) {
    .frm-l5 .ds-col {
        margin: 0 auto;
    }
}

.frm-l5 .ds-col {
    max-width: 500px;
    min-width: 300px;
    width: 100%;
}

@media screen and (min-height: 610px) and (min-width: 768px) {
    header {
        margin: auto 0 0 0;
    }

    .wrap.w-a .header h2 {
        font-size: 1.25rem;
    }

    .wrap.w-a input,
    .wrap.w-a textarea,
    .wrap.w-a select,
    .wrap.w-a .select2 {
        height: 38px;
    }

    .wrap.w-a .select2 span {
        height: 38px;
    }

    .wrap.w-a .select2-container .select2-selection--single .select2-selection__render {
        line-height: 2.5;
    }

    .wrap.w-a .c-i,
    .wrap.w-a .c-full {
        margin-bottom: 1rem;
    }

    .wrap.w-a .c-i label,
    .wrap.w-a .c-full label {
        font-size: 0.96rem;
    }

    .wrap.w-a .c-i .c,
    .wrap.w-a .c-full .c {
        height: 38px;
    }

    .wrap.w-a .c-right {
        margin-bottom: 0;
    }

    .wrap-image .btn-down {
        margin: 1.5rem 20% 0 auto;
    }
}

@media screen and (min-width: 549px) {
    .frm-l5 .field {
        width: calc(50% - .5rem) !important;
    }

    .frm-l5 .ds-col {
        flex-direction: unset;
    }
}

@media only screen and (min-width:415px){
    .frm-l5 .field-full{
        min-width: calc(100% - .5rem) !important;
    }

}

@media only screen and (max-width:959px){
    .header{
        margin-bottom : 0px !important;
    }
    section.wrap{
        min-height: 100vh;
        background-color: var(--primary-branding-color);
        display: flex;
        flex-direction: column;
    }
    main.loaded{
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--primary-branding-color);
    }
    .tos{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .tos > *{
        padding: 0px !important;
    }
    .header.brand-bg-p{
        min-height: 70px !important;
        display: flex;
        align-items: center;
        width: 100%;
    }
    header.f > h2:nth-child(2){
        display: none;
    }
    .header-title-mobile{
        display: block !important;
        text-align: left;
        width: 100%;
    }
    .header-title-mobile h2 {
        text-align: left;
        border-bottom: 2px solid var(--primary-branding-color);
        font-weight: bolder;
    }
    section h2::after{
        content: none !important;
    }
    #loanForm{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.3rem;
        background-color: white;
        border-top-left-radius: 1.6rem;
        border-top-right-radius: 1.6rem;
        flex: 1;
    }
    #authenticationForm{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.3rem;
        background-color: white;
        border-top-left-radius: 1.6rem;
        border-top-right-radius: 1.6rem;
        flex: 1;
    }
    #btnReview{
        width: 100%;
    }
    .is-iframe {
        main.azteca-entity{
            #loanForm:not(.exclude-iframe), #authenticationForm:not(.exclude-iframe) {
                margin-top: 2vh;
            }
            #authenticationForm {
                .custom-form-headline-mobile{
                    font-size: 19px !important;
                }
            }
        }
    }
}



@media only screen and (max-width: 430px) {
    .frm-l5 {
        flex-direction: column;
    }

    .frm-l5 .field.c-i,
    .frm-l5 .field.c-full {
        margin-left: 0rem;
        margin-right: 0rem;
        width: 100% !important;
    }

    .frm-l5 .field.c-i #docType+.select2,
    .frm-l5 .field.c-full #docType+.select2 {
        width: 50px !important;
    }

    .frm-l5 .field.c-i .document-input,
    .frm-l5 .field.c-full .document-input {
        margin-right: 0;
    }

    .frm-l5> :last-child {
        margin-bottom: 1rem;
        // margin-right: 1rem;
    }

    .main.loaded{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 420px) and (max-width: 549px) {
    .frm-l5 {
        padding: 10px;
    }

    .frm-l5 .ds-col {
        flex-direction: unset;
    }

    .form-fdlm {
        min-height: calc(100vh - 150px);
        overflow: hidden;
        padding-top: 20px;
        padding:0 !important;
    }
}

@media only screen and (max-width:768px) and (min-height:1024px) {
    .header-mobile_fdlm {
        height: 140px !important;
    }
}

@media only screen and (max-height:800px) {
    .landing-default .inner-contain-banner {
        height: 100% !important;
    }

    /*@-moz-document url-prefix() {
        .landing-default .inner-contain-banner {
            height: 100vh !important;
        }
    }*/
}
