@import "variables/variables.scss";
@import "generals/general.scss";
@import "generals/reset.scss";
@import "generals/menu.scss";
@import "generals/footer.scss";
@import "../../assets/sass/libraries/animate.scss";


body>section{
    overflow: hidden;
}
.main-banner {
    align-items: center;
    background: linear-gradient(to bottom, #3c495a 0%, #6c739d 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 410px;
    justify-content: center;
    min-height: 410px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.main-banner:before {
    background: #3c4044;
    background: linear-gradient(to bottom, #3c4044 0%, rgba(53, 110, 115, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    content: '';
    display: block;
    height: 200px;
    left: 0;
    opacity: 0.34;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}
.main-banner:after {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.main-banner article {
    color: #fff;
    margin-bottom: auto;
    margin-top: 0;
    margin: auto;
    max-width: 1200px;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 12;
}
.main-banner article h1{
    font-family: "Lato-Black",sans-serif;
    font-size: 23px;
    margin-top: 0px;
    margin: 20px auto 0 auto;
    max-width: 320px;
    text-shadow: none;
    text-transform: uppercase;
}
.main-banner article h1::after{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "................";
    display: block;
    font-family: $IcoMoon;
    font-size: 50px;
    height: 30px;
    letter-spacing: 0;
    line-height: 0;
    margin-bottom: 10px;
    margin-left: 0;
}
.main-banner article p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin: 0 auto 20px auto;
    max-width: 540px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
}
.main-banner article .form-container{
    opacity: 1;
    transform: none;
    transition: all 800ms cubic-bezier(0.26, 1.48, 0.47, 0.96) 990ms;
}
.main-banner img#bannerPrincipal{
    display: none;
}
.main-banner .avatar{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-top: 0px;
    order: 4;
    padding: 10px 0px 10px 60px;
    position: relative;
    width: 50%;
}
.main-banner .avatar span {
    font-size: 12px;
    order: 1;
    position: relative;
    text-align: left;
    top: -10px;
    width: 100%;
}
.main-banner .avatar figure {
    border-radius: 100%;
    border: 1px solid #f7323f;
    height: 45px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
}

.main-banner .avatar figure img {
    height: auto;
    left: 50%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 101%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    width: 100%;
}
time{
    display: block;
    font-size: 12px;
    height: 16px;
    margin-left: 60px;
    order: 6;
    overflow: hidden;
    position: relative;
    text-align: left;
    top: -20px;
    width: 70px;
}
.main-banner img {
    height: auto;
    left: 50%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 101%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    width: 100vh;
}

.main-banner img#bannerPrincipal,
.main-banner img#bannerResponsive{
    display: block;
}
.w-list-news {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 0 auto;
    max-width: 1200px;
    padding: 0;
    position: relative;
    width: 90%;
}
.w-list-news .breadcrumbs{
    margin-bottom: 20px;
    order: -1;
    width: 100%;
}
.w-list-news .breadcrumbs li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.w-list-news .breadcrumbs li a {
    right: -16px;
}
.w-list-news .breadcrumbs li:after {
    content: '>';
    position: absolute;
    right:-15px;
    top: 50%;
    transform: translateY(-50%);
}
.w-list-news .breadcrumbs li:last-child{
    margin-right: 0;
}
.w-list-news .breadcrumbs li:last-child::after{
    content:unset;
}
.w-list-news .wrap {
    flex: 1;
    margin-bottom: 80px;
}

.button-celeste {
    background-color: #72cad3;
    border-radius: 9px;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    margin: 3px 0;
    text-decoration: none;
    transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
}

@media screen and (min-width: 1024px) {
    .main-pe .main-banner:before {
        height: 300px;
        opacity: unset;
    }
}
@media only screen and (min-width:500px){
    .main-banner article h1{
        max-width: 550px;
        padding-top: 40px;
        font-size: 1em;
    }
}
@media only screen and (min-width:769px) {
    .button-celeste {
        padding: 10px 13px;
    }
}

@media only screen and (min-width:768px) {
    .main-pe .main-banner article h1 {
        font-size: 2em;
        margin: 0 0 5px 0;
        text-align: left;
        text-shadow: 0 1px 4px rgba(60, 64, 68, 0.4);
    }
}

@media only screen and (max-width:768px) {
    .button-celeste {
        padding: 11px 28px !important;
    }
}