@import "generals/reset.scss";
@import "variables/variables.scss";
@import "mixins/mixins.scss";
@import "libraries/select2.scss";
@import "generals/general.scss";
@import "generals/menu.scss";
@import "generals/footer.scss";
@import "generals/button.scss";
@import "components/custom-select2.scss";
@import "libraries/slick.scss";
@import "libraries/slick-theme.scss";
@import "libraries/owl.carousel.scss";
@import "../../assets/sass/libraries/sweetalert.scss";
@import "../../assets/sass/libraries/slick.scss";
@import "../../assets/sass/libraries/slick-theme.scss";
@import "components/sections.scss";
@import "loading.scss";


.select2-search--dropdown {
    display: none;
}

.header-form {
    background: white;
    box-shadow: 0 1px 8px rgba(25, 25, 25, 0.45);
}

.header-form .menu-default-logo .solven-logo {
    fill: red;
}

.header-form .hamburger .hamburger-layer {
    background: red;
}

.header-form .menu-desk .menu-desk-list .menu-desk-credito {
    color: #3c485c;
}

.landing-default .contain-banner {
    width: 100%;
}

.landing-default .contain-banner_active {
    position: relative;
}

.landing-default .inner-contain-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.landing-default .inner-contain-banner picture {
    display: flex;
    height: auto;
    width: 100%;
}

.landing-default .inner-contain-banner img {
    height: 500px;
    object-fit: cover;
    object-position: 73% 1%;
    overflow: hidden;
}

.landing-default .inner-contain-banner .title .title-peru,
.landing-default .inner-contain-banner .title h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 14px;
    text-transform: uppercase;

}

.landing-default .inner-contain-banner .title h1 {
    color:white;
}

.landing-default .inner-contain-banner .title .title-peru {
    color: #3C485C;
}


.landing-default .inner-contain-banner .title {
    align-items: center;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: -7px;
    width: 100%;
}

.landing-default .inner-contain-banner .title p {
    font-size: 1.2rem;
}

.landing-default .inner-contain-banner .title .descrip {
    background: #26CAD3;
    border-radius: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 0;
    max-width: 323px;
    padding: 10px;
    text-align: center;
}

.landing-default .inner-contain-banner .bg-red {
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    height: 45px;
    line-height: 1.65;
    width: 180px;
}

.landing-default .inner-contain-banner .meta {
    align-items: center;
    background: #3c485c;
    color: white;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.landing-default .inner-contain-banner .meta span {
    font-size: 17px;
    line-height: 1.2;
}

.landing-default .contain-form {
    display: none;
    margin-top: calc(65px + 1rem);
    padding: 1rem 0;
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
}

.gwr-5 {
    height: 100%;
}

.landing-default .contain-form-transform {
    transform: translate3d(0px, 100%, 0px);
}

.landing-default .contain-form-active {
    display: flex;
    transform: translate3d(0px, 0px, 0px);
}

.landing-default .contain-form h2 {
    border-bottom: 1px solid #03BFC3;
    font-size: 13px;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
}

.landing-default .contain-form .group-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.landing-default .contain-form .group-inner:nth-child(1) {
    padding-top: 32px;
}

.landing-default .contain-form .group-inner .group {
    padding-bottom: .75rem;
    width: 100%;
}

.landing-default .contain-form .group-inner .group label {
    font-size: 0.85rem;
}

.landing-default .contain-form .group-inner .group .field {
    margin-top: .3rem;
}

.landing-default .contain-form .group-inner .group .field input {
    width: 100%;
}

.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(2) .sub-group .field:nth-child(2) {
    padding-left: 10px;
}

.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(2) .sub-group .field {
    width: 100%;
}

.landing-default .contain-form .group-inner:nth-child(1) .group .field .sub-group,
.landing-default .contain-form .group-inner:nth-child(2) .group:nth-child(1) .field .sub-group,
.landing-default .contain-form .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group,
.landing-default .contain-form .ar .group-inner:nth-child(3) .group:nth-child(2) .field .sub-group,
.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(1) .field .sub-group,
.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(2) .sub-group {
    display: flex;
    justify-content: center;
}

.landing-default .contain-form .group-inner:nth-child(1) .group .field .sub-group span,
.landing-default .contain-form .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group span,
.landing-default .contain-form .ar .group-inner:nth-child(3) .group:nth-child(2) .field .sub-group span,
.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(1) .field .sub-group span {
    align-items: center;
    background-color: #D6D8DD;
    border-radius: .25rem 0 0 .25rem;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    max-width: 2.5rem;
    min-width: 2.5rem;
    width: 100%;
}

.landing-default .contain-form .group-inner:nth-child(1) .group .field .sub-group span {
    color: #7a7f8c;
}

.landing-default .contain-form .group-inner:nth-child(1) .group .field .sub-group input,
.landing-default .contain-form .ar .group-inner:nth-child(3) .group:nth-child(2) .field .sub-group input {
    width: 100%;
}

.landing-default .contain-form .group-inner:nth-child(1) .group .field .sub-group input,
.landing-default .contain-form .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group input,
.landing-default .contain-form .ar .group-inner:nth-child(3) .group:nth-child(2) .field .sub-group input {
    border-radius: 0 .25rem .25rem 0;
}

.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(1) .field .sub-group input {
    border-radius: 0;
    width: 30%;
}

.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(1) .field .sub-group input:last-child {
    border-radius: 0 .25rem .25rem 0;
}

.landing-default .contain-form .group-inner:nth-child(2) .group:nth-child(1) .sub-group .select2 {
    margin-right: 10px;
    width: 100px !important;
}

.landing-default .contain-form .ar .input-help {
    display: block;
    font-size: .55rem;
    text-align: left;
}

.landing-default .contain-form .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group span,
.landing-default .contain-form .ar .group-inner:nth-child(3) .group:nth-child(2) .field .sub-group span,
.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(1) .field .sub-group span {
    fill: #7a7f8c;
}

.landing-default .contain-form .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group span svg,
.landing-default .contain-form .ar .group-inner:nth-child(3) .group:nth-child(2) .field .sub-group span svg,
.landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(1) .field .sub-group span svg {
    width: 1.15em;
}

.landing-default .contain-form .group-inner .group .field input[type="checkbox"] {
    display: none;
}

.landing-default .contain-form .group-inner .group .field .icon-checkbox {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    font-size: .75rem;
    margin-bottom: .25rem;
    order: -1;
    padding-left: 1.5rem;
    position: relative;
    width: 100%;
}

.landing-default .contain-form .group-inner .group .field .icon-checkbox a {
    color: #26CAD3;
}

.landing-default .contain-form .group-inner .group .field .icon-checkbox:before {
    border-radius: .2rem;
    border: 2px solid #D6D8DD;
    color: #888888;
    content: '';
    flex-shrink: 0;
    font-size: .94rem;
    height: 12px;
    left: 0;
    margin-right: .25rem;
    position: absolute;
    top: 0;
    width: 12px;
}

.landing-default .contain-form .group-inner .group .field input[type="checkbox"]:checked+label::before {
    background-color: #888888;
    border-color: #888888;
}

.landing-default .contain-form .group-inner .group .field input[type="checkbox"]:checked+label::after {
    color: #FFF;
    content: 'L';
    display: block;
    font-size: 12px;
    font-weight: bold;
    left: 5px;
    position: absolute;
    top: 0;
    transform: scaleX(-1) rotate(-45deg);
}


.landing-default .contain-form-active {
    height: 100%;
}

.landing-default .contain-form .group-inner.pe .tos,
.landing-default .contain-form .group-inner.ar .tos {
    text-align: left;
    width: 100%;
}


.landing-default .contain-form .group-inner.pe .button-inner-text,
.landing-default .contain-form .group-inner.ar .button-inner-text {
    display: block !important;
}

/*
@media only screen and (min-height:500px) and (max-height:800px) {
    .landing-default .contain-form {
        //height: calc(100% - 30px);
        //margin-top: .5rem !important;
    }

    .landing-default .contaim-form_error {
        margin-top: .7rem;
    }
}
*/

.landing-default .inner-contain-banner .btn-peru {
    box-shadow: 0 3px 2px 2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important;
    border-radius: 8px !important;
}



@media only screen and (min-width: 1024px) {
    .inner-menu_active {
        display: flex;
        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .inner-menu_active .headerLanding {
        width: calc(100% - 540px);
    }

    .inner-menu_active .empty {
        display: flex;
        max-width: 540px;
        min-width: 540px;
        overflow: hidden;
        width: 100%;
    }

    /*
        @-moz-document url-prefix() {
            .landing-default {
                height: calc(100% - 65%) !important;
            }        .landing-default .contain-form {
                height: calc(100% - 25%);
            }        .landing-default .contain-form .group-inner.pe {
                height: calc(100% - 25%);
            }        .landing-default .contaim-form_error .group-inner.pe {
                height: calc(100% - 55%) !important;
            }    }    .landing-default.landing-default-active {
            height: 100%;
        }*/

    .landing-default {
        display: flex;
        height: 100vh;
    }

    .landing-default .contain-form {
        max-width: 540px;
        min-width: 540px;
        width: 100%;
    }

    .landing-default .contain-form-transform {
        transform: translate3d(100%, 0 0px);
    }

    .landing-default .contain-form .gwr h2 {
        font-size: 1.1rem;
    }

    .landing-default .contain-form .group-inner:nth-child(1) {
        padding-top: 5rem;
    }

    .landing-default .contain-form .group-inner.pe .tos,
    .landing-default .contain-form .group-inner.ar .tos {
        font-size: .85rem !important;
        text-align: left !important;
    }

    .landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(1) .field .sub-group input {
        width: 28%;
    }



}

@media only screen and (width: 800px) and (height:1280px) {
    .landing-default .inner-contain-banner .title {
        top: -1.5% !important;
    }

    .landing-default .inner-contain-banner .title .gwr {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .landing-default .inner-contain-banner .bg-red {
        height: 50px;
        line-height: 1.7;
        width: 255px;
    }

    .landing-default .contain-form-active {
        align-self: stretch;
        height: 104vh;
    }

    .landing-default .contain-form-active .gwr {
        display: flex;
        flex-direction: column;
    }

    .landing-default .contain-form-active h2 {
        padding-top: 2.5rem;
    }

    .landing-default .contain-form-active form {
        margin: auto 0;

    }
}


@media only screen and (min-width: 800px) {
    .landing-default .inner-contain-banner .title {
        bottom: -6%;
    }
    .landing-default .inner-contain-banner .title-pe {
        bottom: 0 !important;
    }
    

}

@media only screen and (min-width: 768px) and (max-width:799px) {
    .landing-default .inner-contain-banner .title {
        top: 5% !important;
    }

    .landing-default .inner-contain-banner .title .gwr {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .landing-default .inner-contain-banner .bg-red {
        height: 50px;
        line-height: 1.7;
        width: 255px;
    }

    .landing-default .contain-form h2 {
        font-size: 1.3rem !important;
    }

    .landing-default .inner-contain-banner .meta {
        bottom:0;
        position: absolute;
    }
}

@media only screen and (max-width:799px) {
    .landing-default .inner-contain-banner .meta {
        bottom: 0;
        position: absolute;
    }
}

@media only screen and (min-width: 768px) {

    .landing-default .inner-contain-banner img {
        height: 100%;
        width: 100%;
    }

    .landing-default .inner-contain-banner .title {
        align-items: baseline;
        text-align: left;
    }

    .landing-default .inner-contain-banner .meta {
        align-items: baseline;
        background: none;
        bottom: -9px;
        left: 0;
        position: absolute;
        text-align: left;
    }

    .landing-default .inner-contain-banner picture {
        height: 100% !important;
    }

    .landing-default .contain-form h2 {
        font-size: 1.05rem;
    }


    .landing-default .contain-form .ar .group-inner {
        align-items: center;
        flex-direction: unset;
        justify-content: center;
        margin: 0 auto;
    }

    .landing-default .inner-contain-banner .title h1 {
        font-size: 2.7rem;
        font-weight: 700;
    }

    .landing-default .inner-contain-banner .title p {
        display: block;
        font-size: 1.5rem;
        margin: 1rem 0;

    }

    .landing-default .inner-contain-banner .meta span {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .landing-default .contain-form .group-inner .group {
        width: 100%;
    }

    .landing-default .contain-form .sub-containt-inner {
        width: 100%;
    }

    .landing-default .contain-form .group-inner:nth-child(1) {
        flex-direction: unset;
        margin: 0 auto;
    }

    .landing-default .contain-form .ar .group-inner:nth-child(4) {
        align-items: baseline;
        max-width: unset;
    }


    .landing-default .contain-form .group-inner.ar {
        flex-direction: column !important;
        align-items: center;
    }

    .landing-default .contain-form .group-inner.pe,
    .landing-default .contain-form .group-inner.ar {
        //height: 100%;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

    .landing-default .inner-contain-banner {
        height: 100vh;
    }

    .landing-default .contain-form .group-inner.pe button,
    .landing-default .contain-form .group-inner.ar button {
        display: block;
        margin-top: 1.2rem !important;
        max-width: 200px;
        width: 100%;
    }

    .landing-default .contain-form .group-inner.pe .tos,
    .landing-default .contain-form .group-inner.ar .tos {
        margin: 2rem 0;
        text-align: center;
    }

    .sec-how-work,
    .sec-steps {
        overflow: hidden;
    }


    .landing-default .contain-form .group-inner:nth-child(1) .group:nth-child(1) {
        margin: 0;
    }

    .landing-default .contain-form .group-inner:nth-child(1) .group:nth-child(2) {
        padding-left: 10px;
        margin: 0;
    }


    .landing-default .contain-form .ar .group-inner:nth-child(2) .group:nth-child(2),
    .landing-default .contain-form .ar .group-inner:nth-child(4) .group:nth-child(2) {
        padding-left: 15px;
    }

    .landing-default .contain-form .ar .group-inner:nth-child(3) .group:nth-child(2) {
        padding-left: 10px;
    }

    .landing-default .contain-form .group-inner.pe span,
    .landing-default .contain-form .group-inner.ar span {
        display: none !important;
    }

    .landing-default .contain-form {
        height: calc(100% - 81px);
        padding: 0;
    }

    .landing-default .contain-form form {
        height: calc(100% - 48px);
    }

    .landing-default .contain-form .group-inner.ar,
    .landing-default .contain-form .group-inner.pe {
        display: grid;
        height: calc(100% - 416px);
    }

    .landing-default .contaim-form_error .group-inner.ar {
        height: -webkit-calc(100% - 512px) !important;
    }

    .landing-default .contaim-form_error .group-inner.pe {
        height: calc(100% - 490px) !important;
    }

    .landing-default .contain-form .group-inner.ar button,
    .landing-default .contain-form .group-inner.pe button {
        margin: 0 auto;
    }

    .worker-us-ar .slick-list .slick-track {
        align-items: center;
        display: flex;
    }

    .worker-us-ar .banco-del-sol img {
        height: 50px !important;
    }

    .landing-default .inner-contain-banner .title .meta-descrip {
        display: none;
    }

}

@media only screen and (max-height: 1280px) and (max-width: 800px) {
    main .main-picture {
        height: 100vh;
    }
    
    main, .landing-default .inner-contain-banner img {
        height: 100%;
    }
}

@media only screen and (max-width:1024px) {

    .landing-default .select2,
    .landing-default .contain-form .group-inner .group .field input {
        height: 38px;
    }

    .landing-default .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 2.5;
    }

    .landing-default .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0;
    }

}

@media only screen and (min-width: 768px) and (min-height:1024px) {
    .landing-default .contain-form-active {
        height: 100vh !important;
    }

}
@media only screen and (min-width:768px) {
    .span-azul {
        color:white;
    }

    .landing-default .inner-contain-banner .title .title-peru {
        font-size: 2.7rem;
        font-weight: 750;
    }
}

@media only screen and (max-width:767px) {
    .landing-default .landing-default .contain-banner_active {
        height: 100%;
    }

    .landing-default .contain-form .group-inner.pe .tos,
    .landing-default .contain-form .group-inner.ar .tos {
        font-size: .72rem;
    }

    .landing-default .inner-contain-banner .title .title-peru {
        font-size: 29px !important;
        color:white !important;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 14px;
        text-shadow: -3px 1px 7px black;
        text-transform: uppercase;
    }

    .img-peru {
        object-position: 86% !important;
    }

    .landing-default .inner-contain-banner .title .descrip {
        display: none;
    }


    .landing-default .inner-contain-banner .meta-descrip {
        background: #26CAD3;
        border-radius: 0;
        bottom: 137px;
        color: white;
        font-size: 18px !important;
        font-weight: bold;
        left: 0;
        margin-bottom: 155px;
        margin-top: 0;
        margin: auto;
        max-width: 303px;
        padding-left: 15px;
        padding: 10px;
        position: absolute;
        right: 0;
        text-align: center;
    }

    .landing-default {
        min-height: auto !important;
        @supports (-webkit-appearance:none) {
        .img-peru{
                min-height: auto !important;
                height: calc(100vh - 56px) !important; // 56px es el tamanio de la barra de direccion
            }
            
        }
    }

    
    main, .landing-default .inner-contain-banner picture img {
        height: 100%;
    }
}

@media only screen and (max-height:800px) {
    .landing-default .contain-form .group-inner:nth-child(1) {
        padding-top: 1.5rem;
    }

    .landing-default .contain-form .group-inner.ar,
    .landing-default .contain-form .group-inner.pe,
    .landing-default .contain-form {
        height: 100% !important;
    }

    .landing-default .contain-form form {
        height: auto;
    }


    .landing-default .contain-form .group-inner.ar,
    .landing-default .contain-form .group-inner.pe {
        display: flex !important;
    }

   
    .landing-default .inner-contain-banner {
        height: 100% !important;
    }

    /*@-moz-document url-prefix() {
        .landing-default .inner-contain-banner {
            height: 100vh !important;
        }
    }*/
}


@media only screen and (max-height: 730px) {
    .landing-default.landing-default-active {
        height: 100%;
    }

    .landing-default .contaim-form_error {
        margin-top: .7rem;
    }

    @-moz-document url-prefix() {
        .landing-default.landing-default-active {
            height: calc(100% - 65%) !important;
        }

        .landing-default .contain-banner_active .inner-contain-banner {
            height: 100%;
        }

        /*

        .landing-default .contain-form {
            height: calc(100% - 25%);
        }

        .landing-default .contain-form .group-inner.pe {
            height: calc(100% - 25%);
        }

        .landing-default .contaim-form_error .group-inner.pe {
            height: calc(100% - 55%) !important;
        }
        */

    }
}

@media only screen and (max-height: 500px) {
    .landing-default .inner-contain-banner {
        height: 100% !important;
    }

    .landing-default .inner-contain-banner .title {
        align-items: center;
        bottom: 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: 80px;
        width: 100%;
    }

    .landing-default .inner-contain-banner .meta {
        align-items: center;
        background: #3c485c;
        color: white;
        display: flex;
        flex-direction: column;
        height: 130px;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-height:569px) {
    .landing-default .inner-contain-banner .title .gwr {
        margin-bottom: 70px;
    }
}
