@import "generals/reset.scss";
@import "variables/variables.scss";
@import "libraries/select2.scss";
@import "libraries/slick.scss";
@import "libraries/slick-theme.scss";
@import "generals/general.scss";
@import "libraries/sweetalert.scss";
@import "components/custom-select2.scss";
@import "generals/footer.scss";


#body-al-toque{
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.ds-fl{
  display: flex;
}
.ps-rl{
  position: relative;
}
.ps-ab{
  position: absolute;
}
.fl-col{
  display: flex;
  flex-direction: column-reverse;
}
.header-altoque{
  width: 100%;
  background: #000effbf;
}
.header-altoque .logo{
  width: 100%;
  height: 70px;
}
.header-altoque .logo  .logo-original{
  width: 250px;
  height: 100%;
  object-fit: contain;
}
#landing-efectivo-altoque{
  height: calc(100vh - 70px);
  overflow: hidden;
}

#landing-efectivo-altoque .image{
  width: 100%;
  box-shadow: inset 0 0 200px #0000008c;
  overflow: hidden;
}

.banner-al-toque{
  background-origin: border-box;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("/img/banner-al-toque.jpg");
  filter: blur(5px);
  height: 100vh;
  transform: scale(1.01);
  width: 100%;
}
#landing-efectivo-altoque #loanForm{
  align-items: center;
  background: white;
  border-radius: 7px;
  box-sizing: border-box;
  height: 250px;
  left: 50%;
  margin: 0 auto;
  max-width: 336px;
  opacity: 0.85;
  padding: 1.3rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

#loanForm .form-h2{
  font-size: 1.02rem;
  font-weight: 700;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
#loanForm img {
  margin: 7px auto;
  width: 150px;
}

#landing-efectivo-altoque  #logo-al-toque{
  display: none;
}
/*----------------------------------------------------------------------------------*/
/* BreakPoint
/*----------------------------------------------------------------------------------*/

@media only screen and(min-width: 1440px) {
  #landing-efectivo-altoque {
    height: calc(140vh - 70px);
  }
}

@media only screen and(min-width: 768px){

  .banner-al-toque{
    filter:unset;
  }
  .header-altoque{
    display: none;
  }
  #landing-efectivo-altoque{
    height: auto;
  }
  #landing-efectivo-altoque #loanForm .form-h2{
    font-size: 20px;
    text-align: center;
    
  }

  #landing-efectivo-altoque .form-altoque{
    align-items: center;
    flex: 1;
    justify-content: center;
    left: 0;
    max-width: 540px;
    position: unset;
    top:0;
    width: 100%;
  }

  #landing-efectivo-altoque  .image{
    position: absolute;
  }

  #landing-efectivo-altoque  .image .logo-desktop{
    display: block;
    margin-left: 5%;
    margin-top: 2%;
    max-width: 500px;
    position: absolute;
  }
 
}

