@import "variables/variables.scss";
@import "generals/general.scss";
@import "generals/reset.scss";
@import "generals/menu.scss";
@import 'variables/icons.scss';
@import "generals/error.scss";
@import "generals/button.scss";
@import "generals/footer.scss";
@import "../../assets/sass/libraries/animate.scss";
@import "../../assets/sass/libraries/sweetalert.scss"; 
@import "../../assets/scss/core/plugins/select2";



.main-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.main-banner:before {
    background: linear-gradient(to bottom, #3c4044 0%, rgba(53, 110, 115, 0.4) 60%, rgba(38, 202, 211, 0) 100%);
    content: '';
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c4044', endColorstr='#26cad3', GradientType=0);
    height: 200px;
    height: 300px;
    left: 0;
    opacity: 0.34;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    
}
.main-banner img {
    height: auto;
    left: 50%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 101%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    width: 100%;
    width: 100vh;
}
.main-banner article.flex {
    align-items: baseline;
    color:white;
    display: flex;
    flex-direction: column;
    margin: 100px 0 auto;
    padding: 0 1.25rem;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 12; 
} 
main article.flex>div {
    margin: 0 auto;
} 
.main-banner article.flex h1 {
    animation-delay: .2s;
    animation-name: bounceInRight;
    font-family: $LatoBlack;
    font-size: 20px;
    margin-bottom: .5rem;
    margin-top: 0;
    max-width: 580px;
    padding-top: 0;
    padding: 0 1.25rem;
    text-transform: uppercase;
}
.main-banner article.flex h1::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "................";
    display: block;
    font-family: $IcoMoon;
    font-size: 50px;
    height: 30px;
    letter-spacing: 0;
    line-height: 0;
    margin-bottom: 10px;
    margin-left: 0;
}
.main-banner .form-container {
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transform: none;
    transition: all 800ms cubic-bezier(0.26, 1.48, 0.47, 0.96) 990ms;
    visibility: visible;
    z-index: 4;
}
.main-banner .form-container #frmRemarketing {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.main-banner .form-container #frmRemarketing .wrap {
    display: flex;
    flex-direction: column;
}
.main-banner .form-container #frmRemarketing .wrap .w-doc {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.main-banner .form-container #frmRemarketing .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-right: 8px;
}
.main-banner .cbo-saca-credito .select2 {
    border: none;
    padding: 0;
}
.select2 .selection .select2-selection {
    background: white;
    border: 2px solid #D6D8DD;
    color: #34465d;
    height: 45px;
    text-align: left;
}
.main-banner .select2 .selection .select2-selection {
    height: 40px;
}
.main-banner .select2 .selection .select2-selection .select2-selection__rendered {
    line-height: 35px;
}
.main-banner .form-container #frmRemarketing input {
    border: 2px solid rgba(255, 255, 255, 0);
    color:white;
    font-size: 1em;
    height: 40px;
    transition: all 300ms cubic-bezier(0.26, 1.48, 0.47, 0.96) 10ms;
    width: 130px;
}
.input-landing::placeholder {
    color: white !important;
    font-size: 1em;
}


.main-banner .form-container #frmRemarketing input.input-landing {
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    outline: none;
    padding: .5em .75em;
    transition: al .3s ease;
}
.main-banner .form-container #frmRemarketing input:focus {
    border: 2px solid #26CAD3;
}
.main-banner .form-container #frmRemarketing input#email {
    width: 220px;
}
.main-banner .form-container #frmRemarketing .w-btn {
    display: flex;
    margin-bottom: 1rem;
    margin: 10px 0 0 0;
    width: 100%;
}

.main-banner .form-container #frmRemarketing .w-btn .button {
    border-radius: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color:white;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 1em;
    margin: 0 auto;
    min-width: 140px;
    padding: 0 26px;
    text-align: center;
    text-decoration: none;
    width: 220px;
    z-index: 2;
    
}
.main-banner .form-container #frmRemarketing .errorContainer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: right;
    width: 100%;
}

.main-banner .form-container #frmRemarketing .errorContainer span {
    align-items: center;
    background-color: #DE777F;
    border-radius: 5px;
    color: #FFFFFF;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-family: 'Lato Bold','Helvetica', sans-serif;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 2px;
    margin-left: auto;
    margin-left: auto;
    margin-right: 0;
    margin-right: auto;
    margin-top: .25rem;
    padding: .5em .75em;
    position: relative;
}

.main-banner .form-container #frmRemarketing .errorContainer span:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\e92e";
    font-family: 'icomoon';
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: .5rem;
    speak: none;
    text-transform: none;
}
.select2 .selection .select2-selection .select2-selection__rendered {
    background: white;
    color: #34465d;
    line-height: 40px;
    padding-left: .75em;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}
.select2 .selection .select2-selection .select2-selection__arrow {
    bottom: 0;
    margin: auto;
    top: 0;
}
.select2 .selection .select2-selection .select2-selection__arrow b {
    border-color: #26CAD3 transparent;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #26CAD3;
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted {
    color: white;
}
.select2-container--open {
    z-index: 999999999;
}

@media screen and (min-width: 1369px) {
    .main-pe .main-banner:before {
        height: 300px;
        opacity: unset;
    }
    .main-pe .main-banner article h1 {
        font-size: 40px !important;
        padding-top: 2rem !important;
    }
} 
@media only screen and (min-width: 767px){
    .main-pe .main-banner article.flex {
        margin-bottom: 98px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        max-width: 1200px;
        padding: 0; 
        position: relative;
        width: 90%;
    }
    .main-pe .main-banner article.flex>div {
        margin: 0;
    }
    .main-pe .main-banner article h1 {
        font-size: 32px;
        padding: 0;
        text-align: left;
    }
    .main-banner .form-container #frmRemarketing .w-btn .button {
        margin-left: 0;
        margin-right: auto;
        width: 150px;
    }
}
@media only screen and (min-width: 970px){
    .main-pe .main-banner article.flex {
        flex-direction: unset !important;
    }
    .main-pe .main-banner .form-container {
        margin-left: auto !important;
        margin-right: 0 !important;
    }
    .main-pe .main-banner .form-container #frmRemarketing .w-btn .button {
        margin-left: auto;
        margin-right: 0;
    }
}
@media only screen and (max-height: 320px) {
    .main-banner {
        flex-direction: column;
        min-height: 500px !important;
    }
}