@import "generals/reset.scss";
@import "variables/variables.scss";
@import "mixins/mixins.scss";
@import "libraries/select2.scss";
@import "libraries/slick.scss";
@import "libraries/slick-theme.scss";
@import "generals/general.scss";
@import "generals/footer.scss";
@import "generals/button.scss";
@import "components/custom-select2.scss";
@import "../../assets/sass/libraries/sweetalert.scss";
@import "../../assets/sass/libraries/slick.scss";
@import "../../assets/sass/libraries/slick-theme.scss";
@import "components/sections.scss";


header {
    left: 0;
    position: fixed; 
    right: 0;
    top: 0;
    transition: all .25s ease;
    width: 100%;
    z-index: 9999;
}

header .menu-default {
    align-items: center;
    display: flex;
    position: relative;
}

header .menu-default-logo .solven-logo {
    fill: white;
    transition: all .25s ease;
    width: 80px;
    height: 25px;
}

header .menu-default-logo {
    position: absolute;
    top: 23px;
}

header .menu-default .menu-desk {
    position: absolute;
    right: -3px;
    top: 29px;
}

header .menu-default .menu-desk .menu-desk-list {
    align-items: center;
    color: white;
    display: flex;
}


header .menu-default .menu-desk .menu-desk-list .menu-desk-credito a {
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
}

.header-scroll,
.header-form {
    background: white;
    box-shadow: 0 1px 8px rgba(25, 25, 25, 0.45);
}

.header-scroll {
    height: 65px;
}

.header-scroll .menu-default-logo .solven-logo,
.header-form .menu-default-logo .solven-logo {
    fill: #f7323f;
}

.header-scroll .menu-default .menu-desk .menu-desk-list,
.header-form .menu-default .menu-desk .menu-desk-list {
    color: #3c485c;
}


body .select2 {
    display: block;
}

body>.select2-container.select2-container--open .select2-dropdown .select2-search,
body>.select2-container.select2-container--open .select2-dropdown.select2-dropdown--above .select2-search,
body>.select2-container.select2-container--open .select2-dropdown.select2-dropdown--below .select2-search {
    display: none;
} 
.landing-colaboradores{ 
    height: 100%;
}
.landing-colaboradores .contain-banner {
    width: 100%;
    height: 100%;
}
.landing-colaboradores .contain-banner_active {
    display: flex !important;
    position: relative;  
}

.landing-colaboradores .inner-contain-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}

.landing-colaboradores .inner-contain-banner picture {
    display: flex;
    height: auto;
    width: 100%;
}

.landing-colaboradores .inner-contain-banner img {
    height: 500px;
    object-fit: cover;
    object-position: 65%;
    overflow: hidden;
}

.landing-colaboradores .inner-contain-banner .title {
    align-items: center;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: -24px; 
    width: 100%;
}

.landing-colaboradores .inner-contain-banner .title h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.25;
    text-transform: uppercase;

}

.landing-colaboradores .inner-contain-banner .title p {
    font-size: 1.2rem;
}

.landing-colaboradores .inner-contain-banner .bg-red {
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    height: 45px; 
    line-height: 1.65;
    margin-top: 20px;
    width: 230px;
}

.landing-colaboradores .inner-contain-banner .meta {
    align-items: center;
    background: #3c485c;
    color: white;
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: center;
    margin: 0 auto; 
    text-align: center;
    width: 100%;
}

.landing-colaboradores .inner-contain-banner .meta span {
    font-size: 17px;
    line-height: 1;
}
.landing-colaboradores .containt-inner{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - 57px);
    justify-content: center;
    width: 100%;
}
.landing-colaboradores .containt-inner p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}
.landing-colaboradores .containt-inner .sub-containt-inner{
    width: 100%;
   
}
.landing-colaboradores .contain-form {
    display: none;
    margin-top: calc(65px + 1rem);
    padding: 1rem 0;
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s,
}

.landing-colaboradores .contain-form-transform {
    transform: translate3d(0px, 100%, 0px);
} 
 
.landing-colaboradores .contain-form-active {
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    margin-left: auto; 
    margin-right: auto;  
        
}   

.landing-colaboradores .contain-form #adelantoForm,
.landing-colaboradores .contain-form .frm-consumo, 
.landing-colaboradores .contain-form #adelantoForm .adelanto-2,
.landing-colaboradores .contain-form #adelantoForm .adelanto-3 {
     height: 100%; 
}

.landing-colaboradores .contain-form  .frm-selection h2,
.landing-colaboradores .contain-form form h4{
    border-bottom: 1px solid #03BFC3;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100%;
}
.landing-colaboradores .contain-form .frm-selection .card-contain{
    align-items: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    width: 100%;
} 
.landing-colaboradores .contain-form .frm-selection .card-contain .frm-select-title {
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
}    
.landing-colaboradores .contain-form .frm-selection .containt-inner .card-contain .card{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;  
}   
.landing-colaboradores .contain-form .frm-selection .containt-inner .card-contain .card .inner-card {
    align-items: center; 
    border-radius: 5px;
    border: 2px solid #b6bac2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: .5rem; 
    max-width: 140px;
    min-height: 150px;
    padding: .6rem;
    position: relative; 
    transition: all 0.3s ease;
    width: calc(100% - 1rem);
}
.landing-colaboradores .contain-form .frm-selection .card-contain .card .inner-card:hover {
    background: #f9ffff;
    border-color: #26CAD3;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.12), 0 0 11px 0 rgba(0, 0, 0, 0.1);
}
.landing-colaboradores .contain-form .frm-selection .card-contain .card .inner-card svg{
    fill: #616572; 
    margin: auto;
    width: 60px;
} 
.landing-colaboradores .contain-form .frm-selection .card-contain .card .inner-card h3{
    font-size: .65rem;
    margin: auto;
    text-transform: uppercase;
}
.landing-colaboradores .contain-form .frm-selection .card-contain .card .inner-card span {
    background: #FFF;
    border-radius: 50rem;
    border: 2px solid #D6D8DD;
    display: block;
    height: 18px;
    margin: auto;
    width: 18px; 
}
.landing-colaboradores .contain-form .frm-selection .card-contain .card .inner-card:hover span {
    border: 5px solid #FFF;
    background: #26CAD3;
} 
 
.landing-colaboradores .contain-form form .adelanto-1{
    height: 100%; 
}
.landing-colaboradores .contain-form .group-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.landing-colaboradores .contain-form  .group-inner .group {
    padding-bottom: .75rem; 
    width: 100%;
}

.landing-colaboradores .contain-form .group-inner .group label {
    margin-bottom: .3rem;
    display: block; 
}

.landing-colaboradores .contain-form .group-inner .group .field input {
    width: 100%;
} 

.landing-colaboradores .contain-form .group-inner:nth-child(1) .sub-group,
.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(2) .sub-group {
    align-items: center;
    display: flex;
    justify-content: center;
} 
.landing-colaboradores .contain-form .group-inner .c-center {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%; 
    line-height: 1.19; 
}
.landing-colaboradores .contain-form .group-inner .c-center a {
    color: #26CAD3;
    font-weight: bold;
    margin: 0;
}

   .landing-colaboradores .contain-form #adelantoForm,
   .landing-colaboradores .contain-form #loanForm {
      display: none;
  }
.landing-colaboradores .contain-form #adelantoForm .adelanto-2 .group-inner:nth-child(1) .group .field .sub-group span,
.landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(1) .group .field .sub-group span {
   align-items: center;  
   background-color: #D6D8DD; 
   border-radius: .25rem 0 0 .25rem; 
   display: flex; 
   fill:#7a7f8c;
   font-size: 1rem;
   font-weight: 700; 
   height: 38px;
   justify-content: center;  
   max-width: 2.5rem;
   min-width: 2.5rem;
   width: 100%;
} 
.landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(4){
    flex-direction: unset;
    justify-content: space-between;
    margin-top: 2rem;
}
.landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(4) a {
    color: #26CAD3;
    font-weight: bold; 
}
.landing-colaboradores .contain-form #adelantoForm .adelanto-2 .group-inner:nth-child(1) .group .field .sub-group input,
.landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(1) .group .field .sub-group input {
    border-radius: 0 .25rem .25rem 0;  
}

.landing-colaboradores .back-button {
    color: #F7323F;
    display: none; 
    padding-left: .5rem;
    padding-right: .5rem;
}
.landing-colaboradores .back-button svg {
    fill: #F7323F;
    width: 20px;
}
.landing-colaboradores .back-button span {
    margin-left: .5rem; 
    margin-top: 0.15rem;
}
.landing-colaboradores .contain-form .frm-consumo .group-inner{
    width: 100%;
}
.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(1) .group .field .sub-group span,
.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group span {
    align-items: center;
    background-color: #D6D8DD;
    border-radius: .25rem 0 0 .25rem;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    height: 38px; 
    justify-content: center;
    max-width: 2.5rem;
    min-width: 2.5rem;
    width: 100%;
}


.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(1) .group .field .sub-group span {
    color: #7a7f8c;
}
 
.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(1) .group .field .sub-group input,
.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group input {
    border-radius: 0 .25rem .25rem 0;
}
.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(1) .group .field .sub-group input{
    width: 97%;
}
 

.landing-colaboradores .contain-form #adelantoForm .adelanto-1 .group-inner:nth-child(1) .sub-group {
    width: 100%;
}



.landing-colaboradores .contain-form #adelantoForm .adelanto-1 .group-inner:nth-child(1) .sub-group .field:nth-child(1) .select2 {
    width: 100%;
}
.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group span {
    fill: #7a7f8c;
}

.landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(2) .group:nth-child(2) .field .sub-group span svg {
    width: 1rem;
}

.landing-colaboradores .contain-form .group-inner .group .field input[type="checkbox"] {
    display: none;
}

.landing-colaboradores .contain-form .group-inner .group .field .icon-checkbox {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    font-size: .75rem;
    margin-bottom: .25rem;
    order: -1;
    padding-left: 1.5rem;
    position: relative;
    width: 100%;
}

.landing-colaboradores .contain-form .group-inner .group .field .icon-checkbox a {
    color: #26CAD3;
    line-height: 1.2;
}

.landing-colaboradores .contain-form .group-inner .group .field .icon-checkbox:before {
    border-radius: .2rem;
    border: 2px solid #D6D8DD;
    color: #888888;
    content: '';
    flex-shrink: 0;
    font-size: .94rem;
    height: 12px;
    left: 0;
    margin-right: .25rem;
    position: absolute;
    top: 0;
    width: 12px;
}

.landing-colaboradores .contain-form .group-inner .group .field input[type="checkbox"]:checked+label::before {
    background-color: #888888;
    border-color: #888888;
}

.landing-colaboradores .contain-form .group-inner .group .field input[type="checkbox"]:checked+label::after {
    color: #FFF;
    content: 'L';
    display: block;
    font-size: 12px;
    font-weight: bold;
    left: 5px;
    position: absolute; 
    top: 0; 
    transform: scaleX(-1) rotate(-45deg); 
}
.landing-colaboradores .contain-form .footer {
    align-items: flex-start !important;
    font-size: 1rem; 
    margin-top: 5rem;
}
.landing-colaboradores .select2{
    margin-right: 10px;
}
.landing-colaboradores .contain-form .frm-selection {
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 1511px){
    .landing-colaboradores .contain-form .frm-selection .card-contain{
        margin-bottom: 5rem; 
    }
}
@media only screen and (max-width: 1024px) and (max-height:768px) {
    .landing-colaboradores .contain-form .frm-selection {
        height: 84vh !important;
    }
}
@media only screen and (min-width: 768px) and (min-height:1024px) {
    .landing-colaboradores .containt-inner {
        height: auto !important;
        margin: 200px 0;
    }
    .frm-consumo .containt-inner {
        margin: 115px 0;
    }
}

@media only screen and (min-width: 1024px) {
    .inner-menu_active {
        display: flex;
        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
   
    .inner-menu_active .headerLanding {
        width: calc(100% - 540px);   
    }

    .inner-menu_active .empty {
        display: flex;
        max-width: 540px;
        min-width: 540px;
        overflow: hidden;
        width: 100%;
    }

    .landing-colaboradores {
        display: flex;
    }

    .landing-colaboradores .contain-form {
        max-width: 540px;
        min-width: 540px;
        width: 100%;
    }
    .landing-colaboradores .sub-containt-inne{
        width: 100%;
    }
    .landing-colaboradores .contain-form-transform {
        transform: translate3d(100%, 0 0px);
    }

    .landing-colaboradores .contain-form form h4,
    .landing-colaboradores .contain-form .gwr .frm-selection h2 {
        font-size: 1.1rem;
    }
  
    .landing-colaboradores .contain-form #adelantoForm .adelanto-2 .group-inner:nth-child(3),
    .landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(3) {
        margin: 0 auto;
        width: 100%; 
    }
    .landing-colaboradores .contain-form #adelantoForm .adelanto-1 .group-inner:nth-child(4) .btn,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-2 .group-inner:nth-child(3) .btn
    .landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(3) .btn {
        width: 100%;
        max-width: 200px;
    }
    .landing-colaboradores .contain-form #adelantoForm .adelanto-2 .group-inner:nth-child(1) .group .field .sub-group svg
    .landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(1) .group .field .sub-group svg {
        width: 1.2rem;
    } 
    .landing-colaboradores .contain-form #adelantoForm,
    .landing-colaboradores .contain-form .frm-consumo,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-2,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-3 {
        height: 100%;
    }
    .landing-colaboradores {
        height: 100vh;
    }
    .landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(1) .group .field .sub-group input{
        width: 80%; 
    }
} 
@media only screen and (width: 800px) and (height:1280px) {
    .landing-colaboradores .inner-contain-banner .title {
        top: -1%;
    }
    .landing-colaboradores .inner-contain-banner .title .gwr {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .landing-colaboradores .inner-contain-banner .bg-red {
        height: 50px;
        line-height: 1.7;
        width: 255px;
    }

    .landing-colaboradores .inner-contain-banner .bg-red {
        height: 50px;
        line-height: 1.7;
        width: 255px;
    }

    .landing-colaboradores .contain-form-active {
        align-self: stretch;
        height: 104vh; 
    }

    .landing-colaboradores .contain-form-active .gwr {
        display: flex;
        flex-direction: column;
    }

    .landing-colaboradores .contain-form-active form h2,
    .landing-colaboradores .contain-form-active form h4 {
        padding-top: 2.5rem;
    }

    .landing-colaboradores .contain-form-active form .containt-inner {
        height: 85vh;
        margin: auto 0;

    }
    
}
@media only screen and (min-width:800px) {
    .landing-colaboradores .inner-contain-banner .title {
        bottom: -5%;  
    }
    
}
@media only screen and (min-width: 768px) and (max-width:799px) {

    .landing-colaboradores .inner-contain-banner .title .gwr {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .landing-colaboradores .inner-contain-banner .bg-red{
        height: 50px;
        line-height: 1.7;
        width: 255px;
    }
    .landing-colaboradores .inner-contain-banner .title {
        top: 5% !important;
    }
    .landing-colaboradores .contain-form .frm-selection h2,
     .landing-colaboradores .contain-form form h4 {
        font-size: 1.3rem;
    }
    .landing-colaboradores .contain-form .frm-selection .card-contain .frm-select-title,
    .landing-colaboradores .containt-inner p {
        font-size: 1.2rem;
    }
    .landing-colaboradores .contain-form #adelantoForm,
    .landing-colaboradores .contain-form #loanForm{
        height: 100vh;
    }

}
@media only screen and (min-width: 768px) {
    header .menu-default-logo {
        top: 11px;
    }

    header .menu-default-logo .solven-logo {
        fill: #f7323f;
        height: auto;
        width: 120px;
    } 

    header .menu-default .menu-desk .menu-desk-list .menu-desk-credito a {
        font-size: 1rem;
    }

    header .menu-default .menu-desk .menu-desk-list .menu-desk-credito:first-child {
        padding-right: 2rem;
    }

    header .menu-default .menu-desk .menu-desk-list .menu-desk-credito:first-child::after {
        content: unset;
    }

    .landing-colaboradores .contain-form .group-inner {
        align-items: center;
        justify-content: center;
    }
    .landing-colaboradores .contain-form .group-inner .group {
        width: 100%;
    }
    .landing-colaboradores .contain-form .group-inner:nth-child(1) {
        flex-direction: unset;  
    } 
    .landing-colaboradores .inner-contain-banner picture{
        height: 100% !important;
    }

    .landing-colaboradores .inner-contain-banner img {
        height: 100%;
        width: 100%;
    }  

    .landing-colaboradores .inner-contain-banner .title {
        align-items: baseline;
        text-align: left;
    }
    .landing-colaboradores .inner-contain-banner .title h1{
        font-size: 2.7rem;
        font-weight: 750;
    }
    .landing-colaboradores .inner-contain-banner .meta span{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .landing-colaboradores .inner-contain-banner .title p {
        display: block;
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .landing-colaboradores .inner-contain-banner .bg-red{
        margin-top: 10px
    }
    .landing-colaboradores .inner-contain-banner .meta {
        align-items: baseline;
        background: none;
        bottom: -10px; 
        left: 0;
        position: absolute;
        text-align: left;
    }
    
    .landing-colaboradores .contain-form .group-inner:nth-child(1) .group {
        width: 100%;
    }  
      
    .landing-colaboradores .contain-form .group-inner:nth-child(1) .sub-group .field:nth-child(2) {
        width: 100%;
    }

    .landing-colaboradores .contain-form .group-inner:nth-child(1) .sub-group .field:nth-child(1) {
        margin-right: 1rem;
        width: 200px;
    } 
    
    .landing-colaboradores .contain-form .group-inner:nth-child(2) .group{
        margin-right: 0;
    }
    .landing-colaboradores .contain-form .group-inner:nth-child(2) .group .field input {
       width: 100%; 
    }   
    
    .landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(4) {
        margin: 0 auto;
        max-width: 200px; 
    } 
    .landing-colaboradores .contain-form .frm-consumo .group-inner:nth-child(4) .btn{
        width: 100%;
    }
    .landing-colaboradores .inner-contain-banner {
        height: 100vh;  
    }
    .landing-colaboradores .contain-form .frm-selection{
        height: 96%;
    }
    .landing-colaboradores .contain-form #adelantoForm .adelanto-2 .sub-containt-inner,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-3 .sub-containt-inner {
        width: 100%;
    }

    .landing-colaboradores .contain-form #adelantoForm .adelanto-1 .group-inner:nth-child(2){
        width: 100%;
    }
    .landing-colaboradores .contain-form .frm-selection .containt-inner .card-contain .card .inner-card {
        border-color:#b6bac2;
        max-width: 200px;
        min-height: 245px;
    }

    .landing-colaboradores .contain-form .frm-selection .card-contain .card .inner-card svg {
        width: 75px;
    }

    .landing-colaboradores .contain-form .frm-selection .card-contain .card .inner-card h3 {
        font-size: .85rem;
    }

    .landing-colaboradores .contain-form .frm-selection .card-contain .card .inner-card span {
        height: 20px;
        width: 20px;
    }
    .landing-colaboradores .contain-form .group-inner:nth-child(1) .group:nth-child(1) {
        padding-right: 5px;
    }

    .landing-colaboradores .contain-form .group-inner:nth-child(1) .group:nth-child(2) {
        padding-left: 5px;
    }
    
}   
@media only screen and (max-width:1024px) {
    .landing-colaboradores .select2,
    .landing-colaboradores .contain-form .group-inner .group .field input {
        height: 38px;
    } 

    .landing-colaboradores .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 2.5;
    }

    .landing-colaboradores .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0;
    }
    .landing-colaboradores .contain-form #adelantoForm .adelanto-1 .group-inner:nth-child(4) .btn,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-2 .group-inner:nth-child(3) .btn,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(3) .btn {
        width: 200px;  
    }
    .landing-colaboradores .contain-form #adelantoForm .adelanto-2 .group-inner:nth-child(1) .group .field .sub-group svg,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-3 .group-inner:nth-child(1) .group .field .sub-group svg {
        width: 1.15rem;
    } 
    .landing-colaboradores .contain-form #adelantoForm .adelanto-1 .group-inner:nth-child(3) .c-center {
        width: 15rem; 
    }
    .landing-colaboradores .contain-form #adelantoForm .adelanto-1 .group-inner:nth-child(3)  .c-center br {
        display: none; 
    }     
    .landing-colaboradores .contain-form .frm-selection{
        height: 100vh; 
    }
    /*.landing-colaboradores{
        height: 100vh;
    }*/
    .landing-colaboradores .contain-banner{
        height: auto;
    }
    .landing-colaboradores .contain-form-active{
        height: 89%;
    }
    
}   

@media only screen and (max-width:767px) {
    .landing-colaboradores .inner-contain-banner {
        height: 100%;
    }
    .landing-colaboradores .contain-form-transform {
        height: 100%; 
    }
} 
@media only screen and (max-width:600px){
    .landing-colaboradores .contain-form .frm-selection h2 br,
    .landing-colaboradores .contain-form form h4 br {
        display: none;
    }
    
} 
@media only screen and (max-width:500px){
    .landing-colaboradores .contain-form #adelantoForm,
    .landing-colaboradores .contain-form .frm-consumo,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-2,
    .landing-colaboradores .contain-form #adelantoForm .adelanto-3{
        height: auto;
    }
}
@media only screen and (max-height: 700px){
    .landing-colaboradores .contain-form .frm-consumo .footer {
        margin-top: 0;
    }
}
@media only screen and (max-height: 500px) {
    /*.landing-colaboradores .inner-contain-banner {
        height: 168vh;
    }*/

    .landing-colaboradores .inner-contain-banner .title {
        align-items: center;
        bottom: 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: 80px;
        width: 100%;
    }
 
    .landing-colaboradores .inner-contain-banner .meta {
        align-items: center;
        background: #3c485c;
        color: white;
        display: flex;
        flex-direction: column;
        height: 130px;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
     .landing-colaboradores .contain-form #adelantoForm,
     .landing-colaboradores .contain-form .frm-consumo,
     .landing-colaboradores .contain-form #adelantoForm .adelanto-2,
     .landing-colaboradores .contain-form #adelantoForm .adelanto-3 {
         height: auto;
     }

     .landing-colaboradores .contain-form-transform {
         height: 100%;
     }
}
