@import "generals/reset.scss";
@import "variables/variables.scss";
@import "mixins/mixins.scss";
@import "libraries/select2.scss";
@import "libraries/slick.scss";
@import "libraries/slick-theme.scss";
@import "generals/general.scss";
@import "generals/footer.scss";
@import "components/custom-select2.scss";
@import "../../assets/sass/libraries/sweetalert.scss";
@import "../../assets/sass/libraries/slick.scss";
@import "../../assets/sass/libraries/slick-theme.scss";
@import "components/sections.scss";


.ds-fl{
    display: flex;
}
.flx{
    flex:1;
}

.just-cnt-start{
    justify-items: self-start;
    justify-content: flex-start;
}
.just-cnt-end{
    justify-items: self-end;
    justify-content: flex-end;
}
.just-cnt-center{
    justify-content: center;
}
.algn-center{
    align-items: center;
}

.header {
    background-color: transparent;
    color: inherit;
    height: 50px;
    a{
        margin: .5rem 1rem;
    }

}

.change-text-solven{
    .type-change{
        height: 50px;

        .icon-ayuda,
        .icon-warranty,
        .icon-type-change{
            width: 35px;
            position: relative;
        }

        .icon-warranty,
        .icon-type-change{
            right: -8px;
            top: -2px;
            path{
                fill: red;
            }

        }

        .icon-ayuda{
            left: -8px;
            top: -1px;
        }
        span{
            font-size: 11px;
        }

    }
}
main{
    min-height: auto;
    position: relative;
    flex: inherit;
}
.pageChange{
    flex:1;
    justify-content: center;
    align-items: center;
}
.wrap{
    max-width: 487px;
}
.wrap-image{
    display: none;
    //box-shadow: inset 0px -50px 100px #33465D;
    figure{
        img{
            display: none;
        }
    }
}

.frm-change{
    justify-content: center;
    display: flex;
    .title{
        h2{
            position: relative;
            font-size: 18px;
            text-transform: uppercase;
            width: calc(100% - 2rem);
            margin-right: 1rem;
            margin-left: 1rem;
            font-weight: 700;
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 14px;
            text-align: center;
        }
    }
    .sub-form-change{
        flex-direction: column;
    }
    .field{
        position: relative;
        .ds-fl{
            position: relative;
        }
        &:nth-child(1){
            .sub-field{
               
                .soles-currency{
                    justify-content: center;
                    align-items: baseline;
                }
            }
        }
        &:nth-child(1),
        &:nth-child(2){
            .sub-field{
                border-right-color: transparent;
                padding-left: 21px;
                font-size: 20px;
                input{
                    padding-left: 5px;
                }
                
            }
        }

        &:nth-child(2),
        &:nth-child(3){
            span{
                background: #727bb1;
            }
        }
        &:nth-child(2){
            margin-bottom: 20px;
            color:#4f4b90;
            .sub-field{
                border-top-color: transparent;
                input{
                    color:#4f4b90;
                }
                .dolar-currency{
                    justify-content: center;
                    align-items: baseline;
                }
            }
        }
        &:nth-child(3){
            flex-direction: column;
            align-items: center;
            span{
                right: 0;
                height: 40px;
                z-index: 1;
            }

            p{
                color:#4f4b90;
                font-size: 11px;
                margin-top: 6px;
                text-align: center;
            }
            .sub-field{
                height: 40px;
                left: -16px;
                border-left-color: transparent;
                padding-left: 21px;
                font-size: 20px;
                color:#4f4b90;
                justify-content: center;
                input{
                    color:#4f4b90;
                    padding-left: 5px;
                    &:disabled{
                        background: white;

                    }
                }
                .soles-currency{
                    justify-content: center;
                    align-items: baseline;
                    padding-top: 0.2rem;
                }
            }
        }

        span{
            background: #4d498f;
            color:white;
            border-radius: 5px;
            min-width: 80px;
            text-align: center;
            position: absolute;
            right: 14px;
            text-transform: uppercase;

        }
        input{
            border: 0;
            height: 32px;
            min-width: 150px;
            width: 197px;
            padding-right: 25px;
            font-size: 18px;
        }
        .sub-field{
            border:1px solid;
            border-color:#727bb1;
            flex-direction: column;
            border-radius: 7px;
            height: 50px;
            label{
                color:#989898;
                font-size: 12px;
                padding-left: 18px;
            }

        }

    }
    .content-icon{
        position: relative;
        .icon-switch{
            background: white;
            align-items: center;
            border-radius: 50px;
            width: 25px;
            height: 25px;
            padding: 5px;
            top: -15px;
            left: -57px;
            position: absolute;
        }
    }
    .icon-informacion{
        font-size: 16px !important;
        position: relative;
        top: 2px;
    }
    .change-c-v{ 
        -webkit-tap-highlight-color: transparent; 
        span{
            font-size: 11px;
            color:#4f4b90;
            &:first-child{
                margin-right: 4px;
            }
        }

    }
    .change-button{
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 10px;

        button{
            background: #F7323F;
            margin-bottom: 10px;
            width: 150px;
        }
        span{
            font-size: 11px;
            color:#4f4b90;
            text-align: center;
        }
    }

    .soles-currency{
        &::before{
            content:"S/";
            width: 1.5rem;
            font-size: 20px;
        }
    }
    .dolar-currency{ 
        &::before{
            content:"$";
            width: 1.5rem;
            font-size: 22px;
        }
    }

   
    
    
    .tooltip{
        background-color: #3a3a3a;
        border-color: whitesmoke;
        border-radius: 3px;
        bottom: 22px;
        color: white !important;
        cursor: pointer;
        display: none;
        padding: .5rem;
        position: absolute;
        text-align: center;
        width: auto;    
    }
    .switch-currency{
        cursor: pointer;
    }
    .icon-informacion{
        cursor: pointer;
    } 
    .change-c-v{
        position: relative;
        cursor: pointer;
        &:hover{
            .tooltip {
                display: block;
            }
        }
    }   
}

@media only screen and (min-width:$BreakPoint-LaptopMX){
    .wrap-image{
        .h1{
            h1{
                max-width: 500px;
                width: 100%;
                font-size: 40px;
            }
            p{
                font-size: 23px;
            }
        }
    }
}

@media only screen and (min-width:$BreakPoint-TabletMX){
    .frm-change-content{
        h2 {
            font-size: 1.25rem;
            margin-bottom: 0;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: left;
           
        }
    }


}
@media only screen and (min-width:$BreakPoint-Laptop) and (max-width:$BreakPoint-LaptopMX){
    .wrap-image{
        .h1{
            h1{
                max-width: 346px;
                width: 100%;
                font-size: 28px
            }
            p{
                font-size: 18px;
            }
        }
    }
    
    
}

@media only screen and (min-width:$BreakPoint-Tablet){
    .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 510px;
        margin-left: auto;
    }
    .wrap-image{
        width: calc(100% - 494px);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        figure{
            img{
                display: block !important;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: auto;
                max-height: none;
                max-width: none;
                min-height: 100%;
                min-width: 101%;
                transform: translate(-50%, -50%) scale(1.05);
                transition: all .3s ease;
                object-fit: cover;
                z-index: -1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
        &::before{
            content: '';
            width: 100%;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: .6;
            z-index: 2;
            background: linear-gradient(to bottom, #3c4044 0%, rgba(53,110,115,0.5) 50%, rgba(255,255,255,0) 100%);
        }
        a{
            position: absolute;
            top: 2rem;
            left: 0;
            z-index: 3;
            width: 100%;
            padding: 0 3rem;
            color: #FFF;
            svg{
                width: 170px;
                fill: #F7323F;
            }
        }

        .h1{
            //margin-top: auto;
            margin-bottom: 0;
            z-index: 3;
            position: absolute;
            width: 100%;
            padding: 0 3rem;
            color: #FFF;
            top: 22rem;
        }
        h1 {
            text-transform: uppercase;
            font-size: 19px;
            line-height: 1.35;
            font-weight: 800;
            margin-bottom: 1rem;
            max-width: 220px;
        }
        p{
            font-size: 18px;
        }

    }

    .header{
        background-color: transparent;
        color: inherit;
        a{
            display: none;
        }


    }
    .frm-change{
        height: 100vh;
        align-items: center;
    }
    .icon-informacion{
        left: -4px;
    }
    .icon-ayuda{
        left: -5px !important;
    }
}
@media only screen and (min-width:$BreakPoint-CelMX)and (max-width:$BreakPoint-Tablet){
    .pageChange{
        flex:unset;
        flex-direction: column-reverse;
        .wrap{
            flex:unset;
            a{
                svg{
                    padding-top: 18px;
                }
            }
            
        }
        .wrap-image{
            display: block;
            box-shadow: unset;
            .h1{
                display: none;
            }
            img{
                display: block;
                width: 100%;
                
            }
            a{
                svg{
                    display: none;
                }
            }
        }
    }
    
}

@media only screen and (min-width:$BreakPoint-Cel) and (max-width:$BreakPoint-Tablet){

    .frm-change{
        flex-direction: column;

    }
    .change-text-solven{
        //flex-direction: column;
        align-items: center;
    }
    
    .header{
        a{
            position: absolute;
            left: 0;
            z-index: 3;
            width: 100%; 
            padding: 0 3rem;
            color: #FFF;
            top: 0;
            padding-left: 12px;

        }
    }
    .frm-change .change-c-v span:first-child {
        margin-right: 6px;
    }
    .icon-informacion{
        left: -1px !important;
    }


}
@media only screen and (min-width:$BreakPoint-Cel) and (max-width:$BreakPoint-CelMX){
    .wrap{
        .header{
            a{
                #logoSolven{
                    width: 110px !important;
                    top: 0;
                }
            }

        } 
    }

}

@media only screen and (min-width:$BreakPoint-Cel) and  (max-width:549px){
    .frm-change .field .sub-field{
        min-width: 100px;
        width: 200px
    }
    .change-text-solven{
        .ds-fl{
            .type-change{
                span{
                    text-align: center;
                }
            }
            
        }
    }
    .frm-change {
        h2{ 
            font-size: 14px !important;
        }
    }
}