@import "generals/reset.scss";
@import "generals/menu.scss";
@import "variables/variables.scss";
@import "mixins/mixins.scss";
@import "libraries/select2.scss";
@import "libraries/slick.scss";
@import "libraries/slick-theme.scss";
@import "generals/general.scss";
@import "generals/button.scss";
@import "generals/footer.scss";
@import "components/custom-select2.scss";
@import "../../assets/sass/libraries/sweetalert.scss";
@import "../../assets/sass/libraries/slick.scss";
@import "../../assets/sass/libraries/slick-theme.scss";
@import "components/sections.scss";


.lending-service .contain-banner {
    width: 100%;
}

.lending-service .contain-banner_active {
    position: relative
}

.lending-service .inner-contain-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%
}

.lending-service .inner-contain-banner picture {
    display: flex;
    height: auto;
    width: 100%;
}

.lending-service .inner-contain-banner img {
    height: 500px;
    object-fit: cover;
    object-position: 50%;
    overflow: hidden
}

.lending-service .inner-contain-banner .title {
    align-items: center;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 100%
}

.lending-service .inner-contain-banner .title h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.25;
    margin-bottom: 15px;
    text-transform: uppercase
}

.lending-service .inner-contain-banner .title p {
    display: none
}

.lending-service .inner-contain-banner .title .title-icon {
    display: none;
}

.lending-service .inner-contain-banner .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lending-service .inner-contain-banner .link .bg-red {
    margin-top: 0;
}

.lending-service .inner-contain-banner .link .bg-red,
.lending-service .inner-contain-banner .link .bg-transparent {
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    height: 45px;
    line-height: 1.65;
    margin-top: 20px;
    width: 200px;
}

.lending-service .inner-contain-banner .link .bg-transparent {
    border: 1px solid white;
}

.lending-service .inner-contain-banner .meta {
    align-items: center;
    color: white;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 100%
}

.lending-service .inner-contain-banner .meta {
    background: #3c485c;
    flex-direction: column;
}

.lending-service .inner-contain-banner .meta .gwr {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lending-service .inner-contain-banner .meta .meta-visitas {
    align-items: center;
    display: flex;
    padding-bottom: 15px;
}

.lending-service .inner-contain-banner .meta .meta-visitas span {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    padding-left: 7px;
}

.lending-service .inner-contain-banner .meta .meta-visitas .visitas {
    align-items: center;
    display: flex;
}

.lending-service .inner-contain-banner .meta .meta-visitas .visitas img {
    height: unset;
    object-fit: unset;
    object-position: unset;
    overflow: unset;
    width: 22px;
}

.lending-service .inner-contain-banner .meta .meta-visitas .visitas strong {
    font-size: 1rem;
}

.lending-service .inner-contain-banner .meta .meta-visitas .visitas img:last-child {
    transform: rotateY(180deg);
}

.lending-service .inner-contain-banner .meta span {
    font-size: 17px;
    line-height: 1
}

.lending-service .lendingService-inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 3.5rem;
    padding: 1.8rem 0;
}

.lending-service .lendingService-inner .lendingService-programas {
    color: #3c485c;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0;
    margin: 1rem 0;
    order: 2;
    z-index: 1;
}

.lending-service .lendingService-inner .lendingService-group .lendingService-title p {
    color: #4d4d4d;
}

.lending-service .lendingService-inner .lendingService-group .lendingService-img {
    margin: 0 auto;
    max-width: 465px;
    order: 1;
}

.lending-service .lendingService-inner .lendingService-group .lendingService-img img {
    width: 100%;
}

.lending-service .lendingService-partners {
    background: #f7323f;
    height: auto;
    width: 100%;
    padding: 1rem 0;
}

.lending-service .lendingService-inner .lendingService-group:nth-child(3) .lendingService-img {
    margin-bottom: 20px;
}

.lending-service .lendingService-partners p {
    color: white;
    line-height: 1.5;
}

.lending-service .lendingService-partners p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.lending-service .lendingService-partners .socios .socios-group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lending-service .lendingService-partners .socios .socios-group span {
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.lending-service .lendingService-partners .socios .socios-group span:nth-child(3n) {
    margin-right: 0;
}

.lending-service .lendingService-partners .socios .socios-group span img {
    width: 90px;
}

.lending-service .lendingService-partners .socios .socios-group .icon-abaco img,
.lending-service .lendingService-partners .socios .socios-group .icon-accial img,
.lending-service .lendingService-partners .socios .socios-group .icon-efl img,
.lending-service .lendingService-partners .socios .socios-group .icon-presto img,
.lending-service .lendingService-partners .socios .socios-group .icon-qapaq img {
    transform: scale(0.85);
}

.lending-service .lendingService-partners .socios .socios-group .icon-prisma img,
.lending-service .lendingService-partners .socios .socios-group .icon-credito-regional img,
{
    transform: scale(1.2);
}

.lending-service .lendingService-partners .socios .socios-group .icon-casa-andes img {
    transform: scale(0.75);
}

.lending-service .lendingService-partners .socios .socios-group .icon-banbif img {
    transform: scale(0.9);
}

.lending-service .lendingService-partners .socios .socios-group .icon-casa-andes img {
    transform: scale(0.75);
}

.lending-service .lendingService-form form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 90%;
}

.lending-service .lendingService-form form p {
    color: #3c485c;
    font-size: 1.60rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.lending-service .lendingService-form .group-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lending-service .lendingService-form .group-inner .group {
    max-width: 300px;
    padding-bottom: 1rem;
    width: 100%;
}

.lending-service .lendingService-form .group-inner .group textarea {
    height: 100px;
    padding-top: 9px;
}

.lending-service .lendingService-form .group-inner .group input,
.lending-service .lendingService-form .group-inner .group textarea {
    width: 100%;
}

.lending-service .lendingService-form .group-inner .group:nth-child(7) {
    display: flex;
    justify-content: flex-end;
}

.lending-service .lendingService-form .group-inner .group:nth-child(7) .bg-red {
    height: 45px;
    width: 180px;
}

.lendingService-form .lendingService-form-img {
    height: auto;
    width: 100%;
}

.lendingService-form .lendingService-form-img img {
    height: 100%;
    width: 100%;
}

.sweet-alert[data-custom-class] h2 {
    font-size: 25px;
}

.lending-service .lendingService-form .group-inner .ar .sub-group {
    display: flex;
}

.lending-service .lendingService-form .group-inner .ar .sub-group .field:nth-child(2) {
    padding-left: 10px;
}

.lending-service .lendingService-inner .lendingService-group .lendingService-title .lendingService-subTitle {
    color: #f7323f;
    font-size: 1.28rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.lendingService-icon {
    display: flex;
    justify-content: space-around;
    margin: 4rem 0;
    text-align: center;
}

.lendingService-icon .icon-1,
.lendingService-icon .icon-2,
.lendingService-icon .icon-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lendingService-icon .icon-1 svg,
.lendingService-icon .icon-2 svg,
.lendingService-icon .icon-3 svg {
    width: 50px;
    ;
}

.lendingService-icon .icon-1 span,
.lendingService-icon .icon-2 span,
.lendingService-icon .icon-3 span {
    color: #f7323f;
    font-size: 0.9rem;
    padding-top: 5px;
}

.lending-service .lendingService-inner .group-order1 .lendingService-title,
.lending-service .lendingService-inner .group-order2 .lendingService-title,
.lending-service .lendingService-inner .group-order3 .lendingService-title,
.lending-service .lendingService-inner .group-order4 .lendingService-title {
    order: 2;
    padding-top: 2rem;
}

.group-order2 {
    margin: 3rem 0;
}

.group-order2 .lendingService-group {
    margin: 0 !important;
}

.icon-credito-regional{
    width: 95px;
}

.icon-prisma{
    width: 100px;
}

@media only screen and (min-width: 1224px) {
    //.lending-service .lendingService-partners .socios .socios-group .icon-qapaq {
    //    order: 9 !important;
    //}
    //
    //.lending-service .lendingService-partners .socios .socios-group .icon-efl {
    //    order: 8 !important;
    //}

}

@media only screen and (min-width: 1024px) {
    .inner-menu_active {
        display: flex;
        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 1
    }

    .inner-menu_active .headerLanding {
        width: calc(100% - 540px)
    }

    .inner-menu_active .empty {
        display: flex;
        max-width: 540px;
        min-width: 540px;
        overflow: hidden;
        width: 100%
    }

    .lending-service {
        display: flex
    }

    .lendingService-form {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .lending-service .lendingService-inner .lendingService-group {
        align-items: center;
        display: flex;
        flex-direction: unset;
        justify-content: space-between;
        margin: 4rem 0;
        width: 100%;
    }

    .lending-service .lendingService-inner .lendingService-group .lendingService-img {
        margin: 0;
    }

    .lending-service .lendingService-inner .lendingService-group:nth-child(1) .lendingService-title,
    .lending-service .lendingService-inner .lendingService-group:nth-child(3) .lendingService-title {
        order: 1;
    }

    .lending-service .lendingService-form form {
        margin: unset;
        max-width: unset;
        width: 51.2%;
    }

    .lending-service .lendingService-partners .socios .socios-group {
        justify-content: space-evenly;
    }

    .lendingService-form .lendingService-form-img {
        height: 629px;
        max-width: 600px;
    }

    .lendingService-form .lendingService-form-img img {
        max-width: 600px;
    }

    .lendingService-icon .icon-1,
    .lendingService-icon .icon-2,
    .lendingService-icon .icon-3 {
        flex-direction: unset;
    }

    .lendingService-icon .icon-1 svg,
    .lendingService-icon .icon-2 svg,
    .lendingService-icon .icon-3 svg {
        width: 60px;
    }

    .lendingService-icon .icon-1 span,
    .lendingService-icon .icon-2 span,
    .lendingService-icon .icon-3 span {
        font-size: 1.2rem;
        padding-left: 10px;
        text-align: left;
    }

    .lending-service .lendingService-inner .group-order1 .lendingService-title,
    .lending-service .lendingService-inner .group-order3 .lendingService-title {
        order: 2;
        padding-top: unset !important;
    }

    .lending-service .lendingService-inner .group-order2 .lendingService-title,
    .lending-service .lendingService-inner .group-order4 .lendingService-title {
        order: 1;
        padding-top: unset !important;
    }

    .lending-service .lendingService-inner .lendingService-programas {
        text-align: left;
    }

    .lending-service .lendingService-inner .group-order2 .lendingService-group {
        margin-top: 0;
    }

    .lending-service .inner-contain-banner .title {
        bottom: -21% !important;
        top: -117px;
    }

    .group-order3 .lendingService-title p:last-child {
        margin-bottom: 4rem;
    }

    .lendingService-icon {
        margin: 8rem 0;
    }

    .group-order2 {
        padding: 4rem 0;
    }

    .lending-service .lendingService-inner .lendingService-group {
        padding: 4rem 0;
    }

    .lending-service .lendingService-inner .group-order1 .lendingService-img {
        max-width: 513px !important;
    }

    .group-order2 .lendingService-group {
        padding-top: 0 !important;
    }

    .lending-service .lendingService-inner .lendingService-programas,
    .lending-service .lendingService-partners p:first-child,
    .lending-service .lendingService-form form p {
        font-size: 1.75rem !important;
    }

    .lending-service .lendingService-inner .lendingService-group:nth-child(2) .lendingService-title p:nth-child(1),
    .lendingService-group .lendingService-title .lendingService-subTitle {
        font-size: 1.45rem !important;
    }
}

@media only screen and (min-width: 801px) {
    .lending-service .inner-contain-banner .title .title-icon {
        bottom: 14rem !important;
    }

}

@media only screen and (min-width: 800px) {
    .lending-service .inner-contain-banner .title {
        align-items: baseline;
        text-align: left;
        bottom: -25%;
    }

    .lending-service .inner-contain-banner .link {
        flex-direction: unset;
        justify-content: unset;
    }

    .lending-service .inner-contain-banner .link a:first-child {
        margin-right: 2rem;
    }

    .lendingService-icon {
        justify-content: space-evenly;
    }

}

@media only screen and (width: 800px) and (height:1280px) {
    .lending-service .inner-contain-banner .title {
        top: -15%;
    }

    .lending-service .inner-contain-banner .title .gwr {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .lending-service .inner-contain-banner .link .bg-red,
    .lending-service .inner-contain-banner .link .bg-transparent {
        height: 50px;
        line-height: 1.7;
        width: 255px;
    }
}

@media only screen and (min-width: 768px) and (max-width:799px) {
    .lending-service .inner-contain-banner .title {
        align-items: center;
        justify-content: center;
        text-align: left;
        top: 18%
    }

    .lending-service .inner-contain-banner .title .gwr {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .lending-service .inner-contain-banner .title .title-icon {
        max-width: 700px !important;
    }

    .lending-service .inner-contain-banner .link .bg-red,
    .lending-service .inner-contain-banner .link .bg-transparent {
        height: 50px;
        line-height: 1.7;
        width: 255px;
    }

    .lending-service .inner-contain-banner .title .title-icon {
        justify-content: center;
    }

    .lending-service .inner-contain-banner .title .title-icon .title-visitas span {
        font-size: 1.2rem;
    }

    .lending-service .inner-contain-banner img {
        object-position: 2% 77%;
    }

}

@media only screen and (min-width: 768px) and (max-width:1024px) {

    .lending-service .lendingService-inner .lendingService-programas,
    .lendingService-group .lendingService-title .lendingService-subTitle {
        font-size: 1.60rem;

    }

    .lending-service .lendingService-inner .lendingService-group:nth-child(2) .lendingService-title p:nth-child(1) {
        font-size: 1.50rem;
    }
}

@media only screen and (min-width: 768px) {
    .lending-service .inner-contain-banner .title .meta-descrip {
        color: white;
        display: block;
        font-size: 1rem;
        text-align: center;
    }

    .lending-service .inner-contain-banner .title {
        top: -117px;
    }

    .lending-service .inner-contain-banner img {
        height: 100%;
        object-position: 50% 77%;
        width: 100%;
    }

    .lending-service .inner-contain-banner .title h1 {
        font-size: 2.7rem;
        font-weight: 750;
    }

    .lending-service .inner-contain-banner .title .title-icon {
        align-items: center;
        bottom: 1rem;
        display: flex;
        max-width: 800px;
        position: absolute;
        width: 100%;
    }

    .lending-service .inner-contain-banner .title .title-icon .title-visitas {
        align-items: center;
        display: flex;
    }

    .lending-service .inner-contain-banner .title .title-icon .title-visitas .visitas {
        align-items: center;
        display: flex;
    }

    .landing-empresa .inner-contain-banner picture {
        height: 100% !important;
    }

    .lending-service .inner-contain-banner .title .title-icon .title-visitas .visitas img {
        width: 28px;
    }

    .lending-service .inner-contain-banner .title .title-icon .title-visitas .visitas strong {
        font-size: 1.2rem;
    }

    .lending-service .inner-contain-banner .title .title-icon .title-visitas .visitas img:last-child {
        transform: rotateY(180deg);
    }

    .lending-service .inner-contain-banner .title .title-icon .title-visitas span {
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 1.1;
        padding-left: 7px;
    }

    .lending-service .inner-contain-banner .title .subTitle {
        display: block;
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .lending-service .inner-contain-banner .link .bg-red,
    .lending-service .inner-contain-banner .link .bg-transparent {
        margin-top: 10px
    }

    .lending-service .inner-contain-banner .meta {
        display: none;
    }


    .lending-service .inner-contain-banner {
        height: 100vh
    }

    .lending-service .lendingService-partners {
        padding: 3.5rem 0;
    }

    .lending-service .lendingService-partners .socios .socios-group span {
        margin-bottom: 0;
        margin-right: 2rem;
        max-width: 104px;
    }

    .lending-service .lendingService-partners .socios .socios-group span img {
        width: 100%;
    }

    .lending-service .lendingService-partners p:first-child {
        font-size: 1.60rem;
        font-weight: 700;
        margin-bottom: 3.5rem;
    }

    .lending-service .lendingService-partners p {
        font-size: 1.17rem;
    }

    .lending-service .lendingService-partners p:nth-child(3) {
        margin-top: 3.5rem;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-banbif{
        order: 1;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-ripley {
        order: 2;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-compartamos {
        order: 3;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-banco-sol {
        order: 4;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-acceso {
        order: 5;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-abaco {
        order: 6;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-aleucoop {
        order: 7;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-caja-sullana {
        order: 8;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-efl {
        order: 9;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-accial {
        order: 10;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-prestamype {
        order: 11;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-presto {
        order: 12;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-banco-pichincha {
        order: 13;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-transatlantica {
        order: 14;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-efectiva {
        order: 15;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-fundacion-mujer {
        order: 16;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-efectivo-si {
        order: 17;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-banco-azteca {
        order: 18;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-casa-andes {
        order: 19;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-prisma {
        order: 20;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-finansol {
        order: 21;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-inversiones-la-cruz {
        order: 22;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-qapaq {
        order: 24;
    }

    .lending-service .lendingService-partners .socios .socios-group .icon-credito-regional {
        order: 23;
    }

    //.lending-service .lendingService-partners .socios .socios-group .icon-bvva {
    //    order: 19;
    //}
    //.lending-service .lendingService-partners .socios .socios-group .icon-vivus {
    //    order: 23;
    //}
    //.lending-service .lendingService-partners .socios .socios-group .icon-credigob {
    //    order: 24;
    //}
    //.lending-service .lendingService-partners .socios .socios-group .icon-deuna {
    //    order: 27;
    //}

    .lending-service .lendingService-form .group-inner .group {
        max-width: 400px;
    }

    .sweet-alert[data-custom-class] h2 {
        margin-bottom: 3px;
        margin-top: 0;
    }



    .lending-service .lendingService-inner .lendingService-group .lendingService-title p:not(:nth-child(1)),
    .lending-service .lendingService-inner .lendingService-group:nth-child(1) .lendingService-title p {
        font-size: 1.17rem !important;
    }


    .lending-service .lendingService-inner .lendingService-group .lendingService-title,
    .lending-service .lendingService-inner .lendingService-group .lendingService-img {
        max-width: 540px;
    }

}

@media only screen and (min-width: 500px) {
    .lending-service .lendingService-partners .socios .socios-group span:nth-child(3n) {
        margin-right: 2rem;
    }
}

@media only screen and (width: 1024px) and (height: 768px) {
    .lending-service .lendingService-partners .socios .socios-group span {
        max-width: 122px;
    }

    .lending-service .inner-contain-banner .title .title-icon {
        bottom: 12.2rem !important;
    }
}

@media only screen and (width: 768px) and (height: 1024px) {
    .lendingService-icon {
        justify-content: space-evenly !important;
    }

}

@media only screen and (min-height:768px) and (min-width: 1024px) {
    .lendingService-form .lendingService-form-img img {
        max-width: 569px !important;
    }

    .lendingService-form .lendingService-form-img {
        height: 580px !important;
    }
}

@media only screen and (max-width: 1024px) and (max-height:768px) {

    .lending-service .lendingService-inner .group-order1 .lendingService-title,
    .lending-service .lendingService-inner .group-order3 .lendingService-title,
    .lending-service .lendingService-inner .group-order2 .lendingService-title,
    .lending-service .lendingService-inner .group-order4 .lendingService-title {
        order: 2 !important;

    }

    .lending-service .lendingService-inner .group-order3 .lendingService-title,
    .lending-service .lendingService-inner .group-order2 .lendingService-title,
    .lending-service .lendingService-inner .group-order4 .lendingService-title {
        padding-top: 2.5rem !important;
    }

    .lending-service .lendingService-inner .group-order1 .lendingService-title {
        padding-top: 1rem;
    }

    .lending-service .lendingService-inner .lendingService-group .lendingService-img {
        order: 1 !important;
        padding: 0;
    }

    .lending-service .lendingService-inner .lendingService-group,
    .group-order2 {
        padding: 0 !important;
    }

    .lendingService-icon {
        justify-content: space-evenly !important;
        margin: 4rem 0 !important;
    }
}

@media only screen and (max-width: 1024px) {

    .lending-service .select2,
    .lending-service .contain-form .group-inner .group .field input {
        height: 38px
    }

    .lending-service .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 2.2
    }

    .lending-service .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0
    }

    .lending-service .lendingService-inner .lendingService-group {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin: 4rem 0;
        width: 100%;
    }

    .lending-service .lendingService-inner .lendingService-programas {
        max-width: 465px;
        margin-left: auto;
        margin-right: auto
    }

    .lendingService-icon {
        justify-content: space-between;
    }

    .lending-service .lendingService-form form,
    .lending-service .lendingService-form .group-inner .group {
        max-width: 500px;
    }

    .lending-service .lendingService-inner .lendingService-group .lendingService-img {
        padding: 1rem 0;
    }

    .group-order2 .lending-service .lendingService-inner .lendingService-group .lendingService-img {
        padding-top: 2rem;
    }

}

@media only screen and (max-width: 767px) {
    .lending-service .inner-contain-banner {
        height: 100%;
    }

    .lendingService-form .lendingService-form-img {
        overflow: hidden;
        height: 100%;
    }

    .lending-service .inner-contain-banner .title .title-icon .title-visitas {
        margin-left: 5rem;
    }
}

@media only screen and (max-width:400px) {
    .lending-service .inner-contain-banner .meta span br {
        display: none;
    }
}

@media only screen and (max-height: 768px) {
    .lendingService-icon {
        justify-content: space-between;
    }

    .lending-service .lendingService-inner .lendingService-group .lendingService-img {
        order: 1;
    }

    .lendingService-inner .lendingService-group .lendingService-title p:last-child {
        margin-bottom: 0rem;
    }
}

@media only screen and (max-height: 500px) {
    /*.lending-service .inner-contain-banner {
        height: 168vh;
    }*/

    .lending-service .inner-contain-banner .title {
        align-items: center;
        bottom: 0;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: -98px;
        width: 100%;
    }


    .lending-service .inner-contain-banner .link {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lending-service .inner-contain-banner .title .title-icon {
        display: none;
    }

    .lending-service .inner-contain-banner .meta {
        background: #3c485c;
        flex-direction: column;
    }

    .lending-service .inner-contain-banner .meta {
        align-items: center;
        color: white;
        display: flex;
        height: 150px;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .lending-service .inner-contain-banner .link a:first-child {
        margin-right: 0;
    }
}