@import "variables/variables.scss";
@import "generals/reset.scss";

body {
    background: #f6fafd;
    height: 100%;
    min-height: 100vh;
}

.gwr {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

.font-lato {
    font-family: $lato;
}

.font-lato-black {
    font-family: $LatoBlack;
}

.font-lato-bold {
    font-family: $LatoBold;
}

.font-lato-light {
    font-family: $LatoLight;
}

.font-lato-medium {
    font-family: $LatoMedium;
}

.font-lato-regular {
    font-family: $LatoRegular;
}


.page-verificacion-email {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

.page-verificacion-email .card {
    background: white;
    border-radius: 13px;
    //box-shadow: -3px -5px 6px #747677;
    //box-shadow: -3px -5px 6px #74767780;
    box-shadow: 0px 0px 10px #74767780;
    height: 277px;
    max-width: 290px;
    width: 100%;
}

.page-verificacion-email .card .card-body{
    padding-top: 0 !important;
    text-align: center;
}

.page-verificacion-email .card .card-head,
.page-verificacion-email .card .card-body,
.page-verificacion-email .card .card-footer {
    padding: 1rem;
}

.page-verificacion-email .card .card-head svg {
    fill: #f7323f;
    width: 100%;
}

.page-verificacion-email .card .card-body .title, .page-verificacion-email .card .card-body .subtitle {
    color:#7a808d;
    text-align: center;
}
.page-verificacion-email .card .card-body .title + .subtitle {
    margin-top: .5rem;
}

.page-verificacion-email .card .card-footer {
    padding-top: .2rem;
    text-align: center;
}

.page-verificacion-email .card .card-footer .ready  {
    background:#26cad3;
    border-radius: 21px;
    color:white;
    width: 100%;
}
.page-verificacion-email .card .card-footer span.ready  {
    padding: .5rem;
    cursor: default;
}


@media only screen and (min-width:769px) {
    .page-verificacion-email .card .card-head svg {
        height: 24px;
        max-width: 76px;
    }


    .page-verificacion-email .card .card-body svg {
        width: 100px;
        height: 100px;
    }


    .page-verificacion-email .card .card-body .title {
        font-size: 17px;
    }

    .page-verificacion-email .card .card-body .subtitle {
        font-size: 15px;
    }

    .page-verificacion-email .card .card-footer .ready {
        font-size: 15px;
        height: 35px;
        line-height: 1;
        max-width: 175px;
    }
}

@media only screen and (max-width:768px){
    .page-verificacion-email .card .card-head svg {
        height: 24px;
        max-width:76px;
    }

    .page-verificacion-email .card .card-body svg {
        height: 100px;
        width: 100px;
    }

    .page-verificacion-email .card .card-body .title {
        font-size: 17px;
    }

    .page-verificacion-email .card .card-body .subtitle {
        font-size: 15px;
    }

    .page-verificacion-email .card .card-footer .ready {
        font-size: 15px;
        height: 35px;
        line-height: 1;
        max-width: 175px;
    }

}
