@import "./colors.scss";
button {
    background-color: transparent;
}

.btn {
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.42857143;
    min-height: 30px;
    padding: 0.4rem 1rem;
    position: relative;
    text-align: center;
    transform: none;
    transition: all 0.3s ease;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:hover {
    box-shadow: 0 0.5rem 0.975rem 0 rgba(0, 0, 0, 0.25);
}

.btn:active {
    transform: scale(0.96);
}


.bg-red{
    background: $red;
}
.bg-red-1{
    background: $red-1;
}
.bg-red-2 {
    background: $red-2;
}
.bg-red-3 {
    background: $red-3;
}
.bg-blue-banbif{
    background: #20A6FF;
    color: white;
}

.bg-lightblue{
    background: $lightblue;
}
.bg-lightblue-1 {
    background: $lightblue-1;
}
.bg-lightblue-2 {
    background: $lightblue-2;
}

.bg-lightblue-offer {
    background: $lightblue-offer;
}


.bg-blue {
    background: $blue;
}

.bg-blue-1 {
    background: $blue-1;
}

.bg-blue-2 {
    background: $blue-2;
}

.bg-blue-3 {
    background: $blue-3;
}
.bg-blue-offer {
    background: $blue-offer;
}


.bg-orange-offer{
    background: $orange-offer;
}



