$black:#34465d;
$black-1: #3F3B3B;
$black-2: #7A808D;
$black-3: #B6BAC2;
$black-4: #D6D8DD;
$black-5: #F9F9FB;

$blue: #6687dc;
$blue-1:#484c91;
$blue-2: #484C91;
$blue-3: #8082B0;
$blue-4: #BABBD4;
$blue-5: #D8D8E6;
$blue-6: #fbfbff;
$blue-offer: #4861A1;

$lightblue: #26CAD3;
$lightblue-1:#03BFC3;
$lightblue-2: #9ED5DC;
$lightblue-3: #C9E5E9;
$lightblue-4: #DFECF0;
$lightblue-5: #f9ffff;
$lightblue-offer: #5FA6AC;

$orange-offer: #E07975;

$red: #F7323F;
$red-1: #DE777F;
$red-2: #EAB4B9;
$red-3: #F0D5D8;

$silver: #ccd8e8;

$yellow: #FDDB33;
$yellow-1: #ffe100;


$error-color: #e65118;
$facebook_color: #3b5998;
$gmail_color: #c71610;
$google_color: #dd4d40;
$linkedin_color: #0077b5;
$mercadolibre_color: #fed100;
$outlook_color: #0078d7;
$twiiter_color: #1da1f2;
$yahoo_color: #470198;