@import '../variables/variables.scss';
.field-error .select2 .selection .select2-selection
.field-error input.input-outline,
.field-error input.signature-input,
.field-error select.input-outline,
.field-error span[role=combobox] {
    border: 2px solid #DE777F !important;
}
.field-error .select2 .selection .select2-selection .field-error input.input-outline:focus,
.field-error input.signature-input:focus,
.field-error select.input-outline:focus,
.field-error span[role=combobox]:focus {
    border-color: #DE777F !important;
}

.errorMessage small {
    background: #DE777F;
}
.successMessage small {
    background: #9ED5DC;
}
.errorMessage small,
.successMessage small {
    border-radius: .25rem;
    color: #FFF;
    display: block;
    font-size: .9rem;
    margin-bottom: .5rem;
    order: 1;
    padding: .5rem 1rem;
}

.errorContainer span {
    align-items: center;
    background-color: #DE777F;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    font-family: 'Lato Bold', 'Helvetica', sans-serif;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: 0;
    margin-top: .25rem;
    padding: .5em .75em;
    position: relative;
}
.errorContainer span:before{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    content: "\e92e";
    font-family: 'icomoon';
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: .5rem;
    speak: none;
    text-transform: none;
}