footer {
    background-color: #3F3B3B;
    color: #D6D8DD;
    display: block !important;
    padding: 1rem 0;
    z-index: 2;
}

footer .gwr {
    border-bottom: 1px solid #B6BAC2;
    margin-bottom: 1.25rem;
    padding-bottom: .75rem;
}

footer ul.list-menu li,
footer ul.list-info li {
    width: 80%;
}

footer ul.list-menu li a,
footer ul.list-menu li p,
footer ul.list-info li a,
footer ul.list-info li p {
    display: inline-block;
    padding: .2rem 0;
}

footer .footer-down {
    border: none;
    margin-bottom: 0;
    text-align: center;
}

footer .gwr.footer-down>ul>li:not(:last-child) {
    margin-bottom: 1rem;
}

footer .gwr.footer-down>ul>li:nth-child(2) {
    color: #838998;
}

footer ul.list-social {
    display: flex;
    align-items: center;
    font-size: 0;
}

footer ul.list-social li {
    color: white !important;
    margin: 0 .25rem;
}

footer ul.list-social a {
    display: block;
}

footer ul.list-social svg {
    fill: #FFF;
    width: 20px;
}

footer .gwr.footer-down {
    border: none;
    margin-bottom: 0;
    text-align: center;
}

footer ul.list-social a {
    display: block;
}

footer ul.list-social svg {
    fill: #FFF;
    width: 20px;
}
footer ul.list-menu li svg,
footer ul.list-info li svg {
    fill: #FFF;
    width: 16px; 
}
 
 
@media screen and (min-width: 768px) {
    .footer {
        font-size: 1rem;
    }

    .footer>.gwr {
        align-items: flex-start;
        display: flex;
    } 

    .footer>.gwr ul {
        width: 33.333%;
    }

    .footer>.gwr ul.list-info {
        font-size: .9rem;
    }

    .footer>.gwr ul.list-info li {
        width: 100%;
    }

    .footer>.gwr ul.list-info li p,
    .footer>.gwr ul.list-info li a {
        padding: 0;
    }

    .footer>.gwr.footer-down ul {
        align-items: center;
        display: flex;
        justify-content: space-between !important;
        width: 100%;
    }

    .footer>.gwr.footer-down-pe ul {
        justify-content: center;
    }

    .footer>.gwr.footer-down-pe ul li:first-child {
        margin-bottom: 0 !important;
        order: 2;
        width: 100%;
    }

    .footer .gwr.footer-down>ul>li:not(:last-child) {
        margin-bottom: 1rem;
    }

    .footer>.gwr.footer-down-pe ul li:last-child .bloc ul li:nth-child(1) {
        order: 1;
    }

    .footer>.gwr.footer-down-pe ul li:last-child .bloc ul li:nth-child(2) {
        order: 2;
    }

    .footer>.gwr.footer-down-pe ul li:last-child .bloc ul li:nth-child(3) {
        order: 3;
    }

    .footer>.gwr.footer-down-pe ul li:last-child .bloc ul li:nth-child(4) {
        order: 4;
    }
}