
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    transition: all .25s ease;
}
header .menu-default {
    align-items: center;
    display: flex;
    position: relative;
} 
header .menu-default-logo {
    cursor: pointer;
    position: absolute;
    top: 23px;
    z-index: 1;
}
header .menu-default-logo .solven-logo  {
    fill: white;
    transition: all .25s ease;
    width: 80px;
    height: 25px;
}
header .menu-default-logo .solven-logo.is-active {
    fill: #f7323f;
}
header .hamburger {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
    cursor: pointer;
    height: auto;
    position: absolute;
    right: -7px;
    top: 27px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    user-select: none;
    width: 30px;
    z-index: 1002;
}
 
header .hamburger.is-active {
    background-color: none;
}

header .hamburger .hamburger-layer {
    background: white;
    border-radius: 2px;
    height: 4px;
    margin-bottom: 4px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    width: 28px;
}
header .hamburger .hamburger-layer:last-child{
    margin-bottom: 0px;
}


header .hamburger.is-active .hamburger-layer-top {
    transform: translateY(200%) rotate(45deg) !important;
}

header .hamburger.is-active .hamburger-layer-mid {
    opacity: 0;
}

header .hamburger.is-active .hamburger-layer-bottom {
    transform: translateY(-200%) rotate(135deg) !important;
}
header .menu-list.is-active {
    transform: translate3d(0px, 0px, 0px);
}
header .hamburger.is-active .hamburger-layer{
    background: #f7323f;
}
header .menu-desk {
    display: none;
}
header .menu-list {
    background: white;
    left: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    padding-top: 99px;
    position: fixed;
    transform: translate3d(100%, 0px, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: -1;
}
header .menu-list .menu-inner-list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}
header .menu-list .menu-inner-list .sub-menu-list{
    border-bottom: 2px solid #b6bac2;
    color:#b6bac2;
    font-size: 18px;
    max-width: 140px;
    padding-bottom: 8px;
    padding-left: 20px;
    text-transform: uppercase;
    width: 100%;
}
header .menu-list .menu-inner-list .sub-menu-list.sub-menu-active {
    border-bottom-color: #f7323f;
    color:#f7323f;
}
header .menu-list .sub-menu-content{
    height: 100%;
    margin: 0 auto;
    padding-top: 36px;
    position: relative;
    width: 90%;
}

header .menu-list .sub-menu-content .sub-menu-inner-credito,
header .menu-list .sub-menu-content .sub-menu-inner-software {
    flex-direction: column;
}
header .menu-list .sub-menu-content .sub-menu-inner-credito{
    align-items: center;
    display: flex;
}
header .menu-list .sub-menu-content .sub-menu-inner-software{
    display: none;
    margin: 0 auto;
    max-width: 279px;
    width: 100%;

}
header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-personal,
header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-empresa {
    display: flex;
    flex-direction: column;
    max-width: 279px;
    width: 100%;
}

header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-personal {
    padding-bottom: 20px;
}
header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-empresa {
    border-top: 2px solid #b6bac2;
    padding-top: 20px;
}
header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-personal p,
header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-empresa p,
header .menu-list .sub-menu-content .sub-menu-inner-software p {
    color:#3c485c;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}

header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-personal a,
header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-empresa a{
    cursor: pointer;
}

header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-personal a,
header .menu-list .sub-menu-content .sub-menu-inner-credito .credito-empresa a ,
header .menu-list .sub-menu-content .sub-menu-inner-software a {
    -webkit-tap-highlight-color:white;
    color:#7a808d;
    font-size: 18px; 
    padding-bottom: 8px;
    user-select: none;
}

header .menu-list .sub-menu-content .redes-sociales{
    bottom: 51px;
    display: flex;
    position: absolute;
}
header .menu-list .sub-menu-content .redes-sociales svg {
    height: 25px;
    width: 25px;
}
header .menu-list .sub-menu-content .redes-sociales a:first-child{
    padding-right: 4px;
}
header .menu-list .sub-menu-content .redes-sociales a {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding-right: 8px;
}

.header-scroll{
    background: white;
    box-shadow: 0 1px 8px rgba(25, 25, 25, 0.45);
    height: 65px; 
        
}
.header-scroll .menu-default-logo .solven-logo {
    fill: #f7323f;
}
.header-scroll .hamburger .hamburger-layer {
    background: #f7323f;
}
    
@media only screen and (max-width:1300px){
    header .menu-desk{
        width: 95% !important; 
    }
}

@media only screen and (min-width:768px){
    header .menu-mobil{
        display: none;
    }
    header .menu-default-logo .solven-logo {
        fill: #f7323f;
        height: auto;
        width: 120px;
    }
    header .menu-default{
        height: 70px; 
        position: unset;
    }
    header .menu-default-logo {
        top: 11px;
    }
    header .menu-desk {
        direction: ltr;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    header .menu-desk .menu-desk-list{
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    header .menu-desk .menu-desk-list .menu-desk-software{
       padding-right: 30px;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito,
    header .menu-desk .menu-desk-list .menu-desk-software {
        align-items: center;
        color:white;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-weight: bold;
        height: 70px;
        text-transform: uppercase;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito:hover,
    header .menu-desk .menu-desk-list .menu-desk-software:hover {
        color:#f7323f;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito{
        position: relative;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito{
         background: white;
         display: none;
         padding: 20px;
         position: absolute;
         right: 0;
         width: 400px;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar{
        background: white;
        display: none;
        left: -131%;
        padding: 20px;
        position: absolute;
        right: 0; 
        width: 224px;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar .desk-credito-personal,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-personal,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-empresa {
        color: #3c485c;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar .desk-credito-personal p,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-personal p,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-empresa p{
        padding-bottom: 20px;
    }

    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar .desk-credito-personal,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-personal{
        padding-right: 20px;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-empresa {
       padding-left: 20px;
       border-left: 1px solid #7a808d;
    }

    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar .desk-credito-personal .sub-desk-credito-personal li a ,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-empresa .sub-desk-credito-empresas li a,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-personal .sub-desk-credito-personal li a {
        color:#7a808d;
        font-size: 16px;
        font-weight: normal;
        text-transform: capitalize;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-personal .sub-desk-credito-personal li,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-empresa .sub-desk-credito-empresas li{
        padding-bottom: 8px; 
    }
    
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-personal .sub-desk-credito-personal li a:hover,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar .desk-credito-personal .sub-desk-credito-personal li a:hover,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-empresa .sub-desk-credito-empresas li a:hover{
        color:#f7323f; 
    }
      

    header:hover {
        background: white;
    }
    header:hover .menu-desk .menu-desk-list .menu-desk-credito,
    header:hover .menu-desk .menu-desk-list .menu-desk-software,
    .header-scroll .menu-desk .menu-desk-list .menu-desk-credito,
    .header-scroll .menu-desk .menu-desk-list .menu-desk-software {
        color: #3c485c;
    }

    header .menu-desk .menu-desk-list .menu-desk-credito:hover .sub-menu-desk-credito,
    header .menu-desk .menu-desk-list .menu-desk-credito:hover .sub-menu-desk-credito-ar {
        display: flex;
    }
    

    header .menu-desk-list .menu-desk-credito:hover .sub-menu-desk-credito,
    .header-scroll .menu-desk-list .menu-desk-credito .sub-menu-desk-credito {
        box-shadow: 0px 4px 4px 1px rgba(25, 25, 25, 0.45);
        top: 0;
        margin-top: 65px;
    }
    header .menu-desk-list .menu-desk-credito:hover .sub-menu-desk-credito-ar,
    .header-scroll .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar {
        top: 0;
        margin-top: 65px;
    }
    
    header .menu-desk .menu-desk-list .menu-desk-credito:hover .sub-menu-desk-credito-ar::after,
    .header-scroll .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar::after {
        left: 0;
        margin: 0 auto;
        right: 0;
    }

    header .menu-desk .menu-desk-list .menu-desk-credito:hover .sub-menu-desk-credito::after,
    .header-scroll .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito::after {
        right: 30px;
    }

    header .menu-desk .menu-desk-list .menu-desk-credito:hover .sub-menu-desk-credito-ar::after,
    .header-scroll .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar::after,
    header .menu-desk .menu-desk-list .menu-desk-credito:hover .sub-menu-desk-credito::after,
    .header-scroll .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito::after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 10px solid #f7323f;
        content: '';
        height: 0;
        position: absolute;
        top: 6px;
        transform: translateY(-50%);
        transition: 3s ease linear;
        width: 0;
    }
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-personal .sub-desk-credito-personal li,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito-ar .desk-credito-personal .sub-desk-credito-personal li,
    header .menu-desk .menu-desk-list .menu-desk-credito .sub-menu-desk-credito .desk-credito-empresa .sub-desk-credito-empresas li{
        padding-bottom: 8px;
    }
    .sweet-alert[data-custom-class='swal-width'] .sa-icon.sa-custom {
        height: 100px !important;
        margin-bottom: 0;
    }
    .sweet-alert[data-custom-class='swal-width'] h2 {
        margin: 10px 0;
    }
}



@media only screen and(min-width:500px) and (max-width:568px) {
    .sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false]{
        height: 291px;
        margin-top: -145px !important;
        padding-bottom: unset !important;
    }
}
@media only screen and (max-height:500px){
    header .menu-list.is-active {
        overflow: scroll;
    }

    header .menu-list .sub-menu-content .redes-sociales {
        bottom: -198px;
        padding-bottom: 1rem;
    }
}