.about-us {
  background: url('../img/landings/about-us-bg.jpg');
  background-size: cover;
}

.aboutUs-details {
  padding: 3em 0;
  .container {
    article {
      border-bottom: 1px solid $black-5;
      margin:1em auto;
      padding: 1.5em;
      width: 80%;
      .row {
        .column {
          figure {
            img {
              height: 180px;
            }
          }
          .wrap {
            margin-top: .5em;
            .top {
              h2 {
                color: $black_color_main;
                font-size: 1.25em;
              }
              span {
                color: $black-3;
                font-size: .85em;
              }
            }
            .top-right {
              text-align: right;
            }
            .parragraph {
              border-left: 5px solid $red-2;
              margin-top: 1em;
              padding: 1em;
              p {
                font-size: .90em;
                text-align: justify;
              }
            }
            .p-right {
              border-left: 0;
              border-right: 5px solid $red-2;
            }
          }
        }
      }
      &:last-child {
        border-bottom: 0
      }
    }
  }
}



@media only screen and(max-width: 1080px) {
  .aboutUs-details {
    .container {
      article {
        width: 100%;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .aboutUs-details {
    .container {
      article {
        width: 100%;
        .row {
          .column {
            figure {
              img {
                height: auto;
                width: 100%;
              }
            }
            .wrap {
              margin-top: 0;
              .parragraph {
                font-size: .85em;
                padding: .5em;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 660px) {

  .about-us {
    .hero-content {
      .wrap {
        .hero-text {
          .landing-title {
            font-size: 1.35em;
          }
        }
        .hero-pharagraph {
          p {
            font-size: .75em;
          }
        }
      }
    }
  }
  .aboutUs-details {
    .container {
      article {
        width: 80%;
        .row {
          .column {
            width: 100%;
            figure {
              img {
                height: auto;
                width: 100%;
              }
            }
            .wrap {
              margin-top: 1em;
              .parragraph {
                font-size: .85em;
                padding: .5em;
              }
              .p-right {
                margin-bottom: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 480px) {
  .aboutUs-details {
    .container {
      article {
        width: 100%;
        .row {
          .column {
            width: 100%;
            figure {
              img {
                height: auto;
                width: 100%;
              }
            }
            .wrap {
              margin-top: 1em;
              .parragraph {
                font-size: .85em;
                padding: .5em;
              }
            }
          }
        }
      }
    }
  }
}