.blog {
  background: url('../img/landings/blog-bg.jpg');
  background-size: cover;
  .hero-content {
    .wrap {
      .hero-pharagraph {
        margin-bottom: .5em;
      }
      .tags {
        ul {
          li {
            display: inline-block;
            vertical-align: top;
          }
        }
      }
    }
    z-index: 9999;
  }
  .author-block {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: 9999;
    .container {
      .avatar-wrap {
        h3 {
          font-family: 'Lato Bold', 'Helvetica', sans-serif;
          font-size: 1em;
          margin-top: .75em;
        }
      }
    }
  }
  &:after {
    content: '';
    @include background-opacity($black_color_main, .6);
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.blog-details {
  padding: 3em 0;
  .wrap {
    color: $black_color_main;
    padding: 1em;
    margin: 0 auto;
    max-width: 50%;
    .content-post {
      p {
        margin: .5em 0;
        text-align: justify;
        -moz-text-align-last: left; /* Code for Firefox */
        text-align-last: left;
        img {
          width: 100%;
          height: auto;
        }
        strong {
          font-family: 'Lato Bold', 'Helvetica', sans-serif;
          font-weight: normal;
        }
      }
      h3 {
        font-family: 'Lato Bold', 'Helvetica', sans-serif;
        font-size: 1.25em;
        strong {
          font-weight: normal;
          font-family: 'Lato Bold', 'Helvetica', sans-serif;
        }
      }
    }
  }
}

.blog-lists {
  padding: 3em 0;
  text-align: center;
  .container {
    .blog-item {
      display: inline-block;
      margin: 2% 1%;
      vertical-align: top;
      width: 30%;
      figure {
        img {
          @include border-radius(5px);
          width: 100%;
        }
      }
      figcaption {
        text-align: left;
        .top {
          h2 {
            font-family: 'Lato Bold', 'Helvetica', sans-serif;
            font-size: 1em;
            min-height: 35px;
            margin:.25em 0;
          }
          .avatar-wrap {
            margin: .75em 0;
            .avatar,
            h3 {
              display: inline-block;
              vertical-align: top;
            }
            .avatar {
              background: $black-4;
              background-size: 100%;
              @include border-radius(50%);
              height: 32px;
              width: 32px;
            }
            h3 {
              font-size: .85em;
              margin-left: .5em;
              margin-top: .75em;
            }
          }
        }
        .middle {
          .pharagraph {
            border-left: 3px solid $red-2;
            font-size: .85em;
            padding-left: .5em;
            p.link-more {
              display: none;
            }
          }
        }
        .bottom {
          margin-top: 1em;
          .tags {
            ul {
              li {
                display: inline-block;
                vertical-align: top;
              }
            }
          }
        }
      }
      &:last-child {
        float: left;
        margin-left: 3%;
      }
    }
  }
}

@media only screen and(max-width: 1280px) {
  .blog-details {
    .wrap {
      max-width: 70%;
    }
  }
  .blog {
    .hero-content {
      .hero-text {
        h2.landing-title {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {

  .blog-details {
    .wrap {
      max-width: 70%;
    }
  }

  .blog {
    .hero-content {
      .hero-text {
        h2.landing-title {
          font-size: 1.5em;
        }
      }
    }
  }

  .blog-lists {
    .container {
      .blog-item {
        width: 45%;
      }
    }
  }

}

@media only screen and(max-width: 640px) {

  .blog-details {
    .wrap {
      max-width: 100%;
    }
  }

  .blog {
    .hero-content {
      .wrap {
        .hero-text{
          h2.landing-title {
            font-size: 1.35em;
          }
        }
        .hero-pharagraph {
          p {
            font-size: .85em;
          }
        }
      }
    }
  }

  .blog-lists {
    .container {
      .blog-item {
        margin-bottom: 2em;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

}