/*mobile*/
.list-mount {
    color: #7a808d;
    font-size: 12px;
    margin: 10px auto 0 auto;
    max-width: 200px;
    text-align: left;
}

.wrap-pages.brand .divisor-bottom {
    display: none;
}


@media screen and (max-width: 480px) {

    /*Pregunta 20*/
    
    body.main-choose-agent .hero-content p {
        font-size: 14px;
        margin: 10px 0 20px 0;
    }

    #modal_msg_question20 .modal-dialog {
        margin: 20px auto 0 auto;
        width: 300px !important;
    }

    .list-requeriments {
        margin: 1em auto 0 auto !important;
        /*1379 _loanApplication*/
    }

    .list-requeriments>li:after {
        height: 40px !important;
        /*33 _chooseAgentCar.scss*/
    }

    .list-requeriments>li figure {
        width: 50px;
        height: 30px;
    }

    .list-requeriments>li figure img {
        margin-top: 0;
    }

    .list-requeriments>li>span {
        margin-top: 2px !important;
        /*20 _chooseAgentCar.scss*/
    }

    .list-requeriments>li ul li i {
        height: 16px;
    }

    .list-requeriments>li:nth-child(3):after {
        display: none;
    }

    .modal .modal-dialog .modal-content .modal-middle .block-content p {
        font-size: 13px !important;
        text-align: left;
    }

    .modal .wrap-form .wrap-field .input-outline {
        flex-grow: 1;
    }

    .process-header .icon-help span {
        height: 30px;
        width: 30px;
    }

    .process-header .container .row .column-2 .help .circle .icon-help:before {
        font-size: 2em !important;
    }

    .question_1 .email-block .wrap-field {
        display: flex;
        flex-wrap: wrap;
    }

    .question_1 .email-block .wrap-field .box-icon {
        flex-shrink: 1;
        width: 20% !important;
    }

    .question_1 .email-block .wrap-field .input-outline {
        flex-grow: 1;
        width: 80% !important;
    }

    .question_1 .email-block .wrap-field .input-help {
        width: 100%;
    }
    
    .wrap-info-page span.span-requeriment {
        margin-top: 10px;
    }

    .wrap-info-page small.important {
        margin-bottom: 10px;
    }

    .wrap-info-page .collection-buttons {
        margin-bottom: auto !important;
        /*1298 _offerBoxes.scss*/
    }

    .wrap-info-page .collection-buttons .button {
        min-width: auto !important;
        flex-grow: 1;
        /*327 _camera.scss , 231 _footer.scss*/
    }

}
