/*Compartamos Financiero*/
$colorweb: #374556;
$colorweblight: rgb(214, 216, 221);
$colorwebsecondary: #f1f1f1;
$color_fondo_choose: $colorweb;


$background-color-agent: #330072;
$color-text-agent: #FFFFFF;

$color-line-one: #8000ff;
$color-line-two: #FF0000;
$color-line-three: #FFA600;


.w-lines{
    display: none;
}

body.brand .bottom-footer {
    display: none;
}

body.brand .bottom-footer.brand-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 94%;
}

body.brand .bottom-footer.brand-footer .footer-logo {
    bottom: 9rem !important;
    margin-right: auto;
    padding-left: 0;
    position: absolute;
}

body.brand .bottom-footer.brand-footer .footer-logo img {
    display: block;
    filter: grayscale(100%);
    height: auto;
    max-width: 120px;
    text-align: left;
}

body.brand .bottom-footer.brand-footer ul {
    align-items: flex-start;
    display: flex;
    font-size: 12px;
    justify-content: center;
    width: 100%;
}

body.brand .bottom-footer.brand-footer ul li {
    margin-right: 4em;
}

body.brand .bottom-footer.brand-footer ul li:last-child {
    margin-right: 0;
}

body.brand .bottom-footer.brand-footer ul li span {
    display: block;
    height: 1px;
    width: auto;
}

body.brand .bottom-footer.brand-footer .wchat {
    width: 10%;
}

body.brand .modal .corner-close:after {
    background-color: inherit;
}

body.brand .modal .modal-dialog .modal-content .modal-top .title-wrap .title-modal {
    margin-left: 0px;
}

body.brand .modal .modal-dialog .modal-content .modal-top .title-wrap .title-modal:before {
    display: none;
}

body.brand .modal .modal-dialog .modal-content .modal-top .corner-close:after {
    background: inherit;
}

body.brand input.input-outline:focus,
body.brand textarea.input-outline:focus,
body.brand select.input-outline:focus {
    border-color: inherit;
}

body.brand .loan-process input.input-outline:focus {
    border: 2px solid #d6d8dd;
}

body.brand .loan-process .datepicker table tr td.day {
    background-color: #d6d8dd;
    color: #000;
}

body.brand .loan-process .datepicker table tr td.disabled {
    color: #d6d8dd;
    background-color: #fff;
}

body.brand .loan-process .datepicker table tr td.day.active {
    background-color: $colorweb;
    color: #fff;
    text-shadow: none;
}

body.brand .loan-process .main-buttons .bg-t {
    background-color: transparent;
    border-color: inherit;
    border: 1.5px solid inherit;
    color: inherit;
    min-width: 55px !important;
    transition: all 0.35s ease;
}

body.brand .loan-process .main-buttons .bg-t:hover {
    background-color: inherit;
    color: #fff;
}

body.brand .offer-container ul .best-offer .box-a .bar-iso {
    display: none;
}

body.brand .offer-container ul .best-offer .box-a .bar-offer {
    margin: auto;
    transform: skew(-28deg);
    width: 96%;
}

body.brand .pdf-header .logo a i,
body.brand .pdf-header .logo a span {
    display: none !important;
}

body.brand .pdf-header .logo a .brand-logo {
    width: 180px;
}

body.brand .process-header .container .row .logo h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    max-width: 180px;
}

body.brand .process-header .container .row .logo h1 a i,
body.brand .process-header .container .row .logo h1 a span {
    display: none;
}

body.brand .process-header .container .row .logo h1 a img {
    height: auto;
    max-width: 100%;
    width: 126px;
}

body.brand .process-header .container .row .logo h1 svg {
    display: none;
}

body.brand .process-header .container .row .column-2 .help .circle .icon-help:before {
    color: inherit;
}

body.brand .process-header .container .row .column-2 .help .circle .icon-help span {
    border-color: inherit;
}

body.brand .select2-container--focus .selection .select2-selection {
    border-color: #d6d8dd;
}

body.brand .select2 .selection .select2-selection .select2-selection__arrow b {
    border-color: inherit transparent;
}

body.brand .select2-container--default .select2-results__option--highlighted[aria-selected] {
    border-color: inherit;
    background-color: inherit;
}

body.brand .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: inherit;
    background-color: inherit;
}

body.brand .wrap-note .sk-fading-circle .sk-circle {
    color: inherit;
}

body.brand .wrap-note .sk-fading-circle .sk-circle span {
    color: inherit;
    background: inherit;
}

.bottom-footer {
    text-align: center;
}

.bottom-footer.brand-footer {
    display: none;
}

.choose-agent .hero-content h1 a img {
    display: none;
}

.choose-agent.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choose-agent.brand>img.lazy {
    display: none;
}

.choose-agent.brand .hero-content {
    top: 0;
    transform: none;
    position: relative;
    margin-top: auto;
}

.choose-agent.brand .hero-content h1 {
    margin-bottom: 2rem;
}

.choose-agent.brand .hero-content h1 a {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

.choose-agent.brand .hero-content h1 a i {
    display: none;
}

.choose-agent.brand .hero-content h1 a img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 200px;
}

.choose-agent.brand .hero-content h1 .logo svg {
    display: none;
}

.choose-agent.brand .hero-content ul {
    font-family: 'Lato Light', 'Helvetica', sans-serif;
}

.choose-agent.brand .hero-content ul li .circle figure img {
    opacity: 1;
}

.choose-agent.brand .bottom-footer {
    display: none;
}

.choose-agent.brand .bottom-footer.brand-footer {
    display: flex;
    justify-items: center;
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .choose-agent.brand .bottom-footer.brand-footer {
        font-size: 0.68em;
    }
}

.choose-agent.brand .bottom-footer.brand-footer .footer-logo {
    padding-left: 3em;
    margin-right: auto;
    width: 15%;
}

@media screen and (max-width: 767px) {
    .choose-agent.brand .bottom-footer.brand-footer .footer-logo {
        margin: 0 auto;
        text-align: center;
    }
}

.choose-agent.brand .bottom-footer.brand-footer .footer-logo img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .choose-agent.brand .bottom-footer.brand-footer .footer-logo img {
        max-width: 80%;
    }
}

.choose-agent.brand .bottom-footer.brand-footer ul {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 12px;
}

.choose-agent.brand .bottom-footer.brand-footer ul li {
    margin-right: 4em;
    position: relative;
}

.choose-agent.brand .bottom-footer.brand-footer ul li a,
.choose-agent.brand .bottom-footer.brand-footer ul li span {
    color: inherit;
    font-family: 'Lato Light', 'Helvetica', sans-serif;
}

.choose-agent.brand .bottom-footer.brand-footer ul li .underline {
    background-color: #fff;
    display: block;
    height: 1px;
    opacity: 0.85;
    width: auto;
}

.choose-agent.brand .bottom-footer.brand-footer ul li:last-child {
    margin-right: 0;
}

.choose-agent.brand .bottom-footer.brand-footer .wchat {
    height: 80px;
    margin-left: auto;
    width: 15%;
}

.choose-agent.brand .bottom-footer.brand-footer.sullana-footer {
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
}

.choose-agent.brand .bottom-footer.brand-footer.sullana-footer .footer-logo {
    padding-left: 0;
}

.choose-agent.brand .bottom-footer.brand-footer.sullana-footer .footer-logo img {
    filter: grayscale(0);
}

.choose-agent.brand .bottom-footer.brand-footer.sullana-footer ul li {
    margin-bottom: 2rem;
}

.choose-agent.brand .footer-agent {
    display: none;
}

.choose-agent.brand .w-lines {
    display: flex;
    height: 6px;
    width: 100%;
}

.choose-agent.brand .w-lines li {
    height: 6px;
    width: 33.333%;
}

#new-data-picker {
    border: 1px solid red;
}

#new-data-picker .datepicker table tr td.day {
    background-color: #d6d8dd;
    color: #000;
}

#new-data-picker .datepicker table tr td.new,
#new-data-picker .datepicker table tr td.old,
#new-data-picker .datepicker table tr td.disabled {
    background-color: #fff;
    color: #d6d8dd;
}

#new-data-picker .datepicker table tr td.day.active {
    background-color: colorweb;
    color: #fff;
    text-shadow: none;
}

#new-data-picker .main-buttons .bg-t {
    background-color: transparent;
    border-color: inherit;
    border: 1.5px solid inherit;
    color: inherit;
    min-width: 55px !important;
    transition: all 0.35s ease;
}

#new-data-picker .main-buttons .bg-t:hover {
    background-color: inherit;
    color: #fff;
}

#new-data-picker>img.lazy {
    display: none;
}

#new-data-picker .hero-content {
    font-family: 'Lato Regular', 'Helvetica', sans-serif;
    margin-top: auto;
    position: relative;
    top: 0;
    transform: none;
}

#new-data-picker .hero-content h1 {
    margin-bottom: 0.5em;
}

#new-data-picker .hero-content h1 a {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

#new-data-picker .hero-content h1 a i {
    display: none;
}

#new-data-picker .hero-content h1 a img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 300px;
}

@media screen and (max-width: 992px) {
    body.brand .bottom-footer.brand-footer ul {
        font-size: 0.9em;
    }

    body.brand .bottom-footer.brand-footer li {
        margin-right: 1em !important;
    }

    body.brand .process-header .container .row {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
    }

    body.brand .process-header .container .row .col-md-4 {
        float: inherit;
        padding: 0;
        width: auto;
    }

    body.brand .process-header .container .row .col-md-4:nth-child(1) {
        margin-left: 0;
        margin-right: 0;
    }

    body.brand .process-header .container .row .col-md-4:nth-child(2) {
        margin: auto;
    }

    body.brand .process-header .container .row .col-md-4:nth-child(3) {
        margin-left: auto;
        margin-right: 0;
    }

    body.brand .process-header .container .row .column .edit-amount-box .icon-box {
        padding: 0.5em 5px;
    }

    body.brand .process-header .container .row .column .edit-amount-box .wrap {
        padding: 0.5em 5px;
        padding: 0.5em 5px;
    }
}

@media only screen and (max-width: 960px) {
    .choose-agent.brand .bottom-footer.brand-footer ul li {
        margin-right: 2em;
        margin-top: 1em;
    }
}

@media only screen and (max-width: 768px) {
    body.brand .bottom-footer.brand-footer .footer-logo img {
        max-width: 80%;
    }
    .choose-agent.brand .bottom-footer.brand-footer ul li {
        margin-right: 1em;
    }
}

@media only screen and (min-width: 768px) {
    body.brand .bottom-footer.brand-footer {
        width: calc(100% - 3rem);
    }

    body.brand .bottom-footer.brand-footer #anchor-back {
        flex-shrink: 0;
        margin-left: 0;
        margin-right: 8rem;
    }

    body.brand .bottom-footer.brand-footer #anchor-back span {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 767px) {
    .brand .process-header {
        height: auto;
        padding: 8px 0;
        position: relative;
        top: 0;
    }

    .brand .process-header .container .row .column .logo h1 a:first-child {
        display: none;
    }

    .brand .container .row .column .logo {
        text-align: center;
    }

    .brand .container .row .column .logo h1 {
        margin: 0 auto;
    }

    .brand .loan-process {
        padding-top: 0;
    }

    body.brand .bottom-footer.brand-footer ul li {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 2px;
    }

    body.brand .bottom-footer.brand-footer ul li>span {
        height: auto;
    }

    body.brand .bottom-footer.brand-footer ul {
        font-size: 0.6em;
    }

    body.brand .process-header .container .row .col-md-4 {
        float: inherit;
        padding: 0;
        width: auto;
    }

    body.brand .process-header .container .row .col-md-4:nth-child(1) {
        margin-right: 0;
    }

    body.brand .bottom-footer.brand-footer .footer-logo {
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
    }
    
    .choose-agent.brand .bottom-footer.brand-footer ul li a,
    .choose-agent.brand .bottom-footer.brand-footer ul li span {
        font-size: 10px;
    }

    .choose-agent.brand .bottom-footer.brand-footer .wchat {
        height: 40px;
    }

    .choose-agent.brand .bottom-footer.brand-footer ul li {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 0.2em;
    }

    .choose-agent.brand .bottom-footer.brand-footer ul li .underline {
        display: none !important;
    }
}
@media only screen and (max-width: 640px) {
    .choose-agent .hero-content p {
        font-size: 1em;
    }

    .choose-agent .hero-content ul li {
        height: auto;
        margin: 0.25em;
    }

    .choose-agent .hero-content ul li .circle figure {
        height: 90px;
        width: 60px;
    }

    .choose-agent .hero-content ul li .circle figure img {
        height: 50px;
        width: 50px;
    }

    .choose-agent .hero-content ul li .circle figure figcaption h4 {
        font-size: 0.85em;
    }

    .choose-agent.brand .bottom-footer.brand-footer .footer-logo {
        display: none;
        padding-bottom: 0.5em;
        padding-right: 0;
        width: 30%;
    }

    .choose-agent.brand .bottom-footer.brand-footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .choose-agent.brand .bottom-footer.brand-footer .wchat {
        display: none;
        width: 30%;
    }

    body.brand .process-header .container {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        width: 96%;
    }

    body.brand .process-header .container .row .col-md-4:nth-child(1) {
        margin-right: 0;
    }

    body.brand .process-header .container .row #processHeaderAmount {
        width: auto !important;
    }

    body.brand .process-header .container .row .logo h1 {
        max-width: 120px;
    }

    body.brand .bottom-footer.brand-footer .footer-logo {
        display: none;
        padding-bottom: 0.5em;
        padding-right: 0;
        width: 30%;
    }

    body.brand .bottom-footer.brand-footer ul {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
        width: 100%;
        width: 70%;
    }

    body.brand .bottom-footer.brand-footer .wchat {
        display: none;
        width: 30%;
    }

    body.brand .offer-container .sponsored-by .box-sponsor .online {
        color: #8f8f8f;
    }
}

@media screen and (max-height: 600px) {
    .choose-agent.brand .hero-content h1 a {
        max-width: 200px;
    }
}

@media screen and (max-height: 380px) {
    .choose-agent.brand .hero-content h1 a {
        max-width: 140px;
    }

    .choose-agent.brand .hero-content ul {
        margin-top: 1em;
    }

    .choose-agent.brand .hero-content p {
        margin-bottom: 0;
    }
}