body{
    //#f90
    &#mainCarFinancing{
        background-color: #fff;
        color: #434343;
        font-size: 16px;
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-x: hidden;
    }
    footer{
        width: 100%;
        margin-top: auto;
    }
    >iframe{
        display: none !important;
        z-index: -9;
    }
}


.car-financing {
    .hero-content {
        .wrap {
            max-width: 60%;
            .actions {
                margin-top: 2em;
                .anchor-button {
                    margin: .25em;
                    min-width: 150px;
                }
            }
        }
    }
}
.car-availables {
    .container {
        article {
            h2 {
                color: $black_color_main;
                font-size: 1.5em;
                margin-bottom: 1em;
                margin-top: 2em;
                text-align: center;
            }
            .car-list {
                ul {
                    li {
                        display: inline-block;
                        vertical-align: top;
                        margin: 1% .25%;
                        text-align: center;
                        width: 48%;
                        .box {
                            figure {
                                img {
                                    max-width: 250px;
                                }
                                figcaption {
                                    color: $black_color_main;
                                    h3 {
                                        font-family: 'Lato Bold', 'Helvetica', sans-serif;
                                        font-size: 1.25em;
                                        text-transform: uppercase;
                                    }
                                    ul {
                                        text-align: center;
                                        li {
                                            border-bottom: 1px solid $black-4;
                                            display: block;
                                            margin: 0 auto;
                                            max-width: 200px;
                                            padding: .25em 0;
                                            &:last-child {
                                                border-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.chooseBrand {
    margin-top: 80px;
    text-align: center;
    min-height: calc(100vh - 310px);
    min-height: -webkit-calc( 100vh - 310px);
    .container {
        .brands {
            margin: 5% 0 10% 0;
            h2 {
                color: $black_color_main;
                font-family: 'Lato', 'Helvetica', sans-serif;
                font-size: 1.5em;
                strong {
                    font-family: 'Lato Bold', 'Helvetica', sans-serif;
                }
            }
        }
    }
}
.car-content {
    border-top: 1px solid #d6dade;
    width: 100%;
    position: relative;
    .wrap-detail-gallery {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
        margin: 0 auto;
        .wrap-gallery {
            max-width: 600px;
            width: 100%;
        }
        .rsDefault .rsThumb.rsNavSelected{
            background: $red-2;
        }
        .car-desc {
            height: 100%;
            padding-left: 2em;
            padding-right: 0;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            width: 50%;
            .desc-top {
                color: $black_color_main;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #cecece;
                margin-bottom: 1em;
                padding: .7em;
                border-radius: 4px;
                h2 {
                    color: #34465d;
                    font-weight: bold;
                    font-size: 1em;
                }
                span {
                    color: #7A808D;
                    font-size: 1em;
                }
                .left {
                    margin-right: 1em;
                    img {
                        width: 40px;
                        height: auto;
                    }
                }
                .center {
                    margin-right: auto;
                }
                .right {
                    color: $blue-offer;
                    margin-left: auto;
                    .price {
                        font-size: 1.5em;
                    }
                }
            }

            .wrap-title{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: 1em;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,0.12);
                margin-bottom: 1.5em;
                width: 100%;
                .title-wrap{
                    width: 80%;
                    h2{
                        color: #34465d;
                        font-weight: bold;
                        font-size: 1em;
                    }
                    span{
                        font-size: .75em;
                    }
                    .vTitle{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        h2{

                        }
                    }
                    .cnt{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                }
                .brand-logo{
                    width: 30px;
                    margin-right: 1em;
                    position: relative;
                    &:after{
                        content: '/';
                        position: absolute;
                        top: 50%;
                        right: -10px;
                        font-size: 10px;
                        transform: translateY(-50%);
                    }
                    img{
                        display: block;
                        height: auto;
                        width: 100%;
                        transform: scale(1);
                        transition: 600ms;
                        font-size: 0;
                    }
                }
                .wrap-price{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    text-align: right;
                    >*{
                        width: 100%;
                    }
                    .price-default{
                        color: #7A808D;
                        text-decoration: line-through;
                        font-size: .9em;
                    }
                    small{
                        background-color: #F7323F;
                        padding: 2px 8px;
                        color: white;
                        margin-left: 5px;
                        border-radius: 2px;
                        display: inline-block;
                    }
                    .cnt{
                        display: flex;
                        flex-direction: column;
                        span{
                            color: #4861A1;
                            font-size: .75em;
                            line-height: 1;
                            order: 1;
                        }
                        .price-online{
                            color: $red-1;
                            font-size: 1.82em;
                        }
                    }

                    &.active{

                    }
                }
            }
            .title-color {
                font-size: 13px;
                color: #000;
                width: 100%;
                display: block;
            }
            .wrap-detail{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
            }
            .detail-description {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                width: 48%;
                margin-bottom: .5em;
                h3{
                    color: #4861A1;
                    margin-bottom: .75em;
                    font-size: .75em;
                    text-transform: uppercase;
                    font-family: 'Lato bold', 'Helvetica', sans-serif;
                    width: 100%;
                }
                ul.categories {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 0 0 10px;
                    width: 100%;
                    >li {
                        width: 100%;
                        margin-bottom: .2em;
                        padding-bottom: .2em;
                        font-size: .75em;
                        border-bottom: 1px solid #eaeaea;
                        p {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;
                            span {

                            }
                            .title {
                                color: #000;
                            }
                            .description {
                                color: #656565;
                                text-align: right;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                &.icon-true, &.icon-false{
                                    font-size: 0;
                                    &:before{
                                        font-size: 10px;
                                    }
                                }
                                &.icon-true{
                                    &:before{
                                        content: "\e932";
                                    }
                                }
                                &.icon-false{
                                    &:before{
                                        content: "\e933";
                                    }
                                }
                            }
                        }
                    }

                    .wrap-list-color{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        >p{
                            display: none;
                        }
                        .p{
                            display: flex;
                            width: 50%;
                        }
                        .title, .description{
                            display: flex;
                        }
                        .title{
                            display: flex;
                            width: 50%;
                        }
                        .description{
                            display: flex;
                            justify-content: flex-end;
                            flex-wrap: wrap;
                            margin-right: -8px;
                            li{
                                margin-right: .15em;
                                label{
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    color: #656565;
                                    cursor: pointer;
                                    border: 3px solid transparent;
                                    border-radius: 4px;
                                    padding: 0 3px;
                                    transition: all .3s ease;
                                    transform: scale(1);
                                    span{
                                        margin-right: .25em;
                                        font-weight: normal;
                                        &.box-color{
                                            margin-right: 0;
                                            border-radius: 3px;
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                    input[type=checkbox], input[type=radio]{
                                        display: none;
                                    }
                                    &.box-color-active, &:hover{
                                        border: 3px solid #f90;
                                    }
                                    &:active{
                                        transform: scale(0.96);
                                    }
                                }
                                &:last-child{
                                    //margin-right: 0;
                                    span{
                                        &.box-color{
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }
                        }
                        &.error{
                            border: 1px solid $red-1;
                            border-bottom: 1px solid $red-1 !important;
                            border-radius: 2px;
                            padding: 2px !important;
                        }
                    }
                }
            }
            .colors {
                //width: 40%;
                padding-left: 0;
                .errorContainer {
                    text-align: left !important;
                }
                .title-color {

                }
                ul {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                }
                li {
                    label {
                        cursor: inherit;
                        margin-bottom: 0;
                        margin-right: 0;
                    }
                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .list-description {
                border: 1px solid #cecece;
                margin-bottom: 1em;
                padding: .7em;
                border-radius: 4px;
                h2 {
                    font-family: 'Lato Semibold', 'Helvetica', sans-serif;
                    font-size: 1.25em;
                    margin-bottom: .85em;
                }
                ul {
                    padding-left: 2em;
                }
                li {
                    border-bottom: 1px solid #e6e6e6;
                    margin-bottom: .4em;
                    padding-bottom: .4em;
                    &:last-child {
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                    p {
                        display: flex;
                        width: 100%;
                        .title, .description {
                            width: 50%;
                            font-size: .85em;
                        }
                        .title {
                            color: $black-1;
                        }
                    }
                }
            }
            .bottom {
                border: 1px solid #cecece;
                margin-bottom: 1em;
                padding: .7em;
                border-radius: 4px;
                h2 {
                    font-family: 'Lato Semibold', 'Helvetica', sans-serif;
                    font-size: 1.25em;
                }
                .colors {
                    padding-top: 1em;
                    ul {
                        padding-left: 2em;
                        li {
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                }
            }
            .actions {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                margin-top: auto;
                button, a {
                    margin-top: auto;
                    transition: all .3s ease;
                    transform: scale(1);
                    &:active {
                        transform: scale(0.95);
                    }
                    &.bg-red {
                        &:hover {
                            background-color: $black-1;
                            color: #fff;
                        }
                    }
                }
                .btnBrochure {
                    line-height: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    margin-right: 1em;
                    border: 1px solid $lightblue-1;
                    color: $lightblue-1;
                    &:hover {
                        background-color: $lightblue-1;
                        color: #fff;
                    }
                }
            }
        }
    }
    .top-bar-filter {
        .container {
            padding-left: 1em;
        }
        //border-bottom: 1px solid $black-4;
        //border-top: 1px solid $black-4;
        .custom-breadcrumb,
        .controls-filters {
            display: inline-block;
            vertical-align: top;
        }
        .custom-breadcrumb {
            padding: .75em 0;
            font-size: 12px;
            display: none;
            ul {
                li {
                    display: inline-block;
                    margin: 0 1em;
                    position: relative;
                    vertical-align: top;
                    a {
                        color: $black_color_main;
                        text-decoration: underline;
                    }
                    &:after {
                        content: '>';
                        position: absolute;
                        right: -1.5em;
                        top: 0;
                    }
                    &:last-child:after {
                        content: '';
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .controls-filters {
            ul {
                li {
                    display: inline-block;
                    vertical-align: top;
                    .icon:before {
                        color: $black-2;
                        font-size: 2em;
                        text-decoration: none;
                    }
                    .sortby {
                        height: 50px;
                        line-height: 50px;
                        font-size: 14px;
                        @media screen and (max-width: 767px) {
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                    .icon-filter {
                        display: none;
                    }
                    .icon-filter:before {
                        margin-left: .5em;
                    }
                    .icon-active:before {
                        color: $black-1;
                    }
                    .field {
                        margin-right: 0px;
                    }
                    .select2-container {
                        width: 120px !important;
                        font-size: 14px;
                        .select2-results__option--highlighted[aria-selected] {
                            background-color: #26CAD3;
                        }
                    }
                }
            }
        }
        .right {
            float: right;
            margin-top: .75em;
            margin-top: .25em;
            a {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                &:before{
                    content: "\e936";
                    @include icon();
                    margin-right: 5px;
                }
            }
        }
    }
    .content-with-gallery {
        min-height: 480px;
        padding: 1em 0 2em 0;


        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        .legal{
            padding-top: 4em;
            font-size: 8px;
            text-align: justify;
            margin: 2em auto;
            margin-top: auto;
            margin-right: auto;
            margin-left: auto;
            display: flex;
            justify-content: flex-start;
            width: 94%;
            margin-bottom: 0;
            border-top: 1px solid #e0e0e0;
            padding-left: 0;
            padding-right: 0;
            margin-top: 6em;
        }
    }
    .wrap-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
            .column {
                flex-grow: 1;
            }
            .wrap-filters {}
        }
    }
    .wrap-filters {
        width: 290px;
    }
    .columns-wrap {
        .row {
            .column {
                .main-filters {
                    border: 1px solid $black-4;
                    margin: 2em 0;
                    padding: 1em;
                    .block {
                        border-top: 1px solid $black-4;
                        padding: .5em .5em 2em .5em;
                        padding: .5em 0em 2em 0em;
                        h3 {
                            color: $blue-1;
                            font-size: 1.25em;
                            margin-bottom: .5em;
                        }
                        .button {
                            width: 100%;
                            height: 36px;
                        }
                        .field {
                            margin: .25em 0;
                            position: relative;
                            input.input-outline-small {
                                padding: .35em .5em .5em .5em;
                                font-size: 0.8em;
                                width: 76px;
                            }
                            .button {
                                min-width: inherit;
                            }
                        }
                        .category-lists {
                            li {
                                display: inline-block;
                                margin: .5em .25em;
                                vertical-align: top;
                                a {
                                    color: $black-2;
                                    display: block;
                                    text-align: center;
                                    text-decoration: none;
                                    small {
                                        display: block;
                                        font-size: .75em;
                                        margin-top: .75em;
                                        text-align: center;
                                    }
                                }
                                .icon:before {
                                    display: block;
                                    font-size: 5em;
                                    line-height: .25em;
                                }
                            }
                        }
                        &.block-precio {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            flex-wrap: wrap;
                            h3 {
                                width: 100%;
                            }
                            .field {
                                position: relative;
                                .type-money {
                                    position: absolute;
                                    top: 50%;
                                    left: 5px;
                                    font-size: 13px;
                                    transform: translateY(-50%);
                                    color: #5f5f5f;
                                    width: 14px;
                                    text-align: center;
                                }
                                input {
                                    &.input-outline-small {
                                        padding: 0.5em 0.5em 0.5em 1.5em;
                                    }
                                }
                            }
                        }
                        &:first-child {
                            border-top: 0;
                        }
                        &:last-child {
                            padding: .5em;
                            padding: .5em 0em 0.5em 0em;
                        }
                    }
                }
                .main-results {
                    margin: 2em 0;
                    .box {
                        .box-item {
                            border: 1px solid $black-4;
                            padding: 1em;
                            margin: .5em 0;
                            position: relative;
                            .row {
                                .block {
                                    figure {
                                        img {
                                            min-width: 75px;
                                            width: 100%;
                                        }
                                        figcaption {
                                            .top {
                                                position: relative;
                                                .price {
                                                    padding: .5em 0;
                                                    h4 {
                                                        font-family: 'Lato Semibold', 'Helvetica', sans-serif;
                                                        font-size: .95em;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .hero-title {
                                        margin-bottom: .5em;
                                        .brand-logo, .title-wrap, .price {
                                            display: inline-block;
                                            vertical-align: top;
                                        }
                                        .brand-logo {
                                            width: 30px;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                        .title-wrap {
                                            padding: 0 1em;
                                            h2 {
                                                font-family: 'Lato Bold', 'Helvetica', sans-serif;
                                                font-size: 1.15em;
                                            }
                                            span {
                                                color: $black-2;
                                            }
                                        }
                                        .price {
                                            border-left: 1px solid $black-4;
                                            padding: 0 1em;
                                            h4 {
                                                font-size: 1.25em;
                                            }
                                        }
                                    }
                                    .hero-content {
                                        max-width: 320px;
                                        ul {
                                            li {
                                                border-bottom: 1px solid $black-4;
                                                display: inline-block;
                                                color: $black-2;
                                                font-size: .85em;
                                                padding: .25em;
                                                vertical-align: top;
                                                width: 140px;
                                                &:nth-child(odd) {
                                                    margin-right: 1em;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .actions {
                                @include vertical-align(absolute);
                                right: 0;
                                top: 50%;
                                .floating-button {
                                    background: $blue-2;
                                    @include border-radius(1em 0 0 1em);
                                    color: white;
                                    padding: 1em;
                                }
                            }
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and(max-width: 992px) {
    .car-content {
        .top-bar-filter {
            .controls-filters {
                ul {
                    li {
                        .icon-filter {
                            display: block;
                        }
                    }
                }
            }
        }
        .columns-wrap {
            .row {
                .column {
                    .main-filters {
                        background: $black-5;
                        border: 0;
                        margin-top: 0;
                        padding: 0;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 99999;
                        width: 0;
                        .block {
                            .field {
                                input {
                                    &.input-outline-small {
                                        padding: .3em;
                                        width: 66px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .wrap-detail-gallery {
            .car-desc {
                .actions {
                    .button {
                        max-width: 48%;
                        width: 100%;
                        min-width: 10%;
                        padding-left: 0;
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .content-with-gallery {
        .col-lg-5.col-md-5.column {
            max-width: 700px;
            margin: 1.5em auto 0 auto;
        }
    }
    .car-content .content-with-gallery .container .row .column .car-desc .desc-top {
        margin-top: 1.5em;
    }
}
@media only screen and(max-width: 960px) {
    .car-content {
        .wrap-detail-gallery {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            display: block;
            .wrap-gallery {
                margin-bottom: 1em;
                margin-left: auto;
                margin-right: auto;
                .ms-showcase2-vertical {
                    max-width: 610px;
                }
            }
            .car-desc {
                max-width: 610px;
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin: 0 auto;
                min-height: 260px;
            }
        }
    }
    .car-content .content-with-gallery .legal{
        margin-top: 4em;
        max-width: 640px;
    }
}
@media only screen and(max-width: 768px) {
    .car-content {
        .wrap-detail-gallery {
            .car-desc {
                .wrap-title {
                    .wrap-price {
                        .price-trash {
                            margin-bottom: .25em;
                            font-size: .75em;
                        }
                        .price-online {
                            font-size: 1.5em;
                        }
                        .small {
                            font-size: .5em;
                        }
                    }
                    .title-wrap {
                        .vTitle {
                            h2 {
                                margin-left: .85em;
                            }
                        }
                    }
                }
                .detail-description {
                    ul.categories {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media only screen and(max-width: 640px) {
    .car-financing {
        background: rgba(80, 72, 147, 1);
        background: linear-gradient(to bottom, rgba(80, 72, 147, 1) 0%, rgba(80, 72, 147, 1) 15%, rgba(123, 126, 142, 1) 89%, rgba(123, 126, 142, 1) 100%);
        .hero-content {
            padding: 0;
            .wrap {
                .hero-text {
                    .landing-title {
                        font-size: 1.5em;
                        padding: 0 1em;
                    }
                }
                .hero-pharagraph {
                    p {
                        font-size: .95em;
                        padding: 0 1em;
                    }
                }
            }
        }
        .content-left {
            .wrap {
                max-width: 100%;
            }
        }
    }
    .car-availables {
        .container {
            article {
                h2 {
                    font-size: 1em;
                    br {
                        display: none;
                    }
                }
                .car-list {
                    ul {
                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .chooseBrand {
        .container {
            .brands {
                h2 {
                    font-size: 1em;
                }
            }
        }
    }
    .car-content {
        .columns-wrap {
            .row {
                .column {
                    .main-results {
                        .box {
                            .box-item {
                                .row {
                                    .block {
                                        .hero-title {
                                            margin-bottom: 0;
                                            .brand-logo {
                                                display: none;
                                            }
                                            .title-wrap {
                                                display: block;
                                                padding: 0 .5em;
                                                h2 {
                                                    font-size: .95em;
                                                }
                                                span {
                                                    font-size: .75em;
                                                }
                                            }
                                            .price {
                                                border-left: 0;
                                                padding: .5em;
                                                h4 {
                                                    font-size: 1em;
                                                }
                                            }
                                        }
                                    }
                                }
                                .actions {
                                    .floating-button {
                                        padding: .5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .car-content .content-with-gallery .container .row .column .car-desc .desc-top .right .price {
        font-size: 1em;
    }
    .car-content .content-with-gallery .container .row .column .car-desc .desc-top h2 {
        font-size: .7em;
    }
    .car-content .content-with-gallery .container .row .column .car-desc .desc-top span {
        font-size: .7em;
    }
    .car-content .content-with-gallery .container .row .column .list-description h2 {
        font-size: .7em;
        font-weight: bold;
    }
    .car-content .content-with-gallery .container .row .column .list-description li p .title,
    .car-content .content-with-gallery .container .row .column .list-description li p .description {
        font-size: .7em;
    }
    .car-content .content-with-gallery .container .row .column .bottom h2 {
        font-size: .7em;
        font-weight: bold;
    }
    .car-content .content-with-gallery .container .row .column .actions {
        flex-direction: column;
        button, a {
            width: 100%;
            margin-bottom: 1em;
            height: 40px;
        }
    }
    .car-content {
        .wrap-detail-gallery {
            .car-desc {
                .actions {
                    .button {
                        height: 38px;
                        padding: 0 0 !important;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 480px) {

    .car-content{
        .wrap-detail-gallery{
            .car-desc{
                .detail-description{
                    width: 100%;
                }
            }
        }
    }
}



@media only screen and (min-height: 640px) {
    .car-content {
        .content-with-gallery {
            //min-height: 672px;
        }
    }
}
@media only screen and (max-width: 600px) and (max-height: 600px) {
    .car-content {
        .content-with-gallery {
            //  min-height: 400px;
        }
    }
}


/* modal information */



#information-modal{
    .modal-dialog{
        .modal-content{
            .modal-middle{
                padding: 2em;
                .corner-close{
                    position: absolute;
                    top: 0;
                    right: 0;
                    .icon-close{
                        border: 0;
                        background: transparent;
                        outline: none;
                        margin-right: 3px;
                        position: relative;
                        z-index: 1;
                        &:before{
                            color: white;
                            font-size: .75em;
                        }
                    }
                    &:after{
                        background: #26CAD3;
                        content: '';
                        height: 50px;
                        position: absolute;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        right: -46px;
                        top: -10px;
                        width: 100px;
                        z-index: 0;
                    }
                }
            }
        }
    }
}
#proof20170310{
    display: none !important;
}