.loan-process{
    .questions-section{
        .wrap-info-page{
            .span-requeriment{
                &.span-requeriment-cars{
                    max-width: 630px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .list-requeriments{
                max-width: 600px;
                >li{
                    position: relative;
                    border-right: 0;
                    width: 33.333%;
                    >span{
                        margin-top: .5em;
                    }
                    ul{
                        li{
                            align-items: center;
                            margin-bottom: .5em;
                            span{
                                line-height: 1.1;
                            }
                        }
                    }
                    &:after{
                        content: '';
                        background-color: rgba(122, 128, 141, 0.34);
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 60px;
                    }
                    &:nth-child(1){
                        order: 1;
                    }
                    &:nth-child(2){
                        order: 3;
                        &:after{
                            display: none;
                        }
                    }
                    &:nth-child(3){
                        order: 2;
                    }
                    &.isbranding{
                        order: 4;
                        &:before{
                            content: '';
                            background-color: rgba(122,128,141,0.34);
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            width: 1px;
                            height: 60px;
                        }
                        &:after{
                            display: none;
                        }
                        @media screen and (max-width: 767px){
                            width: 100% !important;
                        }
                    }

                }
                &.list-requeriments-cars{
                    >li{
                        width: 33.333%;
                        figure{
                            img{
                                width: 50px;
                            }
                        }
                    }
                }
                &.isListBranding{
                    max-width: 768px;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
@media screen and (max-width: 480px){
    .loan-process{
        .questions-section{
            .wrap-info-page{
                .list-requeriments{
                    li{
                        &:after{
                            display: none;
                        }
                        &.isbranding{
                            &:before{
                                display: none;
                            }
                        }
                    }
                    &.list-requeriments-cars{
                        >li{
                            &:after{
                                display: none;
                            }
                            figure{
                                img{
                                    width: 32px;
                                }
                            }
                            ul{
                                padding-left: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}