.comparator {
  margin-top: 5em;
  .container {
    .comparator-wrap {
      margin: 0 auto;
      max-width: 992px;
      min-height: 680px;
      .panel-top {
        border: 1px solid $black-4;
        border-radius: 5px;
        .head {
          background: $black_color_main;
          @include border-radius(5px 5px 0 0);
          color: white;
          padding: .75em;
          h3 {
            font-family: 'Lato Bold', 'Helvetica', sans-serif;
            font-size: 1em;
            .icon-credit-billiant:before {
              display: inline-block;
              font-size: 2em;
              line-height: .5em;
              vertical-align: top;
            }
            .inline {
              margin-top: .3em;
            }
          }
        }
        .filters {
          padding: 1em;
          .row {
            .cl {
              border-right: 1px solid $black-4;
              .cb-lists {
                li {
                  margin: .5em 0;
                  .text-small {
                    color: $black_color_main;
                    position: relative;
                    .big {
                      font-size: 1.2em;
                      margin-left: .25em;
                    }
                    .actions {
                      display: inline-block;
                      margin-left: 1em;
                      margin-top: .5em;
                      vertical-align: top;
                      .rounded {
                        background: $blue-3;
                        border: 0;
                        @include border-radius(50%);
                        height: 20px;
                        margin: .1em;
                        width: 20px;
                        position: relative;
                        .icon:before {
                          color: white;
                          font-size: .85em;
                          left: 0;
                          position: absolute;
                          right: 0;
                          @include vertical-align(absolute);
                        }
                        .icon-minus:before {
                          font-size: .65em;
                          margin-top: .1em;
                        }
                      }
                    }
                  }
                }
              }
              &:last-child {
                border-right: 0;
                .button {
                  margin-top: .35em;
                  width: 100%;
                }
              }
            }
          }
          .field {
            margin: .5em;
            .text-black {
              margin-top: 1em;
              display: block;
            }
          }
        }
      }

      .comparision-details {
        ul {
          li.offers-list {
            background: $black-5;
            border: 1px solid $black-5;
            @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, .1));
            border-top: 0;
            @include border-radius(5px);
            margin: 1em 0;
            min-height: 100px;
            display: block;
            overflow: hidden;
            .top-bar {
              position: relative;
              .bar {
                background: $black-4;
                height: 5px;
                &:after {
                  background: white;
                  bottom: 0;
                  content: '';
                  @include transform(skew(-28deg));
                  height: 5px;
                  left: 10%;
                  position: absolute;
                  width: 20px;
                }
              }
            }
            .block {
              padding: 1em;
              .row {
                .column {
                  border-right: 1px solid $black-4;
                  min-height: 85px;
                  img {
                    @include grayscale_element(1);
                    margin-top: .75em;
                    opacity: .5;
                    width: 100%;
                  }
                  .desc-wrap {
                    min-height: 80px;
                    padding: 0  1em;
                    h3 {
                      color: $black_color_main;
                      font-family: 'Lato Medium', 'Helvetica', sans-serif;
                      font-size: 1.25em;
                    }
                    small {
                      font-family: 'Lato', 'Helvetica', sans-serif;
                      font-size: .85em;
                    }
                    p {
                      color: $black-2;
                      font-size: .85em;
                    }
                  }
                  .rates {
                    display: inline-block;
                    padding: .25em 0;
                    ul {
                      li {
                        color: $black_color_main;
                        display: inline-block;
                        vertical-align: top;
                        .icon:before {
                          font-size: .65em;
                          margin-right: .25em;
                        }
                        span {
                          font-family: 'Lato Italic', 'Helvetica', sans-serif;
                          font-size: .95em;
                        }
                        &:last-child {
                          margin-left: 1em;
                        }
                      }
                    }
                  }
                  .specs {
                    margin-bottom: .25em;
                    min-height: 80px;
                    padding: 0  1em;
                    li {
                      color: $black_color_main;
                      font-size: .85em;
                      p {
                        line-height: 1.5em;
                      }
                    }
                  }
                  .ask-wrap {
                    display: block;
                    margin-top: 1em;
                    padding: .5em 0;
                    text-align: center;
                    p {
                      color: $black_color_main;
                      margin-bottom: .5em;
                      font-size: .85em;
                    }
                    .bg-red-3 {
                      background: $red-3;
                      color: white;
                    }
                    .tiny {
                      min-width: 30px;
                    }
                  }
                  .last-info {
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    position: relative;
                    width: 200px;
                    .field {
                      input,
                      .select2-container {
                        width: 100% !important;
                      }
                    }
                    button {
                      position: absolute;
                      border-top: 0;
                      right: -20px;
                      .icon:before {
                        font-size: .65em;
                      }
                    }
                  }
                  .btn-wrap {
                    display: block;
                    padding: 1.25em 0;
                    text-align: center;
                    .button-small {
                      min-width: 98px;
                    }
                  }
                  &:last-child {
                    border-right: 0;
                  }
                }
              }
            }
            .block-toggle {
              @include prefix((box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .1) inset));
              height: 0;
              margin-top: .5em;
              @include transition(height 0.2s ease-out);
              overflow: hidden;
            }
            .open {
              color: $black_color_main;
              height: auto;
              overflow: visible;
              padding: 2em;
              font-size: .85em;
            }
            .bottom {
              a {
                background: $black-5;
                display: block;
                padding: .5em;
                font-size: .85em;
                text-decoration: none;
                @include transition(all .3s ease);
                .icon-bullet-down:before,
                .icon-bullet-up:before{
                  font-size: .65em;
                }
                &:hover {
                  background: $black-5;
                }
              }
            }
          }
          li.enabled {
            background: white;
            .top-bar {
              .bar {
                background: $lightblue-1;
              }
            }
            .block {
              .row {
                .column {
                  img {
                    @include grayscale_element(0);
                    opacity: 1;
                  }
                }
              }
            }
          }
          li.consolidation {
            .block {
              .row {
                .column {
                  min-height: 120px;
                }
              }
            }
          }
        }
        .empty-offer {
          background: $blue-5;
          @include border-radius(5px);
          color: $black-2;
          padding: 1em;
          margin-top: 2em;
          text-align: center;
        }
        .display-block {
          .sponsored-by {
            .box-sponsor {
              img {
                @include grayscale_element(100%);
                opacity: .5;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 992px) {
  .comparator {
    .container {
      .comparator-wrap {
        .comparision-details {
          ul {
            li.offers-list {
              .block {
                .row {
                  .column {
                    .desc-wrap {
                      h3 {
                        font-size: 1em;
                      }
                    }
                    .specs {
                      margin-bottom: 1em;
                    }
                    .rates {
                      ul {
                        li {
                          span {
                            font-size: .85em;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 895px) {
  .comparator {
    .container {
      .comparator-wrap {
        .comparision-details {
          ul {
            margin: 0 auto;
            text-align: center;
            li.offers-list {
              display: inline-block;
              margin: 1em;
              width: 240px;
              vertical-align: top;
              .block {
                .row {
                  .column {
                    border-right: 0;
                    min-height: 20px;
                    width: 100%;
                    img {
                      height: 60px;
                      margin-top: 0;
                      margin-bottom: 1em;
                      width: auto;
                    }
                    .specs,
                    .btn-wrap {
                      border-left: 0;
                      border-top: 0;
                      padding: 0;
                    }
                    .desc-wrap {
                      padding: 0;
                    }
                    .specs {
                      margin-bottom: 0;
                      text-align: left;
                      padding-bottom: 1em;
                      padding-top: .35em;
                    }
                    .rates {
                      ul {
                        li {
                          span {
                            font-size: .75em;
                          }
                        }
                      }
                    }
                    &:first-child {
                      display: none;
                    }
                  }
                }
              }
              .block-toggle {
                margin-top: 0;
              }
            }
            li.consolidation {
              .block {
                .row{
                  .column {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 640px) {
  .comparator {
    .container {
      .comparator-wrap {
        .panel-top {
          .filters {
            padding: 1em 1.5em;
            .row {
              .cl {
                border-right: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}