.faqs {
  background: url('../img/landings/faqs-bg.jpg');
  background-size: cover;
}

.faqs-lists {
  padding: 3em 0;
  .container {
    .wrap-lists {
      .left-col,
      .right-col {
        display: inline-block;
        vertical-align: top;
      }
      .left-col {
        width: 25%;
        ul {
          li {
            margin: .25em;
            a {
              @include border-radius(5px);
              padding: .5em;
            }
          }
        }
      }
      .right-col {
        margin-left: 2%;
        width: 70%;
        .content-tab {
          border-left: 5px solid $red-2;
          min-height: 300px;
          padding: 1em 0 1em 1em;
          .accordion {
            margin: 0;
            dt {
              background: $lightblue-1;
              border: 0;
              @include border-radius(5px);
              font-size: .95em;
              margin: .25em 0;
              a {
                color: white;
                font-weight: normal;
                text-decoration: none;
              }
            }
            dd {
              background: $black-5;
              @include border-top-radius(0 0 5px 5px);
              border: 0;
              color: $black_color_main;
              font-size: .85em;
            }
          }
        }
      }
    }
  }

}


@media only screen and(max-width: 640px) {

  .faqs-lists {
    .container {
      .wrap-lists {
        .left-col,
        .right-col {
          display: block;
          width: 100%
        }
        .left-col {
          ul {
            li {
              display: inline-block;
              a {
                font-size: .85em;
              }
            }
          }
        }
        .right-col {
          margin-left: 0;
          margin-top: 2%;
          .content-tab {
            border-left: 0;
            border-top: 5px solid $red-2;
            .accordion {
              dt {
                font-size: .85em;
              }
            }
          }
        }
      }
    }
  }
}