.general-wrap {
	margin: 0em 1em 2em 1em;
	.static-page {
		.container {
			.text-container {
				margin: 0 auto;
				max-width: 100%;
				font-size: .95em;
				text-align: justify;
				.static-title {
					margin-top: 2em;
				}
			}
		}
	}
}
