.homepage {
  .hero-content {
    .wrap {
      .actions {
        margin-top: 1em;
        .anchor-button {
          margin: .25em;
          min-width: 150px;
        }
      }
    }
  }
  .hero-buttons {
    @include background-opacity($black_color_main, .8);
    bottom: 0;
    left: 0;
    padding: .5em 1em;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99;
    .main-icons {
      height: 80px;
      ul {
        li {
          display: inline-block;
          text-align: left;
          vertical-align: top;
          width: 25%;
          a {
            color: $blue-3;
            font-family: 'Lato Bold', 'Helvetica', sans-serif;
            display: inline-block;
            position: relative;
            @include transition(all .3s ease);
            .soon:after {
              color: $red-2;
              content: '¡Muy Pronto!';
              display: block;
              font-family: 'Lato Bold', sans-serif;
              font-size: .75em;
              left: 0;
              margin: 0 auto;
              padding:.25em;
              position: absolute;
              right: 0;
              text-align: center;
              top: 0;
              width: 100%;
            }
            .icon:before {
              font-size: 5.3em;
              line-height: 1em;
            }
            .icon-salary-advance:before {
              font-size: 4.6em;
              margin-top: 5px;
            }
            .icon-vehicle:before {
              font-size: 6em;
            }
            .icon:before,
            span {
              display: inline-block;
              vertical-align: top;
            }
            span {
              margin-top: 1.5em;
            }
            &:hover {
              color: white;
              .icon:before {
                margin-top: -5px;
              }
            }
          }
        }
      }
    }
  }
}

.faqs-home {
  padding-bottom: 3em;
  text-align: center;
  .container {
    article {
      .top-info {
        color: $black_color_main;
        h2 {
          font-family: 'Lato Bold', 'Helvetica', sans-serif;
          text-align: center;
        }
        .divisor-bottom {
          margin-top: 1.5em;
        }
      }
      p {
        color: $black_color_main;
        font-size: 1.25em;
        margin: 2em 0;
      }
      .actions {
        margin-top: 2em;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .faqs-home {
    .container {
      article {
        .top-info {
          color: $black_color_main;
          h2 {
            font-size: 1.75em;
          }
        }
        p {
          font-size: 1em;
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {

  .homepage {
    .hero-buttons {
      text-align: left;
      .main-icons {
        margin-top: 1em;
        ul {
          li {
            width: 32%;
            a {
              .icon:before {
                font-size: 4em;
              }
              .soon:after {
                bottom: -10px;
                margin: 0 auto;
                top: auto;
              }
              span {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and(max-width: 640px) {
  .homepage {
    background: rgba(52,70,93,1);
    background: -moz-linear-gradient(top, rgba(52,70,93,1) 0%, rgba(97,138,184,1) 58%, rgba(120,165,219,1) 88%, rgba(120,165,219,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,70,93,1)), color-stop(58%, rgba(97,138,184,1)), color-stop(88%, rgba(120,165,219,1)), color-stop(100%, rgba(120,165,219,1)));
    background: -webkit-linear-gradient(top, rgba(52,70,93,1) 0%, rgba(97,138,184,1) 58%, rgba(120,165,219,1) 88%, rgba(120,165,219,1) 100%);
    background: -o-linear-gradient(top, rgba(52,70,93,1) 0%, rgba(97,138,184,1) 58%, rgba(120,165,219,1) 88%, rgba(120,165,219,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,70,93,1) 0%, rgba(97,138,184,1) 58%, rgba(120,165,219,1) 88%, rgba(120,165,219,1) 100%);
    background: linear-gradient(to bottom, rgba(52,70,93,1) 0%, rgba(97,138,184,1) 58%, rgba(120,165,219,1) 88%, rgba(120,165,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34465d', endColorstr='#78a5db', GradientType=0 );
    .hero-content {
      padding: 0;
      top: 50%;
      @include vertical-align(absolute);
      .wrap {
        .hero-text {
          .landing-title {
            font-size: 1.35em;
            padding: 0 1em;
          }
        }
        .hero-pharagraph {
          p {
            font-size: .85em;
            padding: 0 1em;
          }
        }
        .actions {
          margin-top: 1em;
        }
      }
    }
    .hero-buttons {
      background: transparent;
      height: 120px;
      text-align: left;
      .main-icons {
        ul {
          li {
            text-align: center;
            width: 32%;
            a {
              .icon:before {
                font-size: 4em;
              }
              .icon-salary-advance:before {
                font-size: 3.65em;
              }
              .icon-vehicle:before {
                font-size: 4em;
              }
              .soon:after {
                bottom: auto;
                font-size: .65em;
                top: -4px;
                width: 70px;
              }
              span {
                display: block;
                font-size: .65em;
                margin-top: 0;
                br {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .faqs-home {
    .container {
      article {
        p {
          font-size: 1em;
        }
      }
    }
  }
}