.homepage {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landings/landing-bg-home.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../landings/img/landing-bg-home.jpg', sizingMethod='scale')";
  background: url('../img/landings/landing-bg-home.jpg') no-repeat center;
}

.salary-advance {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landings/salary-advance-bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landings/salary-advance-bg.jpg', sizingMethod='scale')";
  background: url('../img/landings/salary-advance-bg.jpg') no-repeat center;
}

.car-financing {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landings/car-financing-bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landings/car-financing-bg.jpg', sizingMethod='scale')";
  background: url('../img/landings/car-financing-bg.jpg') no-repeat center;
}

.personal-loan {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landings/personal-loan-bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/landings/personal-loan-bg.jpg', sizingMethod='scale')";
  background: url('../img/landings/personal-loan-bg.jpg') no-repeat center;
}

.landing {
  background-size: 100%;
  @include prefix((background-size: cover), webkit moz o);
  @include prefix((height: 100vh), webkit ms moz o);
  position: relative;
  .hero-content {
    color: white;
    left: 0;
    margin: 0 auto;
    max-width: 1170px;
    padding: 1em;
    right: 0;
    top: 50%;
    @include vertical-align(absolute);
    z-index: 99;
    .wrap {
      .hero-text {
        .landing-title {
          text-shadow: 1px 2px rgba(52, 70, 93, .4);
          font-family: 'Lato Black', 'Helvetica', sans-serif;
          font-size: 2.5em;
          margin-bottom: .5em;
          text-transform: uppercase;
        }
      }
      .hero-pharagraph {
        margin-top: 1em;
        p {
          font-size: 1.15em;
        }
      }
      .form-container {
        margin-top: 1em;
        .block {
          .inline {
            margin: .25em;
            display: inline-block;
            vertical-align: top;
          }
        }
      }
    }
  }

  .content-left {
    .wrap {
      text-align: left;
      max-width: 60%;
    }
  }

  .button-info {
    left: 0;
    margin: 0 auto;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    .container {
      ul {
        li {
          color: white;
          display: inline-block;
          font-family: 'Lato Bold', 'Helvetica', sans-serif;
          font-size: .95em;
          width: 24%;
        }
      }
    }
  }
  
  &:after {
    content: '';
    @include background-opacity($black_color_main, .6);
    left: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.how-it-works {
  padding: 4em 0;
  text-align: center;
  .container {
    article {
      .top-info {
        color: $black_color_main;
        h2 {
          font-family: 'Lato Bold', 'Helvetica', sans-serif;
          text-align: center;
        }
        span.big {
          font-family: 'Lato Black', 'Helvetica', sans-serif;
          font-size: 2em;
        }
        .divisor-bottom {
          margin: 1.5em auto;
        }
        p {
          font-size: 1.5em;
          span.inline-block {
            font-family: 'Lato', 'Helvetica', sans-serif;
            font-size: 1.5em;
          }
          .icon-solven:before {
            color: $red-1;
            line-height: 0;
            display: inline-block;
            font-size: 4em;
            margin-top: .12em;
            vertical-align: top;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 1280px) {

  .landing {
    .hero-content {
      .wrap {
        .hero-text {
          .landing-title {
            font-size: 2em;
          }
        }
        .hero-pharagraph {
          p {
            font-size: 1em;
          }
        }
      }
    }
  }

  .how-it-works {
    .container {
      article {
        .top-info {
          h2 {
            font-family: 'Lato', 'Helvetica', sans-serif;
            font-size: 1.5em;
          }
          span.big {
            font-family: 'Lato Bold', 'Helvetica', sans-serif;
            font-size:  1.75em;
          }
          p {
            font-size: 1.35em;
            span.inline-block {
              font-size: 1.35em;
            }
            .icon-solven:before {
              line-height: .05em;
            }
          }
        }
      }
    }
  }

}
@media only screen and(max-width: 992px) {
  .landing {
    .hero-content {
      .hero-text {
        .landing-title {
          font-size: 2em;
        }
      }
      .hero-pharagraph {
        p {
          font-size: 1.15em;
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .landing {
    background-size: 100%;
    @include prefix((background-size: cover), webkit moz o);
    @include prefix((height: 100vh), webkit ms moz o);
    position: relative;
    .hero-content {
      color: white;
      position: absolute;
      z-index: 99;
      .hero-text {
        .landing-title {
          font-size: 2em;
        }
      }
      .hero-pharagraph {
        p {
          font-size: 1.15em;
        }
      }
    }
    .content-left {
      .wrap {
        max-width: 60%;
      }
    }
  }
}

@media only screen and(max-width: 640px) {
  .landing {
    .hero-content {
      .wrap {
        .hero-text {
          .landing-title {
            font-size:1.35em;
            br {
              display: none;
            }
          }
        }
        .hero-pharagraph {
          p {
            font-size: .85em;
            br {
              display: none;
            }
          }
        }
        .actions {
          margin-top: 1em;
        }
      }
    }
    .content-left {
      .wrap {
        text-align: center;
        max-width: 100%;
      }
    }
    .button-info {
      display: none;
    }
  }
  .how-it-works {
    .container {
      article {
        .top-info {
          h2 {
            font-size: 1.5em;
          }
          span.big {
            font-family: 'Lato Black', 'Helvetica', sans-serif;
            font-size: 2em;
          }
          .divisor-bottom {
            margin: 1.5em auto;
          }
          p {
            font-size: 1.25em;
            .icon-solven:before {
              color: $red-1;
            }
          }
        }
        .process {
          .row {
            .column {
              .box-step {
                .top {
                  left: -5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 320px) {

  .landing {
    .hero-content {
      .wrap {
        .hero-text {
          .landing-title {
            br {
              display: none;
            }
          }
        }
        .hero-pharagraph {
          p {
            font-size: .75em;
          }
        }
      }
    }
  }

}

/*@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .landing {
    height: 1024px;
  }
}*/