body{
	#texto_legal{
		display: none;
		margin-top: auto;
		margin-bottom: 0px;
		width: 90%;
		max-width: 960px;
		font-size: 10px;
		color: rgb(152, 152, 152);
		bottom: 10%;
		text-align: justify;
		margin-left: auto;
		margin-right: auto;
	}
	&.w-autoevaluacion{
		#texto_legal{
			display: block;
		}
	}
}

@media screen and (max-width: 767px){
	body.w-autoevaluacion #texto_legal{
		margin-top: 30px;
		margin-bottom: 30px;
	}
}