@font-face {
	font-family: 'icomoon';
	src: url('../fonts/extras/icomoon.eot?4lajw9');
	src: url('../fonts/extras/icomoon.eot?4lajw9#iefix') format('embedded-opentype'), url('../fonts/extras/icomoon.ttf?4lajw9') format('truetype'), url('../fonts/extras/icomoon.woff?4lajw9') format('woff'), url('../fonts/extras/icomoon.svg?4lajw9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"]:before,
[class*=" ico-"]:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'icomoon';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

.after-contract .field-choose .field .input-radio .option-wrapper .icon:before {
	color: #9c9c9c;
	font-size: 4em;
}

.after-contract .field-choose .field .input-radio .option-wrapper .ico-building:before {
	background-image: url(../img/acceso-logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	content: '' !important;
	display: block;
	height: 91px;
	margin: 0 auto;
	width: 100px;
}

.algn-center {
	align-items: center;
}

.bg-gris {
	background: $black-2;
	color: #fff;
	transition: all 0.35s ease;
}

.bg-gris:hover {
	background: #000;
	color: #fff;
}

body.brand .wrap-note .sk-fading-circle .sk-circle span {
	background: inherit;
}

body .c-hidden {
	display: none !important;
}

.c-hidden {
	display: none !important;
}

.contract-date {
	padding: 1rem 0;
}

.countdownSooner {
	font-size: 16px;
	margin-bottom: 10px;
}

.chooseCredit .field figure {
  align-items: center;
  display: flex;
  height: 90px;
  justify-content: center;
  margin: 0 auto;
  width: 80px;
}

.chooseCredit .field figure img {
  width: 70px;
}

.chooseCredit.list {
  margin: 0 auto;
  max-width: 960px;
}

.chooseCredit.list .field figure img {
  width: 60px;
}

#chooseCreditCard>p {
	padding-top: 1rem;
}

#chooseCreditCard .note {
	margin: 1rem auto 2rem auto;
}

#chooseCreditCard #questionForm {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 500px;
}

#chooseCreditCard #questionForm .field {
	width: 100%;
}

#chooseCreditCard #questionForm .field.inline {
	margin: 0 0 1.5rem;
	padding: 0 0.5rem;
	width: 50%;
}

#chooseCreditCard #questionForm .field.inline .select2 {
	width: 100% !important;
}

#chooseCreditCard #questionForm .field.inline>input {
	width: 100% !important;
}

#chooseCreditCard #questionForm .field button {
	margin: auto !important;
}

#chooseCreditCard #questionForm .wrap-button {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 33.333%;
}

#chooseCreditCard #questionForm .wrap-button button {
	width: 100%;
}

#chooseCreditCard #questionForm .wrap-button.arg {
	width: 100%;
}

#chooseCreditCard.arg .forms #questionForm {
	max-width: 768px;
}

#chooseCreditCard.arg .forms #questionForm .field,
#chooseCreditCard.arg .forms #questionForm .wrap-button {
	flex-grow: 1;
	width: 33.333%;
}

#chooseCreditCard.arg .forms #questionForm .wrap-button {
	margin: 0 0 1.5rem;
	padding: 0 0.5rem;
}

#chooseCreditCard.arg .forms #questionForm .field #bankAccountCci,
#chooseCreditCard.arg .forms #questionForm .wrap-button #bankAccountCci {
	min-width: 100%;
}

#chooseCreditCard.arg .forms #questionForm .field #sendButton,
#chooseCreditCard.arg .forms #questionForm .wrap-button #sendButton {
	width: 95%;
}

#chooseCreditCard.arg .forms #questionForm .wrap-button {
	flex-grow: 0;
}

#chooseCreditCard.arg .wrap-button {
	width: 100%;
}

.close-last-info.close-button {
	margin-bottom: 10px;
}

#datetimepicker12 {
	margin: 0 auto;
	max-width: 250px;
}

.ds-fl {
	display: flex;
}

#helpMessageBody {
	margin: 0 auto;
	max-width: 700px;
	text-align: justify;
}

#error-content .actions {
	align-items: center;
	display: flex;
	justify-content: center;
}

#error-content .actions .icon-home {
	align-items: center;
	display: flex;
	justify-content: center;
}

#error-content .actions .icon-home:before {
	@include icon-extras();
	content: "\e906";
	font-size: 20px;
	height: 25px;
	margin-right: 1em;
	width: 25px;
}


#formPhone #questionForm .wrap-phones.pd-right {
	margin-right: 1rem;
}

#formPhone #questionForm .wrap-phones.pd-right .field.arg-field .wrap-input input {
	min-width: 120px;
	padding-right: 20px;
	padding-left: 20px;
}

#formPhone #questionForm .wrap-phones.pd-right .field.arg-field.field-error .wrap-input input {
	border: 2px solid #de777f !important;
}

#formPhone #questionForm .wrap-phones .wrap-input {
	border: none;
}

#formPhone #questionForm .wrap-phones .wrap-input input {
	border: 2px solid #d6d8dd;
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

#formPhone #questionForm .wrap-phones .wrap-input input:focus {
	border-color: #26cad3;
}

#formPhone .wrap-phones .inline.arg-field.has-error .wrap-input input {
	border: 2px solid #DE777F !important;
}

#form_date .form-group {
	display: flex;
	margin: 0 auto 1rem auto;
	max-width: 320px;
}

#form_date .form-group .field {
	margin-right: 2%;
	width: 63%;
}

#form_date .form-group .field input {
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}

#form_date .form-group button {
	min-width: inherit;
	width: 35%;
}

.form-53 {
	flex-wrap: wrap;
}

.form-53 .display-block {
	width: 100%;
}

.fl-column {
	flex-direction: column;
}

#helpMessageBody .wrap-inner {
	max-width: 100%;
}

.imgProgress-img {
	background-size: 100% !important;
}

.list-requeriments {
	align-items: center;
	display: flex;
	font-size: 13px;
	justify-content: center;
}

.list-requeriments>li {
	align-items: center;
	border-right: 2px solid rgba(122, 128, 141, 0.34);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.list-requeriments>li figure {
	align-items: center;
	display: flex;
	height: 47px;
	justify-content: center;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 78px;
}

.list-requeriments>li figure img {
	display: block;
	height: auto;
	margin-top: 0;
	width: 48px;
}

.list-requeriments>li span {
	width: 100%;
}

.list-requeriments>li ul {
	padding-left: 2em;
	padding-top: 1em;
	text-align: left;
	width: 100%;
}

.list-requeriments>li ul li {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 1em;
}

.list-requeriments>li ul li i {
	align-items: center;
	border-radius: 3px;
	border: 2px solid #7a808d;
	display: flex;
	height: 24px;
	justify-content: center;
	line-height: 24px;
	margin-right: 10px;
	width: 24px;
}

.list-requeriments>li:nth-child(1) figure img {
	margin-top: 8px;
	width: 53px;
}

.list-requeriments>li:nth-child(2) figure img {
	margin-top: 0;
	width: 70px;
}

.list-requeriments>li:last-child {
	border-right: 0;
	border: none;
}

.loan-process .container .questions-section .list-requeriments {
	font-size: 14px;
	margin: 0 auto 20px auto;
}

.loan-process {
	margin: auto;
	width: 100%;
}

#load-more.wrap-load figure {
	margin-bottom: 1em;
}

.loan-process .questions-section .block .note>div {
	text-align: center !important;
}

.loan-process .questions-section .block .note>div .note a.anchor-button {
	margin: 0.5rem auto 2rem auto;
}

.loan-process .datepicker table tr td.day {
	background-color: #dfecf0;
	color: #000;
}

.loan-process .datepicker table tr td.new,
.loan-process .datepicker table tr td.old,
.loan-process .datepicker table tr td.disabled {
	color: #d6d8dd;
	background-color: #fff;
}

.loan-process .datepicker table tr td.day.active {
	background-color: #26cad3;
	color: #fff;
	text-shadow: none;
}

.loan-process .container .questions-section {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.loan-process .container .questions-section p {
	color: $black_color_main;
	font-family: 'Lato Light', sans-serif ;
	font-size: 1.35em;
	margin-bottom: 20px;
}

/*.loan-process .container .questions-section .forms p,*/
.loan-process .container .questions-section p .text-red {
	font-family: 'Lato bold',sans-serif;
}

.loan-process .container .questions-section .error-text,
.loan-process .container .questions-section .forms .calculation-response .result .stars .negative,
.loan-process .container .questions-section .forms .error-text {
	color: $red-2;
}

.loan-process .container .questions-section .note {
	color: $black-2;
	margin: 0 0 2em 0;
}

.loan-process .container .questions-section .note .wrap-inner {
	margin: 0 auto;
	max-width: 640px;
	text-align: left;
}


.loan-process .container .questions-section .forms .dynamic-field {
	margin: 0 auto;
	max-width: 540px;
}

.loan-process .container .questions-section .forms .calculation-response {
	margin: 0 auto;
	max-width: 768px;
}

.loan-process .container .questions-section .forms .calculation-response h4 {
	color: $black_color_main;
	margin-bottom: 1em;
}

.loan-process .container .questions-section .forms .calculation-response h4 .icon-check:before {
	display: inline-block;
	font-size: 1.25em;
	vertical-align: top;
}

.loan-process .container .questions-section .forms .calculation-response ul li {
	margin: 0.5em 0;
	text-align: left;
}

.loan-process .container .questions-section .forms .calculation-response ul li p,
.loan-process .container .questions-section .forms .calculation-response ul li .rating {
	display: inline-block;
	vertical-align: top;
}

.loan-process .container .questions-section .forms .calculation-response ul li p {
	color: $black-2;
	font-size: 1em;
	margin: 0;
}

.loan-process .container .questions-section .forms .calculation-response ul li .rating {
	float: right;
	opacity: 1;
	transition: all 0.3s ease;
}

.loan-process .container .questions-section .forms .calculation-response ul li .rating.none {
	opacity: 0;
}

.loan-process .container .questions-section .forms .calculation-response ul li.block-hidden {
	display: none;
}

.loan-process .container .questions-section .forms .calculation-response ul .fade-in {
	@include animation('fadeIn .5s infinite');
}

.loan-process .container .questions-section .forms .calculation-response .result {
	background: $black-5;
	@include border-radius(5px);
}

.loan-process .container .questions-section .forms .calculation-response .result .stars {
	display: inline-block;
	line-height: 1.85em;
	padding: 0.5em 1em;
}

.loan-process .container .questions-section .forms .calculation-response .result .stars h3 {
	font-family: 'Lato Bold', 'Helvetica', sans-serif;
	font-size: 1.15em;
	margin-right: 1em;
	margin-top: 0.5em;
}

.loan-process .container .questions-section .forms .calculation-response .result .stars h3,
.loan-process .container .questions-section .forms .calculation-response .result .stars .icon-star {
	color: $black-4;
	display: inline-block;
	vertical-align: top;
}

.loan-process .container .questions-section .forms .calculation-response .result .stars .icon-star:before {
	display: inline-block;
	font-size: 1.75em;
	margin-top: 0.15em;
}

.loan-process .container .questions-section .forms .calculation-response .result .stars .positive {
	color: $lightblue-1;
}

.loan-process .container .questions-section .forms .calculation-response .result .actions .anchor-button {
	margin: 0.25em;
	min-width: 55px;
	text-align: center;
	text-decoration: none;
}

.loan-process .container .questions-section .forms .calculation-response .result .actions .anchor-button:focus {
	color: white;
	text-decoration: none;
}

.loan-process .container .questions-section .forms .g-maps {
	background: $lightblue-4;
	margin: 0 auto 1em auto;
	max-width: 580px;
	min-height: 200px;
	@include border-radius(5px);
}

.loan-process .container .questions-section .forms .terms-block {
	margin: 1em auto 2em auto;
	margin: 2em auto;
	max-width: 420px;
	text-align: left;
}

.loan-process .container .questions-section .actions {
	margin-top: 1em;
	padding-bottom: 1.5rem;
}

.loan-process .container .questions-section .actions .anchor-button {
	min-width: 55px;
}

.loan-process .container .questions-section .actions .anchor-button:focus {
	color: white;
	text-decoration: none;
}

.loan-process .container .questions-section .block {
	margin-top: 1em;
	position: relative;
}

.loan-process .container .questions-section .block .or-divisor {
	background: $black-4;
	border: 0;
	height: 1px;
	margin: 0em auto 2em auto;
	max-width: 240px;
	position: relative;
}

.loan-process .container .questions-section .block .or-divisor:after {
	background: white;
	color: $black-4;
	content: 'o';
	font-family: 'Lato Bold', 'Helvetica', sans-serif;
	height: 25px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: -13.5px;
	width: 25px;
}

.loan-process .container .questions-section ul.g-progressbar {
	height: 25px;
	list-style: none;
	padding: 0;
	position: relative;
	width: 100px;
}

.loan-process .container .questions-section ul.g-progressbar li {
	-ms-transform-origin: 50% 100%;
	-webkit-animation: bar linear 2.8s infinite;
	-webkit-transform-origin: 50% 100%;
	animation: bar linear 2.8s infinite;
	background-color: #f6323f;
	border-radius: 1px;
	display: block;
	height: 25px;
	position: absolute;
	right: 0;
	transform-origin: 50% 100%;
	width: 3px;
	will-change: transform;
}

.loan-process .container .questions-section .g-progressbar p span {
	color: #b7b7b7;
	display: block;
	font-size: 14px;
	margin: 8px 0;
}

.loan-process .container .questions-section .forms .dynamic-field,
.loan-process .container .questions-section .forms .dynamic-field-arg {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	max-width: 800px;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm {
	width: 100%;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form {
	align-items: flex-start;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .display-block,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .display-block {
	width: 100%;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .display-block .errorContainer span,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .display-block .errorContainer span {
	margin: 0.5rem auto;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	margin: 0;
	padding-right: 0.5rem;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field input,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field input {
	flex-grow: 1;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.last,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.last {
	padding-right: 0;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.has-error .wrap-input,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.has-error .wrap-input {
	border: 2px solid #de777f;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.has-error .select2-selection,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.has-error .select2-selection {
	border: 2px solid #de777f;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input {
	display: flex;
	flex-grow: 1;
	flex-wrap: nowrap;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input {
	apparence: none;
	border-radius: 4px;
	color: #34465d;
	flex-grow: 1;
	min-width: 100%;
	overflow: hidden;
	width: 100%;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input:nth-child(1),
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input:nth-child(1) {
	flex-grow: 1;
	padding: 10px 20px;
	width: 100%;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input:nth-child(2),
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input:nth-child(2) {
	padding: 10px 8px 9px 0px;
	text-align: left;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input::-webkit-input-placeholder,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #c1c4cb;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input::-moz-placeholder,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input::-moz-placeholder {
	/* Firefox 19+ */
	color: #c1c4cb;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input:-ms-input-placeholder,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input:-ms-input-placeholder {
	/* IE 10+ */
	color: #c1c4cb;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input:-moz-placeholder,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input:-moz-placeholder {
	/* Firefox 18- */
	color: #c1c4cb;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .btn-delete,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .btn-delete {
	text-align: left;
	padding-top: 1rem;
}

.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .btn-delete a,
.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .btn-delete a {
	padding-left: 0;
}

.loan-process .container .questions-section .wrap-progressbar ul.g-progressbar {
	margin: 0 auto;
}

.loan-process .container .questions-section.qs-arg .forms p {
	margin-bottom: 0px;
}

.loan-process .container .questions-section.qs-arg .forms .calculation-response .result .stars {
	display: none;
}

.loan-process .container .questions-section.qs-arg .forms .calculation-response .result table {
	color: #34465d;
	font-family: 'Lato Light', 'Helvetica', sans-serif !important;
	font-size: 1.2em !important;
	line-height: 1.5;
	margin-bottom: 1em !important;
	margin: 20px auto 30px auto !important;
}

.loan-process .container .questions-section.qs-arg .forms .calculation-response .result .commingsoon {
	position: relative;
}

.loan-process .container .questions-section.qs-arg .forms .calculation-response .result .commingsoon:before {
	color: $red-1;
	content: '¡Muy Pronto!';
	display: block;
	display: none;
	font-family: 'Lato Bold', sans-serif;
	font-size: 12px;
	left: 0;
	margin: 0 auto;
	padding: 0.25em;
	position: absolute;
	right: 0;
	text-align: center;
	top: -25px;
	transform: scale(1);
	transition: all 0.3s ease;
	width: 94%;
}

.loan-process .container .questions-section.qs-arg .forms .calculation-response .result .commingsoon:active {
	transform: scale(0.95);
}

.loan-process .container .questions-section.qs-arg .forms .calculation-response .result .commingsoon:hover:before,
.loan-process .container .questions-section.qs-arg .forms .calculation-response .result .commingsoon:active:before {
	display: block;
}

.loan-process .container .questions-section.main-arg .forms #questionForm {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 570px;
	position: relative;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .display-block {
	max-width: 425px;
	padding-right: 0;
	text-align: left;
	width: 100%;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .field {
	position: relative;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .field .type-doc {
	color: #34465d;
	font-family: 'Lato Light', 'Helvetica', sans-serif;
	font-size: 0.7em;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .field.field-cuit {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .field.field-cuit label {
	display: flex;
	font-size: 8px;
	justify-content: flex-start;
	margin-bottom: 3px;
	margin-top: 5px;
	order: 1;
	text-align: left;
	width: 100%;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .field.field-username .wrap-field .box-icon,
.loan-process .container .questions-section.main-arg .forms #questionForm .field.field-username .wrap-field .wsi {
	margin-right: -7px;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .field #docNumber {
	width: 152px !important;
}

.loan-process .container .questions-section.main-arg .forms #questionForm #sendButton {
	min-width: 160px !important;
	margin: 15px auto;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .display-block .errorContainer {
	max-width: 500px;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .display-block .errorContainer #docNumber-error {
	margin-top: 2em;
	margin-bottom: 0.8em;
}

.loan-process .container .questions-section.main-arg .forms #questionForm .display-block.arg-block {
	margin-top: 1.5em;
}

.loan-process .msg-loaded {
	align-items: center;
	display: flex;
	height: 0px;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s ease;
}

.loan-process .msg-loaded span {
	color: #34465d;
	font-family: 'Lato Light', 'Helvetica', sans-serif;
	font-size: 0.8em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	padding-right: 40px;
	position: relative;
}

.loan-process .msg-loaded span .sk-fading-circle {
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
}

.loan-process .msg-loaded span .sk-fading-circle .sk-circle {
	background-color: $red-1;
}

.loan-process .msg-loaded.active {
	height: auto;
	opacity: 1;
}

#loanNumberButton {
	background-color: $lightblue-1;
	color: #fff;
	height: 38px;
	margin-top: 4px;
	max-width: 110px;
	width: 96%;
}

#loanNumberButton:hover {
	background-color: $lightblue-2;
}

.loan-process .container .questions-section ul.g-progressbar li:nth-child(1) {
	-ms-transform: translateX(0) rotate(0deg);
	-webkit-transform: translateX(0) rotate(0deg);
	opacity: 0.2;
	transform: translateX(0) rotate(0deg);
}

.loan-process .container .questions-section ul.g-progressbar li:nth-child(2) {
	-ms-transform: translateX(-15px) rotate(0deg);
	-webkit-animation-delay: -0.4s;
	-webkit-transform: translateX(-15px) rotate(0deg);
	animation-delay: -0.4s;
	transform: translateX(-15px) rotate(0deg);
}

.loan-process .container .questions-section ul.g-progressbar li:nth-child(3) {
	-ms-transform: translateX(-30px) rotate(0deg);
	-webkit-animation-delay: -0.8s;
	-webkit-transform: translateX(-30px) rotate(0deg);
	animation-delay: -0.8s;
	transform: translateX(-30px) rotate(0deg);
}

.loan-process .container .questions-section ul.g-progressbar li:nth-child(4) {
	-ms-transform: translateX(-45px) rotate(10deg);
	-webkit-animation-delay: -1.2s;
	-webkit-transform: translateX(-45px) rotate(10deg);
	animation-delay: -1.2s;
	transform: translateX(-45px) rotate(10deg);
}

.loan-process .container .questions-section ul.g-progressbar li:nth-child(5) {
	-ms-transform: translateX(-60px) rotate(40deg);
	-webkit-animation-delay: -1.6s;
	-webkit-transform: translateX(-60px) rotate(40deg);
	animation-delay: -1.6s;
	transform: translateX(-60px) rotate(40deg);
}

.loan-process .container .questions-section ul.g-progressbar li:nth-child(6) {
	-ms-transform: translateX(-75px) rotate(62deg);
	-webkit-animation-delay: -2s;
	-webkit-transform: translateX(-75px) rotate(62deg);
	animation-delay: -2s;
	transform: translateX(-75px) rotate(62deg);
}

.loan-process .container .questions-section ul.g-progressbar li:nth-child(7) {
	-ms-transform: translateX(-90px) rotate(72deg);
	-webkit-animation-delay: -2.4s;
	-webkit-transform: translateX(-90px) rotate(72deg);
	animation-delay: -2.4s;
	transform: translateX(-90px) rotate(72deg);
}

@-webkit-keyframes bar {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		opacity: 0;
		transform: translateX(0) rotate(0deg);
	}

	14.28% {
		-webkit-transform: translateX(-15px) rotate(0deg);
		opacity: 1;
		transform: translateX(-15px) rotate(0deg);
	}

	28.56% {
		-webkit-transform: translateX(-30px) rotate(0deg);
		opacity: 1;
		transform: translateX(-30px) rotate(0deg);
	}

	37.12% {
		-webkit-transform: translateX(-39px) rotate(0deg);
		opacity: 1;
		transform: translateX(-39px) rotate(0deg);
	}

	42.84% {
		-webkit-transform: translateX(-45px) rotate(10deg);
		opacity: 1;
		transform: translateX(-45px) rotate(10deg);
	}

	57.12% {
		-webkit-transform: translateX(-60px) rotate(40deg);
		opacity: 1;
		transform: translateX(-60px) rotate(40deg);
	}

	71.4% {
		-webkit-transform: translateX(-75px) rotate(62deg);
		opacity: 1;
		transform: translateX(-75px) rotate(62deg);
	}

	85.68% {
		-webkit-transform: translateX(-90px) rotate(72deg);
		opacity: 1;
		transform: translateX(-90px) rotate(72deg);
	}

	100% {
		-webkit-transform: translateX(-105px) rotate(74deg);
		opacity: 0;
		transform: translateX(-105px) rotate(74deg);
	}
}

@keyframes bar {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		opacity: 0;
		transform: translateX(0) rotate(0deg);
	}

	14.28% {
		-webkit-transform: translateX(-15px) rotate(0deg);
		opacity: 1;
		transform: translateX(-15px) rotate(0deg);
	}

	28.56% {
		-webkit-transform: translateX(-30px) rotate(0deg);
		opacity: 1;
		transform: translateX(-30px) rotate(0deg);
	}

	37.12% {
		-webkit-transform: translateX(-39px) rotate(0deg);
		opacity: 1;
		transform: translateX(-39px) rotate(0deg);
	}

	42.84% {
		-webkit-transform: translateX(-45px) rotate(10deg);
		opacity: 1;
		transform: translateX(-45px) rotate(10deg);
	}

	57.12% {
		-webkit-transform: translateX(-60px) rotate(40deg);
		opacity: 1;
		transform: translateX(-60px) rotate(40deg);
	}

	71.4% {
		-webkit-transform: translateX(-75px) rotate(62deg);
		opacity: 1;
		transform: translateX(-75px) rotate(62deg);
	}

	85.68% {
		-webkit-transform: translateX(-90px) rotate(72deg);
		opacity: 1;
		transform: translateX(-90px) rotate(72deg);
	}

	100% {
		-webkit-transform: translateX(-105px) rotate(74deg);
		opacity: 0;
		transform: translateX(-105px) rotate(74deg);
	}
}

.modal#edit-modal .modal-content.w-withfee {
	max-width: 540px;
}

.modal .corner-close {
	position: absolute;
	right: 0;
	top: 0;
}

.modal .corner-close:after {
	background: #26cad3;
	content: '';
	height: 50px;
	position: absolute;
	right: -46px;
	top: -10px;
	transform: rotate(45deg);
	width: 100px;
	z-index: 0;
}

.modal .corner-close .icon-close {
	background: transparent;
	border: 0;
	margin-right: 3px;
	outline: none;
	position: relative;
	z-index: 1;
}

.modal .corner-close .icon-close:before {
	color: white;
	font-size: 0.75em;
}

.modal .wrap-form {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modal .wrap-form p {
	margin-bottom: 1em !important;
	text-align: center;
	width: 100%;
}

.modal .wrap-form .wrap-field {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-bottom: 0.5em;
	width: 100%;
}

.modal .wrap-form .wrap-field .box-icon,
.modal .wrap-form .wrap-field .wsi {
	align-items: center;
	background: #f9f9fb;
	border-radius: 5px 0 0 5px;
	border-right: 0;
	border: 2px solid #d6d8dd;
	display: flex;
	flex-shrink: 0;
	height: 45px;
	justify-content: center;
	margin-left: auto;
	margin-right: 0;
	vertical-align: top;
	width: 45px;
	z-index: 2;
}

.modal .wrap-form .wrap-field .box-icon .icon-gmail,
.modal .wrap-form .wrap-field .wsi .icon-gmail {
	font-size: 1.6em;
	line-height: 40px;
}

.modal .wrap-form .wrap-field .input-outline {
	border-radius: 0 5px 5px 0;
	margin-right: auto;
	text-transform: lowercase;
	width: 230px;
}

.modal .wrap-form .wrap-field small {
	width: 100%;
}

.modal .wrap-form a.button {
	align-items: center;
	display: flex;
	justify-content: center;
}

.modal .wrap-form .button {
	margin-right: 0.5em;
	min-width: 160px;
}

.modal .wrap-form .button.bg-transparent {
	border: 2px solid #26cad3;
	color: #26cad3;
	height: 45px;
	transition: all 0.3s ease;
}

.modal .wrap-form .button.icon-home:before {
	@include icon-extras();
	content: "\e906";
	font-size: 20px;
	height: 18px;
	margin-right: 5px;
	width: 18px;
}

.modal .wrap-form .button:first-child {
	margin-left: -5px;
	min-width: 160px;
}

.modal .wrap-form .button:last-child {
	margin-right: 0;
	min-width: 100px;
}

#processHeaderAmount .edit-amount-box {
	display: flex;
}

#processHeaderAmount .edit-amount-box .wrap {
	display: flex;
}

#processHeaderAmount .edit-amount-box .wrap .text-small {
	margin-left: 7px;
}

#questionForm .field .radioubi .ico-home:before {
	color: #9c9c9c;
	content: "\e906";
	font-size: 90px;
}

#questionForm .field .radioubi .ico-building:before {
	color: #9c9c9c;
	content: "\e907";
	font-size: 90px;
}

#questionForm .field .radioubi h5 {
	text-transform: uppercase;
}

#questionForm .field .radioubi:hover .ico-home:before,
#questionForm .field .radioubi.radio-selected .ico-home:before,
#questionForm .field .radioubi:hover .ico-building:before,
#questionForm .field .radioubi.radio-selected .ico-building:before {
	color: #777;
}

#questionForm .field-choose {
	margin-bottom: 20px;
}

#questionForm .inline-calendar .input-group {
	align-items: center;
	display: flex;
	justify-content: center;
}

#questionForm .inline-calendar .input-group-addon:last-child {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 45px;
	justify-content: center;
	width: 50px;
}

/*.relationshipForm{
	.select2{
		//marioccarloss
		//width: 125px !important;
	}
}*/

.select2-search--dropdown.select2-search--hide {
	display: block;
}

#seoTag {
	position: absolute;
	top: - 200%;
}

small #reset {
	color: $lightblue-1;
	font-weight: bold;
}

#updateForm.withfee .box-b {
	display: flex;
	flex-wrap: wrap;
}

#updateForm.withfee .box-b .display-block {
	color: #7a808d;
	display: block;
	font-size: 0.65em;
	line-height: 1.5em;
	margin-top: 0.35em;
	text-align: left;
}

#updateForm.withfee .box-b .field {
	flex-grow: 1;
	margin: 0;
}

#updateForm.withfee .box-b .field.field-amount {
	width: 140px;
}

#updateForm.withfee .box-b .field.field-amount .wrap-field {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#updateForm.withfee .box-b .field.field-amount .wrap-field .box-icon {
	flex-shrink: 0;
	width: 40px;
}

#updateForm.withfee .box-b .field.field-amount .wrap-field .input-outline {
	flex-grow: 1;
	margin-left: 0;
	width: calc(100% - 40px);
}

#updateForm.withfee .box-b .field.w-inline {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 140px);
}

#updateForm.withfee .box-b .field.w-inline .input-radio-modal {
	align-items: center;
	border-radius: 5px;
	border: 2px solid #d6d8dd;
	cursor: pointer;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	font-size: 1.25rem;
	height: 45px;
	margin-bottom: 0;
	margin-left: 0.5rem;
	padding: 0.25em;
	position: relative;
	text-align: center;
	transition: all 0.3s ease;
	width: auto;
}

#updateForm.withfee .box-b .field.w-inline .input-radio-modal span {
	display: block;
	font-weight: normal;
	width: 100%;
}

#updateForm.withfee .box-b .field.w-inline .input-radio-modal .radio {
	background: white;
	border-radius: 50%;
	border: 2px solid #d6d8dd;
	content: '';
	display: block;
	flex-shrink: 0;
	height: 15px;
	margin: 0 auto;
	order: 1;
	transition: all 0.3s ease;
	width: 15px;
}

#updateForm.withfee .box-b .field.w-inline .input-radio-modal:hover,
#updateForm.withfee .box-b .field.w-inline .input-radio-modal.active {
	border-color: #26cad3;
}

#updateForm.withfee .box-b .field.w-inline .input-radio-modal:hover .radio,
#updateForm.withfee .box-b .field.w-inline .input-radio-modal.active .radio {
	background: #26cad3;
	border: 3px solid white;
}

#updateForm.withfee .box-b .field.w-button {
	margin-top: 1.25rem;
	width: 100%;
}

.show-img {
	display: block !important;
}

.wrap-info-page {
	margin: 0 auto;
	max-width: 992px;
	width: 94%;
}

.wrap-info-page span.span-requeriment {
	display: block;
	font-size: 13px;
	margin-bottom: 20px;
	margin-left: 0;
	text-align: center;
}

.wrap-note-wait .cnt {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
	margin-top: 2em;
}

.wrap-note-wait .cnt figure {
	margin-right: 1em;
	padding-bottom: 1em;
	width: 90px;
}

.wrap-note-wait .cnt figure img {
	height: auto;
	width: 100%;
}

.wrap-note {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wrap-note figure {
	margin-right: 1em;
	padding-bottom: 2em;
	width: 74px;
}

.wrap-note figure img {
	height: auto;
	width: 65%;
}

.wrap-note #loading-ajax {
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
}

.wrap-note .sk-fading-circle .sk-circle span {
	background-color: $red-1;
}

.wrap-progressbar p {
	color: #808080;
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 40px;
	text-align: center;
}

.wrap-progressbar p span {
	color: #808080;
	display: block;
	font-size: 15px;
	margin: 0 auto 8px auto;
}



/**correcciones**/
@media only screen and (max-width: 1285px) {
	.loan-process .container .questions-section {
		width: 85%;
	}

	.loan-process .container .questions-section p {
		font-size: 1.25em;
	}

	.loan-process .container .questions-section .note {
		margin: 1em auto;
	}

	.loan-process .container .questions-section .forms form .g-maps {
		min-height: 150px;
	}
}

@media only screen and (max-width: 1024px) {
	.list-requeriments>li ul li {
		margin-bottom: 0.5em;
	}

	.list-requeriments>li ul li i {
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		width: 20px;
	}

	.loan-process .container .questions-section .list-requeriments {
		font-size: 14px;
	}
}

@media only screen and (max-width: 992px) {
	.loan-process .container .questions-section p {
		font-size: 1.25em;
	}

	.loan-process .container .questions-section .forms p {
		font-size: 1.25em;
	}
}

@media only screen and (max-width: 960px) {
	.loan-process .container .questions-section .forms .dynamic-field,
	.loan-process .container .questions-section .forms .dynamic-field-arg {
		max-width: 480px;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form {
		flex-wrap: wrap;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field {
		flex-grow: 1;
		margin-bottom: 0.5rem;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.cbo-field,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.cbo-field {
		width: 40%;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.cbo-field .select2,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.cbo-field .select2 {
		width: 100% !important;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.name-field,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.name-field {
		padding-right: 0;
		width: 60%;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.name-field input,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.name-field input {
		width: 100%;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.code-field,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.code-field {
		flex-shrink: 0;
		width: 25%;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.code-field input,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.code-field input {
		width: 100%;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.phone-field,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.phone-field {
		width: 40%;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.phone-field.has-error,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.phone-field.has-error {
		border: 2px solid #de777f;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.last,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.last {
		width: 35%;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .field.last .select2,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .field.last .select2 {
		width: 100% !important;
	}
}

/*media only screen and (max-height: 900px) {
	.loan-process .bottom-footer {
		position: relative;
	}

}*/

/*@media screen only and (min-width: 768px) and (max-height: 640px) {
	#offer-block {
		//margin-top: -220px !important;
	}

	.offer-container {
		//margin-top: 220px !important;
	}
}*/

@media only screen and (max-height: 767px) {
	.loan-process .container .questions-section p {
		margin-bottom: 10px;
		margin-top: 4px;
	}
}

@media only screen and (max-width: 767px) {
	.table-responsive tbody,
	.table-responsive,
	.table-responsive>.table {
		overflow-x: scroll !important;
		touch-action: auto;
	}

	.list-requeriments>li {
		margin-bottom: 1em;
		width: 33%;
	}

	.list-requeriments>li figure {
		height: 35px;
		width: 60px;
	}

	.list-requeriments>li:nth-child(1) figure img {
		margin-top: 0;
		width: 35px;
	}

	.list-requeriments>li:nth-child(2) figure img {
		margin-top: 0;
		width: 47px;
	}

	.list-requeriments>li:nth-child(3) {
		border-right: 0;
	}

	.list-requeriments>li:nth-child(3) figure img {
		width: 32px;
	}

	.list-requeriments>li:last-child {
		margin-right: auto;
		width: 100%;
	}

	.loan-process .container .questions-section .list-requeriments {
		flex-wrap: wrap;
		font-size: 9.5px;
	}

	.loan-process .container .questions-section .list-requeriments {
		margin: 2em auto 0 auto;
	}

	.loan-process {
		padding-top: 60px;
		position: relative;
		top: 0;
		transform: none;
	}

	/*.wrap-progressbar {
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}*/
}

@media only screen and(max-width: 749px) {
	.how-earn-options {
		margin: 0 auto;
		width: 300px;
	}
}

@media only screen and (max-width: 640px) {
	.body-efl .loan-process .container #question-replaceable #assessment {
		height: 130vh !important;
	}

	.body-efl #intercom-container {
		display: none !important;
	}
		#chooseCreditCard #questionForm .wrap-button {
		margin-top: 1rem;
		width: 100%;
	}

	#chooseCreditCard #questionForm .wrap-button.arg {
		width: 100%;
	}

	#chooseCreditCard #questionForm .wrap-button.arg button {
		width: 96% !important;
	}

	#chooseCreditCard.arg .forms #questionForm {
		max-width: 340px;
		margin-left: auto;
		margin-right: auto;
	}

	#chooseCreditCard.arg .forms #questionForm .field {
		width: 100%;
	}

	div.progressBar div.track div.bar {
		margin-left: 2px;
		margin-right: 1px;
		width: 1px;
	}

	.divisor-bottom {
		margin: 1em auto !important;
	}

	.input-radio .option-wrapper .iconic-option-inner h5 {
		font-size: 9px;
	}

	.loan-process .container .questions-section {
		width: 100%;
	}

	.loan-process .container .questions-section p {
		font-size: 1em;
	}

	.loan-process .container .questions-section .note {
		font-size: 0.75em;
		margin: 1em auto;
	}

	.loan-process .container .questions-section .note small br {
		display: none;
	}

	.loan-process .container .questions-section .forms p {
		font-size: 1em;
	}

	.loan-process .container .questions-section .forms form .g-maps {
		min-height: 100px;
	}

	.loan-process .container .questions-section .forms form .mobile-100 {
		margin: 0;
		width: 100%;
	}

	.loan-process .container .questions-section .forms form .field .address-input {
		width: 100%;
	}

	.loan-process .container .questions-section .forms form .display-block .custom-check {
		font-size: 14px;
		margin: 0.5em 0;
	}

	.loan-process .container .questions-section .forms .calculation-response h4 {
		margin-top: 1em;
	}

	.loan-process .container .questions-section .forms .calculation-response ul li p {
		font-size: 0.95em;
	}

	.loan-process .container .questions-section .forms .calculation-response ul li .rating {
		float: none;
	}

	.loan-process .container .questions-section .forms .terms-block {
		margin-top: 0;
		margin: 1em auto;
	}

	.loan-process .container .questions-section .forms#marital-status-block p {
		margin-bottom: 1em;
	}

	.loan-process .container .questions-section .rejectionMarketplace p {
		font-size: 0.9em;
	}

	.loan-process .container .questions-section .rejectionMarketplace p:first-child {
		padding-bottom: 1rem;
	}

	.loan-process .container .questions-section .no-top {
		margin-top: 0;
	}

	.loan-process .container .questions-section .block .or-divisor {
		margin: 2em auto 1em auto;
	}

	.loan-process .container .questions-section .block .text-lightblue {
		font-size: 0.85em;
	}

	.loan-process .container .actions button {
		margin: 0.25em auto;
	}

	.loan-process .container #assessment {
		margin-top: -14px !important;
	}

	.loan-process .container .questions-section .forms .calculation-response .result .stars {
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 20px auto -10px auto;
		max-width: 220px;
		padding-left: 5px;
		padding-right: 5px;
		width: 80%;
	}

	.loan-process .container .questions-section .forms .calculation-response .result .stars .positive {
		margin-right: 0px;
	}

	.loan-process .container .questions-section .forms .calculation-response .result .stars .icon-star:before {
		font-size: 1em;
	}

	.loan-process .container .questions-section .forms .calculation-response .result .stars h3 {
		margin-right: 10px !important;
		margin-top: 0px;
	}

	.loan-process .container .questions-section.qs-arg .forms .calculation-response .result table {
		font-size: 1em !important;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm .field #sendButton {
		min-width: 100px !important;
	}

	.loan-process .container .questions-section.main-arg .email-block .wrap-field input.input-outline {
		max-width: 200px;
	}

	.loan-process .msg-loaded.active {
		margin: 20px auto 0 auto;
	}

	.loan-process .container .questions-section .forms .calculation-response ul li {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0.5em 0;
		text-align: left;
		width: 100%;
	}

	.loan-process .container .questions-section .forms .calculation-response ul li p {
		font-size: 0.8em;
		width: 70%;
	}

	.loan-process .container .questions-section .forms .calculation-response ul li .rating {
		display: block;
		float: none;
		margin: 0 auto;
		width: 30%;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm .field.field-username .wrap-field .box-icon .icon-gmail {
		font-size: 1.2em;
		line-height: 34px;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm .field.field-cuit {
		width: 100% !important;
		max-width: 250px;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm .field.field-cuit #docNumber {
		max-width: 100% !important;
		width: 100% !important;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm .field #docNumber {
		width: 132px !important;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm .r-field {
		width: 100%;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm .field>input.input-outline {
		width: 250px !important;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm .display-block.arg-block {
		margin-top: 0;
		max-width: 260px !important;
	}

	.loan-process .container .adviser-section .horizontal-line .circle {
		height: 30px;
		left: -30px;
		top: 10px;
		width: 30px;
	}

	.loan-process .container .adviser-section .horizontal-line .circle .icon-bullet-left:before {
		display: block;
		font-size: 1em;
		margin-left: 0;
		margin-top: 1px;
		text-align: center;
	}

	.loan-process .container .adviser-section .horizontal-line .circle:hover {
		height: 34px;
		width: 34px;
	}

	.loan-process .questions-section .block .note>div .note a.anchor-button {
		font-size: 1.25rem;
	}

	.loan-process .container .questions-section.main-arg .forms .email-block .wrap-field .input-help {
		max-width: 240px;
	}

	.loan-process .container .questions-section.main-arg .forms #questionForm #docNumber {
		width: 130px !important;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input {
		width: 50%;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input:first-child,
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input:first-child {
		padding: 6px 0 6px 8px;
	}

	.loan-process .container .questions-section .forms .dynamic-field .relationshipForm .wrap-form .wrap-input input:nth-child(2),
	.loan-process .container .questions-section .forms .dynamic-field-arg .relationshipForm .wrap-form .wrap-input input:nth-child(2) {
		padding: 6px 8px 6px 0;
	}

	#formPhone #questionForm .wrap-phones.pd-right {
		margin-left: auto;
		margin-right: auto;
		flex-wrap: nowrap;
	}

	#formPhone #questionForm .w-btn {
		width: 100%;
	}

	#formPhone #questionForm .wrap-phones.pd-right {
		padding-left: auto;
		padding-right: auto;
	}

	#formPhone #questionForm .wrap-phones .wrap-input {
		max-width: 180px;
	}

	#formPhone #questionForm .wrap-phones .wrap-input input {
		width: 100%;
	}

	.modal .wrap-field .box-icon,
	.modal .wrap-field .wsi {
		height: 38px;
	}

	.modal .wrap-field .input-outline {
		width: 266px;
	}

	.modal .wrap-form .button.bg-transparent {
		height: 38px;
	}

	.modal .wrap-form {
		flex-wrap: wrap;
	}

	.modal .wrap-form .wrap-field {
		margin-bottom: 0.5em;
		width: 100%;
	}

	.modal .wrap-field .input-outline {
		margin-right: 0;
		width: 75% !important;
	}

	.modal .wrap-form .button {
		min-width: 67%;
	}

	.modal .wrap-form .button:last-child {
		min-width: 30%;
	}

	.modal .wrap-form .wrap-field .box-icon,
	.modal .wrap-form .wrap-field .wsi {
		height: 38px;
	}

	.modal .wrap-form .wrap-field .box-icon,
	.modal .wrap-form .wrap-field .wsi {
		margin-left: 0;
	}

	.modal .wrap-form .wrap-field .input-outline {
		margin-right: 0;
	}

	.wrap-pages .loan-process .container .questions-section .collection-buttons {
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 280px;
	}

	.questions-section.qs-arg .forms .calculation-response .result .stars {
		display: none;
	}

	#texto_legal {
		margin-bottom: 40px !important;
	}

	.wrap-note {
		flex-direction: column;
		margin: 0 auto;
		max-width: 320px;
		width: 100%;
	}

	.wrap-note figure {
		margin: 0;
		padding-bottom: 0.5em;
		width: 40px;
	}

	.wrap-note #loading-ajax {
		margin-bottom: 1em;
		margin-top: 2em;
	}

	.wrap-note-wait .cnt {
		flex-direction: column;
	}

	.wrap-note-wait .cnt figure {
		margin-right: 0;
		padding-bottom: 1em;
		width: 40px;
	}

	.wrap-info-page span.span-requeriment {
		font-size: 0.75em;
		margin-left: 0;
		text-align: center;
	}
	.wrap-pages .loan-process .container .questions-section .collection-buttons a.button {
		height: 38px;
	}

	/*pregunta 20*/
	.wrap-pages .loan-process .container .questions-section small.important {
		margin-bottom: 1em;
	}

}

@media screen and (max-height: 640px) {
	.loan-process .container .questions-section .list-requeriments {
		margin: 0 auto 20px auto;
	}

	.loan-process .container .questions-section .actions {
		margin-bottom: 1em;
	}

	.loan-process .container {
		min-height: calc(100% - 78px);
	}

}

@media only screen and (min-width: 549px) {
	.process-header #processHeaderAmount {
		text-align: left;
	}

	.process-header #processHeaderAmount .edit-amount-box {
		text-align: left;
		display: unset;
	}

	.process-header #processHeaderAmount .edit-amount-box .wrap {
		display: inline-block;
	}

	.process-header #processHeaderAmount .edit-amount-box .wrap .text-small {
		margin-left: 0;
	}
}

@media only screen and (max-width: 540px) {
	#updateForm.withfee .box-b .field-amount,
	#updateForm.withfee .box-b .w-inline {
		width: 100% !important;
	}

	#updateForm.withfee .box-b .field-amount,
	#updateForm.withfee .box-b .wrap-field {
		max-width: 100% !important;
	}

	#updateForm.withfee .box-b .field {
		margin-bottom: 0.75rem !important;
		margin-left: 0.25rem !important;
		margin-right: 0.25rem !important;
	}

	#updateForm.withfee .box-b .field.w-inline .input-radio-modal {
		margin-left: 0.25rem !important;
		margin-right: 0.25rem !important;
	}
}

@media only screen and (max-width: 400px) {
	.wrap-info-page>p br {
		display: none;
	}
}

@media only screen and (max-width: 320px) {
	div.progressBar div.track div.bar {
		margin-left: 1px;
		margin-right: 1px;
	}
}
