.personal-loan {
  .hero-content {
    .wrap {
      max-width: 60%;
      .actions {
        margin-top: 1em;
        .anchor-button {
          margin: .25em;
          min-width: 150px;
        }
        .display-block {
          a {
            margin-left: 1.5em;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {


}

@media only screen and(max-width: 640px) {
  .personal-loan {
    background: rgba(38,202,211,1);
    background: -moz-linear-gradient(top, rgba(38,202,211,1) 0%, rgba(72,76,145,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,202,211,1)), color-stop(100%, rgba(72,76,145,1)));
    background: -webkit-linear-gradient(top, rgba(38,202,211,1) 0%, rgba(72,76,145,1) 100%);
    background: -o-linear-gradient(top, rgba(38,202,211,1) 0%, rgba(72,76,145,1) 100%);
    background: -ms-linear-gradient(top, rgba(38,202,211,1) 0%, rgba(72,76,145,1) 100%);
    background: linear-gradient(to bottom, rgba(38,202,211,1) 0%, rgba(72,76,145,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26cad3', endColorstr='#484c91', GradientType=0 );
    .hero-content {
      padding: 0;
      .wrap {
        .hero-text {
          .landing-title {
            font-size: 1.35em;
            padding: 0 1em;
          }
        }
        .hero-pharagraph {
          p {
            font-size: .95em;
            padding: 0 1em;
          }
        }
        .actions {
          .display-block {
            a {
              margin-left: 0;
            }
          }
        }
      }
    }
    .content-left {
      .wrap {
        max-width: 100%;
      }
    }
  }
}
.autoevaluacion{
  .adviser-section {
    width: 84%;
  }
}
.avatar-advisor-content{
  display: flex;
  justify-content: center;
  .avatar-advisor-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border:3px solid #26cad3;
    @media only screen and (min-width:745px){
      width: 130px;
      height: 130px;

    }
  }
}
.autoevaluacion{
	.avatar-progress{
		.avatar-advisor{
			.imgProgress-svg{
				background: $blue-3 !important;
				border: 1px solid $blue-3!important;
				.imgProgress-circle{ 
					stroke: $blue-2 !important;
					fill: $blue-3 !important;
				}
			}
    }
    
	}
    .checked .check-inner{
        background: $blue-2;
        border-color: $blue-2;
    }

    .custom-check .check-label a{
        color: $blue-2;
    }
	.text-red.text-bold{
		font-family: 'Lato Regular', 'Helvetica', sans-serif !important;
	}
	#sendButton{
		background-color: $blue-2 !important;
	}
	.horizontal-line{
		.brand-bg-colorweb{
			background:$blue-3 !important;
		}
	}
    .container{
        #question-replaceable{
            .calculation-response{
                .result{
                    .stars{
                        h3{
                            &.positive{
                                color: $blue-2;
                            }
                        }
                        .icon-star{
                            &.positive{
                                color: $red-1;
                            }
                        }
                    }
                }
            }
        }
    }

	.divisor-bottom{
		display: none !important;
	}
}