@media only screen and(max-width: 992px) {
  .salary-advance {
    .hero-content {
      .wrap {
        max-width: 70%;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .salary-advance {
    .hero-content {
      .wrap {
        max-width: 80%;
      }
    }
  }
}

@media only screen and(max-width: 640px) {
  .salary-advance {
    background: rgba(60,72,92,1);
    background: -moz-linear-gradient(top, rgba(60,72,92,1) 0%, rgba(106,67,85,1) 42%, rgba(158,61,77,1) 73%, rgba(247,50,63,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,72,92,1)), color-stop(42%, rgba(106,67,85,1)), color-stop(73%, rgba(158,61,77,1)), color-stop(100%, rgba(247,50,63,1)));
    background: -webkit-linear-gradient(top, rgba(60,72,92,1) 0%, rgba(106,67,85,1) 42%, rgba(158,61,77,1) 73%, rgba(247,50,63,1) 100%);
    background: -o-linear-gradient(top, rgba(60,72,92,1) 0%, rgba(106,67,85,1) 42%, rgba(158,61,77,1) 73%, rgba(247,50,63,1) 100%);
    background: -ms-linear-gradient(top, rgba(60,72,92,1) 0%, rgba(106,67,85,1) 42%, rgba(158,61,77,1) 73%, rgba(247,50,63,1) 100%);
    background: linear-gradient(to bottom, rgba(60,72,92,1) 0%, rgba(106,67,85,1) 42%, rgba(158,61,77,1) 73%, rgba(247,50,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c485c', endColorstr='#f7323f', GradientType=0 );
    .hero-content {
      .wrap {
        max-width: 100%;
      }
    }
  }
}