.landing-wfs {
  min-height: 420px;
  position: relative;
  .hero-content {
    color: white;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    top: 55%;
    @include vertical-align(absolute);
    .wrap {
      text-align: left;
      .hero-text {
        h2 {
          font-family: 'Lato Black', 'Helvetica', sans-serif;
          font-size: 2em;
          text-shadow: 1px 2px rgba(52,70,93,0.4);
          text-transform: uppercase;
        }
      }
      .divisor-bar {
        margin-bottom: 1em;
      }

      .hero-pharagraph {
        p {
          text-align: justify;
        }
      }
    }
  }
}

@media only screen and(min-width: 1280px) {
  .landing-wfs {
    .hero-content {
      .wrap {
        max-width: 50%;
      }
    }
  }
}

@media only screen and(max-width: 768px) {

  .landing-wfs {
    .hero-content {
      .wrap {
        .hero-text {
          h2 {
            font-size: 1.75em;
          }
        }
      }
    }
  }
}
