
#choose_brand {
	/*generales*/
	/*marioccarloss*/
}

#choose_brand .legal {
	display: flex;
	font-size: 8px;
	justify-content: flex-start;
	margin-right: auto;
	margin-top: auto;
	margin: 2em auto;
	text-align: justify;
	width: 100%;
}

#choose_brand .filter-title {
	color: $blue-offer;
	font-family: "Lato Black", sans-serif;
	font-size: 16px;
}

#choose_brand #topFilter {
	align-items: center;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	display: flex;
	justify-content: flex-start;
	margin: 0.5em auto;
	width: 100%;
}

#choose_brand #topFilter .filter-title {
	margin-right: 1.5em;
}

#choose_brand #topFilter .container {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

#choose_brand #topFilter .filter-title {
	margin-bottom: auto;
	margin-top: 0.8em;
}

#choose_brand #topFilter .brand-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	justify-content: flex-start;
	max-width: 960px;
	overflow: hidden;
	padding: 0.5em 0.5em 0 0.5em;
	transition: all 0.3s ease;
	width: 100%;
}

#choose_brand #topFilter .brand-list li {
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	max-width: inherit;
	width: auto;
}

#choose_brand #topFilter .brand-list li a {
	align-items: center;
	border-radius: 6px;
	border: 2px solid #bdbdbd;
	border: 2px solid #eee;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 4px 15px;
	text-align: center;
	transition: 400ms;
}

#choose_brand #topFilter .brand-list li a h3 {
	display: none;
	font-size: 0;
	width: 100%;
}

#choose_brand #topFilter .brand-list li a img {
	max-width: 30px;
}

#choose_brand #topFilter .brand-list li a.brand-active {
	border: 2px solid $blue-offer;
}

#choose_brand #topFilter .brand-list.active {
	height: auto;
}

#choose_brand #topFilter #viewmore {
	color: #333;
	display: none;
	margin-bottom: auto;
	margin-left: auto;
	margin-top: 1.2em;
	min-width: 100px;
	text-align: right;
}

#choose_brand #topFilter #viewmore .icon-plus {
	border-radius: 100%;
	border: 1px solid #333;
	font-size: 12px;
	padding: 2px;
}

#choose_brand #topFilter #viewmore.active {
	display: block;
}

#choose_brand #middleFilter {
	border-top: 1px solid #d6dade;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

#choose_brand #middleFilter .container {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

#choose_brand #middleFilter .container .openfilter {
	display: none;
	transform: none;
	transition: all 0.35s ease;
}

#choose_brand #middleFilter .container .openfilter:active {
	transform: scale(0.95);
}

#choose_brand #middleFilter .container .sortby {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-right: 1em;
}

#choose_brand #middleFilter .container .sortby>span {
	color: #7a808d;
	font-size: 0.85em;
}

#choose_brand #middleFilter .container .sortby .select2 .selection .select2-selection {
	align-items: center;
	border: 1px solid #d6d8dd;
	display: flex;
	flex-wrap: nowrap;
	height: 38px;
	justify-content: center;
}

#choose_brand #middleFilter .container .sortby .select2 .selection .select2-selection span {
	line-height: 1;
}

#choose_brand #middleFilter .container .controls-filters .text-lightblue {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

#choose_brand #middleFilter .container .controls-filters .text-lightblue:before {
	content: "\e936";
	margin-right: 5px;
}

#choose_brand .wrap-choose-brand .container {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container>* {
	min-height: 250px;
}

#choose_brand .wrap-choose-brand .container #lateralFilter {
	border-radius: 2px;
	border-top: 1px solid #f9f9fb;
	margin-right: 2%;
	width: 240px;
	/**/
}

#choose_brand .wrap-choose-brand .container #lateralFilter .wrap-filter {
	background-color: #fafafa;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 1em;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .wrap-filter h4 {
	align-items: flex-start;
	border-bottom: 1px solid #ddd;
	display: flex;
	font-size: 0.75em;
	justify-content: flex-start;
	padding: 1em 0.5em;
	text-transform: uppercase;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .wrap-filter h4:before {
	margin-right: 0.5em;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .wrap-filter h4 span {
	font-weight: bold;
}

#choose_brand .wrap-choose-brand .container #lateralFilter #resetFilters {
	align-items: center;
	color: $lightblue-1;
	display: flex;
	font-size: 0.75em;
	justify-content: flex-end;
	margin-left: auto;
	text-transform: uppercase;
	transform: none;
	transition: all 0.3s ease;
}

#choose_brand .wrap-choose-brand .container #lateralFilter #resetFilters:before {
	margin-right: 0.5em;
}

#choose_brand .wrap-choose-brand .container #lateralFilter #resetFilters span {
	font-weight: bold;
}

#choose_brand .wrap-choose-brand .container #lateralFilter #resetFilters:active {
	transform: scale(0.95);
}

#choose_brand .wrap-choose-brand .container #lateralFilter #resetFilters:hover {
	color: #7a808d;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc {
	/**/
	align-items: flex-start;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1em 0.5em;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc:last-child {
	border-bottom: 0;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .filter-title {
	margin-bottom: 0.25em;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list {
	justify-content: flex-start;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list li {
	height: 40px;
	width: 30.5%;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list li a {
	align-items: center;
	display: flex;
	justify-content: center;
	transform: none;
	transition: all 0.3s ease;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list li a img {
	height: auto;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list li a h3 {
	display: none;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list li a:active {
	transform: scale(0.96);
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list li a.brand-active {
	border: 2px solid $lightblue-1;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list li:nth-child(3n) {
	margin-right: 0;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc .brand-list li:last-child {
	margin-right: 0;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-brandcars {
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul li {
	margin-right: 0.5em;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul li:last-child {
	margin-right: 0;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul .field {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	position: relative;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul .field .type-money {
	order: -1;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul .field input {
	padding: 0.35em 0.75em 0.5em 1.65em;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul .field input.input-outline-small {
	width: 98px;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul .field .type-money {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li {
	margin-bottom: 0.2em;
	margin-top: 0.5em;
	width: 50%;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 0;
	transform: none;
	transition: all 0.3s ease;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label>* {
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label i {
	font-size: 3.8em;
	height: 20px;
	line-height: 20px;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label i:before {
	display: block;
	height: 20px;
	line-height: 20px;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label span {
	margin-top: 0px;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label:hover {
	color: $lightblue-1;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label.label-icon-checked {
	color: $lightblue-1;
}

#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label:active {
	transform: scale(0.95);
}

#choose_brand .wrap-choose-brand .container #filterResult {
	width: calc(100% - 250px);
	margin-bottom: 2em;
}

#choose_brand .wrap-choose-brand .container #filterResult>ul {
	align-items: flex-start;
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 0;
}

#choose_brand .wrap-choose-brand .container #filterResult #filterDefault {
	align-items: center;
	display: flex;
	height: 370px;
	justify-content: center;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #filterResult #filterDefault .message .icon-car {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#choose_brand .wrap-choose-brand .container #filterResult #filterDefault .message .icon-car:before {
	color: $black-4;
	content: "\e918";
	font-size: 20em;
	height: 240px;
	margin: 0 auto;
	order: -1;
}

#choose_brand .wrap-choose-brand .container #filterResult #filterDefault .message .icon-car span {
	font-family: "Lato Light", Helvetica, sans-serif;
	font-size: 1.2em;
	padding-top: 10px;
}

#choose_brand .wrap-choose-brand .container #filterResult #filterDefault .message .icon-car .line {
	background: #26cad3;
	height: 6px;
	margin: 1.5em auto 0 auto;
	transform: skew(28deg);
	vertical-align: top;
	width: 40px;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item {
	background: white;
	border-bottom: 5px solid #4861a1;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
	color: $black-2;
	list-style: none;
	margin-bottom: 1em;
	margin-right: 2%;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 1em;
	padding: 0;
	transition: all 0.35s ease;
	width: 49%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item img {
	display: block;
	font-size: 0;
	height: auto;
	transform: scale(1);
	transition: 600ms;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .loading:before {
	animation: sk-rotateplane 1.2s infinite ease-in-out;
	background-color: #ccc;
	bottom: 0;
	content: "";
	height: 20px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
}

@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		background-color: #ccc;
	}

	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		background-color: #333;
	}

	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		background-color: #ccc;
	}
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item figure {
	margin-bottom: 1em;
	min-height: 120px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item figure strong {
	background-color: $blue-offer;
	border-radius: 20px 0px 0px 20px;
	bottom: 0;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	position: absolute;
	right: 0;
	text-align: right;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item figure img {
	display: block;
	height: auto;
	transform: scale(1);
	transition: 600ms;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title {
	align-items: flex-start;
	display: flex;
	justify-content: center;
	padding: 0 1em;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .title-wrap {
	width: 80%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .title-wrap h2 {
	color: #34465d;
	font-size: 1em;
	font-weight: bold;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .title-wrap span {
	font-size: 0.75em;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .title-wrap .vTitle {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .title-wrap .cnt {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .brand-logo {
	margin-right: 1em;
	position: relative;
	width: 30px;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .brand-logo:after {
	content: '/';
	font-size: 10px;
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	text-align: right;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price>* {
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price .price-default {
	color: #7a808d;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0.25em;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price small {
	background-color: $red-1;
	border-radius: 2px;
	color: white;
	display: none;
	margin-left: 5px;
	padding: 2px 8px;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price a {
	align-items: center;
	background-color: $red-1;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	max-width: 110px;
	padding: 2px;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price a:before {
	display: none;
	font-size: 8px;
	margin-left: 5px;
	order: 1;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price a span {
	color: #fff;
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 0.75em;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price .cnt {
	display: none;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price.active .price-default {
	color: #7a808d;
	font-size: 0.75em;
	text-decoration: line-through;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price.active .open-carmodal {
	display: none;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price.active small {
	display: inline-block !important;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price.active .cnt {
	display: block;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price.active .cnt .price-online {
	color: $red-1;
	font-size: 1.4em;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item:nth-child(2n) {
	margin-right: 0;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .actions {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 1em;
	text-align: right;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .actions .btn-vermas {
	align-items: center;
	display: flex;
	font-size: 0.75em;
	justify-content: flex-end;
	margin-left: auto;
	transition: all 0.3s ease;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .actions .btn-vermas:before {
	order: 1;
	margin-left: 0.25em;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .actions .btn-vermas span {
	font-family: 'Lato bold', 'Helvetica', sans-serif;
	font-size: 0.75em;
	letter-spacing: 0px;
	text-transform: uppercase;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .actions .btn-vermas:hover {
	color: #26cad3;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description {
	padding: 0.5em 1em;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li {
	align-items: center;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	justify-content: flex-start;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li:last-child {
	border-bottom: 0;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li>p {
	display: flex;
	width: 100%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li>p .title,
#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li>p .description {
	font-size: 0.75em;
	width: 50%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li>p .title {
	color: $black-1;
	font-family: 'Lato bold', 'Helvetica', sans-serif;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li>p:nth-child(2) {
	display: none;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li .colors {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li .colors li {
	margin-right: 4px;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li .colors li label {
	border-radius: 3px;
	cursor: pointer;
	display: block;
	height: 12px;
	margin-bottom: 0;
	transition: all 0.3s ease;
	width: 12px;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li .colors li label:hover,
#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description li .colors li label:active {
	border: 0;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description .wrap-list-color>p {
	display: none;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description .wrap-list-color .title,
#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description .wrap-list-color .description {
	display: flex;
	width: 50%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description .wrap-list-color .title {
	display: flex;
	width: 50%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description .wrap-list-color .description {
	display: flex;
	width: 50%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description .wrap-list-color .description label {
	cursor: inherit;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description .wrap-list-color .p {
	display: flex;
	width: 50%;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item .list-description .wrap-list-color li {
	margin-right: 5px;
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item:hover {
	border-bottom: 5px solid #26cad3;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px, rgba(0, 0, 0, 0.09) 0px 2px 23px 0px;
	transform: translate(0px, -4px);
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item:hover figure img {
	transform: scale(1.15);
}

#choose_brand .wrap-choose-brand .container #filterResult .car-item:hover .actions .btn-vermas {
	color: #26cad3;
}

#choose_brand #pagination>* {
	display: flex;
	margin-left: auto;
	min-height: inherit;
}

#choose_brand #pagination>* a {
	border: 1px solid #d6d8dd;
	color: $lightblue-1;
	cursor: pointer;
	transition: all 0.3s ease;
}

#choose_brand #pagination>* a:hover {
	background-color: $lightblue-1;
	color: #fff;
}

#choose_brand #pagination li {
	cursor: pointer;
}

#choose_brand #pagination li.active a {
	background-color: $lightblue-1;
	color: #fff;
}
.modal_msg_question_email .modal-dialog {
	margin: 2em auto;
	width: 450px;
}

.modal_msg_question_email .modal-middle {
	align-items: flex-start;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.modal_msg_question_email .modal-middle .wrap-field {
	position: relative;
	width: 60%;
}

.modal_msg_question_email .modal-middle .wrap-field .box-icon {
	align-items: center;
	background: #f9f9fb;
	border-radius: 5px 0 0 5px;
	border: 2px solid #d6d8dd;
	display: flex;
	height: 45px;
	justify-content: center;
	left: 0;
	margin-right: -5px;
	position: absolute;
	top: 0;
	vertical-align: top;
	width: 40px;
}

.modal_msg_question_email .modal-middle .wrap-field .box-icon i {
	color: #7a808d;
	font-size: 1.6em;
	line-height: 40px;
}

.modal_msg_question_email .modal-middle .wrap-field input {
	padding-left: 50px;
	width: 100%;
}

.modal_msg_question_email .modal-middle .field {
	margin-top: 0;
	width: 40%;
}


@media screen and (max-width: 1050px) {
	#choose_brand .wrap-choose-brand .container #lateralFilter {
		width: 240px;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc {
		padding: 0.5em;
	}
}

@media screen and (max-width: 960px) {
	#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .brand-logo {
		width: 24px;
	}

	#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .title-wrap h2 {
		font-size: 0.8em;
	}

	#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price {
		width: 60%;
	}

	#choose_brand .wrap-choose-brand .container #filterResult .car-item .wrap-title .wrap-price .price-online {
		font-size: 1.15em;
	}

	#choose_brand .wrap-choose-brand .container #filterResult .car-item .actions .btn {
		padding: 2px 6px;
		font-size: 0.78em;
	}
}

@media screen and (max-width: 767px) {
	.process-header .container .row .column .logo h1 {
		height: 44px;
		min-height: 10px;
		padding-left: 2px;
	}

	#choose_brand .filter-title {
		font-size: 14px;
	}

	#choose_brand .wrap-choose-brand .container #filterResult .car-item .actions .btn {
		padding: 5px 1em;
	}

	#choose_brand #topFilter .container {
		flex-direction: column;
	}

	#choose_brand #topFilter .filter-title {
		margin-right: auto;
		margin-top: 0.5em;
	}

	#choose_brand #topFilter .brand-list {
		padding-left: 0;
		padding-right: 0;
	}

	#choose_brand #middleFilter .container {
		align-items: center;
		justify-content: space-between;
	}

	#choose_brand #middleFilter .container .sortby {
		flex-direction: column;
	}

	#choose_brand #middleFilter .container .sortby>span {
		display: none;
		width: 95%;
	}

	#choose_brand #middleFilter .container .sortby .select2 .selection .select2-selection {
		height: 35px;
		margin-left: auto;
	}

	#choose_brand #middleFilter .container .sortby .select2 .selection .select2-selection span {
		font-size: 0.85em;
	}

	#choose_brand #middleFilter .container .openfilter {
		align-items: center;
		display: flex;
		font-weight: bold;
		justify-content: center;
		margin-right: auto;
		order: -1;
	}

	#choose_brand #middleFilter .container .openfilter:before {
		margin-top: 2px;
		order: 1;
	}

	#choose_brand #middleFilter .container .openfilter span {
		font-size: 0.9em;
		margin-right: 0.5em;
	}

	#choose_brand .wrap-choose-brand .container {
		flex-wrap: wrap;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter {
		display: none;
		flex-wrap: wrap;
		margin-bottom: 1em;
		margin-right: 0;
		width: 100%;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc {
		width: 40%;
		border-bottom: 0;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-brandcars {
		/**/
		align-items: center;
		border-bottom: 2px solid #d6d8dd;
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-brandcars .brand-list {
		max-width: inherit;
		padding-left: 0.5em;
		padding: 0;
		width: 80%;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-brandcars .brand-list li {
		margin-bottom: 0;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-brandcars .brand-list li a img {
		width: 25px;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount {
		/**/
		align-items: center;
		border-bottom: 2px solid #d6d8dd;
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul {
		align-items: flex-start;
		padding-left: 0.5em;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul li {
		width: 50%;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul .field {
		margin: 0 0.25em;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-amount>ul .field input.input-outline-small {
		width: 100%;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category {
		border-bottom: 2px solid #d6d8dd;
		width: 100%;
		/**/
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists {
		justify-content: flex-start;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li {
		width: 25%;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc.bloc-category .category-lists li label span {
		font-size: 0.6em;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc:last-child {
		width: 60%;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter .bloc:last-child .custom-check {
		margin-right: 0;
	}

	#choose_brand .wrap-choose-brand .container #lateralFilter.active {
		display: flex;
	}

	#choose_brand .wrap-choose-brand .container #filterResult {
		justify-content: center;
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	.modal_msg_question_email .modal-middle .wrap-field .box-icon {
		height: 38px;
	}
}

@media screen and (max-width: 600px) {
	#choose_brand .wrap-choose-brand .container #filterResult .car-item {
		width: 100%;
		margin-right: 0;
	}

	#choose_brand .wrap-choose-brand .container #filterResult .car-item:nth-child(2n) {
		margin-right: 0;
	}

	#choose_brand .wrap-choose-brand .container #filterResult .car-item:nth-child(3n) {
		margin-right: 0;
	}

	#choose_brand #pagination>* {
		margin-right: auto;
	}
}

@media screen and (max-width: 480px) {
	.modal_msg_question_email .modal-dialog {
		width: 94%;
	}

	.modal_msg_question_email .modal-middle {
		flex-wrap: wrap;
	}

	.modal_msg_question_email .modal-middle .wrap-field {
		width: 100%;
	}

	.modal_msg_question_email .modal-middle .field {
		width: 100%;
	}

	.modal_msg_question_email .modal-middle .field button {
		margin: 1em auto 0 auto;
		width: 100%;
	}
}

@media screen and (min-height: 600px) {
	.wrap-choose-brand {
		min-height: 634px;
	}
}
