.imgProgress-progress {
    position: relative;
    margin: 0 auto;
}
.imgProgress-circle { 
    stroke-width: 32; 
}
.imgProgress-svg {
    transform: rotate(-90deg);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.imgProgress-img {
    border-radius: 50%;
    position: absolute;
    background-size: 100% !important;
    /*@media only screen and (min-width:517px){
        left: .4rem !important;
    }*/
}