@include keyframes(hr-animation) {
  from{ transform: translate(0, 0); }
  to{ transform: translate(50%, 0); }
}

@include keyframes(fadeIn) {
  from { opacity: 0; }
  to { opacity: 1; }
}

@include keyframes(fadeOut) {
  from { opacity: 1; }
  to { opacity: 0; }
}

@include keyframes(colorRed) {
  0% { color: $red-2; }
  100% { color: $red-3; }
}

@include keyframes(colorGreen) {
  0% { color: $lightblue-1; }
  100% { color: $lightblue-2; }
}

@include keyframes(prgBar) {
    0%    {background: $black-4}
    9.99% {background: $black-4}
    10%   {background: $black-4;}
    95%   {background: $black-4;}
}


@include keyframes(prgBarb) {
  0%    {background: $black-4}
  9.99% {background: $black-4}
  10%   {background: $black-4;}
  95%   {background: $black-4;}
}



.animated {
  animation-duration: 560ms !important;
  animation-fill-mode: both !important;
  transition-timing-function: cubic-bezier(0.26, 1.48, 0.47, 0.96) !important;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}