//=== General Resets ===//
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6, ul, li, p  {
  font-weight: normal;
  margin:0;
}
input, select, textarea {
  @include box-sizing(border);
}
p {
  line-height: 1.3em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  @include font-smoothing();
}

body {
  background: white;
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 16px;
  margin: 0;
}

body.modal-open { overflow:hidden; padding-right:inherit !important; }
#editLoanAmmountLink {
  text-decoration: none;
}
body{
  *{
    &:focus{
      outline: none;
    }
  }
}

.modal-dialog{
  margin: 1rem auto;
  @media screen and (max-width: 768px){
    width: 90%;
  }
}