<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/extranetTemplate"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css"/>
    <link th:href="${@urlService.externalUrl(#httpServletRequest) + '/dropzone/dist/min/dropzone.min.css'}" rel="stylesheet"/>
    <link th:href="${@urlService.externalUrl(#httpServletRequest) + '/ekko-lightbox/dist/ekko-lightbox.min.css'}" rel="stylesheet"/>
    <link th:href="${@urlService.externalUrl(#httpServletRequest) + '/select2/css/select2.min.css'}" rel="stylesheet" type="text/css"/>
    <link th:href="${@urlService.externalUrl(#httpServletRequest) + '/select2/css/select2-bootstrap.min.css'}" rel="stylesheet" type="text/css"/>
    <link th:href="${@urlService.externalUrl(#httpServletRequest) + '/swipebox/css/swipebox.min.css'}" rel="stylesheet"/>

    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/jquery.validate.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/additional-methods.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/dropzone/dist/min/dropzone.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/ekko-lightbox/dist/ekko-lightbox.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datetimepicker-4.17/bootstrap-datetimepicker.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/counterup/jquery.waypoints.min.js'}" type="text/javascript"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/counterup/jquery.counterup.min.js'}" type="text/javascript"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/swipebox/js/jquery.swipebox.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/flot/jquery.flot.min.js'}" type="text/javascript"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/flot/jquery.flot.resize.min.js'}" type="text/javascript"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/flot/jquery.flot.categories.min.js'}" type="text/javascript"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/flot/jquery.flot.pie.min.js'}" type="text/javascript"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/select2/js/select2.full.min.js'}" type="text/javascript"></script>
    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet" th:href="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datepicker-1.9/dist/css/bootstrap-datepicker3.min.css'}" />
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datepicker-1.9/dist/js/bootstrap-datepicker.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/bootstrap-datepicker-1.9/dist/locales/bootstrap-datepicker.es.min.js'}"></script>

    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/appexchart/apexcharts.min.js'}" type="text/javascript"></script>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        let fromDate = new Date();

        var dataLog = [[${dataLog}]];

        let showWebServiceHistoric = [[${showWebServiceHistoric}]];

        $(document).ready(function(){
            const optionsBase = {
                "series":[],
                "dataLabels":{
                    "enabled":false
                },
                "legend": {
                    show: false,
                    enabled : false
                },
                toolbar: {
                    show: false,
                },
                grid: {
                    xaxis: {
                        lines: {
                            show: false
                        }
                    },
                    yaxis: {
                        lines: {
                            show: false
                        }
                    }
                },
                "chart":{
                    "type":"bar",
                    "height":160,
                    "stacked":true,
                    "toolbar":{
                        "show":false
                    },
                    "zoom":{
                        "enabled":false
                    },

                },
                "responsive":[
                    {
                        "breakpoint":480,
                        "options":{
                            "legend":{
                                "position":"bottom",
                                "offsetX":-10,
                                "offsetY":0
                            }
                        }
                    }
                ],
                "plotOptions":{
                    "bar":{
                        "borderRadius":8,
                        "horizontal":false,
                        "dataLabels":{
                            "show":false,
                            "enabled":false
                        },
                        columnWidth: '90%',
                    }
                },
                "xaxis":{
                    "type":"datetime",
                    "categories": [],
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false,
                    },
                    labels: {
                        format: 'dd/MM',
                    }
                },
                "legend":{
                    "position":"right",
                    "position": "bottom",
                },
                "fill":{
                    "opacity":1
                },
                "yaxis":{
                    "show" : false,
                    "max":100,
                    "decimalsInFloat":0
                }
            };

            var graphData = {
                dates : [],
                worker : {
                    "crashed": [],
                    "down": [],
                    "crashedDown": [],
                    "idle": [],
                    "starting": [],
                    "idleStarting": [],
                    "up": []
                },
                acquisition : {
                    "crashed": [],
                    "down": [],
                    "crashedDown": [],
                    "idle": [],
                    "starting": [],
                    "idleStarting": [],
                    "up": []
                },
                scheduler : {
                    "crashed": [],
                    "down": [],
                    "crashedDown": [],
                    "idle": [],
                    "starting": [],
                    "idleStarting": [],
                    "up": []
                },
                landing : {
                    "crashed": [],
                    "down": [],
                    "crashedDown": [],
                    "idle": [],
                    "starting": [],
                    "idleStarting": [],
                    "up": []
                },
                extranet : {
                    "crashed": [],
                    "down": [],
                    "crashedDown": [],
                    "idle": [],
                    "starting": [],
                    "idleStarting": [],
                    "up": []
                },
            }

            function validateDataGraph(data){
                for(var i = 0; i < data.length; i++){
                    graphData.dates.push(convertDateFormatToDate(data[i].date,'dd/MM/yyy'));
                    for (var index = 0; index < data[i].statuses.length; index++) {
                        let keyVar = getKeyApp(data[i].statuses[index]["app"]);
                        if(graphData[keyVar]){
                            graphData[keyVar]["crashed"].push(data[i].statuses[index]["crashedPerc"]);
                            graphData[keyVar]["down"].push(data[i].statuses[index]["downPerc"]);
                            graphData[keyVar]["crashedDown"].push(data[i].statuses[index]["crashedDownPerc"]);
                            graphData[keyVar]["idle"].push(data[i].statuses[index]["idlePerc"]);
                            graphData[keyVar]["starting"].push(data[i].statuses[index]["startingPerc"]);
                            graphData[keyVar]["idleStarting"].push(data[i].statuses[index]["idleStartingPerc"]);
                            graphData[keyVar]["up"].push(data[i].statuses[index]["upPerc"]);
                        }
                    }
                }
                console.log(graphData)
            }

            function getKeyApp(appName){
                switch (appName){
                    case "Scheduler":
                        return "scheduler";
                    case "Worker":
                        return "worker";
                    case "Landing":
                        return "landing";
                    case "Extranet Entity":
                        return "extranet";
                    case "Acquisition":
                        return "acquisition";
                }
                return null;
            }



            validateDataGraph(dataLog);


            function renderGraphData(xAxisData, data, selector){
                var optionBase = Object.assign({},optionsBase);
                optionBase.xaxis.categories = xAxisData;
                optionBase.colors = ["#f44336","#ffeb3b","#4caf50"];
                optionBase.series = [
                    {
                        name: 'Crashed / Down',
                        data: data.crashedDown
                    },
                    {
                        name: 'Idle / Starting',
                        data: data.idleStarting
                    },
                    {
                        name: 'Up',
                        data: data.up
                    }
                ];
                var chart = new ApexCharts(document.querySelector(selector), optionBase);
                chart.render();
            }

            function convertDateFormatToDate(dateString, format){
                switch(format){
                    case 'dd/MM/yyy':
                    case 'dd/MM/yy':
                        let dateSplit = dateString.split("/");
                        return new Date(`${dateSplit[2]}/${dateSplit[1]}/${dateSplit[0]}`).getTime();
                }
            }

            renderGraphData(graphData.dates,graphData.worker,"#worker-chart");
            renderGraphData(graphData.dates,graphData.acquisition,"#acquisition-chart");
            renderGraphData(graphData.dates,graphData.scheduler,"#scheduler-chart");
            renderGraphData(graphData.dates,graphData.landing,"#landing-chart");
            renderGraphData(graphData.dates,graphData.extranet,"#extranet-chart");


        })

        function reloadWebServiceResultList() {
            defaultAjax({
                url: /*[[@{/monitorApps/webServiceResults}]]*/,
                type: 'POST',
                showLoading: false,
                success: function (data) {
                    $('#webServiceResultContainer').html(data);
                    setTimeout(reloadWebServiceResultList, 5000);
                }
            });
        }

        if(showWebServiceHistoric) reloadWebServiceResultList();
        /*]]>*/
    </script>
    <style>
        .container-header-stats{
            display: flex;
            justify-content: space-between;
            font-size: 1.35rem;
            margin-bottom: 7px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="header">
<!--    <th:block th:replace="fragments/headers :: entityDashboardHeader "></th:block>-->
    <div class="clearfix"></div>
</th:block>
<th:block layout:fragment="content">
    <th:block th:replace="fragments/extranetSidebarFragments :: extranetEntitySidebar(currentPage='monitorApps')"></th:block>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row w-creditos-procesados">
                <th:block th:replace="fragments/headers :: entityContentHeader(title='Monitor de aplicaciones')"></th:block>
                <div class="col-xs-12">
                    <div class="portlet light bordered tablefilter">
                        <th:block th:replace="fragments/headers :: entityErrorsWithFilters(title='Notificación excepciones')"></th:block>
                        <div class="portlet-body" >
                            <div id="creditsTable" class="tablefilter-table table-container">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="table-notification-errors">
                                        <thead>
                                            <th:block th:replace="this :: notificationErrorHeader"></th:block>
                                        </thead>
                                        <tbody>
                                            <th:block th:replace="this :: notificationErrorBody"></th:block>
                                        </tbody>
                                    </table>
                                    <th:block th:replace="fragments/footers :: paginatorFooter "></th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="portlet light bordered tablefilter">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green bold uppercase">Worker</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="container-header-stats">
                                <span>ÚLTIMOS <th:block th:text="${daysToShow}"></th:block> DÍAS</span>
                                <span>UPTIME: <th:block th:text="${@utilService.percentFormat(dataUptime?.worker)}"></th:block></span>
                            </div>
                            <div id="worker-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="portlet light bordered tablefilter">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green bold uppercase">Acquisition</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="container-header-stats">
                                <span>ÚLTIMOS <th:block th:text="${daysToShow}"></th:block> DÍAS</span>
                                <span>UPTIME: <th:block th:text="${@utilService.percentFormat(dataUptime?.acquisition)}"></th:block></span>
                            </div>
                            <div id="acquisition-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="portlet light bordered tablefilter">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green bold uppercase">Scheduler</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="container-header-stats">
                                <span>ÚLTIMOS <th:block th:text="${daysToShow}"></th:block> DÍAS</span>
                                <span>UPTIME: <th:block th:text="${@utilService.percentFormat(dataUptime?.scheduler)}"></th:block></span>
                            </div>
                            <div id="scheduler-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="portlet light bordered tablefilter">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green bold uppercase">Landing</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="container-header-stats">
                                <span>ÚLTIMOS <th:block th:text="${daysToShow}"></th:block> DÍAS</span>
                                <span>UPTIME: <th:block th:text="${@utilService.percentFormat(dataUptime?.landing)}"></th:block></span>
                            </div>
                            <div id="landing-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="portlet light bordered tablefilter">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green bold uppercase">Extranet Entity</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="container-header-stats">
                                <span>ÚLTIMOS <th:block th:text="${daysToShow}"></th:block> DÍAS</span>
                                <span>UPTIME: <th:block th:text="${@utilService.percentFormat(dataUptime?.extranet_entity)}"></th:block></span>
                            </div>
                            <div id="extranet-chart"></div>
                        </div>
                    </div>
                </div>
                <th:block th:if="${showWebServiceHistoric}">
                    <div class="col-xs-12">
                        <div class="portlet light bordered tablefilter">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject font-green bold uppercase">Histórico de consultas Web Services</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="webServiceResultContainer">
                                    <th:block th:replace="this :: webServiceResults"></th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var url = /*[[ @{/entityError} ]]*/;
        var totalCount = [[${totalCount}]];
        var limitPaginator =  [[${limitPaginator}]];

        $(document).on('ready', function () {
            enableTableOptions($("#table-notification-errors"), url+"/list", url+"/count", true, null);
        });

        /*]]>*/
    </script>

</th:block>

<th:block th:fragment="webServiceResults">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Fec. Inicio</th>
            <th>Fec. Culminación</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${not #lists.isEmpty(webServiceHistoric)}" th:each="report : ${webServiceHistoric}">
            <tr>
                <td th:text="${@utilService.datetimeShortFormat(report.startDate)}" th:attr="data-order=${@utilService.datetimeYearFirstFormat(report?.startDate)}"></td>
                <td th:text="${@utilService.datetimeShortFormat(report.finishDate)}" th:attr="data-order=${@utilService.datetimeYearFirstFormat(report?.finishDate)}"></td>
                <td>
                    <th:block th:switch="${report.status}">
                            <th:block th:case="'R'"><span class="label label-xs label-warning">Ejecutando</span></th:block>
                            <th:block th:case="'F'"><span class="label label-xs label-danger">Fallido</span></th:block>
                            <th:block th:case="'S'"><span class="label label-xs label-success">Procesada</span></th:block>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <th:block th:if="${#lists.isEmpty(webServiceHistoric)}">
            <tr>
                <td colspan="4">
                    No hay resultados.
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</th:block>

<th:block th:fragment="notificationErrorHeader">
        <tr>
            <th>#</th>
            <th>Fecha Registro</th>
            <th>Código</th>
            <th>Documento/Número</th>
            <th>Descripción</th>
            <th></th>
        </tr>
</th:block>

<th:block th:fragment="notificationErrorBody">
        <th:block th:if="${not #lists.isEmpty(errores)}" th:each="err, iterErr : ${errores}">
            <tr>
                <td th:text="${iterErr.count}"></td>
                <td th:text="${@utilService.datetimeShortFormat(err?.registerDate)}"></td>
                <td th:text="${err?.loanApplicationCode}"></td>
                <td th:text="${err?.identityDocumentType.name}+' '+${err?.documentNumber}"></td>
                <td th:text="${err?.error}"></td>
                <td>
                    <a target="_blank" th:href="@{'/entityError/' + ${err?.entityErrorId}}">Descargar</a>
                </td>
            </tr>
        </th:block>
        <th:block th:if="${#lists.isEmpty(errores)}">
            <tr>
                <td colspan="6">
                    No hay resultados
                </td>
            </tr>
        </th:block>
</th:block>

<th:block th:fragment="list">
    <tr th:each="credit, iterCredit : ${credits}"
        th:style="${credit?.observationReason?.id != null }? 'background-color:#FFFFCC'">
        <td th:text="${iterCredit.count}"></td>
        <td th:text="${@utilService.dateFormat(credit?.inactiveWOScheduleDate)}" th:attr="data-order=${@utilService.datetimeYearFirstFormat(credit?.inactiveWOScheduleDate)}"></td>
        <td><a th:href="@{/credit/__${credit?.id}__}" th:text="${credit?.code}" target="_blank"></a></td>
        <td th:text="${credit?.entityProductParams?.entityProduct}"></td>
        <th:block th:if="${!(page == 'generated' and @entityExtranetService.getLoggedUserEntity().containsEntityId(T(com.affirm.common.model.catalog.Entity).BANCO_DEL_SOL))}">
            <td th:text="${credit?.personDocumentType?.name}"></td>
        </th:block>
        <td th:text="${credit?.personDocumentNumber}"></td>
        <td th:text="${credit?.personName}"></td>

        <th:block th:if="${@entityExtranetService.getLoggedUserEntity().containsEntityId(T(com.affirm.common.model.catalog.Entity).BANCO_DEL_SOL)}">
            <td th:text="${credit?.personFirstSurname}"></td>
        </th:block>

        <th:block th:unless="${@entityExtranetService.getLoggedUserEntity().containsEntityId(T(com.affirm.common.model.catalog.Entity).BANCO_DEL_SOL)}">
            <td th:text="${credit?.personFirstSurname}"></td>
            <td th:text="${credit?.personLastSurname}"></td>
        </th:block>
        <td th:text="${@utilService.doubleMoneyFormat(credit?.loanCapital, credit?.currency)}"></td>
        <td th:text="${credit?.installments}"></td>

        <th:block th:switch="${credit?.country?.id}">
            <td th:case="${T(com.affirm.common.model.catalog.CountryParam).COUNTRY_ARGENTINA}" th:text="${@utilService.percentFormat(credit?.nominalAnualRate, credit?.currency)}"></td>
            <td th:case="*" th:text="${@utilService.percentFormat(credit?.effectiveAnnualRate, credit?.currency)}"></td>
        </th:block>

        <td>
            <a target="_blank"
               th:href="${@entityExtranetService.generateUserFilesLink(credit?.id)}" class="btn red btn-sm">
                <i class="fa fa-file-pdf-o" style="font-size: 1.5em;margin-top: .25em;"></i>
            </a>
        </td>
        <th:block th:if="${page == 'terminated' or page == 'generated'}">
            <td th:text="${credit?.entityExtranetUser} != null ? ${credit?.entityExtranetUser?.userName} : ''" />
        </th:block>
        <th:block th:if="${page == 'terminated'}">
            <td th:if="${credit?.getGeneratedOnEntity() == true and credit?.getDisbursedOnEntity() == true}">
                <span th:text="${credit?.disbursementEntityUser}"></span>
            </td>
            <td th:unless="${credit?.getGeneratedOnEntity() == true and credit?.getDisbursedOnEntity() == true}"></td>
        </th:block>

        <th:block th:if="${@entityExtranetService.getLoggedUserEntity().containsEntityId(T(com.affirm.common.model.catalog.Entity).ABACO)}">
            <td th:text="${credit?.employer?.name}"/>
        </th:block>

        <!--        ACCIONES-->
        <th:block th:if="${page == 'pending'}">
            <td>
                <button th:if="${credit.showPendingToValidateButton}" id="validateCredit" type="button"
                        class="btn blue btn-sm" style="width:100px;"
                        th:onclick="'validateCredit('+${credit?.id}+', this)'">
                    <i class="fa fa-check"></i> Verificado
                </button>
                <button th:if="${credit.showPendingObservations}" id="creditObservations"
                        th:disabled="${credit?.observationReason?.id != null}" type="button" class="btn grey btn-sm"
                        style="width:100px;" th:onclick="'showCreditObservationsModal('+${credit?.id}+')'">
                    <i class="fa fa-search"></i> Observado
                </button>
                <button th:if="${credit.showPendingRejectButton}" th:attr="data-id=${credit?.id}" type="button" class="btn red btn-sm openRejectCreditModal" th:onclick="'showRegisterCreditRejectionModal('+${credit?.id}+')'">
                    <i class="fa fa-ban"></i> Rechazado
                </button>
                <button th:if="${credit.showAccesoScheduleAppointmentButton}" id="scheduleAppointment" type="button" class="btn blue btn-sm scheduleAppointmentModal" th:onclick="'showScheduleAppointmentModal('+${credit?.id}+')'">
                    <i class="fa fa-check"></i> Agendar cita
                </button>
                <button th:if="${credit.showAccesoReScheduleAppointmentButton}" id="rescheduleAppointment" type="button" class="btn blue btn-sm scheduleAppointmentModal" th:onclick="'showScheduleAppointmentModal('+${credit?.id}+')'">
                    <i class="fa fa-check"></i> Reagendar cita
                </button>
            </td>
        </th:block>

        <!--        ACCIONES-->
        <th:block th:if="${credit?.subStatus?.id == T(com.affirm.common.model.catalog.CreditSubStatus).PENDING_ENTIY_LOAD}">
            <th:block th:if="${@catalogService.getEntityProductParam(credit?.entity?.id, credit?.product?.id)?.showDisbursement == true}">

                <td shiro:hasPermission="credit:toUpload:upload">
                    <button shiro:hasPermission="credit:toUpload:upload" th:attr="data-id=${credit?.id}" type="button" class="btn blue btn-sm loadCredit" th:onclick="'showRegisterGeneratedCreditUploadModal('+${credit?.id}+')'">
                        <i class="fa fa-check"></i> Cargado
                    </button>
                    <button shiro:hasPermission="credit:toUpload:reject" th:attr="data-id=${credit?.id}" type="button" class="btn red btn-sm openRejectCreditModal"
                            th:onclick="'showRegisterGeneratedCreditRejectionModal('+${credit?.id}+')'">
                        <i class="fa fa-ban"></i> Rechazado
                    </button>
                </td>
            </th:block>
            <th:block th:unless="${@catalogService.getEntityProductParam(credit?.entity?.id, credit?.product?.id)?.showDisbursement == true}">
                <td></td>
            </th:block>
        </th:block>
<!--        <th:block th:unless="${credit?.subStatus?.id == T(com.affirm.common.model.catalog.CreditSubStatus).PENDING_ENTIY_LOAD}">-->
<!--            <td></td>-->
<!--        </th:block>-->

        <!--        ACCIONES-->
        <th:block th:if="${page == 'generated'}">
            <td th:if="${credit.showAeluInternalDisbursementButton or credit.showAeluUploadFinalDocumentationButton or credit.showAccesoUploadFinalDocumentationButton or credit.showGeneratedDisbursementButton or credit.showGeneratedRejectButton or credit.showUploadRipleyFinalSchedule or credit.showRemoveRipleyFinalSchedule}">
                <button th:if="${credit.showAeluInternalDisbursementButton}" th:attr="data-id=${credit?.id}" type="button" class="btn blue btn-sm internalDisbursement" th:onclick="'askInternalDisbursement('+${credit?.id}+')'">
                    Desembolso Interno
                </button>
                <button th:if="${credit.showAeluUploadFinalDocumentationButton}" th:attr="data-id=${credit?.id}" type="button" class="btn blue btn-sm uploadFinalDocumentation" th:onclick="'showUploadFinalDocumentationModal('+${credit?.id}+')'">
                    Subir Doc. Final
                </button>
                <button th:if="${credit.showAccesoUploadFinalDocumentationButton}" th:attr="data-id=${credit?.id}" type="button" class="btn blue btn-sm uploadFinalDocumentation" th:onclick="'showUploadFinalDocumentationModal('+${credit?.id}+')'">
                    Subir Documentación
                </button>
                <button th:if="${credit.showGeneratedDisbursementButton}" th:attr="data-id=${credit?.id}" type="button" class="btn blue btn-sm disbursmentCredit" th:onclick="'showRegisterGeneratedCreditDisbursementModal('+${credit?.id}+','+${credit?.amount}+','+${credit?.installments}+','+${credit?.effectiveAnnualRate}+')'">
                    <i class="fa fa-check"></i> Desembolsado
                </button>
                <button th:if="${credit.showGeneratedRejectButton}" th:attr="data-id=${credit?.id}" type="button" class="btn red btn-sm openRejectCreditModal" th:onclick="'showRegisterDisbursementCreditRejectionModal('+${credit?.id}+')'">
                    <i class="fa fa-ban"></i> Rechazado
                </button>
                <button th:if="${credit.showUploadRipleyFinalSchedule}" th:attr="data-id=${credit?.id}" type="button" class="btn blue btn-sm uploadFinalSchedule" th:onclick="'openUploadFinalScheduleModal('+${credit?.id}+')'">
                    Subir Cronograma Final
                </button>
                <button th:if="${credit.showRemoveRipleyFinalSchedule}" th:attr="data-id=${credit?.id}" type="button" class="btn blue btn-sm removeFinalSchedule" th:onclick="'removeFinalSchedule('+${credit?.id}+', this)'">
                    Eliminar Cronograma Final
                </button>
            </td>
        </th:block>

        <th:block th:if="${@entityExtranetService.getLoggedUserEntity().containsEntityId(T(com.affirm.common.model.catalog.Entity).BANCO_DEL_SOL)}">
            <td th:if="${page == 'generated' or page == 'terminated'}">
                <select class="form-control  internal-status-select" th:attr="data-credit-id=${credit.id}" name="internalStatus" onchange="updateInternalStatus(this)">
                    <option value="Doc. por enviar"
                            th:if="${userHierarchy eq null or (not userHierarchy.isNull('level1') and not userHierarchy.isNull('level2') and not userHierarchy.isNull('level3'))}"
                            th:selected="'Doc. por enviar' == ${credit.getEntityCustomDataBancoDelSolInternalStatus()}">Doc. por enviar</option>
                    <option value="Doc. enviada"
                            th:if="${userHierarchy eq null or (not userHierarchy.isNull('level1') and not userHierarchy.isNull('level2') and not userHierarchy.isNull('level3'))}"
                            th:selected="'Doc. enviada' == ${credit.getEntityCustomDataBancoDelSolInternalStatus()}">Doc. enviada</option>
                    <option value="Doc. recibida"
                            th:if="${userHierarchy eq null}"
                            th:selected="'Doc. recibida' == ${credit.getEntityCustomDataBancoDelSolInternalStatus()}">Doc. recibida</option>
                    <option value="Doc. a revisar"
                            th:if="${userHierarchy eq null}"
                            th:selected="'Doc. a revisar' == ${credit.getEntityCustomDataBancoDelSolInternalStatus()}">Doc. a revisar</option>
                </select>
            </td>
        </th:block>
        <th:block>
            <td th:if="${page != 'terminated' and (credit?.status?.id == T(com.affirm.common.model.catalog.CreditStatus).INACTIVE_WO_SCHEDULE or credit?.status?.id == T(com.affirm.common.model.catalog.CreditStatus).INACTIVE_W_SCHEDULE)}">
                <button shiro:hasPermission="loan:expire" type="button" class="btn red btn-sm expire-loan" th:onclick="'expireLoanApplication(this,' + ${credit?.loanApplicationId} + ')'">
                    Expirar solicitud
                </button>
            </td>
            <td th:unless="${page != 'terminated' and (credit?.status?.id == T(com.affirm.common.model.catalog.CreditStatus).INACTIVE_WO_SCHEDULE or credit?.status?.id == T(com.affirm.common.model.catalog.CreditStatus).INACTIVE_W_SCHEDULE)}"></td>
        </th:block>
    </tr>
    <script th:inline="javascript">
        /*<![CDATA[*/

        function updateInternalStatus(selectElement){
            defaultAjax({
                url: /*[[@{/updateInternalStatus}]]*/null,
                type: 'POST',
                data: {
                    creditId: $(selectElement).data('credit-id'),
                    internalStatus: $(selectElement).val()
                },
                success: function (data) {

                },
                error: function (data) {
                }
            });
        }

        function validateCredit(creditId, button) {
            var btn = $(button);
            btn.loading('', 2);
            defaultAjax({
                url: /*[[@{/updateStatus/__${page}__}]]*/null,
                type: 'POST',
                data: {
                    creditId: creditId
                },
                success: function (data) {
                    resetTimer();
                    $('#tableResults > tbody').html(data);

                    var $table = $('.table');
                    dataTable($table, true, false, true, true);
                },
                error: function (data) {
                    console.log('entro');
                    $('#validateCredit').unloading();
                }
            });
        }

        $('.waitingCredit').on('click', function(event) {
            event.preventDefault();
            var creditId = $(this).data('id');
            var btn = $(this);
            btn.loading('', 2);
            defaultAjax({
                url: /*[[@{/updateStatus/__${page}__}]]*/null,
                type: 'POST',
                data: {
                    creditId: creditId
                },
                success: function (data) {
                    resetTimer();
                    $('#tableResults > tbody').html(data);

                    var $table = $('.table');
                    dataTable($table, true, false, true, true);
                }
            });
        });

        $('.generateCredit').on('click', function(event) {
            event.preventDefault();
            var creditId = $(this).data('id');
            var btn = $(this);
            btn.loading('', 2);
            defaultAjax({
                url: /*[[@{/updateStatus/__${page}__}]]*/null,
                type: 'POST',
                data: {
                    creditId: creditId
                },
                success: function (data) {
                    resetTimer();
                    $('#tableResults > tbody').html(data);

                    var $table = $('.table');
                    dataTable($table, true, false, true, true);
                }
            });
        });


        function showCreditObservationsModal(creditId) {

            $('#setCreditObservationModal').modal();
            $('#setCreditObservationModal .loading').hide();
            $('#setCreditObservationModal .content').show();
            $('#setCreditObservationModal').find('option').remove();
            defaultAjax({
                url: /*[[@{/observationReasons}]]*/null,
                type: 'GET',
                data: {
                    creditId: creditId
                },
                success: function (data) {
                    var arr = JSON.parse(data);
                    var len = arr.length;
                    if(len==0){
                        $('#creditObservationReason').append($('<option>', {
                            value: -1,
                            text: 'No se encontraron motivos de observación'
                        }));

                        $('#creditObservationReasonButton').disableButton();
                    }else{
                        $('#creditObservationReasonButton').enableButton();
                    }
                    for (var i = 0; i < len; i++) {
                        $('#creditObservationReason').append($('<option>', {
                            value: arr[i].id,
                            text: arr[i].reason
                        }));
                    }
                }
            });
            $('#creditObservationReasonButton').click(function () {
                promptObserveCredit(creditId, $('#creditObservationReason').val());
            });
        }
         function promptObserveCredit(creditId, observationReasonId){

            swal({
                title: "&iquest;Est&aacute;s seguro de observar el cr&eacute;dito?",
                text: "No podr&aacute;s revertir el cambio.",
                html: true,
                showCancelButton: true,
                confirmButtonColor: "#36c6d3",
                confirmButtonText: "¡Si, Observar!",
                closeOnConfirm: true
            },
             function () {
                 defaultAjax({
                     url: /*[[@{/observationReason/}]]*/null,
                     type: 'POST',
                     data: {
                        creditId: creditId,
                        observationReasonId: observationReasonId
                     },
                     success: function (data) {
                         swal("Observado", "El crédito ha sido observado correctamente.", "success");
                         $('#setCreditObservationModal').modal('toggle');
                         resetTimer();
                         $('#tableResults > tbody').html(data);
                         var $table = $('.table');
                         dataTable($table, true, false, true, true);
                    }
                })
            });
        }

        function showRegisterCreditRejectionModal(creditId) {
            $('#registerCreditRejectionModal').modal();
            $('#registerCreditRejectionModal .loading').hide();
            $('#registerCreditRejectionModal .content').show();
            $('#creditRejectionReason').find('option').remove();
            defaultAjax({
                url: /*[[@{/rejectionReasons}]]*/null,
                type: 'GET',
                data: {
                    creditId: creditId,
                    rejectionReasonlistTypeId:/*[[${T(com.affirm.common.model.catalog.CreditRejectionReason).ONLY_VERIFICATION_LIST_TYPE}]]*/null
                },
                success: function (data) {
                    var arr = JSON.parse(data);
                    var len = arr.length;
                    if(len==0){
                        $('#creditRejectionReason').append($('<option>', {
                            value: -1,
                            text: 'No se encontraron motivos de rechazo'
                        }));

                        $('#registerCreditRejectionButton').disableButton();
                    }else{
                        $('#registerCreditRejectionButton').enableButton();
                    }
                    for (var i = 0; i < len; i++) {
                        $('#creditRejectionReason').append($('<option>', {
                            value: arr[i].id,
                            text: arr[i].reason
                        }));
                    }
                }
            });
            $('#registerCreditRejectionButton').click(function () {
                askRejectCredit(creditId, $('#creditRejectionReason').val(), $('#creditRejectionComment').val());
            });
        }

        function askRejectCredit(creditId, creditRejectionReason, creditRejectionComment) {
            swal({
                title: "&iquest;Est&aacute;s seguro de rechazar el cr&eacute;dito?",
                text: "No podr&aacute;s revertir el cambio.",
                type: "warning",
                html: true,
                showCancelButton: true,
                confirmButtonColor: "#36c6d3",
                confirmButtonText: "¡Si, Rechazar!",
                closeOnConfirm: true
            },
            function () {
                defaultAjax({
                    url: /*[[@{/rejectCredit/__${page}__}]]*/null,
                    type: 'POST',
                    data: {
                        creditId: creditId,
                        creditRejectionReasonId: creditRejectionReason,
                        creditRejectionReasonComment: creditRejectionComment,
                    },
                    success: function (data) {
                        resetTimer();
                        $('#tableResults > tbody').html(data);
                        swal("Eliminada", "El crédito ha sido eliminado correctamente.", "success");
                        $('#registerCreditRejectionModal').modal('toggle');
                        $('#creditRejectionComment').val(null);

                        var $table = $('.table');
                        dataTable($table, true, false, true, true);
                    }
                })
            });
        }

        function showRegisterGeneratedCreditRejectionModal(creditId) {
            $('#registerGeneratedCreditRejectionModal').modal();
            $('#registerGeneratedCreditRejectionModal .loading').hide();
            $('#registerGeneratedCreditRejectionModal .content').show();

            $('#creditGeneratedRejectionReason').show();
            $('#creditDisbursementRejectionReason').hide();
            $('#creditGeneratedRejectionReason').find('option').remove();

            defaultAjax({
                url: /*[[@{/rejectionReasons}]]*/null,
                type: 'GET',
                data: {
                    creditId: creditId,
                    rejectionReasonlistTypeId:/*[[${T(com.affirm.common.model.catalog.CreditRejectionReason).REGULAR_LIST_TYPE}]]*/null
                },
                success: function (data) {
                    var arr = JSON.parse(data);
                    var len = arr.length;
                    if(len==0){
                        $('#creditGeneratedRejectionReason').append($('<option>', {
                            value: -1,
                            text: 'No se encontraron motivos de rechazo'
                        }));

                        $('#registerGeneratedCreditRejectionButton').disableButton();
                    }else{
                        $('#registerGeneratedCreditRejectionButton').enableButton();
                    }
                    for (var i = 0; i < len; i++) {
                        $('#creditGeneratedRejectionReason').append($('<option>', {
                            value: arr[i].id,
                            text: arr[i].reason
                        }));
                    }
                }
            });
            $('#registerGeneratedCreditRejectionButton').click(function () {
                askGeneratedRejectCredit(creditId, $('#creditGeneratedRejectionReason').val(), $('#creditGeneratedRejectionComment').val());
            });
        }

        function showRegisterDisbursementCreditRejectionModal(creditId) {
            $('#registerGeneratedCreditRejectionModal').modal();
            $('#registerGeneratedCreditRejectionModal .loading').hide();
            $('#registerGeneratedCreditRejectionModal .content').show();

            $('#creditGeneratedRejectionReason').hide();
            $('#creditDisbursementRejectionReason').show();
            $('#creditDisbursementRejectionReason').find('option').remove();

            defaultAjax({
                url: /*[[@{/rejectionReasons}]]*/null,
                type: 'GET',
                data: {
                    creditId: creditId,
                    rejectionReasonlistTypeId:/*[[${T(com.affirm.common.model.catalog.CreditRejectionReason).REGULAR_LIST_TYPE}]]*/null
                },
                success: function (data) {
                    var arr = JSON.parse(data);
                    var len = arr.length;
                    if(len==0){
                        $('#creditDisbursementRejectionReason').append($('<option>', {
                            value: -1,
                            text: 'No se encontraron motivos de rechazo'
                        }));

                        $('#registerGeneratedCreditRejectionButton').disableButton();
                    }else{
                        $('#registerGeneratedCreditRejectionButton').enableButton();
                    }
                    for (var i = 0; i < len; i++) {
                        $('#creditDisbursementRejectionReason').append($('<option>', {
                            value: arr[i].id,
                            text: arr[i].reason
                        }));
                    }
                }
            });
            $('#registerGeneratedCreditRejectionButton').click(function () {
                askGeneratedRejectCredit(creditId, $('#creditDisbursementRejectionReason').val(), $('#creditGeneratedRejectionComment').val());
            });
        }

        function showRegisterGeneratedCreditUploadModal(creditId){
            $('#registerCreditUploadModal').modal();
            $('#registerCreditUploadModal .loading').hide();
            $('#registerCreditUploadModal .content').show();
            $('#registerCreditUploadModalButton').click(function () {
                askGeneratedUploadCredit(creditId, $('#creditUploadReferenceNumber').val(), $('#loanUploadReferenceNumber').val());
            });
        }

        var minDate;

        function showRegisterGeneratedCreditDisbursementModal(creditId, amount, installmets, tea){
            defaultAjax({
                url: /*[[@{/getSignatureDate}]]*/null,
                type: 'POST',
                data: {
                    creditId: creditId
                },
                success: function (data) {
                    minDate = $.parseJSON(data);
                    if(amount != null)
                        $('#registerCreditDisbursementModal input[name=amount]').val(amount);
                    if(installmets != null)
                        $('#registerCreditDisbursementModal input[name=installments]').val(installmets);
                    if(tea != null)
                        $('#registerCreditDisbursementModal input[name=tea]').val(tea);

                    $('#registerCreditDisbursementModal').data("minDate", minDate);
                    showCalendar();
                    $('#registerCreditDisbursementModal').modal();
                    $('#registerCreditDisbursementModal .loading').hide();
                    $('#registerCreditDisbursementModal .content').show();
                    $('#registerCreditDisbursementModalButton').click(function () {
                        askGeneratedDisbursementCredit(creditId);
                    });
                }
            });
        }

        function askGeneratedUploadCredit(creditId, creditDisbursementReferenceNumber, loanDisbursementReferenceNumber) {
            if ($('#creditUploadReferenceNumber').val().replace(/\s/g,"") == "" && !$('#complete_info').prop('checked')){
                swal({
                    title: "",
                    text: "Se debe ingresar el número de referencia",
                    type: "error",
                    html: true,
                    showCancelButton: false,
                    confirmButtonColor: "#36c6d3",
                    confirmButtonText: "OK",
                    closeOnConfirm: true
                });
            }else{
                if ($('#loanUploadReferenceNumber').length && $('#loanUploadReferenceNumber').val().replace(/\s/g,"") == "" && !$('#loan_complete_info').prop('checked')){
                    swal({
                        title: "",
                        text: "Se debe ingresar el número de referencia",
                        type: "error",
                        html: true,
                        showCancelButton: false,
                        confirmButtonColor: "#36c6d3",
                        confirmButtonText: "OK",
                        closeOnConfirm: true
                    });
                }else{
                    swal({
                        title: "&iquest;Est&aacute;s seguro de cargar el cr&eacute;dito?",
                        text: "No podr&aacute;s revertir el cambio.",
                        type: "warning",
                        html: true,
                        showCancelButton: true,
                        confirmButtonColor: "#36c6d3",
                        confirmButtonText: "¡Si, Cargar!",
                        closeOnConfirm: true
                    },
                    function () {
                        $('#registerCreditUploadModalButton').loading('', 2);
                        defaultAjax({
                            url: /*[[@{/updateStatus/__${page}__}]]*/null,
                            type: 'POST',
                            data: {
                                creditId: creditId,
                                creditDisbursementReferenceNumber: creditDisbursementReferenceNumber != null ? creditDisbursementReferenceNumber : '',
                                loanDisbursementReferenceNumber: loanDisbursementReferenceNumber != null ? loanDisbursementReferenceNumber : ''
                            },
                            success: function (data) {
                                resetTimer();
                                $('#tableResults > tbody').html(data);
                                swal("Cargado", "El crédito ha sido cargado correctamente.", "success");
                                $('#registerCreditUploadModal').modal('toggle');


                                var $table = $('.table');
                                dataTable($table, true, false, true, true);
                            },
                            error: function(){
                                $('#registerCreditUploadModalButton').unloading();
                            }
                        })
                    });
                }
            }
        }

        function askGeneratedDisbursementCredit(creditId) {
            if($('#frmRegisterCreditDisbursementModal').valid()){
                swal({
                    title: "&iquest;Est&aacute;s seguro de desembolsar el cr&eacute;dito generado?",
                    text: "No podr&aacute;s revertir el cambio.",
                    type: "warning",
                    html: true,
                    showCancelButton: true,
                    confirmButtonColor: "#36c6d3",
                    confirmButtonText: "¡Si, Desembolsar!",
                    closeOnConfirm: true
                },
                function () {
                    if($('#frmRegisterCreditDisbursementModal').valid()){
                        $('#registerCreditDisbursementModalButton').loading('', 2);
                        defaultAjax({
                            url: /*[[@{/updateStatus/__${page}__}]]*/null,
                            type: 'POST',
                            data: $.extend($('#frmRegisterCreditDisbursementModal').serializeObject(), {
                                creditId: creditId,
                            }),
                            success: function (data) {
                                resetTimer();
                                $('#tableResults > tbody').html(data);
                                swal("Desembolsado", "El crédito ha sido desembolsado correctamente.", "success");
                                $('#registerCreditDisbursementModal').modal('toggle');
                            },
                            error: function (data) {
                                $('#registerCreditDisbursementModalButton').unloading();
                            }
                        })
                    }
                });
            }
        }

        function askGeneratedRejectCredit(creditId, creditRejectionReason, creditRejectionComment) {
            swal({
                title: "&iquest;Est&aacute;s seguro de rechazar el cr&eacute;dito generado?",
                text: "No podr&aacute;s revertir el cambio.",
                type: "warning",
                html: true,
                showCancelButton: true,
                confirmButtonColor: "#36c6d3",
                confirmButtonText: "¡Si, Rechazar!",
                closeOnConfirm: true
            },
            function () {
                defaultAjax({
                    url: /*[[@{/rejectCredit/__${page}__}]]*/null,
                    type: 'POST',
                    data: {
                        creditId: creditId,
                        page : /*[[${page}]]*/null,
                        creditRejectionReasonId: creditRejectionReason,
                        creditRejectionReasonComment: creditRejectionComment
                    },
                    success: function (data) {
                        resetTimer();
                        $('#tableResults > tbody').html(data);
                        swal("Eliminada", "El crédito ha sido eliminado correctamente.", "success");
                        $('#registerGeneratedCreditRejectionModal').modal('toggle');
                        $('#creditGeneratedRejectionComment').val(null);

                        var $table = $('.table');
                        dataTable($table, true, false, true, true);
                    }
                })
            });
        }

        $('#totalCredits').text('Total de Créditos : ' + /*[[${totalCredits}]]*/null);

        $('#sumCredits').text('Total de Desembolsos : ' + /*[[${@utilService.doubleMoneyFormat(sumCredits, currency)}]]*/null);

        function expireLoanApplication(event, loanId) {
            var btnRef = $(event);

            swal({
                    title: "",
                    text: "¿Está seguro que desea expirar la solicitud?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "¡Sí, expirar!",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false,
                    html: true
                },
                function (expire) {
                    swal.close();

                    if (expire) {
                        btnRef.loading();
                        defaultAjax({
                            url: /*[[@{/loanApplication/__${page}__/expire}]]*/null,
                            type: 'POST',
                            data: {
                                loanId: loanId
                            },
                            success: function (data) {
                                resetTimer();
                                $('#tableResults').DataTable().destroy();
                                $('#tableResults > tbody').html(data);
                                var $table = $('.table');
                                dataTable($table, true, false, true, true);

                                swal("Expirada", "La solicitud fue expirada.", "success");
                            },
                            complete: function () {
                                btnRef.unloading();
                            }
                        });
                    }

                });
        }

        /*]]>*/
    </script>
</th:block>

</body>
</html>