<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="question_client">

</th:block>

<th:block th:fragment="question_backoffice">
    <form class="question-form" th:object="${form}" th:attr="data-random-id=${randomId}">
        <div class="row">
            <p th:text="#{questions.block.lastResultExercise}"></p>
            <div class="form-group">
                <small>Resultado neto</small>
                <div class="input-group">
                    <span class="input-group-addon" th:text="${loanApplication.country.currency.symbol}"></span>
                    <input class="form-control" type="text" th:field="*{exerciseOutcome}"/>
                </div>
                <div class="errorContainer"></div>
            </div>
            <div class="form-group">
                <select class="form-control" th:field="*{hopeGrow}">
                    <option value="" hidden="hidden" selected="selected"></option>
                    <option value="despite">Espero que disminuyan.</option>
                    <option value="keeping">Espero que se mantengan.</option>
                    <option value="grow">Espero crecer en m&aacute;s del 15%.</option>
                </select>
                <div class="errorContainer"></div>
            </div>
            <button type="button" class="btn default btn-xs send-button" th:text="#{button.next}"></button>
        </div>
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/
        (function() {
            var questionFlow = new QuestionFlow([[${questionId}]], [[${randomId}]]);
            questionFlow.initializeFormValidation(/*[[${form.validator.toJson(#locale)}]]*/);
            questionFlow.getFormValuesJson = function(){
                return questionFlow.getFormElement().serializeObject();
            };

            questionFlow.find('.send-button').on('click', function () {
                questionFlow.loadNextQuestions();
            });
        })();
        /*]]>*/
    </script>
</th:block>
</html>