<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="question">
    <th:block th:replace="loanApplication/formQuestions/questionConfig :: config"></th:block>
    <div id="formContainer" class="questions-section animated fadeInRight q115">
        <p th:text="#{questions.block.assistedProcess(${personFirstName ?: 'Hola'})}"></p>
        <form id="questionForm" th:object="${form}" class="flex-form-map question-arg">
            <div class="field inline">
                <label class="input-radio">
                    <input id="option1" type="radio" class="processType" name="assistedProcess" value="web"/>
                    <div class="option-wrapper">
                        <div class="iconic-option-inner">
                            <div class="wsi">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="48px" height="48px" viewBox="0 0 70.07 70.07" style="enable-background:new 0 0 70.07 70.07;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M65.094,32.195h-6.982h-0.934c-2.064,0-3.738,1.674-3.738,3.745v0.406c0,2.073,1.674,3.748,3.741,3.748h6.989h0.924
                                            c2.068,0,3.747-1.682,3.747-3.748l-0.004-0.411C68.841,33.869,67.162,32.195,65.094,32.195z"/>
                                        <path d="M65.098,22.852h-1.649V4.734c0-2.604-2.13-4.734-4.735-4.734H27.475c-2.604,0-4.734,2.131-4.734,4.734v12.999
                                            c-6.301,3.562-12.8,7.283-12.814,7.292C6.399,26.477,1.23,31.162,1.23,42.225c0,0.988,0.065,1.9,0.156,2.781
                                            c0.029,0.258,0.061,0.506,0.096,0.755c0.091,0.647,0.205,1.266,0.341,1.854c0.049,0.21,0.087,0.429,0.14,0.63
                                            c0.183,0.68,0.395,1.318,0.633,1.925c0.12,0.301,0.25,0.575,0.381,0.857c0.14,0.297,0.281,0.589,0.432,0.862
                                            c0.175,0.329,0.35,0.646,0.542,0.947c0.046,0.07,0.096,0.134,0.143,0.205c4.556,6.887,12.961,6.918,12.961,6.918h5.686v5.379
                                            c0,2.601,2.13,4.731,4.734,4.731h31.238c2.605,0,4.735-2.131,4.735-4.731v-6.561h0.722v-0.004h0.921
                                            c2.071,0,3.75-1.675,3.746-3.746l0.004-0.408c-0.004-2.068-1.679-3.738-3.747-3.738H64.17h-6.059h-0.934
                                            c-2.068,0-3.738,1.674-3.738,3.741v0.415c0,2.062,1.674,3.743,3.741,3.743h2.974v2.534h-34.12V27.323
                                            c1.714-1.087,3.301-2.133,4.206-2.834c4.585-3.546,8.937-6.37,9.526-8.931c0.767-3.323-1.784-6.123-6.209-3.824
                                            c-1.394,0.724-4.255,2.311-7.523,4.146V7.502l34.12,0.005V22.85h-2.043v0.004h-0.929c-2.069,0-3.748,1.674-3.748,3.747v0.406
                                            c0,2.072,1.679,3.742,3.743,3.742h0.929h6.059h0.931c2.066,0,3.741-1.674,3.741-3.742V26.59
                                            C68.841,24.531,67.167,22.852,65.098,22.852z M43.09,62.976c1.312,0,2.37,1.059,2.37,2.368c0,1.312-1.059,2.367-2.37,2.367
                                            c-1.307,0-2.363-1.058-2.363-2.367C40.729,64.039,41.788,62.976,43.09,62.976z M48.093,4.558h-9.996
                                            c-0.314,0-0.574-0.255-0.574-0.57c0-0.32,0.26-0.575,0.574-0.575h9.996c0.314,0,0.57,0.254,0.57,0.575
                                            C48.663,4.302,48.407,4.558,48.093,4.558z"/>
                                        <path d="M65.094,41.538H64.17h-6.992c-2.064,0-3.743,1.679-3.743,3.746v0.41c0,2.069,1.675,3.743,3.743,3.743h0.929h6.059h0.926
                                            c2.071,0,3.741-1.674,3.746-3.743v-0.41C68.837,43.217,67.167,41.538,65.094,41.538z"/>
                                    </g>
                                </g>
                                </svg>
                            </div>
                            <h5>Yo lo hago</h5>
                            <div class="radio"></div>
                        </div>
                    </div>
                </label>
                <span th:text="#{questions.115.t1}"></span>
            </div>
            <div class="field inline">
                <label class="input-radio">
                    <input id="option2" type="radio" class="processType" name="assistedProcess" value="assisted"/>
                    <div class="option-wrapper">
                        <div class="iconic-option-inner">
                            <div class="wsi">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="48px" height="48px" viewBox="0 0 575.969 575.969" style="enable-background:new 0 0 575.969 575.969;"
                                     xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M563.472,363.566c-7.456-11.369-17.657-20.234-29.382-26.146c4.009-53.108-12.074-97.496-36.568-99.644l-0.896-0.078
                                            c-1.153-44.898-15.597-89.487-42.517-127.657C410.748,48.562,340.953,11.86,267.407,11.86
                                            c-73.548,0-143.343,36.702-186.707,98.183c-26.937,38.201-41.379,82.816-42.524,127.745l-0.887,0.075
                                            C12.384,240.05-3.938,285.838,0.826,340.122c4.774,54.304,28.837,96.541,53.729,94.356h0.01l81.259-7.132
                                            c6.854-0.604,13.183-3.903,17.601-9.172c4.429-5.28,6.567-12.086,5.965-18.939l-12.724-144.934
                                            c-1.259-14.27-13.839-24.829-28.111-23.568l-21.495,1.891c1.938-31.081,12.427-61.645,31.567-88.783
                                            c32.875-46.61,83.454-73.336,138.779-73.336c55.322,0,105.904,26.728,138.779,73.336c19.128,27.11,29.599,57.645,31.556,88.687
                                            l-21.485-1.881c-14.271-1.261-26.851,9.296-28.111,23.568L375.421,399.15c-0.6,6.853,1.538,13.66,5.967,18.938
                                            c4.419,5.271,10.749,8.572,17.603,9.173l81.259,7.132h0.009c18.312,1.604,36.103-20.925,46.173-54.503
                                            c1.536,1.61,3.094,3.205,4.341,5.116c6.875,10.47,8,23.595,3.009,35.088l-25.804,59.359c-7.837,18.031-25.6,29.676-45.261,29.676
                                            h-34.728c-2.835-9.125-11.026-15.884-21.085-15.884h-64.354c-12.37,0-22.399,10.031-22.399,22.401v26.06
                                            c0,12.37,10.029,22.402,22.399,22.402h64.354c10.059,0,18.25-6.758,21.085-15.883h34.728c35.238,0,67.083-20.886,81.114-53.197
                                            l25.81-59.362C579.89,412.047,577.589,385.09,563.472,363.566z"/>
                                    </g>
                                </g>
                                </svg>
                            </div>
                            <h5>Llámenme</h5>
                            <div class="radio"></div>
                        </div>
                    </div>
                </label>
                <span th:text="#{questions.115.t2}"></span>
            </div>
        </form>
    </div>
    <div id="calendarContainer" class="questions-section animated fadeInRight q62 q115_2" style="display: none;">
        <div class="form q62">
            <p class="subtitle" th:text="#{questions.62.schedule.question}"></p>
            <div style="overflow:hidden;">
                <div class="form-group">
                    <div class="wrap-radios">
                        <div class="field inline"  th:each="date, it: ${availableDates}">
                            <label class="input-radio">
                                <input type="radio" name="date" th:value="${@utilService.dateCustomFormat(date, 'dd/MM/yyyy', #locale)}"/>
                                <div class="option-wrapper">
                                    <div class="iconic-option-inner">
                                        <h5 th:text="${@utilService.dateCustomFormat(date, 'EEEE dd ''de'' MMMM', #locale)}"></h5>
                                        <div class="radio"></div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="w">
                        <div class="w-select2">
                            <select id="hour" data-width="150" data-placeholder="Horario">
                                <option value="" disabled="true">Horario</option>
                            </select>
                        </div>
                        <button id="scheduleBtn" class="button bg-red">Agendar llamada</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="divisor-bottom"/>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var q115 = $('.q115');
        q115.closest('body').addClass('body-q115');

        var officeStartHour = /*[[${officeStartHour}]]*/null;
        var officeStartMinute = /*[[${officeStartMinute}]]*/null;
        var officeEndHour = /*[[${officeEndHour}]]*/null;
        var officeEndMinute = /*[[${officeEndMinute}]]*/null;
        var officeEndHourSaturday = /*[[${officeEndHourSaturday}]]*/null;
        var saturday = /*[[${saturday}]]*/null;
        var now = new Date();

        $(function(){
            var hour = $('#hour');

            function getDate(availableDate) {
                var dateArray = availableDate.split("/");
                return new Date(dateArray[2], dateArray[1]-1, dateArray[0]);
            }

            function renderHours(date) {
                // Today: 9:01 -> 10:30 - 10:20 -> 11:30 - 10:43 -> 12:00 - 10:59 -> 12:00
                // Tomorrow: use officeStartHour and officeStartMinute
                var userMinHour, userMinMinute;
                var lastHourSelected = hour.val();

                //Verify if date is saturday
                if (date.getDay() === saturday) {
                    officeEndHour = officeEndHourSaturday;
                } else {
                    officeEndHour = /*[[${officeEndHour}]]*/null;
                }
                // Hoy y dos horas antes de cerrar
                if (date.getDate() === now.getDate() && now.getHours() + 2 <= officeEndHour) {
                    // Hoy antes de comenzar a atender
                    if (now.getHours() + 1 < officeStartHour) {
                        userMinHour = officeStartHour;
                        userMinMinute = officeStartMinute;
                    } else {
                        // Horario de oficina
                        if (date.getMinutes() < 30) {
                            userMinHour = now.getHours() + 1;
                            userMinMinute = 30;
                        } else {
                            userMinHour = now.getHours() + 2;
                            userMinMinute = 0;
                        }
                    }
                } else {
                    userMinHour = officeStartHour;
                    userMinMinute = officeStartMinute;
                }

                var options = "<option value=''>Horario</option>";
                for (; userMinHour < officeEndHour; userMinHour++) {
                    if (userMinMinute === 0 ) {
                        options += "<option value='"+userMinHour+":00'>" + userMinHour + ":00 - " + (userMinHour) + ":30</option>";
                        userMinMinute = 30;
                    }

                    if (userMinMinute === 30 ) {
                        options += "<option value='"+userMinHour+":30'>" + userMinHour + ":30 - " + (userMinHour + 1) + ":00</option>";
                        userMinMinute = 0;
                    }
                }

                if (userMinMinute === 0 && userMinMinute < officeEndMinute && date.getDay() != saturday) {
                    options += "<option value='"+userMinHour+":00'>" + userMinHour + ":00 - " + (userMinHour) + ":30</option>";
                }

                hour.html(options);
                // If it's possible to keep the hour selected before change the day, preserve it
                if ($('#hour option[value="'+lastHourSelected+'"]').length > 0) {
                    hour.val(lastHourSelected).trigger('change.select2');
                }
            }

            renderHours(getDate($('input[name=date]')[0].value));

            $('#scheduleBtn').click(function(){
                var hourSelected = hour.val();
                var dateSelected = $('input[name=date]:checked').val();

                if (hourSelected != "" && dateSelected != "" && dateSelected != undefined) {
                    questionFw.ajaxToCurrentQuestionController({
                        type: "POST",
                        data: {
                            assistedProcess: true,
                            time: hourSelected,
                            date: dateSelected
                        }, success: function(data) {

                            /*
                            swal({
                                title: "",
                                text: "Llamada agendada correctamente.",
                                confirmButtonColor: "#F7323F",
                                type: "success"
                            }, function() {
                                location.reload();
                            });
                            */
                        }
                    }, "");
                } else {



                    $('#error-content').show().find('.text-black').html("<span>Seleccione el horario y la fecha, por favor.</span>").addClass('help-block-error errorContainer');
                    $('#error-content').find('.actions').remove();



                    /*
                    swal({
                        title: "",
                        text: "Seleccione el horario y la fecha, por favor.",
                        confirmButtonColor: "#F7323F",
                        type: "info"
                    });
                    */

                }
            });

            $('input[name=date]').on('change', function(e) {
                renderHours(getDate($(this).val()));
            });

            $('input[name=assistedProcess]:radio').change(function () {
                if ($(this).val()=="web") {
                    questionFw.ajaxToCurrentQuestionController({
                        type: "POST",
                        data: {assistedProcess: false}
                    }, "");
                } else {
                    $('#formContainer').hide();
                    $('#calendarContainer').show();
                }
            });

            $('#option1').change(function () {
                $('body').removeClass('body-q115');
            });


            $('.q62 .input-radio').on('click', function(){
                $('.w').addClass('actived');
            });

            $('.input-radio').on('click', function(){
                if( $(this).hasClass('radio-selected') ){
                    $('#hour').select2('open');
                }
            });
        });
        /*]]>*/
    </script>
</th:block>
</html>