<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="question">
    <th:block th:replace="loanApplication/formQuestions/questionConfig :: config"></th:block>
    <div class="questions-section animated fadeInRight">
        <p th:utext="#{questions.block.professionSectores}"></p>
         <form id="questionForm" class="flex-form-map q143">
            <div style="padding: 0 8rem;" class="field inline residencia">
                <select id="professionOcupation" name="professionOcupation"
                        th:attr="data-placeholder=#{question.map.profession}">
                    <option value="" hidden="hidden">Elige una Profesi&oacute;n</option>
                    <option th:each="professionOcupation: ${professionOcupations}" th:value="${professionOcupation?.id}"
                            th:text="${professionOcupation?.occupation}"></option>
                </select>
                <div class="errorContainer"></div>
            </div>
            <div style="padding: 0 8rem;" class="field inline residencia">
                <select id="profession" name="profession" th:attr="data-placeholder=#{question.map.sector}">
                    <option value="" hidden="hidden">Sectores</option>
                    <option th:each="profession : ${@catalogService.getProfessionsActive(#locale)}"
                            th:value="${profession.id}" th:text="${profession.profession}"></option>
                </select>
                <div class="errorContainer"></div>
            </div>
            <div class="field inline field-button">
                <button id="sendButton" type="button" class="button bg-red" th:text="#{button.next}"></button>
            </div>
        </form>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        questionFw.validateForm($('#questionForm'), JSON.parse(/*[[${form.validator.toJson(#locale)}]]*/));

        $('#sendButton').on('click', function(){
            if ($('#questionForm').valid()) {
                questionFw.ajaxToCurrentQuestionController({
                    button: $('#sendButton'),
                    type: "POST",
                    form: $('#questionForm'),
                    data: $('#questionForm').serializeObject()
                }, "");
            }
        });
        /*]]>*/
    </script>
</th:block>
</html>