<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/companyTemplate">
<head>
    <title>busqueda</title>
</head>
<body>
<th:block layout:fragment="header">
    <th:block th:replace="fragments/headers :: companyDashboardHeader"></th:block>
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"></div>
    <!-- END HEADER & CONTENT DIVIDER -->
</th:block>
<th:block layout:fragment="content">
    <!-- Sidebar -->
    <th:block
            th:replace="fragments/extranetSidebarFragments :: extranetCompanySidebar(currentPage='paysheet-activa')"></th:block>
    <!-- / Sidebar -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a th:href="@{/client/dashboard}">Tablero</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span class="active">resultados con <b th:text="${param.search[0]}"></b></span>
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->

            <div class="portlet-body">
                <div class="table-toolbar">
                </div>
                <div id="sample_1_2_wrapper" class="dataTables_wrapper">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable"
                               id="sample_1_2" role="grid" aria-describedby="sample_1_2_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1"
                                    aria-label=" Email : activate to sort column ascending"
                                    style="text-align:center;" width="50">
                                    T.D.
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1"
                                    aria-label=" Email : activate to sort column ascending"
                                    style="text-align:center;" width="150">
                                    N&uacute;mero doc.
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label=" Username : activate to sort column descending"
                                    style="text-align:center;" width="200"> Nombres
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label=" Username : activate to sort column descending"
                                    style="text-align:center;width: 240px;"> Apellido paterno
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label=" Username : activate to sort column descending"
                                    style="text-align:center;width: 240px;"> Apellido materno
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1"
                                    aria-label=" Status : activate to sort column ascending"
                                    style="text-align:center;width: 196px;" width="200">
                                    Email
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1"
                                    aria-label=" Status : activate to sort column ascending"
                                    style="text-align:center;" width="130">
                                    Ingreso
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1"
                                    aria-label=" Joined : activate to sort column ascending"
                                    style="text-align:center;" width="300">
                                    Cta. Bancaria
                                </th>
                                <!--<th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1"-->
                                <!--aria-label=" Actions : activate to sort column ascending"-->
                                <!--style="text-align:center;">-->
                                <!--Estado-->
                                <!--</th>-->
                                <th class="sorting" tabindex="0" aria-controls="sample_1_2" rowspan="1" colspan="1"
                                    aria-label=" Actions : activate to sort column ascending"
                                    style="text-align:center;width: 191px;">
                                    Estado
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" th:each="employee : ${employees}" th:id="${'row-' + employee.id}">
                                <td>
                                    <span th:text="${employee.docType.name}"></span>
                                </td>
                                <td style="text-align:left;">
                                    <span th:text="${employee.docNumber}"></span>
                                </td>
                                <td style="padding:1em;text-align:left;">
                                    <span th:text="${employee.name}" style="display: block;width: 150px;"></span>
                                </td>
                                <td style="padding:1em;text-align:left;">
                                    <span th:text="${employee.firstSurname}"></span>
                                </td>
                                <td style="padding:1em;text-align:left;">
                                    <span th:text="${employee.lastSurname}"></span>
                                </td>
                                <td style="padding:1em;text-align:left;">
                                    <span th:text="${employee.workEmail}"></span>
                                </td>
                                <td style="text-align:center;">
                                    <span th:text="${@utilService.integerMoneyFormat(employee.fixedGrossIncome)}" style="display: block;width: 100px;"></span>
                                </td>
                                <td>
                                    <span style="display: block;width: 200px"></span>
                                    <th:block th:if="${employee.bank != null and employee.accountNumber != null}">
                                        <span><b th:text="${employee.bank}"></b></span>
                                        <br/>
                                        <span><b>Cta.:</b></span>
                                        <span th:text="${employee.accountNumber}"></span>
                                        <br/>
                                    </th:block>
                                    <th:block th:if="${employee.accountNumberCci != null}">
                                        <span><b>CCI:</b></span>
                                        <span th:text="${employee.accountNumberCci}"></span>
                                    </th:block>

                                </td>
                                <td style="text-align:center;vertical-align: middle;">
                                    <th:block th:if="${employee.active}">
                                        <span class="label label-sm label-success"> Activo </span>
                                    </th:block>

                                    <th:block th:if="${employee.active == false}">
                                        <span class="label label-sm label-danger"> Inactivo </span>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

</th:block>

<th:block layout:fragment="footer">
    <th:block th:replace="fragments/footers :: footerDefault"></th:block>
</th:block>

</body>
</html>