/* Slider */
.slick-slider {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-touch-action: pan-y;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  display: block;
  position: relative;
  touch-action: pan-y;
  user-select: none;
}

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: hand;
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider-text {
  display: flex;
  justify-content: flex-end;
}

.slider-text a {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0px;
  text-align: right;
  width: auto;
}

.slick-dots {
  display: none !important;
}

.talk-to-us .slider button {
  display: none !important;
}

.talk-to-us .lazy.bg-opacity {
  height: 48.5px;
  margin: 0 auto;
  width: auto;
}

.talk-to-us .lazy.bg-opacity,
.worker-us .lazy.bg-opacity {
  filter: unset !important;
  opacity: unset !important;
}

.slick-slide img {
  filter: unset !important;
  opacity: unset !important;
}

.worker-us {
  margin-bottom: 27px;
}

.worker-us .lazy.bg-opacity {
  height: 30px;
  margin: 0 auto;
  width: auto;
}

@media screen and (min-width: 768px) {
  .slider-text a {
    margin-right: 16px;
  }

  .worker-us .lazy.bg-opacity {
    height: 40px;
    width: auto !important;
  }

  .worker-us .slick-arrow {
    background-size: 100%;
    display: block !important;
    height: 25px;
    position: absolute;
    width: 25px;
  }

  .worker-us .slick-prev {
    background-image: url(../img/arrow-left.png);
    left: -28px;
  }

  .worker-us .slick-next {
    background-image: url(../img/arrow-right.png);
    right: -28px;
  }

  .worker-us .slick-prev:before,
  .slick-next:before {
    content: none !important;
  }

  .worker-us .slick-prev:hover,
  .slick-next:hover {
    color: white !important;
    background-color: none !important;
  }
}

@media screen and (max-width: 765px) {

  .talk-to-us .slick-arrow,
  .worker-us .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 699px) {
  .slick-dots {
    display: none !important;
  }

  .img.lazy.bg-opacity {
    margin-left: 17px;
  }
}