.sec-login{
    margin-bottom: 2rem;
    input{
        width: 100%;
        margin-bottom: .75rem;
    }
    label{
        order: -1;
        margin-bottom: .25rem;
    }
    a{
        line-height: 3;
        font-weight: 700;
    }
    .btn{
        width: 100%;
        margin: .75rem auto 1rem auto;
    }
    .w{
        margin-bottom: 1rem;
        width: 100%;
    }
    .msg-error{
        order: -1;
        width: 100%;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 769px){
    .sec-login{
        .w{
            width: 46%;
            flex-direction: column;
            margin-right: auto;
            &:nth-child(3){
                margin-right: 0;
                margin-left: auto;
            }
        }
        .btn{
            margin-right: 0;
            max-width: 200px;
        }
    }
}