/* Colors */
$black_color_main: #34465d;
$black-color-main: $black_color_main;

$facebook_color: #3b5998;
$linkedin_color: #0077b5;
$outlook_color: #0078d7;
$gmail_color: #c71610;
$google_color: #dd4d40;
$mercadolibre_color: #fed100;
$twiiter_color: #1da1f2;
$yahoo_color: #470198;
$silver_color: #ccd8e8;
$yellow-color: #FDDB33;
$yellow-color-alt: #ffe100;
$error-color: #e65118;

/* Colors */
$black-1: #3F3B3B;
$black-2: #7A808D;
$black-3: #B6BAC2;
$black-4: #D6D8DD;
$black-4: #D6D8DD;
$black-5: #F9F9FB;


$red-1: #F7323F;
$red-1: #F7323F;
$red-2: #DE777F;
$red-3: #EAB4B9;
$red-4: #F0D5D8;
$red-5: #c3202b;

$orange-offer: #E07975;
$green-offer: #5FA6AC;
$blue-offer: #4861A1;

$lightblue-1: #26CAD3;
$lightblue-2: #9ED5DC;
$lightblue-3: #C9E5E9;
$lightblue-4: i a ei;

$blue-1: #484C91;
$blue-2: #8082B0;
$blue-3: #BABBD4;
$blue-4: #D8D8E6;
$blue-5: #fbfbff;

$green: #26C9D2;


/*fuentes*/
$lato : 'Lato-Regular', sans-serif;
$lato-medium : 'Lato-Regular', sans-serif;
$lato-bold : 'Lato-Black', sans-serif;
$lato-black : 'Lato-Black', sans-serif;
$lato-light : 'Lato-Light', sans-serif;