$colorweb:  #34465d;
$colorred:  #F7323F;
$colorgreen:#26CAD3;
$altoque-bg: #000effbf;
$lato: 'Lato', sans-serif;
$monserrat-regular: 'Montserrat-Regular';
$monserrat-bold: 'Montserrat-Bold';
$quinta-pro-black-italic: 'Quinta-Pro-Black-Italic';


$BreakPoint-m-min:768px;
$BreakPoint-tb-min:1024px;
$BreakPoint-ltp-min :1280px;
$BreakPoint-ltpx-min :1440px;
$BreakPoint-dsk-min :1680px;
$BreakPoint-hd-min :1920px;
$BreakPoint-uk-min :2560px;
