<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Efectivo al toque - Compara bien, crédito rápido y fácil.</title>
        <meta name="description"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/css/LandingEfectivoAltoqueResult.css}"/>
        <meta name="theme-color" content="#000eff"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#000eff"/>
        <meta name="msapplication-navbutton-color" content="#000eff"/>
        <link id="favicon" rel="icon" type="image/png" th:href="@{/img/favicon-al-toque.png}"/>
    </head>
    <body id="body-al-toque">
        <script async="true" type="text/javascript" th:src="@{/js/landingEfectivoAltoque.js}"></script>
        <div class="header-altoque ps-rl">
            <div class="logo">
                <img class="logo-original" src="/img/logo-al-toque-blanco.png"/>
            </div>
        </div>
        <section id="landing-efectivo-altoque" class="ds-fl ps-rl">
            <div class="banner-al-toque">

            </div>
            <form class="f f-ww form frm-l5 form-altoque-result ps-ab" id="loanForm">
                
                <p class="form-h2">&iexcl;Felicitaciones!</p>
                <p class="form-h2">Muy probablemente puedas acceder a un pr&eacute;stamo.</p>
                <p class="form-h2">Un ejecutivo de Caja Sullana se pondr&aacute; en contacto contigo para finalizar el proceso.</p>
                <img src="https://s3.amazonaws.com/solven-public/img/cajasullana/logo/caja-sullana-logo.png"/>
            </form>

        </section>

    </body>
</html>