<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/mainTemplate">
<head>
    <title>Acerca Nuestro</title>

    <!--Jquery Validation-->
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/jquery.validate.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/additional-methods.min.js'}"></script>

</head>
<body>

<!-- Header -->
<th:block layout:fragment="header">
    <th:block th:replace="fragments/headers :: landingHome(itemSelected='aboutUs')"></th:block>
</th:block>
<!-- Header ends -->

<th:block layout:fragment="content">
    <section class="landing-wfs about-us">
        <div class="hero-content">
            <div class="container">
                <div class="wrap">
                    <div class="hero-text">
                        <h2 class="landing-title">Con&oacute;cenos</h2>
                    </div>
                    <div class="divisor-bar"></div>
                    <div class="hero-pharagraph">
                        <p>En Solven conectamos a las personas que necesitan crédito con las instituciones financieras y los fondos de inversión más innovadores del mercado. Hacemos posible que los créditos se emitan tan solo en 5 minutos; sin fricción en el proceso, 100% en línea y con las mejores condiciones.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="aboutUs-details">
        <div class="container">
            <article>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 column text-left">
                        <figure>
                            <img th:src="@{/img/faces/facundo.jpg}" alt="Facundo Turconi" />
                        </figure>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 column">
                        <div class="wrap">
                            <div class="top">
                                <h2>Facundo Turconi <a rel="noopener noreferrer" href="https://twitter.com/facundoturconi" class="text-lightblue"><i class="icon icon-twitter"></i></a></h2>
                                <span>Fundador &amp; CEO</span>
                            </div>

                            <div class="parragraph">
                                <p>Facundo dirige la estrategia de la compañía, trayendo toda su experiencia en el sector financiero durante más de 15 de años a lo largo de todo Latinoamérica. Fue Country Manager de Afluenta, Gerente de Negocios en Acceso Crediticio, Gerente de Riesgos en Banco Financiero, Interbank, BBVA Banco Francés (Argentina) y Gerente de Proyectos en Experian, implementando Motores de Decisión, CRM, Cobranzas y Modelos Analíticos en toda la región.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 column">
                        <div class="wrap">
                            <div class="top text-right">
                                <h2>Jos&eacute; Luis Hidalgo</h2>
                                <span>Director</span>
                            </div>

                            <div class="parragraph p-right">
                                <p>José Luis aporta toda su experiencia y conocimiento del mercado financiero a la compañía. Luego de una exitosa carrera en el sistema financiero fundó Acceso Crediticio, actualmente uno de los financiadores de autos más importantes de Perú, donde además se desempeña como CEO.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 column text-right">
                        <figure>
                            <img th:src="@{/img/faces/joseluis.png}" alt="Jose Luis" />
                        </figure>
                    </div>
                </div>
            </article>
            <article>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 column text-left">
                        <figure>
                            <img th:src="@{/img/faces/mario.png}" alt="Mario Persivale" />
                        </figure>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 column">
                        <div class="wrap">
                            <div class="top">
                                <h2>Mario Persivale</h2>
                                <span>Director</span>
                            </div>

                            <div class="parragraph">
                                <p>Mario contribuye con toda su experiencia en el mercado de capitales. Es Gerente General de BTG Pactual, previamente se desempeñó como Porfolio Manager de Interfunds en San Francisco, California.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 column">
                        <div class="wrap">
                            <div class="top text-right">
                                <h2>Rafael Alc&aacute;zar</h2>
                                <span>Director</span>
                            </div>

                            <div class="parragraph p-right">
                                <p>Rafael aporta todo su conocimiento acerca del marco regulatorio de los negocios financieros. Fundó el estudio jurídico Rebaza, Alcázar &amp; De Las Casas, una de las firmas de abogados más prestigiosas de Perú.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 column text-right">
                        <figure>
                            <img th:src="@{/img/faces/rafael.png}" alt="Rafael Alcazar" />
                        </figure>
                    </div>
                </div>
            </article>
            <article>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 column text-left">
                        <figure>
                            <img th:src="@{/img/faces/roberto.png}" alt="Roberto Persivale" />
                        </figure>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 column">
                        <div class="wrap">
                            <div class="top">
                                <h2>Roberto Persivale</h2>
                                <span>Director</span>
                            </div>

                            <div class="parragraph">
                                <p>Roberto contribuye con toda su experiencia en startups e innovación. Fundó Asesorandes, una firma especializada en estructuraciones financieras e inmobiliarias. Actualmente es, además, Managing Partner de Fledge Perú.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</th:block>

<!-- footer -->
<th:block layout:fragment="footer">
    <th:block th:replace="fragments/footers :: footerLandings(itemSelected='aboutUs')"></th:block>
</th:block>
<!-- footer ends -->

</body>
</html>