<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/mainTemplate">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title th:text="${title}"></title>
</head>
<body>

    <th:block layout:fragment="header">
        <th:block th:replace="fragments/headers :: generalHeader"></th:block>
    </th:block>

    <!-- content -->
    <th:block layout:fragment="content">
        <div class="tos static-page">
            <div class="container">
                <div class="text-container">
                    <h2 class="static-title" style="margin-bottom: 0;">Blog<span> (Pr&oacute;ximamente)</span></h2>
                </div>
            </div>
        </div>
    </th:block>
    <!-- !content -->

    <th:block layout:fragment="footer">
        <th:block th:replace="fragments/footers :: footerDefault"></th:block>
    </th:block>

</body>
</html>