<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Solven | Cambios</title>
    <meta name="description"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="theme-color" content="#F7323F"/>
    <link id="favicon" rel="icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/landingCambios.css}"/>
    </th:block>
</head>
<body>
<main class="pageChange f loaded">
    <section class="wrap">
        <header class="f f-ww header">
            <a th:href="@{/}">
                <svg id="logoSolven" viewBox="0 0 295 95" style="width: 170px;fill: #F7323F;">
                    <g>
                        <path d="M4.099,89.699v-12.1c4,1.7,10.4,3.2,15.6,3.2c5.7,0,7.8-1.6,7.8-4.6c0-3.5-5-3.9-11.6-6.1c-6.9-2.2-12.3-6.7-12.3-16c0-11.7,8.8-16.7,21.7-16.7c5.3,0,11.1,1.1,14.2,2.1v12.2c-3.5-1.1-8-2.3-13.3-2.3c-5.1,0-7,1.3-7,3.7c0,2.7,2.3,3.4,9.4,5.3c7.5,2.2,14.8,6.2,14.8,17c0,11.3-8.6,17.3-21.4,17.3C13.899,92.799,8.199,91.599,4.099,89.699z"></path>
                        <path id="XMLID_13_" class="st0"
                              d="M46.599,65.099c0-14.4,8.7-27.7,26.8-27.7c18,0,26.6,12.1,26.6,27.7c0,14.4-8.7,27.7-26.7,27.7S46.599,80.699,46.599,65.099z M82.799,65.099c0-9.6-2.6-15.5-9.5-15.5c-6.8,0-9.4,5.9-9.4,15.5c0,9.7,2.6,15.4,9.5,15.4C80.199,80.399,82.799,74.799,82.799,65.099z"></path>
                        <path id="XMLID_11_" class="st0" d="M128.299,3.199h16.1l-32.3,89.5h-16.1L128.299,3.199z"></path>
                        <path id="XMLID_9_" class="st0"
                              d="M135.199,38.199h17.6l7.6,28.7c0.9,3.3,1.7,8.4,2,9.2h0.2c0.2-0.9,1.2-6.1,2-9.2l7.5-28.7h17.1l-17.7,53.6h-18.9L135.199,38.199z"></path>
                        <path d="M188.199,65.099c0-14.8,8.7-27.7,26.1-27.7c18,0,23.8,12.1,23.8,25.4c0,1.7-0.1,3.6-0.3,5.5h-32.4c0.2,7.5,3.1,12.2,12.6,12.2c6.7,0,12.3-1.5,16.2-3.3v12.5c-4.8,1.9-10.8,3.1-17.4,3.1C196.399,92.799,188.199,81.299,188.199,65.099z M221.699,58.799v-0.7c0-4.5-2.3-8.8-7.4-8.8c-5.2,0-8.1,3.8-8.6,9.5H221.699z"></path>
                        <path d="M243.699,38.199h16.3v4.3c2.9-2.2,7.5-5.1,14.7-5.1c13.2,0,17.7,8.1,17.7,18.9v35.6h-16.6v-33.1c0-5.8-2-8.4-7.4-8.4c-3.1,0-5.9,1.5-8,3.1v38.5h-16.7V38.199z"></path>
                        <path d="M121.999,83.099c0-5.2,4.1-9.5,9.9-9.5c5.8,0,9.9,4.3,9.9,9.5s-4.1,9.7-9.9,9.7C126.199,92.799,121.999,88.299,121.999,83.099z"></path>
                    </g>
                </svg>
            </a>
        </header>

        <form id="cambiosForm" th:object="${rextieForm}" class="f-ww form frm-change">
            <div class="frm-change-content">
                <div class="title">
                    <h2>CAMBIA EN L&Iacute;NEA CON GARANT&Iacute;A Y <br/>LAS MEJORES OFERTAS DEL MERCADO.</h2>
                </div>
                <div class="change-text-solven ds-fl just-cnt-center">
                    <div class="ds-fl">
                        <div class="type-change  ds-fl algn-center">
                            <svg class="icon-warranty" viewBox="0 0 400 400">
                                <path d="M206 125.2c-44.7 0-81 36.3-81 81s36.3 81 81 81 81-36.3 81-81-36.3-81-81-81zm13.5 132.7c-6.7 0-11.4-5.2-11.4-11.2 0-6 4.8-10.9 11.4-10.9s11.4 4.9 11.4 10.9-4.8 11.2-11.4 11.2zm-22.8 0h-18.6l37.2-103.2h18.6l-37.2 103.2z"
                                      fill="#070308"/>
                            </svg>
                            <span>Garant&iacute;a Solven</span>
                            <svg class="icon-ayuda" viewBox="0 0 400 400">
                                <path class="st2"
                                      d="M199.8 125.6c-43.9 0-79.4 35.6-79.4 79.4s35.6 79.4 79.4 79.4c43.9 0 79.4-35.6 79.4-79.4s-35.6-79.4-79.4-79.4zm0 145.3c-36.2 0-65.5-29.3-65.5-65.5s29.6-65.5 65.5-65.5 65.5 29.3 65.5 65.5-29.3 65.5-65.5 65.5z"/>
                                <path class="st2"
                                      d="M218.1 167c-1.8-1.7-4.1-3.1-6.8-4-2.7-.9-5.7-1.5-9.2-1.5-2.6 0-5.1.3-7.4.8-1.3.3-2.5.7-3.8 1.1-.9.4-1.9.7-2.8 1.1-2 .9-4 2-5.7 3.1-1.8 1.2-3.5 2.5-5.1 3.8l3.4 6.5c.4.7.8 1.2 1.2 1.5.4.3.9.4 1.7.4h.2c.7 0 1.5-.3 2.3-.9.9-.6 1.9-1.2 3.1-1.9 1.2-.7 2.6-1.3 4.2-1.9 1.7-.6 3.6-.9 5.9-.9 3.2 0 5.7.8 7.3 2.5 1.6 1.7 2.5 3.9 2.5 6.8 0 2.3-.5 4.4-1.5 6.2-1.1 1.7-2.3 3.4-3.9 4.9s-3.3 3-5.2 4.3c-1.9 1.4-3.6 2.8-5.2 4.2-1.6 1.5-3 3.1-4.1 4.8s-1.7 3.7-1.7 5.9v10.9h13.4v-5.5c-.2-5.2 1.8-8.4 3.3-10.1.5-.5 1-.9 1.5-1.5.1-.1.2-.2.4-.3.7-.7 1.5-1.2 2.3-1.8 1.7-1.3 3.5-2.7 5.3-4.1 1.8-1.4 3.5-3.1 5-4.9s2.8-4.1 3.7-6.8c.9-2.6 1.5-5.8 1.5-9.5 0-2.6-.5-5.2-1.5-7.4-1.1-2.1-2.5-4-4.3-5.8zM193.9 235.2c-4.1 0-6.9 2.8-6.9 6.6 0 3.5 2.8 6.6 6.9 6.6 4.1 0 6.9-3.2 6.9-6.6 0-3.7-3.1-6.6-6.9-6.6z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ds-fl">
                        <div class="type-change  ds-fl algn-center">
                            <svg class="icon-type-change" viewBox="0 0 400 400">
                                <path d="M205.1 119.3c-47.9 0-86.6 38.7-86.6 86.6s38.7 86.6 86.6 86.6 86.6-38.7 86.6-86.6-38.7-86.6-86.6-86.6zm47.6 64.9L199 237.9a7.25 7.25 0 0 1-5.2 2.1c-1.8 0-4-.6-5.2-2.1l-30.5-30.5a7.32 7.32 0 0 1 0-10.7c3.1-3.1 7.6-3.1 10.7 0l25.3 25.3 48.2-48.5c3.1-3.1 7.6-3.1 10.7 0 2.4 3.1 2.4 7.7-.3 10.7z"
                                      fill="#070308"/>
                            </svg>
                            <span>Mejor tipo de cambio</span>
                            <svg class="icon-ayuda" viewBox="0 0 400 400">
                                <path class="st2"
                                      d="M199.8 125.6c-43.9 0-79.4 35.6-79.4 79.4s35.6 79.4 79.4 79.4c43.9 0 79.4-35.6 79.4-79.4s-35.6-79.4-79.4-79.4zm0 145.3c-36.2 0-65.5-29.3-65.5-65.5s29.6-65.5 65.5-65.5 65.5 29.3 65.5 65.5-29.3 65.5-65.5 65.5z"/>
                                <path class="st2"
                                      d="M218.1 167c-1.8-1.7-4.1-3.1-6.8-4-2.7-.9-5.7-1.5-9.2-1.5-2.6 0-5.1.3-7.4.8-1.3.3-2.5.7-3.8 1.1-.9.4-1.9.7-2.8 1.1-2 .9-4 2-5.7 3.1-1.8 1.2-3.5 2.5-5.1 3.8l3.4 6.5c.4.7.8 1.2 1.2 1.5.4.3.9.4 1.7.4h.2c.7 0 1.5-.3 2.3-.9.9-.6 1.9-1.2 3.1-1.9 1.2-.7 2.6-1.3 4.2-1.9 1.7-.6 3.6-.9 5.9-.9 3.2 0 5.7.8 7.3 2.5 1.6 1.7 2.5 3.9 2.5 6.8 0 2.3-.5 4.4-1.5 6.2-1.1 1.7-2.3 3.4-3.9 4.9s-3.3 3-5.2 4.3c-1.9 1.4-3.6 2.8-5.2 4.2-1.6 1.5-3 3.1-4.1 4.8s-1.7 3.7-1.7 5.9v10.9h13.4v-5.5c-.2-5.2 1.8-8.4 3.3-10.1.5-.5 1-.9 1.5-1.5.1-.1.2-.2.4-.3.7-.7 1.5-1.2 2.3-1.8 1.7-1.3 3.5-2.7 5.3-4.1 1.8-1.4 3.5-3.1 5-4.9s2.8-4.1 3.7-6.8c.9-2.6 1.5-5.8 1.5-9.5 0-2.6-.5-5.2-1.5-7.4-1.1-2.1-2.5-4-4.3-5.8zM193.9 235.2c-4.1 0-6.9 2.8-6.9 6.6 0 3.5 2.8 6.6 6.9 6.6 4.1 0 6.9-3.2 6.9-6.6 0-3.7-3.1-6.6-6.9-6.6z"/>
                            </svg>
                        </div>

                    </div>
                </div>
                <div class="change-c-v ds-fl just-cnt-center">
                    <div>
                        <span>Compra: <span class="buyRate">0.00</span></span>
                        <span>
                            Venta: <span class="sellRate">0.00</span>
                            <span class="icon-informacion">ⓘ</span>
                            <div class="ds-fl just-cnt-center" style="width: 100%">
                                <span class="tooltip">Tipo de cambio actualizado</span>
                            </div>
                            
                        </span>
                    </div>
                </div>
                <div class="sub-form-change ds-fl just-cnt-center">
                    <div class="field ds-fl just-cnt-center">
                        <div class="sub-field ds-fl">
                            <label for="changeSource">T&uacute; env&iacute;as</label>
                            <div th:classappend="${rextieForm.sourceCurrency == 'PEN' ? 'soles-currency' : rextieForm.sourceCurrency == 'USD' ? 'dolar-currency' : ''}" class="ds-fl algn-center"><!--TODO-->
                                <input id="changeSource" name="sourceCurrencyAmount" maxlength="10" th:value="${rextieForm.sourceCurrencyAmount}" type="text" aria-required="true"
                                       th:attr="data-currency=${rextieForm.sourceCurrency}"/>
                            </div>
                        </div>
                        <span class="source-currency ds-fl algn-center just-cnt-center" th:text="${rextieForm.sourceCurrency == 'PEN' ? 'SOLES' : 'DÓLARES'}"></span><!--TODO-->
                        <!--<div class="errorContainer"></div>-->
                    </div>

                    <div class="field ds-fl just-cnt-center">
                        <div class="sub-field ds-fl">
                            <label for="changeTarget">T&uacute; recibes</label>
                            <div th:classappend="${rextieForm.targetCurrency == 'PEN' ? 'soles-currency' : rextieForm.targetCurrency == 'USD' ? 'dolar-currency' : ''}" class="ds-fl algn-center"><!--TODO-->
                                <input id="changeTarget" name="targetCurrencyAmount" maxlength="10" th:value="${rextieForm.targetCurrencyAmount}" type="text" aria-required="true"
                                       th:attr="data-currency=${rextieForm.targetCurrency}"/>
                            </div>
                        </div>
                        <span class="target-currency ds-fl algn-center just-cnt-center" th:text="${rextieForm.targetCurrency == 'PEN' ? 'SOLES' : 'DÓLARES'}"></span><!--TODO-->
                        <!--<div class="errorContainer"></div>-->

                        <div class="switch-currency content-icon">
                            <svg class="icon-switch" viewBox="0 0 35.59 30.59">
                                <path d="M9.49.41l-9.1 9.1a1.42 1.42 0 0 0 2.01 2.02l6.67-6.68v24.31a1.42 1.42 0 0 0 2.85 0V4.86l6.67 6.67A1.42 1.42 0 0 0 20.6 9.5L11.5.41a1.42 1.42 0 0 0-2.01 0z"/>
                                <path d="M24.22 2.53v23.13l-6.35-6.35a1.35 1.35 0 0 0-1.91 1.92l8.66 8.66a1.35 1.35 0 0 0 1.91 0l8.66-8.66a1.35 1.35 0 0 0-1.91-1.92l-6.35 6.35V2.53a1.35 1.35 0 0 0-2.7 0z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="field ds-fl just-cnt-center">
                        <div class="ds-fl ">
                            <span class="ds-fl algn-center just-cnt-center">AHORRO</span>
                            <div class="sub-field ds-fl">
                                <div class="soles-currency ds-fl algn-center">
                                    <input id="changeAhorro" name="changeAhorro" type="text" aria-required="true"
                                           disabled="disabled"/>
                                </div>
                            </div> 
                        </div>
                        <p>*Estimado respecto al mercado.</p>
                        <!--<div class="errorContainer"></div>-->
                    </div>
                    <div class="change-button ds-fl algn-center just-cnt-center">
                        <button id="btnReview" class="btn bg-blue-1">Cotizar</button>
                        <span>Podr&aacute;s realizar tus operaciones de</span>
                        <span>L-V: 8 a.m. - 8 p.m.&nbsp;&nbsp;S: 8 a.m. - 3 p.m.</span>
                    </div>
                </div>
            </div>
        </form>

    </section>
    <section class="wrap-image f f-ww f-ac">
        <a th:href="@{/}">
            <svg id="logoSolven" viewBox="0 0 295 95" style="width: 170px;fill: #F7323F;">
                <g>
                    <path d="M4.099,89.699v-12.1c4,1.7,10.4,3.2,15.6,3.2c5.7,0,7.8-1.6,7.8-4.6c0-3.5-5-3.9-11.6-6.1c-6.9-2.2-12.3-6.7-12.3-16c0-11.7,8.8-16.7,21.7-16.7c5.3,0,11.1,1.1,14.2,2.1v12.2c-3.5-1.1-8-2.3-13.3-2.3c-5.1,0-7,1.3-7,3.7c0,2.7,2.3,3.4,9.4,5.3c7.5,2.2,14.8,6.2,14.8,17c0,11.3-8.6,17.3-21.4,17.3C13.899,92.799,8.199,91.599,4.099,89.699z"></path>
                    <path id="XMLID_13_" class="st0"
                          d="M46.599,65.099c0-14.4,8.7-27.7,26.8-27.7c18,0,26.6,12.1,26.6,27.7c0,14.4-8.7,27.7-26.7,27.7S46.599,80.699,46.599,65.099z M82.799,65.099c0-9.6-2.6-15.5-9.5-15.5c-6.8,0-9.4,5.9-9.4,15.5c0,9.7,2.6,15.4,9.5,15.4C80.199,80.399,82.799,74.799,82.799,65.099z"></path>
                    <path id="XMLID_11_" class="st0" d="M128.299,3.199h16.1l-32.3,89.5h-16.1L128.299,3.199z"></path>
                    <path id="XMLID_9_" class="st0"
                          d="M135.199,38.199h17.6l7.6,28.7c0.9,3.3,1.7,8.4,2,9.2h0.2c0.2-0.9,1.2-6.1,2-9.2l7.5-28.7h17.1l-17.7,53.6h-18.9L135.199,38.199z"></path>
                    <path d="M188.199,65.099c0-14.8,8.7-27.7,26.1-27.7c18,0,23.8,12.1,23.8,25.4c0,1.7-0.1,3.6-0.3,5.5h-32.4c0.2,7.5,3.1,12.2,12.6,12.2c6.7,0,12.3-1.5,16.2-3.3v12.5c-4.8,1.9-10.8,3.1-17.4,3.1C196.399,92.799,188.199,81.299,188.199,65.099z M221.699,58.799v-0.7c0-4.5-2.3-8.8-7.4-8.8c-5.2,0-8.1,3.8-8.6,9.5H221.699z"></path>
                    <path d="M243.699,38.199h16.3v4.3c2.9-2.2,7.5-5.1,14.7-5.1c13.2,0,17.7,8.1,17.7,18.9v35.6h-16.6v-33.1c0-5.8-2-8.4-7.4-8.4c-3.1,0-5.9,1.5-8,3.1v38.5h-16.7V38.199z"></path>
                    <path d="M121.999,83.099c0-5.2,4.1-9.5,9.9-9.5c5.8,0,9.9,4.3,9.9,9.5s-4.1,9.7-9.9,9.7C126.199,92.799,121.999,88.299,121.999,83.099z"></path>
                </g>
            </svg>
        </a>
        <div class="h1">
            <h1>CAMBIA DINERO <br/>SIN SALIR A LA CALLE.</h1>
            <p>Obt&eacute;n beneficios exclusivos.</p>
        </div>
        <figure>
            <img class="lazy bg" alt="" src="https://s3.amazonaws.com/solven-public/img/banner-casa-cambio.jpg"/>

        </figure>

    </section>


</main>

<th:block layout:fragment="js">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var rextieUri = /*[[ ${@configuration.getRextieDomain()} ]]*/null;
        var rextieForm = /*[[${rextieForm.validator.toJson(#locale)}]]*/null;
        /*]]>*/
    </script>
    <script async="true" type="text/javascript" th:src="@{/js/landingCambios.js}"></script>
</th:block>
</body>
</html>