

/*****************************************/

.animated {
    animation-duration: 800ms;
    animation-fill-mode: both;
}



@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.26, 1.48, 0.47, 0.96);
    }
    from {
        opacity: 0;
        transform: translate3d(300px, 0, 0);
    }
    60% {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.26, 1.48, 0.47, 0.96);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }

    60% {
        opacity: 1;
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.26, 1.48, 0.47, 0.96);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    animation-name: bounceInUp;
}
.bounceInRight {
    animation-name: bounceInRight;
}
.bounceInDown{
    animation-name: bounceInDown;
}