@import '../generals/colors.scss';
@import '../variables/variables.scss';

.sec-news,
.sec-benefits {
    display: flex;
}

section h2 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

section h2::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: $red;
    content: "................";
    display: block;
    font-family: $IcoMoon;
    font-size: 2.25rem;
    height: 30px;
    letter-spacing: 0;
    line-height: 0;
    margin-bottom: 10px;
}

section h2 span {
    color: $red;
    display: block;
}

section .wrap h2::after {
    display: none;
}

.sec-workus {
    background: $red;
    color: #fff;
    overflow: hidden;
}

.sec-workus h3 {
    padding: 0.5rem 1rem;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-720%);
    }
}

.sec-workus ul {
    display: flex;
    height: 60px;
    padding: 0.25rem 0;
    position: relative;
    transform: translate3d(0, 0, 0);
}

.sec-workus ul li {
    animation: moveSlideshow 27s linear infinite;
    transform: translate3d(0, 0, 0);
}

.sec-workus ul li img {
    filter: initial;
    max-height: 48.5px;
    object-fit: cover;
    opacity: 1 !important;
    padding: 0 1.25rem;
    width: 180px;
}

.sec-workus .news ul li {
    animation: none;
}

.sec-how-work ul {
    text-align: center;
}

.sec-how-work ul li {
    margin-bottom: 3rem;
}

.sec-how-work ul li h3 {
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.sec-how-work ul li h3 p {
    font-weight: 300;
    max-width: 250px;
    margin: 0 auto;
}

.sec-purple {
    background-color: #474c91;
    color: #fff;
}

.sec-purple .gwr {
    padding: 2rem 0;
}

.sec-purple svg {
    fill: #fff;
    height: 80px;
    margin: 0 auto 0.25rem auto;
    width: 80px;
}

.sec-purple p {
    font-weight: 300;
    margin: 0 auto;
    max-width: 220px;
}

.sec-purple ul {
    text-align: center;
}

.sec-purple ul li {
    margin-bottom: 1.25rem;
}

.sec-products ul li {
    align-items: center;
    display: flex;
    min-height: 20rem;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.sec-products ul li figure {
    height: 20rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.sec-products ul li figure img {
    height: auto;
    left: 50%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 101%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    width: 100%;
}

.sec-products ul li figure:after {
    background-image: linear-gradient(0deg, #1e2022 0%, transparent 80%);
    background-repeat: repeat-x;
    bottom: 0;
    content: '';
    height: 103%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.sec-products ul li article {
    color: #fff;
    margin: auto;
    max-width: 260px;
    position: relative;
    z-index: 100;
}

.sec-products ul li article svg {
    display: none;
}

.sec-products ul li article h4 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.sec-products ul li article p {
    font-size: 1rem;
    font-weight: 300;
}

.sec-ahorra {
    background: #bce5ea;
    padding: 2rem 0;
    text-align: center;
}

.sec-ahorra h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.sec-ahorra h3 span {
    background: $lightblue-1;
    color: #fff;
    font-weight: 800;
    padding: 0.25rem;
}

.sec-ahorra h3 strong {
    color: black;
    display: block;
    font-weight: 800;
    padding: 0.25rem;
}

.sec-ahorra .btn.bg-sec {
    background: $red;
    color: #fff;
    height: 42px;
    line-height: 1.7;
    margin-bottom: 1.2rem;
}

.sec-ahorra p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.sec-ahorra small {
    display: block;
    font-weight: 300;
}

.sec-steps {
    display: block;
}

.sec-steps ul {
    text-align: center;
}

.sec-steps ul li {
    margin-bottom: 2rem;
}

.sec-steps ul li h3 {
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.sec-steps ul li p {
    font-weight: 300;
    margin: 0 auto;
    max-width: 250px;
}

.sec-contact {
    display: flex;
    padding: 2rem 0;
    text-align: center;
}

.sec-contact img.bg {
    display: none;
}

.sec-contact .cnt {
    margin: auto;
}
.sec-contact .cnt .bg-sec{
    line-height: 1.5;
}
.sec-contact h4 {
    color: $lightblue-1;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.sec-contact .w {
    font-weight: 300;
    margin: 0 auto 2rem;
    max-width: 270px;
}

.sec-contact p {
    margin-bottom: 1rem;
}

.sec-contact .btn {
    background: $lightblue-1;
    color: #fff;
    margin-bottom: 1rem;
}

.sec-contact small {
    display: block;
}

.sec-contact .picture-v {
    width: auto;
}

.sec-contact {
    display: flex;
    padding: 2rem 0;
    text-align: center;
}

.sec-contact img.bg {
    display: none;
}

.sec-contact .cnt {
    margin: auto;
}

.sec-contact h4 {
    color: $lightblue-1;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.sec-contact .w {
    font-weight: 300;
    margin: 0 auto 2rem;
    max-width: 270px;
}

.sec-contact p {
    margin-bottom: 1rem;
}

.sec-contact .btn {
    background: $lightblue-1;
    color: #fff;
    margin-bottom: 1rem;
}

.sec-contact small {
    display: block;
}

.sec-contact .picture-v {
    width: auto;
}

.form-contact {
    background-color: #33465d;
    color: #fff;
    padding: 2rem 0;
}

.form-contact h3,
.form-contact p {
    text-align: center;
}

.form-contact h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.form-contact p {
    font-weight: 300;
}

.form-contact form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin: 0 auto;
    max-width: 500px;
    width: 90%;
}

.form-contact form input,
.form-contact form .select2,
.form-contact form textarea {
    background-color: #fff;
}

.form-contact form .select2-selection__rendered {
    color: #797979;
}

.form-contact form .gform {
    width: 100%;
}

.form-contact form .gform:last-child {
    margin-right: 0;
}

.form-contact form .gfield {
    margin-bottom: 0.75rem;
}

.form-contact form .ginput_container,
.form-contact form input,
.form-contact form textarea {
    width: 100%;
}

.form-contact form textarea {
    padding-top: 0.5rem;
}

.form-contact form .btn {
    background: #00c5cc;
    color: #fff;
    padding: 0.4rem 1rem;
}

.form-contact form .gformarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-contact form .gformarea li {
    width: 100%;
}

img.trama-e,
img.trama-l,
img.trama-n,
img.trama-o,
img.trama-s,
img.trama-v {
    display: none;
}

@media screen and (min-width: 863px) {
    .sec-ahorra .btn.bg-sec {
        margin-top: 1.7rem;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .sec-workus .worker-us .acceso_logo img,
    .sec-workus .worker-us .banfif_logo,
    .sec-workus .worker-us .compartamos_logo img,
    .sec-workus .worker-us .qapac_logo img {
        transform: scale(0.9);
    }
   
    .sec-workus .worker-us .banco-ripley_logo img {
        transform: scale(0.75) !important;
    }

    .sec-workus .worker-us .transatlantica_logo img {
        transform: scale(0.9);
    
    }
}

@media screen and (min-width: 768px) {


    section h2 {
        font-size: 1.75rem;
        margin-top: 4rem;
    }

    img.trama-e,
    img.trama-l,
    img.trama-n,
    img.trama-o,
    img.trama-s,
    img.trama-v {
        display: block;
    }

    .owl-item li {
        margin: 0 2rem;
    }

    .sec-workus {
        overflow: hidden;
    }

    .sec-workus .gwr {
        padding: 0.5rem 0;
    }

    .sec-workus ul {
        align-items: center;
        justify-content: space-around;
        margin: auto;
        max-width: 100%;
        overflow: hidden;
        padding: 0 1.75rem;
    }

    .sec-workus ul li {
        animation: none;
        width: 180px !important;
    }


    .sec-workus.news ul {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        width: 80%;
    }

    .sec-workus.news .gwr {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .sec-workus.news .gwr h3 {
        width: 100%;
    }


    .sec-workus .worker-us .banco-ripley_logo img {
        transform: scale(0.85);
    }

    .sec-workus .worker-us .caja-sullana_logo img {
        transform: scale(1.2);
    }

    .sec-workus .worker-us .credigob_logo img {
        transform: scale(1.02);
    }

    .sec-workus.news .btn {
        border: none;
        box-shadow: none;
        margin-left: auto;
        text-decoration: underline;
    }

    .sec-how-work {
        position: relative;
    }

    .sec-how-work img.trama-o {
        left: 10%;
        opacity: 0.8;
        position: absolute;
        top: 0;
        width: 180px;
    }

    .sec-how-work img.trama-s {
        opacity: 0.8;
        position: absolute;
        right: 0;
        top: 0;
        width: 120px;
    }

    .sec-how-work ul {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        text-align: center;
    }

    .sec-how-work ul li svg {
        margin-bottom: 1rem;
        transform: scale(1.35);
        width: 70px !important;
    }

    .sec-how-work ul li h3 {
        font-size: 1rem;
    }

    .sec-how-work ul li p {
        font-size: 1rem;
        max-width: 280px;
    }

    .sec-how-work ul li:nth-child(2) svg {
        transform: scale(1.72);
    }

    .sec-ahorra {
        background: #bce5ea;
        min-height: 290px;
        padding-top: 4rem;
        position: relative;
        text-align: center;
    }

    .sec-ahorra .gwr {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
    }

    .sec-ahorra .gwr h3 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .sec-ahorra .gwr p {
        font-size: 1.5rem;
        margin: -0.25rem 1rem 0 4rem;
        max-width: 280px;
        text-align: left;
    }

    .sec-ahorra small {
        width: 100%;
    }

    .sec-ahorra img.trama-v {
        left: 10%;
        opacity: 0.8;
        position: absolute;
        top: 0;
    }

    .sec-steps {
        position: relative;
    }

    .sec-steps img.trama-o {
        opacity: 0.8;
        position: absolute;
        right: 0;
        top: 0;
        width: 180px;
    }

    .sec-steps ul {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .sec-steps ul li svg {
        margin-bottom: 0.25rem;
        width: 70px !important;
    }

    .sec-steps ul li h3 {
        font-size: 1rem;
    }

    .sec-steps ul li p {
        font-size: 1rem;
        max-width: 280px;
    }

    .sec-contact {
        position: relative;
    }

    .sec-contact img.trama-v {
        opacity: 0.8;
        position: absolute;
        right: 5px;
        top: -1rem;
        width: 180px;
        z-index: -1;
    }

    .sec-purple ul {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
    }

    .sec-purple ul li {
        margin-bottom: 0;
    }

    .sec-contact {
        align-items: center;
        padding: 0;
    }

    .sec-contact h4 {
        font-size: 1.75rem;
    }

    .sec-contact .w {
        font-size: 1rem;
        max-width: 300px;
    }

    .sec-contact>* {
        flex-grow: 1;
        width: 50%;
    }

    .sec-contact figure {
        height: 500px;
        overflow: hidden;
        position: relative;
    }

    .sec-contact figure img.bg {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: top;
        width: 100%;
    }

    .sec-contact small {
        font-size: 0.82rem;
        font-weight: 300;
    }

    .sec-products ul {
        width: 100%;
    }

    .sec-products ul li {
        background-color: #d6d8dd 33;
        display: flex;
        min-height: auto;
    }

    .sec-products ul li figure {
        height: 28rem;
        overflow: hidden;
        position: relative;
    }

    .sec-products ul li figure,
    .sec-products ul li article {
        width: 50%;
    }

    .sec-products ul li article {
        color: black;
        max-width: 31rem;
        text-align: center;
    }

    .sec-products ul li article svg {
        display: block;
        margin: 0 auto;
    }

    .sec-products ul li article h4 {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
    }

    .sec-products ul li article p {
        font-size: 1.1rem;
    }

    .sec-products ul li:nth-child(2n) figure {
        order: 1;
    }

    .form-contact {
        padding: 4rem 0;
        position: relative;
    }

    .form-contact h3 {
        font-size: 1.72rem;
    }

    .form-contact p {
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    .form-contact form {
        max-width: 600px;
    }

    .form-contact form .gform {
        flex-grow: 1;
        margin-right: 1rem;
        width: calc(50% - 1rem);
    }

    .form-contact form .gform textarea {
        font-family: inherit;
        height: 188px;
    }

    .form-contact form .gform.gformarea {
        margin-right: 0;
    }

    .form-contact form .btn {
        padding: 0.4rem 2rem;
    }

    .form-contact form .gformarea {
        justify-content: flex-end;
    }

    .form-contact img.trama-bar {
        position: absolute;
        right: 5px;
        top: 0;
        width: 720px;
    }
}
