@media (min-width: 768px) {
    .dl-user-data dt {
        width: 160px;
    }

    .dl-user-data dd {
        margin-left: 165px;
    }

    .dl-external-data dt {
        width: 160px;
    }

    .dl-external-data dd {
        margin-left: 165px;
    }

    .dl-loan-application dt {
        width: 170px;
    }

    .dl-loan-application dd {
        margin-left: 155px;
    }

    .dl-multipayment-amounts dt {
        width: 150px;
    }

    .dl-multipayment-amounts dd {
        margin-left: 165px;
    }
}

