/*!* Bootstrap changes *!*/
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        text-align: left;
    }
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/*!* Metronic changes *!*/
body {
    font-size: 12px;
}

.page-header .page-header-top {
    height: 60px;
}

.page-header .page-header-top .page-logo {
    height: 60px;
}

.page-header .page-header-top .page-logo .logo-default {
    margin: 15px 0 0;
}

.page-header .page-header-top .top-menu {
    margin: 10px 0 0;
}

.page-header {
    height: 111px;
}

@media (max-width: 991px) {
    .page-header {
        height: auto;
    }
}

.table thead tr th {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.table td, .table th {
    font-size: 12px;
}

.table td.numeric {
    text-align: right;
    white-space: nowrap;
}

.table td.nowrap {
    white-space: nowrap;
}

.portlet.transparent {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, .03);
}

.label.label-xs {
    font-size: 10px;
    font-weight: 500;
    padding: 0.5px 4px;
}
/* corecciones */
.page-container-bg-solid.page-md.page-header-menu-fixed .page-content-inner .table-responsive{
    overflow-x: auto;
    min-height: 150px;
    padding-bottom: 110px;
}

.page-container-bg-solid.page-md.page-header-menu-fixed .page-content-inner .table-responsive .dropdown-menu{
    left: -50%;
}

#mainTable{
    margin-bottom: 0;
}
#mainTable .form-control{
    font-size: 12px;
    height: 23px;
    padding: 0 12px;
    margin: 0 auto;
    width: 80%;
}


.portlet-body .portlet.light .input-small{
    width: 100% !important;
}

#frmUploadBase .align-top {
    margin-top: 4rem;
}

#frmUploadBase dd{
    margin-bottom: .5rem;
}

@media screen and (max-width: 768px){
    #mainTable .form-control{
        width: 160px;
    }
}


/*marioccarloss*/
.top-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
#changeLanguage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
#changeLanguage li{
    margin-right: 0;
    width: 60px;
    height: 18px;
    position: relative;
}
#changeLanguage li a{
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../img/flags.png');
    background-repeat: no-repeat;
    background-position: center -8px;
    filter: grayscale(100%);
}

#changeLanguage li a.lanArgentina{
    background-position: 0px -55px;
}

#changeLanguage li a.active{
    filter: grayscale(0%);
}


/************************/

.choose-country{
}
.choose-country .c-language{
    width: 50px;
    height: 17px;
    display: block;
    background-image: url('../img/flags.png');
    background-repeat: no-repeat;
    background-position: center -10px;
    margin: 0 auto;
}
.choose-country .c-language.c51{
    background-position: center -10px;
}
.choose-country .c-language.c54{
    background-position: center -56px;
}
#personClientPanel .choose-country{
    margin-top: 10px;
    float: right;
}
#tableResults .choose-country .c-language{
    height: 14px;
    background-position: center -8px;
    background-size: 50px;
}
#tableResults .choose-country .c-language.c51{
    background-position: center -8px;
}
#tableResults .choose-country .c-language.c54 {
    background-position: center -46px;
}

td.situacion-1{background-color: #32dc0a;}
td.situacion-2{background-color: #ffff00;}
td.situacion-3{background-color: #f2c40f;}
td.situacion-4{background-color: #ffa500;}
td.situacion-5{background-color: #ff0000;}
.withoutNumberId{
    margin-bottom: 0;
    margin-left: 10px;
}

.pac-container{
    z-index: 99999;
}

#personClientPanel .portlet-body tr td{
    padding: 6px;
}

#personClientPanel .portlet-body tr th{
    padding: 6px;
}


.fa.alert-success, .fa.alert-danger{
    background: none;
    text-align: center;
    display: block;
}



/* PROCESS MODAL */


#asistedQuestionModal {
    font-size: 11.5px
}

#asistedQuestionModal h2{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

#asistedQuestionModal .form-control{
    font-size: 12px;
    padding: 2px 4px;
    height: 28px;
}

#asistedQuestionModal small{
    overflow-wrap: break-word;
    display: block;
}

#asistedQuestionModal p{
    margin: 10px 0 15px 0;
    font-weight: 600;
    font-size: 13px;
}


#asistedQuestionModal .modal-content{

}

#asistedQuestionModal .modal-body{
    border: 0;
    padding: 2rem 2rem 2rem 2rem;
    margin: 0 auto;
    background: #f0f3f8;
}

#asistedQuestionModal .modal-dialog{
    width: 96% !important;
}

#asistedQuestionModal .category-node{
    margin: 0 0 20px 0 !important;
    padding: 10px 10px 10px 10px;
    background: #fff;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
}

#asistedQuestionModal .category-pre-information{
    width: 50%;

    width: calc( 50% - 2rem );
    margin-right: 2rem !important;

}

#asistedQuestionModal .personal-information{
    width: 50%;
}
#asistedQuestionModal .income {
    width: 100%;
}
#asistedQuestionModal .offer{
    width: 80%;
}
#asistedQuestionModal .evaluation{
    width: 20%;

    width: -webkit-calc( 20% - 2rem );
    width: calc( 20% - 2rem );
    margin-right: 1.9rem !important;
}



#asistedQuestionModal .modal-body .row{
    display: flex;
    flex-wrap: wrap;
}

#asistedQuestionModal .button-node{
    width: 100%;
    padding: 20px 10px;
}

#asistedQuestionModal .modal-body .row .question-node{
    border: 1px solid #f1f1f1;
    height: 100%;
}

#asistedQuestionModal .modal-body .row .question-node .btn{
    margin: 10px 0px 20px auto;
}

#asistedQuestionModal .modal-body .row .question-node .button-offer{
    margin: 0px 0px 0px auto !important;
}

#asistedQuestionModal .modal-body .row .category-pre-information .question-node{
    width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
}

#asistedQuestionModal .modal-body .row .personal-information .question-node{
    width: 33.333%;
    margin: 0;
}

#asistedQuestionModal .modal-body .row  .income .question-node{
    width: 16.666%;
}


#asistedQuestionModal .modal-body .row .offer  .question-node{
    width: 100%;
}

#asistedQuestionModal .modal-body .row .evaluation  .question-node{
    width: 100%;
}



#asistedQuestionModal .modal-body  .question-node .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}



#asistedQuestionModal .modal-body .row .full-width{
    width: 100% !important;

}

#asistedQuestionModal .modal-body .row .last-question{
    order: 1 !important;
}

#asistedQuestionModal .modal-body .row .hide{
    display: none !important;
}




#asistedQuestionModal .mt-checkbox{
    font-size: 11px;
    padding-left: 22px;
    margin-bottom: 0;
}

#asistedQuestionModal .row{
    margin-left: auto;
    margin-right: auto;
}

#asistedQuestionModal .col-md-12{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#asistedQuestionModal .col-md-6 {
    float: none;
    margin-left: auto;
    margin-right: auto;
}


#asistedQuestionModal .question-node{
    float: none;
    margin-left: 0;
    margin-right: 0;
}

