.summarypanel-summary {
    display: none;
}

.summarypanel-body {
    display: none;
}

.panel-has-success-done {
    border-color: #2b542c !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #67b168 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #67b168 !important;
}

.panel-has-success-failed {
    border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 18px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 18px #ce8483 !important;
}