<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="templates/mainTemplate">
<head>

    <!--Jquery Validation-->
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/jquery.validate.min.js'}"></script>
    <script th:src="${@urlService.externalUrl(#httpServletRequest) + '/jquery-validation/dist/additional-methods.min.js'}"></script>
    <!-- / Jquery Validation-->

    <script>
        /*<![CDATA[*/
        $(document).on('ready', function(){

            setTimeout(function(){
                $('#loadingAjax').fadeIn();
                setTimeout(function () {
                    window.location.href = '/#products';
                }, 3000);

            }, 5000);

        });
        /*]]>*/
    </script>
</head>
<body>

<!-- Header -->
<th:block layout:fragment="header">
    <th:block th:replace="fragments/headers :: generalHeader"></th:block>
</th:block>
<!-- /Header -->

<!-- Content -->
<th:block layout:fragment="content">
    <!-- Offert Alternative -->
    <div class="consolidation">
        <div class="container">
            <div class="consolidation-container">
                <div class="box-inner">
                    <div class="no-debts">
                        <h3>En este momento, no tienes deudas para consolidar.</h3>
                        <p>&iquest;Necesitas un cr&eacute;dito para otro destino? Te estamos redirigiendo a nuestra p&aacute;gina de productos.</p>
                        <div id="loadingAjax" class="gif-solven-container" style="display: none;">
                            <div class="sk-cube-grid">
                                <div class="sk-cube sk-cube1"></div>
                                <div class="sk-cube sk-cube2"></div>
                                <div class="sk-cube sk-cube3"></div>
                                <div class="sk-cube sk-cube4"></div>
                                <div class="sk-cube sk-cube5"></div>
                                <div class="sk-cube sk-cube6"></div>
                                <div class="sk-cube sk-cube7"></div>
                                <div class="sk-cube sk-cube8"></div>
                                <div class="sk-cube sk-cube9"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Offert Alternative -->
</th:block>
<!-- /Content -->

<!-- Footer -->
<th:block layout:fragment="footer">
    <th:block th:replace="fragments/footers :: footerDefault"></th:block>
</th:block>
<!-- / Footer -->

</body>
</html>