.owl-carousel{
    display: none !important;
}
.offer-container{
    flex-direction: column;
}

.box-offert{
    border-radius: 5px;
    border: 2px solid #D6D8DD;
    color: #7A808D;
    display: flex;
    flex-direction: column;
    margin: 1rem .25em;
    max-width: 500px;
    transition: all .3s ease;
    vertical-align: top;
    width: 100%;
}
.box-offert .box-offert-title{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.box-first-offert {
    border-color: #26CAD3;
    box-shadow: -8px 3px 8px 0 rgba(0, 0, 0, 0.12),0 0px 11px 0 rgba(0, 0, 0, 0.1);
}
.box-first-offert .box-offert-title {
    background: #26CAD3;
    border-color:#26CAD3;
}

.box-first-offert  .box-offert-title p {
    color:white;
    font-weight: 600;
}
.box-first-offert .box-offert-title .box-offert-title-recommended {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
}
.box-first-offert .box-offert-title .box-offert-title-recommended {
    position: relative;
}

.box-first-offert .box-offert-title .box-offert-title-recommended svg {
    height: 17px;
    left: -20px;
    position: absolute;
    top: 1px;
    width: 17px;
}
.box-last-offert .box-offert-title-recommended{
    display: none;
}
.box-offert .box-offert-title p {
    margin-bottom: 0px !important;
    text-transform: uppercase;
}

.box-offert .box-offert-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.box-offert .box-offert-body .box-offert-body-left{
    display: flex;
}
.box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 .25em;
    padding: 1rem;
}
.box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph .box-offert-body-parragraph-title {
    font-size: 0.85rem;
    margin-bottom: 0.85px;
    text-align: center;
}
.box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph .box-offert-body-parragraph-descrip_first {
    font-weight: bold;
}
.box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph:last-child {
    padding: 0;
}
.box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph  .box-offert-body-parragraph-descrip {
    font-size: 1.8rem;
    margin-bottom: 0 !important;
}
.box-offert .box-offert-body .box-offert-body-right {
    display: flex;
    justify-content: space-around;
}
.box-offert .box-offert-body .box-offert-body-right .button {
    font-size: 1.5rem;
    height: 40px;
    line-height: 2.6;
    margin-top: 0.65rem;
    min-width: 120px;
}
.box-offert .box-offert-body .box-offert-body-right .bg-details {
    border:1px solid #F7323F;
    color:#F7323F;
    margin-bottom: 0;
}

@media only screen and (max-width:450px){
    .box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph .box-offert-body-parragraph-descrip {
        font-size: 1.5rem !important;
    }
}


@media only screen and (min-width:412px) {
    /*.box-offert{
        max-width: unset;
        width: auto;
    }*/
    .box-offert .box-offert-title p{
        font-size: 2rem;
    }
    .box-first-offert .box-offert-title .box-offert-title-recommended{
        font-size:1.5rem;
    }
    .box-first-offert .box-offert-title .box-offert-title-recommended svg {
        height: 20px;
        left: -24px;
        position: absolute;
        top: 3px;
        width: 20px;
    }
    .box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph .box-offert-body-parragraph-title{
        font-size:1.2rem;
    }
    .box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph .box-offert-body-parragraph-descrip {
        font-size:2.23rem;
    }
    .box-offert .box-offert-body .box-offert-body-right .button{
        font-size: 1.6rem;
        line-height: 2.3;
        width: 120px;
    }
    
}

@media only screen and (min-width:500px) {
    .box-offert .box-offert-body .box-offert-body-left .box-offert-body-left-paragraph .box-offert-body-parragraph-descrip {
        font-size: 2.4rem !important;
    } 
}
@media only screen and (min-width:800px){
    body .owl-carousel {
        display: block !important;
    }
    .offer-container {
        flex-direction: unset !important;
    }
}