<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"/>
</head>
<body>
<th:block th:fragment="footer">
    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom">
            <div class="page-footer"><div class="container"><span th:text="#{static.landing.info.footer(${currentYear})}"></span></div></div>
            <div class="scroll-to-top"><i class="icon-arrow-up"></i></div>
        </div>
    </div>
</th:block>
</body>
</html>