@import "general/reset.scss";
@import "variables/variables.scss";
@import "libraries/select2.scss";
@import "libraries/slick.scss";
@import "libraries/slick-theme.scss";
@import "general/general.scss";
@import "libraries/sweetalert.scss";
@import "components/custom-select2.scss";



body{
  width: 100%;
  margin: 0;
}
.ds-fl{
  display: flex;
}
.ps-rl{
  position: relative;
}
.ps-ab{
  position: absolute;
}
.fl-col{
  display: flex;
  flex-direction: column-reverse;
}
.header-altoque{
  width: 100%;
  background: $altoque-bg;
}
.header-altoque .logo{
  width: 100%;
}
.header-altoque .logo  #logo-al-toque-blanco{
  width: 170px;
  position: relative;
  top: 3px;
  left: 8px;
}
.header-altoque .logo  #logo-al-toque-blanco g{
  fill:white;
}

#landing-efectivo-altoque .subContent-landing-efectivo-altoque{
  width: 100%;
  display: flex;
  box-shadow: inset 0 0 200px #0000008c;
  overflow: hidden;
}
#landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content{
  display: none;
}
.banner-al-toque{
  max-width: 1897px;
  width: 100%;
  height: calc(100vh - 0px);
  object-fit: cover;
  object-position: right bottom;
  transform: scale(1.1);
  filter: blur(5px);
}
#landing-efectivo-altoque .form-altoque{
  padding: 1.3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 7px;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 336px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  opacity: 0.85;

}
form .form-h2{
  font-size: .8rem;
  text-transform: uppercase;
  width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
#loanForm .fl-col,
#loanForm .field-1,
#loanForm .field-2,
#loanForm .field-3{
  margin:  0 auto;
}
body>.select2-container.select2-container--open .select2-dropdown.select2-dropdown--below .select2-search{
  display: none;
}
#loanForm .c-i .c span+input, .c-full .c span+input {
  min-width: 150px;
}
#loanForm #documentNumber{
  margin-right: 0px;
}

#landing-efectivo-altoque .bg-blue{
  //background: #4400ffbf;
  background: $altoque-bg;
  color: #FFF;
}
#landing-efectivo-altoque .field-g .field,
#landing-efectivo-altoque .fl-col .field,
#landing-efectivo-altoque .c-right{
  width: 223px;
  margin-left: 0px;
  margin-right: 0px;
}


.sec-al-toque ul {
  text-align: center;
}
.sec-al-toque ul li{
  margin-bottom: 3rem;
}
.sec-al-toque h2{
  font-weight: 800;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sec-al-toque h2::after{
  content: "............";
  //color: #0000ff;
  color:$altoque-bg;
  letter-spacing: 0;
  margin-bottom: 10px;
  font-size: 2.25rem;
  height: 30px;
  line-height: 0;
  display: block;
}
.sec-al-toque ul li h3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: .8rem;
  margin-bottom: .5rem;
}
.sec-al-toque ul li p {
  font-weight: 300;
  max-width: 250px;
  margin: 0 auto;
}
.carousel-altoque{
  overflow: hidden;
  //background: #4400ffbf;
  background:$altoque-bg;
  color: #FFF;
  height:104px;
}
.carousel-altoque .gwr{
  padding: .5rem 0;
}
.carousel-altoque .gwr h3{
  padding: .5rem 1rem;
}

footer .gwr{
  display: flex;
  ul{
    width: 50% !important;
  }
  .list-info {
    font-size: 0.85rem !important;
  }
  .list-menu{
    display: flex;
    flex-direction: column;
  }
  
}

/*----------------------------------------------------------------------------------*/
/* BreakPoint
/*----------------------------------------------------------------------------------*/


@media only screen and(min-width: $BreakPoint-ltpx-min + 60px){
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque .banner-al-toque {
    height: 877px !important;
  }
}

@media only screen and(min-width: $BreakPoint-ltpx-min){
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content .efectivo-content-text .title{
    font-size: 30px;
    max-width: 500px;
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content .efectivo-content-text .description{
    font-size: 25px;
    max-width: 500px;
  }
}
@media only screen and(min-width: $BreakPoint-ltp-min){
  #landing-efectivo-altoque #efectivo-al-toque-content .efectivo-content-text{
    text-align: left;
    margin-left: 50px;
    align-items: flex-start;
    height: 344px;
    
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content .efectivo-content-text .title{
     font-size:22px;
   }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content .efectivo-content-text .description{
    font-size:20px;
  }
  
}


@media only screen and(min-width: 1024px) and (max-width:$BreakPoint-ltp-min) {
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque .efectivo-content-text {
    margin-left: 68px;
    margin-top: 39px;
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content .logo-desktop {
    margin-left: 11px;
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content #logo-al-toque {
    width: 100px;
  }

}
@media only screen and(min-width:$BreakPoint-tb-min){
  .footer-altoque .gwr ul {
    width: auto !important;
  }
  .footer-altoque .gwr .list-menu{
    flex:1;
  }
}
@media only screen and(min-width: 886px) and (max-width:1023px) {
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque {
    width: 60%;
  }
  form .fl-col,form .field-1, form .field-2, form .field-3 {
    flex-direction:  column !important;
  }

}

@media only screen and(min-width: $BreakPoint-m-min + 118){
  .header-altoque{
    display: none;
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque{
    position: relative;
  }
  #landing-efectivo-altoque .form-altoque{
    position: unset;
    top:0;
    left: 0;
    transform: unset;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 540px;
    width: 100%;
    
  }
  .subContent-landing-efectivo-altoque .banner-al-toque{
    height: 650px;
    filter: unset;
    
  }
  
  #landing-efectivo-altoque .field-g .field,
  #landing-efectivo-altoque .fl-col .field,
  #landing-efectivo-altoque .c-right {
    width: 223px;
    margin-left: 1.25rem;
  }
  #landing-efectivo-altoque  .subContent-landing-efectivo-altoque #efectivo-al-toque-content{
    display: block;
  }
  #landing-efectivo-altoque  .subContent-landing-efectivo-altoque .logo-desktop{
    position: absolute;
    max-width: 500px;
    margin-left: 33px;
    margin-top: 40px;
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque .logo-desktop #logo-al-toque{ 
    width: 170px;
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque .logo-desktop #logo-al-toque g{
    fill: $altoque-bg;
  }
  #landing-efectivo-altoque .efectivo-content-text  {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 458px;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-left: 150px;
  }
  #landing-efectivo-altoque .title,
  #landing-efectivo-altoque  .description {
    color: black;
    margin: 0px;
   
    
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content .title{
    text-transform:uppercase;
    font-size: 20px;
    font-weight: bold;
  }
  #landing-efectivo-altoque .subContent-landing-efectivo-altoque #efectivo-al-toque-content .description{
    font-size: 18px;
    font-style: italic;
    margin-top: 10px
  }
  form .form-h2{
    font-size: 20px;
    text-align: center;

  }
  form .fl-col{
    flex-direction: unset;
  }
  form .fl-col .or-1{
    order: 1;
  }
  form .fl-col .or-2{
    order: 2;
  }
  form .field-1, form .field-2 , form .field-3{
    display: flex;
  }
  .sec-al-toque h2{
    font-size: 1.75rem;
    margin-top: 4rem;
  }
  .sec-al-toque ul {
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .sec-al-toque  ul li svg {
    width: 70px !important;
    margin-bottom: 1rem;
    transform: scale(1.35);
  }
  .sec-al-toque ul li h3 {
    font-size: 1rem;
  }
  .sec-al-toque ul li p {
    font-size: 1rem;
    max-width: 277px;
  }
  .sec-al-toque ul li{
    flex: 1;
  }
  .sec-al-toque ul li:last-child{
    p{
      max-width: 228px;
    }
    
  }

  footer .gwr{
    align-items: center !important;
  }

  .list-menu{
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: unset !important;
  }
  .footer-altoquer .gwr .list-menu {
    width: 100%;
  }
  footer .gwr.footer-down ul {
    justify-content: center !important;
  }
}

@media only screen and(min-width: 480px) and(max-width: 854px){
  .banner-al-toque{
    height: 600px;
  }
}