@import "general/reset.scss";
@import "variables/variables.scss";
@import "libraries/select2.scss";
@import "libraries/slick.scss";
@import "libraries/slick-theme.scss";
@import "general/general.scss";
@import "libraries/sweetalert.scss";
@import "components/custom-select2.scss";


#body-al-toque{
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.ds-fl{
  display: flex;
}
.ps-rl{
  position: relative;
}
.ps-ab{
  position: absolute;
}
.fl-col{
  display: flex;
  flex-direction: column-reverse;
}
.header-altoque{
  width: 100%;
  background: $altoque-bg;
}
.header-altoque .logo{
  width: 100%;
  height: 70px;
}
.header-altoque .logo  .logo-original{
  width: 250px;
  height: 100%;
  object-fit: contain;
}
#landing-efectivo-altoque{
  height: calc(100vh - 70px);
  overflow: hidden;
}

#landing-efectivo-altoque .image{
  width: 100%;
  box-shadow: inset 0 0 200px #0000008c;
  overflow: hidden;
}

.banner-al-toque{
  background: url("/img/banner-al-toque.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-origin: border-box;
  height: 100vh;
  transform: scale(1.01);
  filter: blur(5px);
}
#landing-efectivo-altoque #loanForm{

  padding: 1.3rem;
  position: absolute;
  background: white;
  border-radius: 7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 336px;
  width: 85%;
  height: 250px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.85;
}

#loanForm .form-h2{
  font-size: 1.02rem;
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
}
#loanForm img {
  width: 150px;
  margin: 7px auto;
}
#landing-efectivo-altoque  #logo-al-toque{
  display: none;
}
/*----------------------------------------------------------------------------------*/
/* BreakPoint
/*----------------------------------------------------------------------------------*/

@media only screen and(min-width: $BreakPoint-ltpx-min) {
  #landing-efectivo-altoque {
    height: calc(140vh - 70px);
  }
}

@media only screen and(min-width: $BreakPoint-m-min){

  .banner-al-toque{
    filter:unset;
  }
  .header-altoque{
    display: none;
  }
  #landing-efectivo-altoque{
    height: auto;
  }
  #landing-efectivo-altoque #loanForm .form-h2{
    font-size: 20px;
    text-align: center;
    
  }

  #landing-efectivo-altoque .form-altoque{
    position: unset;
    top:0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 540px;
    width: 100%;

  }
  #landing-efectivo-altoque  .image{
    position: absolute;
  }
  #landing-efectivo-altoque  .image .logo-desktop{
    position: absolute;
    max-width: 500px;
    margin-left: 5%;
    margin-top: 2%;                                                                                                                                                  
    display: block;
  }
 
}

